<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
		<div class="breadcrumb-wrapper">
			<div class="breadcrumb">
				<div class="container">
					<ul>
					<li><a th:href="@{/page/main-program}">Program</a></li>
					<li><a th:href="@{/page/main-program/research-development/research}">Research &#38; Development</a></li>
					<li><a th:href="@{/page/main-program/research-development/research}">Research</a></li>
					<li><a th:href="@{/page/main-program/research-development/research/search}">Kumpulan Hasil Penelitian</a></li>
					<li><a th:href="@{/page/main-program/research-development/research/list}">List</a></li>
					<li><a href="#">Detail</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="content_top hexa-top-right">
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<h1 th:text="${detail.title}"></h1>
						<div class="bottom-left-yellow"></div>
						<div class="bottom-right-blue"></div>
						<div class="clear"></div>
						<div class="content_wrapper">
							<div>
								<div th:utext="${detail.description}"></div>
							</div>
							<div class="clear"></div>
							<br/>
							<img th:src="@{/images/download-pdf.png}" id="download" class="download-button"/>
						</div>
					</div>
					<div class="col-md-4">
						<div>
							<h2>Peneliti</h2>
							<th:block th:each="data , i : ${detail.officers}">
								<p th:text="${data.officerName}"></p>
							</th:block>
							
						</div>
						<div>
							<h2>Tahun Penelitian</h2>
							<p th:text="${detail.yearFrom}">2015</p>
						</div>
						<div>
							<h2>Kata Kunci</h2>
							<p>
							<th:block th:each="data , i : ${detail.keywords}">
								<span class="badge" th:text="${data.keyword}"></span>
							</th:block>
							</p>
						</div>
					</div>
				</div>
			</div><!--end content top-->
		</div>
		<div class="hidden">
			<div id="content-pdf">
				<h1 th:text="${detail.title}"></h1><br/><br/>
				<div th:utext="${detail.description}"></div>
				<div>
					<h2>Peneliti</h2>
					<th:block th:each="data , i : ${detail.officers}">
						<p th:text="${data.officerName}"></p>
					</th:block>
					
				</div>
				<div>
					<h2>Tahun Penelitian</h2>
					<p th:text="${detail.yearFrom}">2015</p>
				</div>
				<div>
					<h2>Kata Kunci</h2>
					<th:block th:each="data , i : ${detail.keywords}">
						<p th:text="${data.keyword}"></p>
					</th:block>
				</div>
			</div>
		</div>
		<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
        $(function(){
        	$('#download').click(function () {
        		var title = /*[[${detail.title}]]*/
        		var doc = new jsPDF();
        		doc.fromHTML($('#content-pdf').html(), 15, 15, {
			        'width': 180
			    });
			    doc.save(title);
			});
		})
		
		function downloadFile(sURL){
			$.ajax({ 
			    type: "GET",
			    url: sURL,
			    cache: false,
			    contentType: false,
			    processData: false,
			    success: function(data){
			    	if(data.errorList != null){
			    		displayErrorJson(data.errorList, 4);
			        }else{
			        	window.location.href = sURL;
			        }
			    } 
			});
		}
		/*]]>*/
		</script>
</body>
</html>