<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
	<div class="breadcrumb-wrapper">
		<div class="breadcrumb">
			<div class="container">
				<ul>
				<li><a th:href="@{/}">Beranda</a></li>
					<li><a th:href="@{/page/main-program}">Program</a></li>
					<li><a th:href="@{/page/main-program/research-development/research}">Research &#38; Development</a></li>
					<li><a th:href="@{/page/main-program/research-development/research}">Research</a></li>
					<li><a th:href="@{/page/main-program/research-development/research/search}">Kumpulan Hasil Penelitian</a></li>
					<li><a href="#">List</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="hexa-top-yellow-left-long yellow">
	<div class="post_section back-gradient-transparent-force-white">
	<div class="post_sidebar_section">
		<div class="container">
			<div class="row">
				<div class="col-md-3 post_sidebar_left border-top-yellow">
					<div class="search_section search_full_section">
						<form action="#" method="post">								
							<div class="input-group">
							  <input type="text" class="form-control" placeholder="Mencari di antara hasil" aria-describedby="basic-addon2" />
							  <span class="input-group-addon" id="basic-addon2"><i class="fa fa-search" aria-hidden="true"></i></span>
							</div>
						</form>
					</div>
					<div class="post_sidebar_left_inner">
						<h3 class="head-filter">Tahun</h3>
						<ul>
							<li>
								<div class="checkbox pos-left"><label><input type="checkbox" value=""/>2017</label></div>
								<button type="button" class="btn-link btn-sm pos-right" data-toggle="modal" title="Show preview for 2018">
									<span class="badge">(<span class="btnText">3,281</span>)</span>
								</button>
							</li>
							<li>
								<div class="checkbox pos-left"><label><input type="checkbox" value=""/>2016</label></div>
								<button type="button" class="btn-link btn-sm pos-right" data-toggle="modal" title="Show preview for 2018">
									<span class="badge">(<span class="btnText">3,101</span>)</span>
								</button>
							</li>
							<li>
								<div class="checkbox pos-left"><label><input type="checkbox" value=""/>2015</label></div>
								<button type="button" class="btn-link btn-sm pos-right" data-toggle="modal" title="Show preview for 2018">
									<span class="badge">(<span class="btnText">2,123</span>)</span>
								</button>
							</li>
						</ul>
						<div class="clear"></div>
					</div>
				</div><!--end post_left-->
				
				<div class="col-md-9 post_content_right form-top-blue">
					<div class="post_content_right_inner">
						<div class="row">
							<div class="col-md-7">
								<h2>Hasil Pencarian</h2>
							</div>
							<div class="col-md-5 align-right">
								<form class="form-inline">
									<div class="form-group">
               							<label class="control-label">order:</label>
										<select class="form-control" name="learning">
											<option>Tanggal Publikasi (Terbaru)</option>
											<option>Tanggal Publikasi (Terlama)</option>
											<option>Judul (A-Z)</option>
											<option>Judul (Z-A)</option>
										</select>
									</div>
								</form>
							</div>
						</div>
						<br/>
						<div class="content">
							<div class="row list_data">
								<th:block th:each="data, i : ${researches.result}">
								<div id="template" class="col-md-3 data_result">
									<div class="post">
										<div class="post_thumb_wrapper">
											<div class="post_thumb">
												<!-- <img alt="" class="show_detail my_link" src="/Site/images/ebook/ebook1.jpg"/> -->
												<div class="cover-empty" th:text="${data.title}"></div>
												<div class="overlay">
												    <div class="text show_detail my_link"><i class="fa fa-align-left"></i> <a th:href="@{detail/__${data.permalink}__}">Baca</a></div>
												</div>
											</div>
										</div>
										<div class="clear"></div>
										<div class="info">
											<h2><a th:href="@{detail/__${data.permalink}__}"><label class="post_title show_detail my_link" th:text="${data.title}"></label></a></h2>
											<div class="date"><label th:text="${data.yearFrom}"></label></div>
										</div>
									</div>
									<div class="bottom-left-yellow"></div>
									<div class="bottom-right-blue"></div>
								</div>
								</th:block>										
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
		<div class="clear"></div>
	</div><!--end post section-->
	</div>
	<div class="clear"></div>
	</div>
	<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
	$(function(){
		setNavbarActive('program');
		var heightsEqualizer = function(selector) {
		    var elements = document.querySelectorAll(selector),
		        max_height = 0,
		        len = 0,
		        i;
		 
		    if ( (elements) && (elements.length > 0) ) {
		        len = elements.length;
		 
		        for (i = 0; i < len; i++) { // get max height
					elements[i].style.height = ''; // reset height attr
		            if (elements[i].clientHeight > max_height) {
		                max_height = elements[i].clientHeight;
		            }
		        }
		 
		        for (i = 0; i < len; i++) { // set max height to all elements
		            elements[i].style.height = max_height + 'px';
		        }
		    }
		}
		
		heightsEqualizer('.data_result .post');
	});
	/*]]>*/
	</script>
</body>
</html>