<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <link rel="stylesheet" th:href="@{/plugin/vendor/jquery-bonsai/jquery.bonsai.css}" type="text/css" media="all"></link>
	<link rel="stylesheet" th:href="@{/plugin/vendor/jquery-bonsai/assets/svg-icons.css}" type="text/css" media="all"></link>
	<div class="breadcrumb-wrapper">
			<div class="breadcrumb">
				<div class="container">
					<ul>
					<li><a th:href="@{/}">Beranda</a></li>
					<li><a th:href="@{/page/main-program}">Program</a></li>
					<li><a th:href="@{/page/main-program/research-development/research}">Research &#38; Development</a></li>
					<li><a th:href="@{/page/main-program/research-development/research}">Research</a></li>
					<li><a href="#">Kumpulan Hasil Penelitian</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="hexa-top-right-long yellow">
		<div class="top_post_section back-gradient-transparent">
		<div class="rnd_section">
			<div class="container">
				<h2>KUMPULAN HASIL PENELITIAN</h2>
				<form class="filter_form back-gradient-transparent-force-white form-top-blue" action="#" th:action="@{/page/main-program/research-development/research/list}" method="GET">
					<div class="row">
						<div class="col-md-5"><label class="head-label">Pencarian</label></div>
						<div class="col-md-5"><label class="head-label">Kategori</label></div>
						<div class="col-md-2"></div>
					</div>
					<div class="row">
						<div class="col-md-5">
							<input type="text" class="form-control" name="name" />
						</div>
						<div class="col-md-5">
							<select class="form-control" name="learning">
								<option>Semua Kategori</option>
								<option>Judul</option>
								<option>Judul Tambahan</option>
								<option>Abstrak</option>
								<option>Kata Kunci</option>
							</select>
						</div>
						<div class="col-md-2">
							<button type="submit" class="btn btn-primary">
								<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
							</button>
						</div>
					</div>
					<div class="row">
						<div class="col-md-2">
							<select class="form-control" name="learning">
								<option>DAN</option>
								<option>ATAU</option>
							</select>
						</div>
						<div class="col-md-10"></div>
					</div>
					<div class="row">
						<div class="col-md-5">
							<input type="text" class="form-control" name="name" />
						</div>
						<div class="col-md-5">
							<select class="form-control" name="learning">
								<option>Semua Kategori</option>
								<option>Judul</option>
								<option>Judul Tambahan</option>
								<option>Abstrak</option>
								<option>Kata Kunci</option>
							</select>
						</div>
						<div class="col-md-2">
							<button type="submit" class="btn btn-primary">
								<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
							</button>
							<button type="submit" class="btn btn-primary">
								<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
							</button>
						</div>
					</div>
					<br/>
					<div class="row">
						<div class="col-md-12"><label class="date-trigger trigger head-label"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> Tanggal Publikasi</label></div>
					</div>
					<div class="date-content" style="display:none">
						<div class="row">
							<div class="col-md-12"><label>Rentang Tanggal</label></div>
						</div>
						<div class="row">
							<ul>
							  <li>
							  	<div class="row">
							  		<div class="col-md-2">
							  			<input type="radio" id="f-option" name="selector"/>
							  			<label for="f-option">Tahun Publikasi</label>
							  		</div>
							  		<div class="col-md-2">
							  			<select class="form-control" name="learning">
											<option>Semua Tahun</option>
											<option>2017</option>
											<option>2016</option>
											<option>2015</option>
										</select>
							  		</div>
							  		<div class="col-md-2">
							  			<label for="f-option">sampai dengan</label>
							  		</div>
							  		<div class="col-md-2">
							  			<select class="form-control" name="learning">
											<option>Semua Tahun</option>
											<option>2017</option>
											<option>2016</option>
											<option>2015</option>
										</select>
							  		</div>	
								</div>
							  </li>
							  <li>
							    <div class="row">
							  		<div class="col-md-2">
							  			<input type="radio" id="f-option" name="selector"/>
							  			<label for="f-option">Dipublikasi dari </label>
							  		</div>
							  		<div class="col-md-2">
							  			<input type="text" class="form-control" name="name" />
							  		</div>
							  		<div class="col-md-2">
							  			<label for="f-option"> hari yang lalu</label>
							  		</div>	
								</div>
							  </li>
							</ul>
						</div>
					</div>
					<br/>
					<div class="row">
						<div class="col-md-12"><label class="theme-trigger trigger head-label"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> Kategori &#38; Tema</label></div>
					</div>
					<div class="theme-content" style="display:none">
						<div class="row">
							<div class="col-md-3">
								<div class="row">
									<div class="col-md-12">		
										<label class="theme-header">SUPPLY</label>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<ol class='theme-checkboxes expanded' data-name='foo'>
									      <li data-value='11' data-id='11'>LAND/ENVIRONMENT
									      	<ol>
									          <li data-value='111'>Dukungan Infrastruktur yang terbatas</li>
									          <li data-value='112'>Suplai lahan yang terbatas</li>
									          <li data-value='113'>Cara Akuisisi Tanah</li>
									        </ol>
									      </li>
									      <li data-value='12' data-id='12'>LEGAL
									      	<ol>
									          <li data-value='121'>Kebijakan Pemerintah</li>
									          <li data-value='122'>Perijinan</li>
									          <li data-value='123'>Subyek Hukum</li>
									          <li data-value='124'>Penguasaan Tanah</li>
									        </ol>
									      </li>
									      <li data-value='13' data-id='13'>CAPITAL
									      	<ol>
									          <li data-value='131'>Permodalan</li>
									          <li data-value='132'>Pembiayaan Proyek</li>
									          <li data-value='133'>Kredit Bank</li>
									        </ol>
									      </li>
									      <li data-value='14' data-id='14'>SKILL
									      	<ol>
									          <li data-value='141'>Limitasi Kapasitas Developer : proyek, keuangan, SDM, dan penjualan</li>
									        </ol>
									      </li>
									      <li data-value='15' data-id='15'>LAINNYA</li>
									    </ol>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="row">
									<div class="col-md-12">		
										<label class="theme-header">DEMAND</label>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<ol class='theme-checkboxes expanded' data-name='foo'>
									      <li data-value='11' data-id='11'>KEBIJAKAN / KETENTUAN PEMERINTAH
									      	<ol>
									          <li data-value='111'>FLPP</li>
									          <li data-value='112'>LTV</li>
									        </ol>
									      </li>
									      <li data-value='12' data-id='12'>PEMBIAYAAN
									      	<ol>
									          <li data-value='121'>Produk</li>
									          <li data-value='122'>Bunga</li>
									          <li data-value='123'>Biaya</li>
									          <li data-value='124'>Proses</li>
									        </ol>
									      </li>
									      <li data-value='13' data-id='13'>MASYARAKAT
									      	<ol>
									          <li data-value='131'>Penghasilan</li>
									          <li data-value='132'>Tempat bekerja</li>
									        </ol>
									      </li>
									    </ol>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="row">
									<div class="col-md-12">		
										<label class="theme-header">PRODUK DANA</label>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<ol class='theme-checkboxes expanded' data-name='foo'>
									      <li data-value='11' data-id='11'>GIRO</li>
									      <li data-value='12' data-id='12'>TABUNGAN</li>
									      <li data-value='13' data-id='13'>DEPOSITO</li>
									    </ol>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="row">
									<div class="col-md-12">		
										<label class="theme-header">PRODUK LAYANAN</label>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<ol class='theme-checkboxes expanded' data-name='foo'>
									      <li data-value='11' data-id='11'>LAYANAN</li>
									      <li data-value='12' data-id='12'>FEE BASED</li>
									    </ol>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div>
								<input type="submit" value="Cari" class="button-blue submit_btn" id="search" />
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		</div>
		<div class="clear"></div>
		</div>
		<script th:src="@{/plugin/vendor/jquery-bonsai/jquery.qubit.js}"></script>
		<script th:src="@{/plugin/vendor/jquery-bonsai/jquery.bonsai.js}"></script>
		<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		$(function(){  
			setNavbarActive('program');
			$('.theme-checkboxes').bonsai({
			  expandAll: true,
			  checkboxes: true, // depends on jquery.qubit plugin
			  createInputs: 'checkbox' // takes values from data-name and data-value, and data-name is inherited
			});
			var isDateOpen = 0;
			var isThemeOpen = 0;
			$('.date-trigger').click(function(){
				$(this).find('.glyphicon').removeClass('glyphicon-chevron-right');
				$(this).find('.glyphicon').removeClass('glyphicon-chevron-down');
				if(isDateOpen==0){
					$('.date-content').show(300);
					$(this).find('.glyphicon').addClass('glyphicon-chevron-down');
					isDateOpen = 1;
				}else{
					$('.date-content').hide(300);
					$(this).find('.glyphicon').addClass('glyphicon-chevron-right');
					isDateOpen = 0;
				}
			});
			$('.theme-trigger').click(function(){
				$(this).find('.glyphicon').removeClass('glyphicon-chevron-right');
				$(this).find('.glyphicon').removeClass('glyphicon-chevron-down');
				if(isThemeOpen==0){
					$('.theme-content').show(300);
					$(this).find('.glyphicon').addClass('glyphicon-chevron-down');
					isThemeOpen = 1;
				}else{
					$('.theme-content').hide(300);
					$(this).find('.glyphicon').addClass('glyphicon-chevron-right');
					isThemeOpen = 0;
				}
			});
		});
		/*]]>*/
		</script>
</body>
</html>