<div class="tile-body rounded-corners" th:fragment="organizer(detail)">
	<br/>
	<form action="#" id="rm-organizer-detail-form" class="form-horizontal" method="POST" novalidate="novalidate">
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-3">
				<div class="funkyradio">
			        <div class="funkyradio-primary">
			        	<th:block th:if="${detail.isInternal}">
			        		<input type="radio" th:field="*{isInternal}" value="true" checked="checked"/>
			        	</th:block>
			        	<th:block th:if="${!detail.isInternal}">
			        		<input type="radio" th:field="*{isInternal}" value="true"/>
			        	</th:block>
			            <label for="isInternal1">Internal</label>
			        </div>
			    </div>
			</div>
			<div class="col-md-3">
				<div class="funkyradio">
			        <div class="funkyradio-primary">
			        	<th:block th:if="${!detail.isInternal}">
			            	<input type="radio" th:field="*{isInternal}" value="false" checked="checked"/>
			            </th:block>
			            <th:block th:if="${detail.isInternal}">
			            	<input type="radio" th:field="*{isInternal}" value="false"/>
			            </th:block>
			            <label for="isInternal2">External</label>
			        </div>
			    </div>
			</div>
			<div class="col-md-3"></div>
		</div>
		<br/>
		<div>
			<div class="form-group form-footer">				
				<div class="col-sm-offset-3 col-sm-9">
					<a href="#" class="btn btn-default btn-back-to-list" type="reset" data-toggle="tooltip" title="">Kembali Ke List</a>
					<button id="rm-tab1-btn-save" class="btn btn-primary" type="submit" data-toggle="tooltip" title="">Simpan &#38; Lanjutkan</button>
				</div>
			</div>
		</div>
	</form>
	<script th:inline="javascript">
	/*<![CDATA[*/     
		$(function(){
			var submitFormOrganizer = function(){
				cleanErrorParsley();
				var sURL = /*[[@{/do/researchDev/management/saveResearch/}]]*/ #;
				var fromTab = /*[[${T(id.base.app.SystemConstant.TabResearchManagement).ORGANIZER}]]*/;
				$.post(sURL, {pkResearch:$('#maintenancePK').val(), isInternal:$('input[name=isInternal]:checked').val(), fromTab:fromTab}, function(data) {
					if(data.errorList!=null){
						displayErrorParsley(data.errorList);
					}else{
						$('#maintenancePK').val(data.maintenancePK);
						$('#projectOfficerLink').click();
					}
				});
			};
			
			$('#rm-tab1-btn-save').click(function(e){
				e.preventDefault();
				submitFormOrganizer();
			});
			
			$('.btn-back-to-list').click(function(){
				backToList();
			});
	    });
	/*]]>*/
	</script>
</div>