<div class="tile-body rounded-corners" th:fragment="projectOfficer(detail)">
	<br/>
	<form action="#" id="rm-officer-detail-form" class="form-horizontal" method="POST" novalidate="novalidate">
		<input id="pkOfficer" type="hidden"/>
		<div class="row">
			<div class="col-md-5">
				<div class="form-group">
					<label class="col-sm-4 control-label" th:text="'Name'">Name</label>
					<div class="col-sm-8 form-input-container">
						<input type="text" class="form-control" name="officerName" placeholder="Name" id="input-text-title"/>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label" th:text="'Position'">Position</label>
					<div class="col-sm-8 form-input-container">
						<input type="text" class="form-control" name="officerPosition" placeholder="Position" id="input-text-title"/>
					</div>
				</div>
				<div>
					<div class="form-group form-footer">				
						<div class="col-sm-offset-3 col-sm-9">
							<a href="#" class="btn btn-default" id="rm-tab2-btn-cancel" type="reset" data-toggle="tooltip" title="" th:text="#{button.cancel}">Cancel</a>
							<button id="rm-tab2-btn-save" class="btn btn-primary" type="submit" data-toggle="tooltip" title="" th:text="#{button.save}">Save</button>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-7">
				<table id="officer-list-table" class="table table-datatable table-custom">
	            	<thead>
	                	<tr>
	                   		<th width="50%">Name</th>
	                   		<th width="40%">Position</th>
							<th width="10%">E/D</th>
	                  	</tr>
	              	</thead>
	              	<tbody></tbody>
	          	</table>
			</div>
		</div>
		<br/>
		<div>
			<div class="form-group form-footer">				
				<div class="col-sm-offset-3 col-sm-9">
					<a href="#" class="btn btn-default btn-back-to-list" type="reset" data-toggle="tooltip" title="">Kembali Ke List</a>
					<button id="rm-tab2-btn-next" class="btn btn-primary" type="button" data-toggle="tooltip" title="">Lanjutkan</button>
				</div>
			</div>
		</div>
	</form>
	<script th:inline="javascript">
	/*<![CDATA[*/     
		$(function(){
			var clearFormOfficer = function(){
				cleanErrorParsley();
				$('#rm-officer-detail-form input').val('');
			};
			
			var submitFormOfficer = function(){
				cleanErrorParsley();
				var sURL = /*[[@{/do/research/researchManagement/saveOfficer/}]]*/ #;
				$.post(sURL, {fkResearch:$('#maintenancePK').val(),officerName:$('#rm-officer-detail-form input[name=officerName]').val(), 
					officerPosition:$('#rm-officer-detail-form input[name=officerPosition]').val()}, function(data) {
					if(data.errorList!=null){
						displayErrorParsley(data.errorList);
					}else{
						clearFormOfficer();
						setListOfficer();
						//reload list officer
					}
				});
			};
			
			$('#rm-tab2-btn-cancel').click(function(e){
				e.preventDefault();
				clearFormOfficer();
			});
			$('#rm-tab2-btn-save').click(function(e){
				e.preventDefault();
				submitFormOfficer();
			});
			
			$('.btn-back-to-list').click(function(){
				backToList();
			});
			
			$('#rm-tab2-btn-next').click(function(){
				$('#praResearchLink').click();
			});
	    });
	/*]]>*/
	</script>
</div>