<div class="tile-body rounded-corners" th:fragment="pascaResearch(detail)">
	<br/>
	<form action="#" id="rm-pasca-form" class="form-horizontal" method="POST" novalidate="novalidate">
		<div class="form-group">
			<label class="col-sm-2 control-label" th:text="'Keluaran / Hasil Final / Diseminasi / Sosialisasi'">Keluaran / Hasil Final / Diseminasi / Sosialisasi</label>
			<div class="col-sm-9 form-input-container">
				<input id="tinyMCE-hidden" name="content" type="hidden"/>
				<div class="tinyMCE-parent">					
					<textarea class="tinyMCE-area" >
					</textarea>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label" th:text="'Upload File'">Upload File</label>
			<div class="col-sm-9 form-input-container">
				<input type="file" class="form-control"/>
			</div>
		</div>
		<div>
			<div class="form-group form-footer">				
				<div class="col-sm-offset-4 col-sm-8">
					<a href="#" id="student-detail-btn-cancel" class="btn btn-default student-detail-btn-cancel-class" type="reset" data-toggle="tooltip" title="" th:text="#{button.cancel}">Cancel</a>
					<button id="student-detail-btn-save" class="btn btn-primary student-detail-btn-save-class" type="submit" data-toggle="tooltip" title="">Tambah</button>
				</div>
			</div>
		</div>
	</form>
	<script th:inline="javascript">
	/*<![CDATA[*/     
		$(function(){
			var uploadURL = /*[[@{/do/fileManager/upload/}]]*/ #;
			initTextEditor('.tinyMCE-area', '.tinyMCE-parent', uploadURL);
	    });
	/*]]>*/
	</script>
</div>