<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:ifs="http://btn.co.id">
<head>
<meta charset="ISO-8859-1"/>
<title>Research Dev Management</title>
</head>
<style>
.gcDetail-basicPicture {
	max-height : 250px;
}

.basicPicture-delete {
	position:absolute;
	left:25px;
	top:10px;
}
</style>
<body>
	<div class="pageheader">
		<div class="row col-md-8">
			<h4><i class="fa fa-tachometer"></i> Research / Research Management List / Research Management Detail
			<span></span></h4>
		</div>
	</div>
	<div class="row col-md-12">
	<div>
		<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#organizerTab" id="organizerLink" class="rmg-nav-tab">Organizer</a></li>
			<li><a data-toggle="tab" href="#projectOfficerTab" id="projectOfficerLink" class="rmg-nav-tab">Project Officer</a></li>
			<li><a data-toggle="tab" href="#praResearchTab" id="praResearchLink" class="rmg-nav-tab">Pra-Research</a></li>
			<li><a data-toggle="tab" href="#implementationTab" id="implementationLink" class="rmg-nav-tab">Implementation</a></li>
			<li><a data-toggle="tab" href="#pascaResearchTab" id="pascaResearchLink" class="rmg-nav-tab">Pasca-Research</a></li>
			<li><a data-toggle="tab" href="#summaryTab" id="summaryLink" class="rmg-nav-tab">Summary</a></li>
		</ul>	
	</div>
	<section class="tile transparent tab-content" th:object="${detail}">
		<div id="organizerTab" class="tab-pane fade in active">
			<div id="organizerContent" th:replace="researchDev/_researchDevMgOrganizer :: organizer(${detail})"></div>
		</div>
		<div id="projectOfficerTab" class="tab-pane fade">
			<div id="projectOfficerContent" th:replace="researchDev/_researchDevMgProjectOfficer :: projectOfficer(${detail})" ></div>
		</div>
		<div id="praResearchTab" class="tab-pane fade">
			<div id="praResearchContent" th:replace="researchDev/_researchDevMgPraResearch :: praResearch(${detail})"></div>
		</div>
		<div id="implementationTab" class="tab-pane fade">
			<div id="implementationContent" th:replace="researchDev/_researchDevMgImplementation :: implementation(${detail})"></div>
		</div>
		<div id="pascaResearchTab" class="tab-pane fade">
			<div id="pascaResearchContent" th:replace="researchDev/_researchDevMgPascaResearch :: pascaResearch(${detail})"></div>
		</div>
		<div id="summaryTab" class="tab-pane fade">
			<div id="summaryContent" th:replace="researchDev/_researchDevMgSummary :: summary(${detail})"></div>
		</div>
	</section>
	</div>
	<input id="maintenancePK" type="hidden" th:field="${detail.pkResearch}"/>
	<script th:inline="javascript">
	/*<![CDATA[*/
	  	function backToList(){
			returnToList('rm-detail-container', 'rm-list-container', true);
		};
		
		function setListOfficer(){
			var listURL = /*[[@{/do/researchDev/management/listOfficer}]]*/ #;
			$.get(listURL, {maintenancePK:$('#maintenancePK').val()}, function(data){
				var container = $('#projectOfficerContent');
				var bodyTable = $('#officer-list-table tbody');
				var html = "";
				for(var i=1;i<=data.length;i++) {
					if(i%2==0){
						html += "<tr class='even'>";
					}else{
						html += "<tr class='odd'>";	
					}
					html += "<td>"+data[i-1].officerName+"</td>";
					html += "<td>"+data[i-1].officerPosition+"</td>"; 
					html += '<td><a href="#" class="btn btn-primary btn-xs btn-edit-officer" data-toggle="tooltip" title="" data-original-title="Edit" style="margin-right:5px;"><i class="fa fa-edit"></i></a>\<a href="#" class="btn btn-primary btn-xs btn-delete-officer" data-toggle="tooltip" title="" data-original-title="Delete"><i class="fa fa-trash"></i></a></td>';
					html += "</tr>";
				};
				bodyTable.html(html);
			});
		}
		
		$(function(){
			if($('#maintenancePK').val()!=""){
				setListOfficer();
			}
		});
	/*]]>*/
	</script>
</body>
</html>