<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:ifs="http://btn.co.id">
<head>
<meta charset="ISO-8859-1"/>
<title>TransIn</title>
</head>
<body>
<link rel="stylesheet" th:href="@{/plugin/vendor/fullcalendar/fullcalendar.css}" />
<link rel="stylesheet" th:href="@{/plugin/vendor/fullcalendar/fullcalendar.print.css}"  media='print' />
<link rel="stylesheet" th:href="@{/css/myfullcalendar.css}" />
<script th:src='@{/plugin/vendor/fullcalendar/fullcalendar.js}'></script>
<div id="content" class="col-md-12">
	<div id="transProd-detail-container"></div>
	<div id="transProd-calendar-container">
	<div class="pageheader">
		<h4><i class="fa fa fa-hourglass"></i> Pengolahan / Kalender Pengolahan
		<span></span></h4>
	</div>
	<div class="main">
		<div class="row">
			<div class="col-md-12">	
				<section class="tile transparent">
					<div class="tile-body rounded-corners">
						<div id='calendar'></div>
					</div>
				</section>
			</div>
		</div>
	</div>
	</div>
</div>
<script th:inline="javascript">
	/*<![CDATA[*/           
   	function showEdit(maintenancePK) {
		var sURL = /*[[@{/do/pengolahan/showEdit?maintenancePK=}]]*/ #;
		showScreen('transProd-calendar-container', 'transProd-detail-container', sURL + maintenancePK + "&skipdecorator=");
	}
	$(document).ready(function() {
		setMenuActive('pengolahan');
	    var date = new Date();
		var d = date.getDate();
		var m = date.getMonth();
		var y = date.getFullYear();
		
		/*  className colors
		className: default(transparent), important(red), chill(pink), success(green), info(blue)
		*/		
		  
		/* initialize the external events
		-----------------------------------------------------------------*/
		$('#external-events div.external-event').each(function() {
			// create an Event Object (http://arshaw.com/fullcalendar/docs/event_data/Event_Object/)
			// it doesn't need to have a start or end
			var eventObject = {
				title: $.trim($(this).text()) // use the element's text as the event title
			};
			
			// store the Event Object in the DOM element so we can get to it later
			$(this).data('eventObject', eventObject);
			
			// make the event draggable using jQuery UI
			$(this).draggable({
				zIndex: 999,
				revert: true,      // will cause the event to go back to its
				revertDuration: 0  //  original position after the drag
			});
			
		});
	
		/* initialize the calendar
		-----------------------------------------------------------------*/
		var month = /*[[${month}]]*/ #;
	    var year = /*[[${year}]]*/ #;
		var sURLGetDataCal = /*[[@{/do/pengolahan/getDataCalendar}]]*/ #;
		sURLGetDataCal += '/'+month+'/'+year;
		var calendar =  $('#calendar').fullCalendar({
			header: {
				left: 'title',
				center: 'month,basicWeek',
				right: 'prev,next today'
			},
			editable: true,
			firstDay: 1, 
			selectable: true,
			defaultView: 'month',
			columnFormat: {
                month: 'dddd',   
                week: 'd - dddd '
            },
            monthNames: ['Januari','Februari','Maret','April','Mei','Juni','Juli','Agustus','September','Oktober','November','Desember'],
            dayNames: ['Minggu','Senin','Selasa','Rabu','Kamis','Jumat','Sabtu'],
            buttonText: {
            	today: 'Hari Ini',
        		month: 'Per Bulan',
        		week: 'Per Minggu'
            },
			allDaySlot: false,
			selectHelper: true,
			dayClick: function(date, jsEvent, view) {
				var sURL = /*[[@{/do/pengolahan/showAdd?}]]*/ #;
				sURL += 'day='+date.getDate()+'&month='+date.getMonth()+'&year='+date.getFullYear();
				showScreen('transProd-calendar-container', 'transProd-detail-container', sURL + "&skipdecorator=");
			},
			droppable: true,
			drop: function(date, allDay) { // this function is called when something is dropped
			
				// retrieve the dropped element's stored Event Object
				var originalEventObject = $(this).data('eventObject');
				
				// we need to copy it, so that multiple events don't have a reference to the same object
				var copiedEventObject = $.extend({}, originalEventObject);
				
				// assign it the date that was reported
				copiedEventObject.start = date;
				copiedEventObject.allDay = allDay;
				
				// render the event on the calendar
				// the last `true` argument determines if the event "sticks" (http://arshaw.com/fullcalendar/docs/event_rendering/renderEvent/)
				$('#calendar').fullCalendar('renderEvent', copiedEventObject, true);
				
				// is the "remove after drop" checkbox checked?
				if ($('#drop-remove').is(':checked')) {
					// if so, remove the element from the "Draggable Events" list
					$(this).remove();
				}
			},
			events: sURLGetDataCal
		});
	});		
	/*]]>*/
</script>
</body>
</html>