<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:ifs="http://padiku.id">
<head>
<meta charset="ISO-8859-1"/>
<title>ContactUs Maintenance Detail</title>
</head>
<style>
.contactUsDetail-image {
	max-height : 250px;
}

.image-delete {
	position:absolute;
	left:25px;
	top:10px;
}

.form-group .col-sm-9{
	text-align: left;
}
</style>
<body>
	<div class="pageheader">
		<div class="row col-md-8">
			<h4><i class="fa fa-tachometer"></i> Contact List / Contact Detail
			<span></span></h4>
		</div>
	</div>
	<div class="row col-md-12">
	<section class="tile transparent">
			<div class="tile-body rounded-corners">
				<form action="#" id="contactUs-detail-form" class="form-horizontal" method="POST" novalidate="novalidate" th:object="${detail}">
					<div class="stockTypeStyle">
						<div class="form-group">
							<div class="col-md-12">
								<div id="errorFragmentList">
									<th:block th:if="${message}">
										<div class='alert alert-success'>
											<a href='#' class='close' data-dismiss='alert' aria-label='close' title='close'>&#10006;</a>			
											<label th:text="${message}"></label>
										</div>
									</th:block>
								</div>
							</div>
						</div>
						<input id="contactUs-detail-maintenancePk" type="hidden" th:field="*{pkContact}"/>
						<div class="form-group">
							<label class="col-sm-2 control-label" th:text="'Category'">Category</label>
							<label class="col-sm-9 control-label" th:text="*{helpLookup?.name}"></label>							
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" th:text="'Tema'">Tema</label>
							<label class="col-sm-9 control-label" th:text="*{temaLookup?.name}"></label>					
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" th:text="'Name'">Name</label>
							<label class="col-sm-9 control-label" th:text="*{name}"></label>					
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" th:text="'No. Telp'">No. Telp</label>
							<label class="col-sm-9 control-label" th:text="*{telp}"></label>					
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" th:text="'Email'">Email</label>
							<label class="col-sm-9 control-label" th:text="*{email}"></label>					
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" th:text="'Address'">Address</label>
							<label class="col-sm-9 control-label" th:text="*{address}"></label>					
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" th:text="'Instansi'">Instansi</label>
							<label class="col-sm-9 control-label" th:text="*{instansi}"></label>					
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" th:text="'Message'">Message</label>
							<label class="col-sm-9 control-label" th:text="*{message}"></label>					
						</div>
						<th:block th:if="*{helpLookup?.code == 'CO'}">
							<div class="form-group">
								<label class="col-sm-2 control-label" th:text="'Answer'">Answer</label>
								<div class="col-sm-9 form-input-container">
									<input type="text" class="form-control" placeholder="Answer" name="srch-term" id="input-text-title" th:field="*{answer}"/>
								</div>
							</div>
						</th:block>
						<div class="form-group form-footer" style="margin-top:40px;">				
							<div class="col-sm-offset-3 col-sm-9">
								<a href="#" id="contactUs-detail-btn-cancel" class="btn btn-default" type="reset" data-toggle="tooltip" title="">Kembali</a>
								<a href="#" th:if="*{helpLookup?.code == 'CO'}" id="contactUs-detail-btn-reply" class="btn btn-primary" data-toggle="tooltip" title="">Balas</a>
							</div>
						</div>
					</div>
				</form>
			</div>
	</section>
	</div>
	<script th:inline="javascript">
	/*<![CDATA[*/
	    $(function(){
	    	initDatePicker("datepicker", "dd/mm/yyyy");
	    	
			var backToList = function(){
				returnToList('contactUs-detail-container', 'contactUs-list-container', true);
			};
			
			var submitReply = function() {
				var sURL = /*[[@{/do/contactUs/userContact/submitReply}]]*/ #;
				$.post(sURL, $("#contactUs-detail-form").serialize(), function(data) {
					if(data.errorList!=null){
						
					}else{
						bootBoxSuccessSave('Reply successfully submitted', backToList);
					}
				});
			}
			
			$('#contactUs-detail-btn-cancel').click(function(e){
				e.preventDefault();
				backToList();
			});
			
			$('#contactUs-detail-btn-reply').click(function(e){
				e.preventDefault();
				submitReply();
			});
			
	    });
	/*]]>*/
	</script>
</body>
</html>
