<div class="tile-body rounded-corners" th:fragment="praResearch(detail)">
	<br/>
	<form action="#" id="rm-pre-detail-form" class="form-horizontal" method="POST" novalidate="novalidate">
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<label class="col-sm-2 control-label" th:text="'Theme'">Theme</label>
					<div class="col-sm-9 form-input-container">
						<select class="chosen-select form-control" th:field="*{researchTheme.pkResearchTheme}">
							<option th:each="opt : ${themeOptions}" th:value="${opt.pkResearchTheme}" th:text="${opt.title}">Title</option>
                        </select>
                   	</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" th:text="'Research Title'">Research Title</label>
					<div class="col-sm-9 form-input-container">
						<th:block th:if="${detail.title == T(id.base.app.SystemConstant).DEFAULT_TITLE_RESEARCH}">
							<input type="text" class="form-control" placeholder="Research Title" id="input-text-title" name="title"/>
						</th:block>
						<th:block th:if="${detail.title != T(id.base.app.SystemConstant).DEFAULT_TITLE_RESEARCH}">
							<input type="text" class="form-control" placeholder="Research Title" id="input-text-title" th:field="*{title}"/>
						</th:block>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" th:text="'Research Subtitle'">Research Subtitle</label>
					<div class="col-sm-9 form-input-container">
						<input type="text" class="form-control" placeholder="Research Subtitle" id="input-text-title" th:field="*{subtitle}"/>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" th:text="'Featured Image'">Featured Image</label>
					<div class="col-sm-9 form-input-container">
						<th:block th:if="${detail.imageURL != null}">
							<input type="hidden" id="input-hidden-basicPictureURL" th:field="*{imageURL}"/>
							<input type="file" class="form-control" id="input-file-basicPictureURL" style="display:none;"/>
							<div id="container-basicPictureURL">
								<img th:src="${detail.imageURL}" class="gcDetail-basicPicture"/>
								<a href="#" class="btn btn-primary btn-xs margin-bottom-20 basicPicture-delete" data-toggle="tooltip" title="Delete"><i class="fa fa-trash"></i></a>
							</div>
						</th:block>
						<th:block th:if="${detail.imageURL == null}">
							<input type="hidden" id="input-hidden-basicPictureURL" name="imageURL"/>
							<input type="file" class="form-control" id="input-file-basicPictureURL"/>
							<div id="container-basicPictureURL" style='display:none;'>
							</div>
						</th:block>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" th:text="'Description'">Description</label>
					<div class="col-sm-9 form-input-container">
						<div class="panel-group" id="accordion">
					      <div class="panel panel-default">
						    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseDesc">
						      <h4 class="panel-title">
						        <a class="accordion-toggle" th:text="'Description'">Description</a>
						      </h4>
						    </div>
						    <div id="collapseDesc" class="panel-collapse collapse">
						        <input id="ed-1-hidden" name="description" type="hidden"/>
								<div class="tinyMCE-parent">					
									<textarea class="tinyMCE-area" id="ed-1" th:text="*{description}">
									</textarea>
								</div>
						    </div>
						  </div>
						 </div>
                   	</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" th:text="'Memo'">Memo</label>
					<div class="col-sm-9 form-input-container">
						<div class="panel-group" id="accordion">
						  <div class="panel panel-default">
						    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
						      <h4 class="panel-title">
						        <a class="accordion-toggle" th:text="'Ijin Prinsip'">Ijin Prinsip</a>
						      </h4>
						    </div>
						    <div id="collapseOne" class="panel-collapse collapse">
						        <input id="ed-2-hidden" name="principlePermitDescription" type="hidden"/>
								<div class="tinyMCE-parent">					
									<textarea class="tinyMCE-area" id="ed-2" th:text="*{principlePermitDescription}">
									</textarea>
								</div>
								<br/>
								<div class="form-group">
									<label class="col-sm-2 control-label" th:text="'Upload File'">Upload File</label>
									<div class="col-sm-9 form-input-container">
										<input type="file" class="form-control"/>
									</div>
								</div>
						    </div>
						  </div>
						  <div class="panel panel-default">
						    <div class="panel-heading">
						      <h4 class="panel-title"  data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo">
						        <a class="accordion-toggle" th:text="'Pengadaan'">Pengadaan</a>
						      </h4>
						    </div>
						    <div id="collapseTwo" class="panel-collapse collapse">
						        <input id="ed-3-hidden" name="procurementDescription" type="hidden"/>
								<div class="tinyMCE-parent">					
									<textarea class="tinyMCE-area" id="ed-3" th:text="*{procurementDescription}">
									</textarea>
								</div>
								<br/>
								<div class="form-group">
									<label class="col-sm-2 control-label" th:text="'Upload File'">Upload File</label>
									<div class="col-sm-9 form-input-container">
										<input type="file" class="form-control"/>
									</div>
								</div>
						    </div>
						  </div>
						  <div class="panel panel-default">
						    <div class="panel-heading">
						      <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree">
						        <a class="accordion-toggle" th:text="'SPK dan PKS'">SPK dan PKS</a>
						      </h4>
						    </div>
						    <div id="collapseThree" class="panel-collapse collapse">
						        <input id="ed-4-hidden" name="workOrderDescription" type="hidden"/>
								<div class="tinyMCE-parent">					
									<textarea class="tinyMCE-area" id="ed-4" th:text="*{workOrderDescription}">
									</textarea>
								</div>
								<br/>
								<div class="form-group">
									<label class="col-sm-2 control-label" th:text="'Upload File'">Upload File</label>
									<div class="col-sm-9 form-input-container">
										<input type="file" class="form-control"/>
									</div>
								</div>
						    </div>
						  </div>
						</div>	
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" th:text="'Vendor'">Vendor</label>
					<div class="col-sm-9 form-input-container">
						<input type="text" class="form-control" placeholder="Vendor" id="input-text-title" th:field="*{vendor}"/>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" th:text="'Project Value'">Project Value</label>
					<div class="col-sm-9 form-input-container">
						<div class="input-group">
						  <span class="input-group-addon" id="addon-project-val">Rp.</span>
						  <input type="text" class="form-control" placeholder="Project Value" aria-describedby="addon-project-val"  th:field="*{projectValue}"/>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br/>
		<div>
			<div class="form-group form-footer">				
				<div class="col-sm-offset-3 col-sm-9">
					<a href="#" class="btn btn-default btn-back-to-list" type="reset" data-toggle="tooltip" title="">Kembali Ke List</a>
					<button id="rm-tab3-btn-save" class="btn btn-primary" type="submit" data-toggle="tooltip" title="">Simpan &#38; Lanjutkan</button>
				</div>
			</div>
		</div>
	</form>
	<script th:inline="javascript">
	/*<![CDATA[*/     
		$(function(){
			var uploadURL = /*[[@{/do/fileManager/upload/}]]*/ #;
			initTextEditor('.tinyMCE-area', '.tinyMCE-parent', uploadURL);
	    
			var submitFormPre = function(){
				cleanErrorParsley();
				for (i=0; i < tinyMCE.editors.length; i++){
				    var content = tinyMCE.editors[i].getContent();
				    $('#'+tinyMCE.editors[i].id+"-hidden").val(content);
				}
				var sURL = /*[[@{/do/research/researchManagement/saveResearch/}]]*/ #;
				var fromTab = /*[[${T(id.base.app.SystemConstant.TabResearchManagement).PRE}]]*/;
				var dataPush = $('#rm-pre-detail-form').serializeArray();
				dataPush.push({name: 'pkResearch', value: $('#maintenancePK').val()});
				dataPush.push({name: 'fromTab', value: fromTab});
				$.post(sURL, dataPush, function(data) {
					if(data.errorList!=null){
						displayErrorParsley(data.errorList);
					}else{
						$('#implementationLink').click();
					}
				});
			};
			
			var showImage = function(imageURL) {
				$('#input-file-imageURL').hide();
				var htmlContent = '<image src="'+imageURL+'" style="max-height:250px;"></image>';
				htmlContent += '<a href="#" class="btn btn-primary btn-xs margin-bottom-20 image-delete" data-toggle="tooltip" title="Delete" style="position:absolute; left:25px; top:10px;"><i class="fa fa-trash"></i></a>';
				$('#container-imageURL').html(htmlContent);
				$('#input-hidden-imageURL').val(imageURL);
				$('#container-imageURL').show();
				initDeletePicture();
			}
			
			var uploadFile = function(image, uploadURL) {
				var data = new FormData();
				data.append('file', image);
				var xhr = new XMLHttpRequest();
				xhr.open('POST', uploadURL, true);
				xhr.onreadystatechange = function() {
				  if (xhr.readyState === 4) {
				    var response = JSON.parse(xhr.responseText);
				    if (response) {
				      	showImage(response);
				    } else {
				      	var reader = new FileReader();
				      	reader.onload = function(e) {
				        	callback(e.target.result);
				      	};
				      	reader.readAsDataURL(image);
				    }
				  }
				}
				xhr.send(data);
			};
			
			$('#rm-tab3-btn-save').click(function(e){
				e.preventDefault();
				submitFormPre();
			});
			
			$('.btn-back-to-list').click(function(){
				backToList();
			});
			
			$('#input-file-imageURL').change(function(){
				var sURL = /*[[@{/do/fileManager/uploadFeaturedImage/}]]*/ #;
				var thisObj = $('#input-file-imageURL')[0];
				uploadFile(thisObj.files[0], sURL);
			});
	    });
	/*]]>*/
	</script>
</div>