<div class="tile-body rounded-corners" th:fragment="memo(detail)">
	<br/>
	<div class="row">
		<div class="col-md-6">
		   	<div class="form-group">
				<label class="col-sm-3 control-label" th:text="'Memo No'">Memo No</label>
				<div class="col-sm-9 form-input-container">
					<input type="text" class="form-control" placeholder="Memo No" id="input-text-title" th:field="*{title}"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label" th:text="'To'">To</label>
				<div class="col-sm-9 form-input-container">
					<input type="text" class="form-control" placeholder="To" id="input-text-title" th:field="*{title}"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label" th:text="'From'">From</label>
				<div class="col-sm-9 form-input-container">
					<input type="text" class="form-control" placeholder="From" id="input-text-title" th:field="*{title}"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label" th:text="'CC'">CC</label>
				<div class="col-sm-9 form-input-container">
					<input type="text" class="form-control" placeholder="CC" id="input-text-title" th:field="*{title}"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label" th:text="'About'">About</label>
				<div class="col-sm-9 form-input-container">
					<input type="text" class="form-control" placeholder="About" id="input-text-title" th:field="*{title}"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label" th:text="'Attachment'">Attachment</label>
				<div class="col-sm-9 form-input-container">
					<input type="text" class="form-control" placeholder="Attachment" id="input-text-title" th:field="*{title}"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label" th:text="'Description'">Description</label>
			</div>
			<div class="form-group">
				<div class="col-sm-12 form-input-container">
					<input id="tinyMCE-hidden" name="content" type="hidden"/>
					<div class="tinyMCE-parent">					
						<textarea class="tinyMCE-area" >
						</textarea>
					</div>
				</div>
			</div>
			<div>
				<div class="form-group form-footer">				
					<div class="col-sm-offset-3 col-sm-9">
						<a href="#" id="student-detail-btn-cancel" class="btn btn-default student-detail-btn-cancel-class" type="reset" data-toggle="tooltip" title="">Batal</a>
						<button id="student-detail-btn-save" class="btn btn-primary student-detail-btn-save-class" type="submit" data-toggle="tooltip" title="">Tambah</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<table id="timeplanning-list-table" class="table table-datatable table-custom">
            	<thead>
                	<tr>
                   		<th width="50%">Memo No</th>
                   		<th width="20%">Send Date</th>
                   		<th width="20%">Status</th>
						<th width="10%">E/D</th>
                  	</tr>
              	</thead>
          	</table>
		</div>
	</div>
	<script th:inline="javascript">
	/*<![CDATA[*/     
		$(function(){
			initDatePicker("datepicker", "dd/mm/yyyy");
			initTimePicker("timepicker", 'g:i');
			var uploadURL = /*[[@{/do/fileManager/upload/}]]*/ #;
			initTextEditor('.tinyMCE-area', '.tinyMCE-parent', uploadURL);
	    });
	/*]]>*/
	</script>
</div>