<div class="tile-body rounded-corners" th:fragment="timePlanning(detail)">
	<br/>
	<div class="row">
		<div class="col-md-5">
			<div class="form-group">
				<label class="col-sm-4 control-label" th:text="'Group Target'">Group Target</label>
				<div class="col-sm-8 form-input-container">
					<input type="text" class="form-control" placeholder="Group Target" id="input-text-title" th:field="*{title}"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label" th:text="'Title Target'">Title Target</label>
				<div class="col-sm-8 form-input-container">
					<input type="text" class="form-control" placeholder="Title Target" id="input-text-title" th:field="*{title}"/>
				</div>
			</div>
			<div class="form-group">
		      	<label class="col-sm-4 control-label">Plan Date</label>
		      	<div class="col-sm-4">
		        	<input type='text' class="datepicker input-date form-control" placeholder="From"/>
		       	</div>
		       	<div class="col-sm-4">
		        	<input type='text' class="datepicker input-date form-control" placeholder="To"/>
		       	</div>
		    </div>
		    <div class="form-group">
		      	<label class="col-sm-4 control-label">Plan Time</label>
		      	<div class="col-sm-4">
		        	<input type='text' class="timepicker input-time form-control" placeholder="From"/>
		       </div>
		       <div class="col-sm-4">
		        	<input type='text' class="timepicker input-time form-control" placeholder="To"/>
		       </div>
		   	</div>
			<div class="form-group">
				<label class="col-sm-4 control-label" th:text="'Progress'">Progress</label>
				<div class="col-sm-8 form-input-container">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="progress" id="input-text-title" th:field="*{title}"  aria-describedby="basic-addon2"/>
						<span class="input-group-addon" id="basic-addon2">%</span>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label" th:text="'Description'">Description</label>
				<div class="col-sm-8 form-input-container">
					<textarea class="form-control" rows="5"></textarea>
				</div>
			</div>
			<div>
				<div class="form-group form-footer">				
					<div class="col-sm-offset-4 col-sm-8">
						<a href="#" id="student-detail-btn-cancel" class="btn btn-default student-detail-btn-cancel-class" type="reset" data-toggle="tooltip" title="">Batal</a>
						<button id="student-detail-btn-save" class="btn btn-primary student-detail-btn-save-class" type="submit" data-toggle="tooltip" title="">Tambah</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-7">
			<table id="timeplanning-list-table" class="table table-datatable table-custom">
            	<thead>
                	<tr>
                   		<th width="70%">Title Target</th>
                   		<th width="20%">Progress (%)</th>
						<th width="10%">E/D</th>
                  	</tr>
              	</thead>
          	</table>
		</div>
	</div>
	<script th:inline="javascript">
	/*<![CDATA[*/     
		$(function(){
			initDatePicker("datepicker", "dd/mm/yyyy");
			initTimePicker("timepicker", 'g:i');
	    });
	/*]]>*/
	</script>
</div>