<div class="tile-body rounded-corners" th:fragment="budgeting(detail)">
	<br/>
	<div class="row">
		<div class="col-md-5">
			<div class="form-group">
				<label class="col-sm-4 control-label" th:text="'Group Budget'">Group Budget</label>
				<div class="col-sm-8 form-input-container">
					<input type="text" class="form-control" placeholder="Group Budget" id="input-text-title" th:field="*{title}"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label" th:text="'Title Budget'">Title Budget</label>
				<div class="col-sm-8 form-input-container">
					<input type="text" class="form-control" placeholder="Title Budget" id="input-text-title" th:field="*{title}"/>
				</div>
			</div>
			<div class="form-group">
		      	<label class="col-sm-4 control-label">Budget Date</label>
		      	<div class="col-sm-8">
		        	<input type='text' class="datepicker input-date form-control"/>
		       	</div>
		    </div>
			<div class="form-group">
				<label class="col-sm-4 control-label" th:text="'Amount'">Amount</label>
				<div class="col-sm-2 form-input-container">
					<select class="form-control">
						<option value="+">+</option>
						<option value="-">-</option>
					</select>
				</div>
				<div class="col-sm-6 form-input-container">
					<div class="input-group">
					  <span class="input-group-addon">Rp.</span>
					  <input type="text" class="form-control" placeholder="Amount" id="input-text-title"/>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label" th:text="'Description'">Description</label>
				<div class="col-sm-8 form-input-container">
					<textarea class="form-control" rows="5"></textarea>
				</div>
			</div>
			<div>
				<div class="form-group form-footer">				
					<div class="col-sm-offset-3 col-sm-9">
						<a href="#" id="student-detail-btn-cancel" class="btn btn-default student-detail-btn-cancel-class" type="reset" data-toggle="tooltip" title="">Batal</a>
						<button id="student-detail-btn-save" class="btn btn-primary student-detail-btn-save-class" type="submit" data-toggle="tooltip" title="">Tambah</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-7">
			<table id="budgeting-list-table" class="table table-datatable table-custom">
            	<thead>
                	<tr>
                   		<th width="50%">Title Budget</th>
                   		<th width="20%">Budget Date</th>
                   		<th width="20%">Amount</th>
						<th width="10%">E/D</th>
                  	</tr>
              	</thead>
          	</table>
		</div>
	</div>
	<script th:inline="javascript">
	/*<![CDATA[*/     
		$(function(){
			initDatePicker("datepicker", "dd/mm/yyyy");
			initTimePicker("timepicker", 'g:i');
			var uploadURL = /*[[@{/do/fileManager/upload/}]]*/ #;
			initTextEditor('.tinyMCE-area', '.tinyMCE-parent', uploadURL);
	    });
	/*]]>*/
	</script>
</div>