<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:ifs="http://padiku.id">
<head>
<meta charset="ISO-8859-1"/>
<title>Research Management</title>
</head>
<style>
.gcDetail-basicPicture {
	max-height : 250px;
}

.basicPicture-delete {
	position:absolute;
	left:25px;
	top:10px;
}
</style>
<body>
	<div class="pageheader">
		<div class="row col-md-8">
			<h4><i class="fa fa-tachometer"></i> Research / Research Management List / Research Management Detail
			<span></span></h4>
		</div>
	</div>
	<div class="row col-md-12">
	<div>
		<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#organizerTab" class="rmg-nav-tab">Organizer</a></li>
			<li><a data-toggle="tab" href="#projectOfficerTab" class="rmg-nav-tab">Project Officer</a></li>
			<li><a data-toggle="tab" href="#praResearchTab" class="rmg-nav-tab">Pra-Research</a></li>
			<li><a data-toggle="tab" href="#implementationTab" class="rmg-nav-tab">Implementation</a></li>
			<li><a data-toggle="tab" href="#pascaResearchTab" class="rmg-nav-tab">Pasca-Research</a></li>
			<li><a data-toggle="tab" href="#summaryTab" class="rmg-nav-tab">Summary</a></li>
		</ul>	
	</div>
	<form action="#" id="rmg-detail-form" class="form-horizontal" method="POST" novalidate="novalidate" th:object="${detail}">
	<input type="hidden" th:field="*{pkResearch}" class="enroll-data"/>
	<section class="tile transparent tab-content">
		<div id="organizerTab" class="tab-pane fade in active">
			<div id="organizerContent" th:replace="research/_researchMgOrganizer :: organizer(${detail})"></div>
		</div>
		<div id="projectOfficerTab" class="tab-pane fade">
			<div id="projectOfficerContent" th:replace="research/_researchMgProjectOfficer :: projectOfficer(${detail})" ></div>
		</div>
		<div id="praResearchTab" class="tab-pane fade">
			<div id="praResearchContent" th:replace="research/_researchMgPraResearch :: praResearch(${detail})"></div>
		</div>
		<div id="implementationTab" class="tab-pane fade">
			<div id="implementationContent" th:replace="research/_researchMgImplementation :: implementation(${detail})"></div>
		</div>
		<div id="pascaResearchTab" class="tab-pane fade">
			<div id="pascaResearchContent" th:replace="research/_researchMgPascaResearch :: pascaResearch(${detail})"></div>
		</div>
		<div id="summaryTab" class="tab-pane fade">
			<div id="summaryContent" th:replace="research/_researchMgSummary :: summary(${detail})"></div>
		</div>
	</section>
	</form>
	</div>
	<script th:inline="javascript">
	/*<![CDATA[*/
	           
	    $(function(){
	    	initDatePicker("datepicker", "dd/mm/yyyy");
	    	
	    	var submitForm = function(){
				cleanErrorParsley();
				var sURL = /*[[@{/do/student/saveStudent/}]]*/ #;
				$.post(sURL, $("#student-detail-form").serialize(), function(data) {
					if(data.errorList!=null){
						displayErrorParsley(data.errorList);
					}else{
						backToList();
					}
				});
			};
			
			var enrollCourse = function() {
				var sURL = /*[[@{/do/student/enrollCourse}]]*/ #;
				$.post(sURL, $(".enroll-data").serialize(), function(data) {
					if(data.errorList != null) {
						displayErrorParsley(data.errorList);
					} else {
						backToList();
					}
				});
			};
	    	
	    	var backToList = function(){
				returnToList('student-detail-container', 'student-list-container', true);
			};
	    	
	    	$('.student-detail-btn-save-class').click(function(e){
				e.preventDefault();
				submitForm();
			});
			
			$('.student-detail-btn-cancel-class').click(function(e){
				e.preventDefault();
				backToList();
			});
			
			$('.student-nav-tab').click(function(e){
				 $(this).tab('show');
			});
			
			$('#student-detail-btn-enrollCourse').click(function(e){
				e.preventDefault();
				enrollCourse();
			});
			
	    });
	
	/*]]>*/
	</script>
</body>
</html>