<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:ifs="http://padiku.id">
<head>
<meta charset="ISO-8859-1"/>
<title>Research Maintenance Detail</title>
</head>
<style>
.gcDetail-basicPicture {
	max-height : 250px;
}

.basicPicture-delete {
	position:absolute;
	left:25px;
	top:10px;
}
</style>
<body>
	<div class="pageheader">
		<div class="row col-md-12">
			<h4><i class="fa fa-tachometer"></i> Research / Research Maintenance List / Research Maintenance Detail
			<span></span></h4>
		</div>
	</div>
	<div class="row col-md-12">
	<section class="tile transparent">
			<div class="tile-body rounded-corners">
				<form action="#" id="researchMaintenance-detail-form" class="form-horizontal" method="POST" novalidate="novalidate" th:object="${detail}">
					<div class="stockTypeStyle">
						<div class="form-group">
							<div class="col-md-12">
								<div id="errorFragmentList">
									<th:block th:if="${message}">
										<div class='alert alert-success'>
											<a href='#' class='close' data-dismiss='alert' aria-label='close' title='close'>&#10006;</a>			
											<label th:text="${message}"></label>
										</div>
									</th:block>
								</div>
							</div>									
							&nbsp;
						</div>
						<input id="researchMaintenance-detail-maintenancePk" type="hidden" th:field="*{pkResearch}"/>
						<div class="form-group">
							<label class="col-sm-2 control-label" th:text="'Title'">Title</label>
							<div class="col-sm-9 form-input-container">
								<input type="text" class="form-control" placeholder="Title" id="input-text-title" th:field="*{title}"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" th:text="'Sub Title'">Sub Title</label>
							<div class="col-sm-9 form-input-container">
								<input type="text" class="form-control" placeholder="Sub Title" id="input-text-title" th:field="*{subTitle}"/>
							</div>
						</div>
						<div class="form-group">
                          	<label class="col-sm-2 control-label">Research Date</label>
                          	<div class="col-sm-4">
                            	<input type='text' class="datepicker input-date form-control" th:name="researchDateFrom" th:value="${detail.researchDateFrom!=null?#dates.format(detail.researchDateFrom, T(id.base.app.SystemConstant).SYSTEM_DATE_MASK_2):''}" />
                           </div>
                           <div class="col-sm-1"><label> - </label></div>
                           <div class="col-sm-4">
                            	<input type='text' class="datepicker input-date form-control" th:name="researchDateTo" th:value="${detail.researchDateTo!=null?#dates.format(detail.researchDateTo, T(id.base.app.SystemConstant).SYSTEM_DATE_MASK_2):''}" />
                           </div>
                       	</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" th:text="'Featured Image'">Featured Image</label>
							<div class="col-sm-9 form-input-container">
								<th:block th:if="${detail.imageURL != null}">
									<input type="hidden" id="input-hidden-basicPictureURL" th:field="*{imageURL}"/>
									<input type="file" class="form-control" id="input-file-basicPictureURL" style="display:none;"/>
									<div id="container-basicPictureURL">
										<img th:src="${detail.imageURL}" class="gcDetail-basicPicture"/>
										<a href="#" class="btn btn-primary btn-xs margin-bottom-20 basicPicture-delete" data-toggle="tooltip" title="Delete"><i class="fa fa-trash"></i></a>
									</div>
								</th:block>
								<th:block th:if="${detail.imageURL == null}">
									<input type="hidden" id="input-hidden-basicPictureURL" name="imageURL"/>
									<input type="file" class="form-control" id="input-file-basicPictureURL"/>
									<div id="container-basicPictureURL" style='display:none;'>
									</div>
								</th:block>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" th:text="'Description'">Description</label>
							<div class="col-sm-9 form-input-container">
								<div class="panel-group" id="accordion">
								  <div class="panel panel-default">
								    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
								      <h4 class="panel-title">
								        <a class="accordion-toggle" th:text="'Abstract'">Abstract</a>
								      </h4>
								    </div>
								    <div id="collapseOne" class="panel-collapse collapse">
								        <input id="tinyMCE-hidden" name="abstractDesc" type="hidden"/>
										<div class="tinyMCE-parent">					
											<textarea class="tinyMCE-area" th:text="*{abstractDesc}">
											</textarea>
										</div>
								    </div>
								  </div>
								  <div class="panel panel-default">
								    <div class="panel-heading">
								      <h4 class="panel-title"  data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo">
								        <a class="accordion-toggle" th:text="'Introduction'">Introduction</a>
								      </h4>
								    </div>
								    <div id="collapseTwo" class="panel-collapse collapse">
								        <input id="tinyMCE-hidden" name="introduction" type="hidden"/>
										<div class="tinyMCE-parent">					
											<textarea class="tinyMCE-area" th:text="*{introduction}">
											</textarea>
										</div>
								    </div>
								  </div>
								  <div class="panel panel-default">
								    <div class="panel-heading">
								      <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree">
								        <a class="accordion-toggle" th:text="'Literature Review'">Literature Review</a>
								      </h4>
								    </div>
								    <div id="collapseThree" class="panel-collapse collapse">
								        <input id="tinyMCE-hidden" name="literatureReview" type="hidden"/>
										<div class="tinyMCE-parent">					
											<textarea class="tinyMCE-area" th:text="*{literatureReview}">
											</textarea>
										</div>
								    </div>
								  </div>
								  <div class="panel panel-default">
								    <div class="panel-heading">
								      <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree">
								        <a class="accordion-toggle" th:text="'Methods'">Methods</a>
								      </h4>
								    </div>
								    <div id="collapseThree" class="panel-collapse collapse">
								        <input id="tinyMCE-hidden" name="methods" type="hidden"/>
										<div class="tinyMCE-parent">					
											<textarea class="tinyMCE-area" th:text="*{methods}">
											</textarea>
										</div>
								    </div>
								  </div>
								  <div class="panel panel-default">
								    <div class="panel-heading">
								      <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree">
								        <a class="accordion-toggle" th:text="'Results'">Results</a>
								      </h4>
								    </div>
								    <div id="collapseThree" class="panel-collapse collapse">
								        <input id="tinyMCE-hidden" name="results" type="hidden"/>
										<div class="tinyMCE-parent">					
											<textarea class="tinyMCE-area" th:text="*{results}">
											</textarea>
										</div>
								    </div>
								  </div>
								</div>	
							</div>
						</div>
						<div class="form-group form-footer">				
							<div class="col-sm-offset-3 col-sm-9">
								<a href="#" id="researchMaintenance-detail-btn-cancel" class="btn btn-default" type="reset" data-toggle="tooltip" title="">Batal</a>
								<button id="researchMaintenance-detail-btn-save" class="btn btn-primary" type="submit" data-toggle="tooltip" title="">Simpan</button>
							</div>
						</div>
					</div>
				</form>
			</div>
	</section>
	</div>
	<script th:inline="javascript">
	/*<![CDATA[*/
	           
		function initDeletePicture() {
			$('.basicPicture-delete').click(function(e){
				e.preventDefault();
				$('#input-file-basicPictureURL').show();
				$('#container-basicPictureURL').html("");
				$('#input-hidden-basicPictureURL, #input-file-basicPictureURL').val("");
				$('#container-basicPictureURL').hide();
			});
		}
	
	    $(function(){
	    	initDeletePicture();
	    	var uploadURL = /*[[@{/do/fileManager/upload/}]]*/ #;
	    	initDatePicker("datepicker", "dd/mm/yyyy");
	    	initTextEditor('.tinyMCE-area', '.tinyMCE-parent', uploadURL);
			var backToList = function(){
				returnToList('researchMaintenance-detail-container', 'researchMaintenance-list-container', true);
			};
	    	
			var submitForm = function(){
				cleanErrorParsley();
				var sURL = /*[[@{/do/research/researchMaintenance/saveResearch/}]]*/ #;
				$.post(sURL, $("#researchMaintenance-detail-form").serialize(), function(data) {
					if(data.errorList!=null){
						displayErrorParsley(data.errorList);
					}else{
						backToList();
					}
				});
			};
			
			var showImage = function(imageURL) {
				$('#input-file-basicPictureURL').hide();
				var htmlContent = '<image src="'+imageURL+'" style="max-height:250px;"></image>';
				htmlContent += '<a href="#" class="btn btn-primary btn-xs margin-bottom-20 basicPicture-delete" data-toggle="tooltip" title="Delete" style="position:absolute; left:25px; top:10px;"><i class="fa fa-trash"></i></a>';
				$('#container-basicPictureURL').html(htmlContent);
				$('#input-hidden-basicPictureURL').val(imageURL);
				$('#container-basicPictureURL').show();
				initDeletePicture();
			}
			
			var uploadFile = function(image, uploadURL) {
				var data = new FormData();
				data.append('file', image);
				var xhr = new XMLHttpRequest();
				xhr.open('POST', uploadURL, true);
				xhr.onreadystatechange = function() {
				  if (xhr.readyState === 4) {
				    var response = JSON.parse(xhr.responseText);
				    if (response) {
				      	showImage(response);
				    } else {
				      	var reader = new FileReader();
				      	reader.onload = function(e) {
				        	callback(e.target.result);
				      	};
				      	reader.readAsDataURL(image);
				    }
				  }
				}
				xhr.send(data);
			};
			
			var thisObj = '';
			$(document).unbind('change').on('change', '#input-file-basicPictureURL', function(){
				var sURL = /*[[@{/do/fileManager/uploadFeaturedImage/}]]*/ #;
				var thisObj = $('#input-file-basicPictureURL')[0];
				uploadFile(thisObj.files[0], sURL);
			});
			
			var showFile = function(fileURL) {
				$('#input-file-fileURL').hide();
				var htmlContent = '<label style="margin-right:10px;">Uploaded File</label>';
				htmlContent += '<a href="#" class="btn btn-primary btn-xs margin-bottom-20 file-delete" data-toggle="tooltip" title="Delete"><i class="fa fa-trash"></i></a>';
				$('#container-fileURL').html(htmlContent);
				$('#input-hidden-fileURL').val(fileURL);
				$('#container-fileURL').show();
				initDeleteFile();			
			}
			
			var uploadFile = function(image, uploadURL, isImage) {
				var data = new FormData();
				data.append('file', image);
				var xhr = new XMLHttpRequest();
				xhr.open('POST', uploadURL, true);
				xhr.onreadystatechange = function() {
				  if (xhr.readyState === 4) {
				    var response = JSON.parse(xhr.responseText);
				    if (isImage == true) {
				    	if (response) {
					      	showImage(response);
					    } else {
					      	var reader = new FileReader();
					      	reader.onload = function(e) {
					        	callback(e.target.result);
					      	};
					      	reader.readAsDataURL(image);
					    }	
				    } else {
				    	if (response) {
				    		showFile(response);
				    	}
				    }
				  }
				}
				xhr.send(data);
			};
			
			$('#input-file-fileURL').change(function(){
				var sURL = /*[[@{/do/fileManager/uploadEBookFile/}]]*/ #;
				var thisObj = $('#input-file-fileURL')[0];
				uploadFile(thisObj.files[0], sURL, false);
			});
			
			$('#researchMaintenance-detail-btn-save').click(function(e){
				e.preventDefault();
				submitForm();
			});
			
			$('#researchMaintenance-detail-btn-cancel').click(function(e){
				e.preventDefault();
				backToList();
			});
	    });
	/*]]>*/
	</script>
</body>
</html>