
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<meta name="author" content="Mardy Jonathan"/>
<title></title>
</head>
<body>
		<div class="breadcrumb-wrapper">
			<div class="breadcrumb">
				<div class="container">
					<ul>
					<li><a th:href="@{/}">Home</a></li>
					<li><a th:href="@{/page/ebook}">Ebook</a></li>
					<li><a href="#">Detail Ebook</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="content_top">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-3">
						<img th:src="${detail.encodedPicture}"/>
					</div>
					<div class="col-xs-12 col-sm-9">
						<div class="content_left">
							<h1>Description</h1>
							<div th:utext="${detail.description}">
							</div>
						</div><!--end content left-->
						<div class="content_left">
							<div><button type="button" class="btn btn-primary btn-lg" id="download">Download<span class="glyphicon glyphicon-download" style="padding-left: 5px;"></span></button></div>
							<input type="hidden" name="identity" th:value="${detail.pkDigitalBook}"/>
						</div>
					</div>
				</div>
				<hr/>
			</div><!--end content top-->
		</div>
		
		<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		setNavbarActive('publikasi');
		$(function(){
			$("#download").unbind('click').click(function(){
				var sURL = /*[[@{/page/ebook/downloadFile/}]]*/ #;
				var param = $('input[name="identity"]').val();
				sURL = sURL + param;
				downloadFile(sURL);
			});
		})
		
		function downloadFile(sURL){
			$.ajax({ 
			    type: "GET",
			    url: sURL,
			    cache: false,
			    contentType: false,
			    processData: false,
			    success: function(data){
			    	if(data.errorList != null){
			    		displayErrorJson(data.errorList, 4);
			        }else{
			        	window.location.href = sURL;
			        }
			    } 
			});
		}
		/*]]>*/
		</script>
</body>
</html>