<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
</head>
<body>
		<div class="breadcrumb-wrapper">
			<div class="breadcrumb">
				<div class="container">
					<ul>
					<li><a th:href="@{/}">Home</a></li>
					<li><a th:href="@{/page/ebook}">Buku Elektronik</a></li>
					<li><a href="#">Buku Elektronik Detail</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="content_top hexa-top-right">
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<div class="content_left">
							<h1 th:utext="${detail.title}"></h1>
							<div class="bottom-left-yellow"></div>
							<div class="bottom-right-blue"></div>
							<div class="clear"></div>
							<div class="content_wrapper" th:utext="${detail.description}"></div>
						</div>
					</div>
					<div class="col-md-4">
						<img class="image_main" th:src="${detail.encodedPicture}"/>
						<br/><br/>
						<div><button type="button" class="btn btn-primary btn-lg" id="download">Download<span class="glyphicon glyphicon-download" style="padding-left: 5px;"></span></button></div>
						<input type="hidden" name="identity" th:value="${detail.pkDigitalBook}"/>
					</div>
				</div>
				<hr/>
			</div><!--end content top-->
		</div>
		
		<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		setNavbarActive('publikasi');
		$(function(){
			$("#download").unbind('click').click(function(){
				var sURL = /*[[@{/page/ebook/downloadFile/}]]*/ #;
				var param = $('input[name="identity"]').val();
				sURL = sURL + param;
				downloadFile(sURL);
			});
		})
		
		function downloadFile(sURL){
			$.ajax({ 
			    type: "GET",
			    url: sURL,
			    cache: false,
			    contentType: false,
			    processData: false,
			    success: function(data){
			    	if(data.errorList != null){
			    		displayErrorJson(data.errorList, 4);
			        }else{
			        	window.location.href = sURL;
			        }
			    } 
			});
		}
		/*]]>*/
		</script>
</body>
</html>