<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
</head>
<body>
		<div class="breadcrumb-wrapper">
			<div class="breadcrumb">
				<div class="container">
					<ul>
					<li><a th:href="@{/}">Beranda</a></li>
					<li><a href="#">Buku Elektronik</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="hexa-top-right-long">
		<div class="top_post_section ebook_section back-gradient-transparent">
			<div class="container">
				<form class="back-gradient-transparent" style="padding:10px 0px;">
				<div class="row">
					<div class="col-md-4"></div>
					<div class="col-md-4">
						<input type="text" class="form-control param" placeholder="Masukan Kata Kunci..."/>
					</div>
					<div class="col-md-4">
						<button type="button" class="btn btn-danger mrdy_btn search">Cari Buku Elektronik</button>
					</div>
				</div>
				</form>
				<br/>
				<div class="row list_data">
					<th:block th:each="book , i : ${books.result}">
						<div id="template" class="col-md-2 data_result">
							<div class="post">
								<div class="post_thumb_wrapper">
									<div class="post_thumb">
										<img th:src="${book.encodedPicture}" alt="" class="show_detail my_link"/>
										<div class="overlay">
										    <div class="text show_detail my_link"><i class="fa fa-align-left"></i> Baca</div>
										</div>
									</div>
								</div>
								<h2><a href="#"><label th:text="${book.title}" class="post_title show_detail my_link"></label></a></h2>
								<input type="hidden" name="identity" th:value="${book.permalink}"/>
							</div>
							<div class="bottom-left-yellow"></div>
							<div class="bottom-right-blue"></div>
						</div>
					</th:block>					
				</div>
				<div class="row load_pagination" style="display: none;">
					<div class="col-md-12">
						<div class="col-md-4"></div>
						<div class="col-md-4"> <img th:src="@{/images/gif/loading_linear.gif}" style="margin-left: 50px;"/> </div>
						<div class="col-md-4"></div>
					</div>
				</div>
				<div class="row pagination_part">
					<div class="col-md-12">
						<div class="col-md-4"></div>
						<div class="col-md-4">
							<ul class="pagination_section">
								<li style="width:100%;text-align:center"><a href="#" class="load_more mrdy_btn">Older eBook</a></li>
							</ul><!--end pagination section-->		
							<input type="hidden" th:value="${books.startRecordIndex}" class="startNo"/>
							<input type="hidden" th:value="${books.recordsPerPage}" class="offset"/>
						</div>
						<div class="col-md-4"></div>
					</div><!--end post left section-->
				</div><!--end post_left-->	
			</div>
		</div>
		<div class="clear"></div>
		</div>
		
		<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		setNavbarActive('publikasi');
        function showPaging(maxRecord, currentRecord){
			if(maxRecord <= currentRecord || currentRecord == 0){
				$('.pagination_part').hide();
			}else{
				$('.pagination_part').show();
			}
		}
		
		function processData(datas, load){
			var load_content = '';
			for(var i=0;i<datas.length;i++){
				if(i%6==0){
					load_content = load_content + "<div class='clear'></div>";
				}
				var cloning = $('.template_part .data_result').eq(0).clone();
				cloning.find('.post_thumb img').attr('src',datas[i].encodedPicture);
				cloning.find('.post_title').html(datas[i].title);
				cloning.find('input[name="identity"]').val(datas[i].permalink);
				cloning.wrap('<div></div>');
				if(!load){
					$('.list_data').append(cloning.parent().html());
				}else{
					load_content = load_content + cloning.parent().html();
				}
			}
			
			if(load){
				$('.list_data').html(load_content);
			}
		}
		           
		$(function(){
			var maxRecord = /*[[${books.maxRecord}]]*/;
			var currentRecord = /*[[${books.currentRecord}]]*/;
			
			showPaging(maxRecord, currentRecord);
			
			$('.load_more').unbind('click').click(function(){
				var sURL = /*[[@{/page/ebook/load}]]*/
				var param = $('.param').val();
				var nextStartNo = parseInt($('.startNo').val()) + parseInt($('.offset').val());
				var offset = $('.offset').val();
				$.ajax({
		            type: 'GET',
		            url: sURL,
		            data: {filter : param, startNo : nextStartNo, offset : offset},
		            dataType: 'json',
		            success: function (data) {
		            	$('.load_pagination').hide();
		            	$('.mrdy_btn').disableBtn({enabled:true});
		            	processData(data.books.result, false);		
		            	var newMaxRecord = data.books.maxRecord;
		            	var newCurrentRecord = data.books.currentRecord;
		            	showPaging(newMaxRecord, newCurrentRecord);
		            	$('.startNo').val(data.books.startRecordIndex);
		            },
		            beforeSend: function($jqXHR, $textStatus){
						$('.load_pagination').show();
						$('.mrdy_btn').disableBtn({enabled:false});
					},
					error: function ($jqXHR, $textStatus, $errorThrown) {
						$('.load_pagination').hide();
						$('.mrdy_btn').disableBtn({enabled:true});
					},
					complete: function($jqXHR, $textStatus){
						$('.load_pagination').hide();
						$('.mrdy_btn').disableBtn({enabled:true});
					}
		        });				
			});
			
			$('.search').unbind('click').click(function(){
				var sURL = /*[[@{/page/ebook/load}]]*/
				var param = $('.param').val();
				var img_url = /*[[@{/images/gif/hex-loader.gif}]]*/;
				$.ajax({
		            type: 'GET',
		            url: sURL,
		            data: {filter : param},
		            dataType: 'json',
		            success: function (data) {
		            	$('.pagination_part').hide();
		            	$('.loading_reload').remove();
		            	$('.mrdy_btn').disableBtn({enabled:true});
		            	processData(data.books.result, true);
		            	var newMaxRecord = data.books.maxRecord;
		            	var newCurrentRecord = data.books.currentRecord;
		            	showPaging(newMaxRecord, newCurrentRecord);
		            	$('.startNo').val(data.books.startRecordIndex);
		            },
		            beforeSend: function($jqXHR, $textStatus){
		            	$('.list_data').html('<div class="col-md-12 loading_reload" style="display: block; margin-left: auto; margin-right: auto;text-align: center;"><img src="'+img_url+'" /></div>');
						$('.mrdy_btn').disableBtn({enabled:false});
					},
					error: function ($jqXHR, $textStatus, $errorThrown) {
						$('.loading_reload').remove();
						$('.mrdy_btn').disableBtn({enabled:true});
					},
					complete: function($jqXHR, $textStatus){
						$('.loading_reload').remove();
						$('.mrdy_btn').disableBtn({enabled:true});
					}
		        });				
			});
			
			$(document).on('click','.show_detail',function(){
				var link = /*[[@{/page/ebook/}]]*/ '';
				window.location.href = link + $(this).parents('.post').find('input[name="identity"]').val();
			});
			
			heightsEqualizer('.data_result .post');
			
		});
		/*]]>*/
		</script>
</body>
</html>