<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="author" content="Mardy Jonathan"/>
<title></title>
</head>
<body>
	<div class="breadcrumb-wrapper">
			<div class="breadcrumb">
				<div class="container">
					<ul>
					<li><a th:href="@{/}">Home</a></li>
					<li><a href="#">Research</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="courses_section">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-3 col-md-2 courses_left hidden-xs">
						<div class="courses_left_inner">
							<h3>Research</h3>
							<ul>
								<li class="active"><a href="#">View all research (2014 - 2016)</a></li>
								<li><a href="#">2016</a></li>
								<li><a href="#">2015</a></li>
								<li><a href="#">2014</a></li>
							</ul>
							
							<h3>Research Topics</h3>
							<div th:each="topic, i : ${topics}"><h5 th:text="${topic.title}"></h5></div>
						</div>
					</div><!--end post_left-->
					
					<div class="col-xs-12 col-sm-9 col-md-10 courses_right">
						<div class="courses_right_inner">
							<div class="search_section search_full_section">
								<form action="##" method="post">								
									<div class="input-group">
									  <input type="text" class="form-control" placeholder="Research Name" aria-describedby="basic-addon2" />
									  <span class="input-group-addon" id="basic-addon2"><i class="fa fa-search" aria-hidden="true"></i></span>
									</div>
								</form>
							</div>
						
							<div class="courses">
								<table class="table table-bordered table-striped">
									<thead>
									  <tr>
										<th>Research Name</th>
										<th>Research Topic</th>
									  </tr>
									</thead>
									<tbody class="list_data">
									  <tr class="option">
										<td>2016</td>
										<td>&nbsp;</td>
									  </tr>
									  <tr id="template" class="data_result" th:each="res, i : ${researches.result}">
										<td>
											<ul>
												<li class="active resName">
													<a th:href="@{/page/research-development/detail/}+${res.pkResearch}+'/'+${#strings.replace(res.title, ' ', '-')}" th:text="${res.title}"></a>
												</li>
												<li class="resSubtitle">
													<a href="#" th:text="${res.subtitle}"></a>
												</li>
												
											</ul>
										</td>
										<!-- td class="resTopic" th:text="${res.researchTopic.title}"></td -->
										<td></td>
									  </tr>
									</tbody>
								  </table>
							</div>
							
							<ul class="pagination">
								<li class="prev">
								  <a aria-label="Previous" href="#">
									<span aria-hidden="true">Previous</span>
								  </a>
								</li>
								<th:block th:each="j : ${#numbers.sequence(1, researches.noOfPage)}" th:if="${researches.noOfPage &gt; 0}">
								<li th:if="${j==researches.currentPage}" class="active" th:classappend="${j}"><a href="#" th:text="${j}"></a></li>
								<li th:unless="${j==researches.currentPage}" class="change_page" th:classappend="${j}"><a href="#" th:text="${j}"></a></li>
								</th:block>
								<th:block th:unless="${researches.noOfPage &gt; 0}">
									<li class="active" th:classappend="1"><a href="#" th:text="1"></a></li>
								</th:block>
								<li class="next">
								  <a aria-label="Next" href="#">
									<span aria-hidden="true">Next</span>
								  </a>
								</li>
							  </ul>
							  <input type="hidden" th:value="${researches.startRecordIndex}" class="startNo"/>
						  	  <input type="hidden" th:value="${researches.recordsPerPage}" class="offset"/>
						</div><!--end courses right inner-->
					</div><!--end post_right-->
					
				</div>
			</div>
		</div><!--end post section-->
		<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		$(function(){      
			$('.change_page').unbind('click').click(function(){
				changePage($(this));
			});
			
			checkPagination();
		});
		
		function checkPagination(){
			var activePage = $('.active').find('a').html();
			var noOfPage = /*[[${researches.noOfPage}]]*/
			if(activePage>1){
				$('.prev').unbind('click').click(function(){
					var nextPage = parseInt($('.active').find('a').html()) - 1;
					changePage($(this), nextPage);
				});
			}else{
				$('.prev').unbind('click');
			}
			
			if(activePage<noOfPage){
				$('.next').unbind('click').click(function(){
					var nextPage = parseInt($('.active').find('a').html()) + 1;
					changePage($(this), nextPage);
				});
			}else{
				$('.next').unbind('click');
			}
		}
		
		function changePage(elem, paramNextPage){
			var id = /*[[${idGroup}]]*/;
			var title = /*[[${title}]]*/;
			title = replaceall(title, " ", "-");
			var sURL = /*[[@{/page/list/}]]*/
			sURL = sURL + title + "/" + id + "/load";
			var param = $('.param').val();
			var nextPage = paramNextPage ? paramNextPage : elem.find('a').html();
			var oldPage = $('.active').find('a').html();
			var nextStartNo = (parseInt($('.offset').val()) * (parseInt(nextPage)-1)) + 1;
			var offset = $('.offset').val();
			var img_url = /*[[@{/images/gif/hex-loader.gif}]]*/;
			$.ajax({
	            type: 'GET',
	            url: sURL,
	            data: {filter : param, startNo : nextStartNo, offset : offset},
	            dataType: 'json',
	            success: function (data) {
	            	$('.load_reload_wrapper').remove();
	            	$('.mrdy_btn').disableBtn({enabled:true});
	            	processData(data.researches.result, false);	
	            	$('.'+nextPage).addClass('active');
	            	$('.'+nextPage).removeClass('change_page');
	            	$('.'+oldPage).removeClass('active');
	            	$('.'+oldPage).addClass('change_page');
	            	$('.change_page').unbind('click').click(function(){
	    				changePage($(this));
	    			});
	            	checkPagination();
	            },
	            beforeSend: function($jqXHR, $textStatus){
	            	$('.list_data').html('<tr class="load_reload_wrapper"><td colspan="5"><div class="col-md-12 loading_reload" style="display: block; margin-left: auto; margin-right: auto;text-align: center;"><img src="'+img_url+'" /></div></td></tr>');
					$('.mrdy_btn').disableBtn({enabled:false});
				},
				error: function ($jqXHR, $textStatus, $errorThrown) {
					$('.load_reload_wrapper').remove();
					$('.mrdy_btn').disableBtn({enabled:true});
				},
				complete: function($jqXHR, $textStatus){
					$('.load_reload_wrapper').remove();
					$('.mrdy_btn').disableBtn({enabled:true});
				}
	        });
		}
		
		
		function processData(datas, load){
			var load_content = '';
			var detailLink = /*[[@{/page/research-development/detail/}]]*/;
			for(var i=0;i<datas.length;i++){
				var cloning = $('.template_part .data_result').eq(0).clone();
				cloning.find('.resName').find('a').attr('href',detailLink+datas[i].pkResearch+'/'+replaceall(datas[i].title,' ','-'));
				cloning.find('.resName').html(datas[i].name);
				cloning.find('.resSubtitle').html(datas[i].subtitle);
				cloning.find('.resTopic').html(datas[i].researchTopic.name);
				cloning.wrap('<div></div>');
				if(!load){
					$('.list_data').append(cloning.parent().html());
				}else{
					load_content = load_content + cloning.parent().html();
				}
			}
			
			if(load){
				$('.list_data').html(load_content);
			}
		}
		/*]]>*/
		</script>
</body>
</html>