<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="author"/>
<title></title>
</head>
<body>
	<div class="breadcrumb-wrapper">
			<div class="breadcrumb">
				<div class="container">
					<ul>
					<li><a th:href="@{/}">Beranda</a></li>
					<li><a th:href="@{/page/research-development}">Research &#38; Development</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="rnd_section">
			<div class="rnd_banner">
				<div class="parallax-window" data-parallax="scroll" th:attr="data-image-src=@{/images/background-research.jpg}" >
					<div class="rnd_wrapper_cnt_banner">
						<div class="container">
							<div class="row">
								<div class="col-md-4 rnd_top_title">
									<h2 class="rnd_title">World Class<br/>Research &#38; Development</h2>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4 rnd_title_top_menu">
									<h3 class="rnd_title">Our Research Themes</h3>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4 rnd_top_menu">
									<ul>
										<li th:each="rt, i : ${researchThemes}">
											<a th:href="@{/page/research-development/themes/}+${rt.pkResearchTheme}+'/'+${#strings.replace(rt.title, ' ', '-')}" th:text="${rt.title}"></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="rnd_article">
				<div class="container">
					<div class="rnd_container row">
						<div class="col-md-12"> 
							<div class="row"> 
								<h2 class="title_article">The most pressing challenges our local and global communities face are deeply complex and can only be overcome by the combined efforts of diverse disciplines.</h2>
								<div>
									<p>Our Research Themes draw together our rich multi-disciplinary expertise to develop solutions to real-world problems of global relevance, within a local context. They provide an interdisciplinary setting for individuals, established research concentrations and our partners to work collaboratively, and capitalise on the advantages presented by our unique locality and existing areas of research excellence.</p>
								</div>
							</div> 
						</div>
					</div>
				</div>
			</div>
			
			<div class="rnd_excerpt_themes">
				<div class="parallax-window" data-parallax="scroll" th:attr="data-image-src=@{/images/background-research-themes.jpg}" >
					<div class="rnd_excerpt_container container">
						<div class="row">
							<div class="col-md-4" th:each="rt, i : ${researchThemes}">
								<div class="rnd_excerpt_wrapper">
									<h3><a th:href="@{/page/research-development/themes/}+${rt.pkResearchTheme}+'/'+${#strings.replace(rt.title, ' ', '-')}" th:text="${rt.title}"></a></h3>
									<div class="rnd_excerpt_content" th:text="${rt.excerpt}"></div>	
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		$(function(){  
			
		});
		/*]]>*/
		</script>
</body>
</html>