<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="author"/>
<title></title>
</head>
<body>
	<div class="breadcrumb-wrapper">
			<div class="breadcrumb">
				<div class="container">
					<ul>
					<li><a th:href="@{/}">Home</a></li>
					<li><a th:href="@{/page/research-development}">Research &#38; Development</a></li>
					<li><a th:href="@{/page/research-development/themes/${detail.pkResearchTheme}}+'/'+${#strings.replace(detail.title, ' ', '-')}" th:text="${detail.title}"></a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="rnd_section">
			<div class="rnd_banner">
				<div class="parallax-window" data-parallax="scroll" th:attr="data-image-src=${detail.encodedPicture}" >
					<div class="rnd_wrapper_cnt_banner">
						<div class="container">
							<div class="row">
								<div class="col-md-4 rnd_top_title">
									<h2 class="rnd_title">World Class<br/>Research &#38; Development</h2>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4 rnd_title_top_menu">
									<h3 class="rnd_title">Our Research Themes</h3>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4 rnd_top_menu">
									<ul>
										<li th:each="rt, i : ${researchThemes}">
											<a th:href="@{/page/research-development/themes/}+${rt.pkResearchTheme}+'/'+${#strings.replace(rt.title, ' ', '-')}" th:text="${rt.title}"></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="rnd_themes_detail">
				<div class="row">
					<div class="col-md-6 col-md-offset-5">
						<div class="rnd_themes_title_wrapper"> 
							<h2 th:text="${detail.title}"></h2>
						</div>
						<div class="rnd_themes_body_wrapper" th:utext="${detail.description}"></div>
					</div>
				</div>
			</div>
		</div>
		
		<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		$(function(){  
			
		});
		/*]]>*/
		</script>
</body>
</html>