<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:ifs="http://padiku.id">
<head>
<meta charset="ISO-8859-1"/>
<title>Event Maintenance Detail</title>
</head>
<body>
	<div class="pageheader">
		<div class="row col-md-8">
			<h4><i class="fa fa-tachometer"></i> Event Editor / Event Maintenance List / Event Maintenance Detail
			<span></span></h4>
		</div>
	</div>
	<div class="row col-md-8">
	<section class="tile color transparent-black">
			<div class="tile-body">
				<form action="#" id="event-detail-form" class="form-horizontal" method="POST" novalidate="novalidate" th:object="${detail}">
					<div class="stockTypeStyle">
						<div class="form-group">
							<div class="col-md-12">
								<div id="errorFragmentList">
									<th:block th:if="${message}">
										<div class='alert alert-success'>
											<a href='#' class='close' data-dismiss='alert' aria-label='close' title='close'>&#10006;</a>			
											<label th:text="${message}"></label>
										</div>
									</th:block>
								</div>
							</div>									
							&nbsp;
						</div>
						<input id="event-detail-maintenancePk" type="hidden" th:field="*{pkEvent}"/>
						<div class="form-group">
							<label class="col-sm-3 control-label" th:text="'Code'">Code</label>
							<div class="col-sm-9 form-input-container">
								<input type="text" class="form-control" placeholder="Code" name="srch-term" id="input-text-code" th:field="*{code}"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label" th:text="'Name'">Name</label>
							<div class="col-sm-9 form-input-container">
								<input type="text" class="form-control" placeholder="Name" name="srch-term" id="input-text-name" th:field="*{name}"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label" th:text="'Description'">Description</label>
							<div class="col-sm-9 form-input-container">
								<input type="text" class="form-control" placeholder="Description" name="srch-term" id="input-text-name" th:field="*{description}"/>
							</div>
						</div>
						<div class="form-group">
                          	<label class="col-sm-3 control-label">Event Date</label>
                          	<div class="col-sm-9">
                            	<input type='text' class="datepicker input-date form-control" th:name="eventDate" th:value="${detail.eventDate!=null?#dates.format(detail.eventDate, T(id.base.app.SystemConstant).SYSTEM_DATE_MASK_2):''}" />
                            	
                            	
                          	</div>
                       	</div>
						<div class="form-group form-footer">				
							<div class="col-sm-offset-3 col-sm-9">
								<a href="#" id="event-detail-btn-cancel" class="btn btn-default" type="reset" data-toggle="tooltip" title="">Batal</a>
								<button id="event-detail-btn-save" class="btn btn-primary" type="submit" data-toggle="tooltip" title="">Simpan</button>
							</div>
						</div>
					</div>
				</form>
			</div>
	</section>
	</div>
	<script th:inline="javascript">
	/*<![CDATA[*/
	    $(function(){
	    	
	    	$('.datepicker').datepicker({
	    	    autoclose: true,
	    	    todayHighlight: true,
	    		format: 'dd/mm/yyyy',
	    		onSelect: function(dateText, datePicker) {
	    			$(this).attr('value', dateText);
    		    }
            });
	    	
			var backToList = function(){
				returnToList('event-detail-container', 'event-list-container', true);
			};
	    	
			var submitForm = function(){
				cleanErrorParsley();
				var sURL = /*[[@{/do/event/eventMaintenance/saveEvent/}]]*/ #;
				$.post(sURL, $("#event-detail-form").serialize(), function(data) {
					if(data.errorList!=null){
						displayErrorParsley(data.errorList);
					}else{
						backToList();
					}
				});
			};
			
			$('#event-detail-btn-save').click(function(e){
				e.preventDefault();
				submitForm();
			});
			
			$('#event-detail-btn-cancel').click(function(e){
				e.preventDefault();
				backToList();
			});
	    });
	/*]]>*/
	</script>
</body>
</html>