<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<div class="breadcrumb-wrapper">
			<div class="breadcrumb">
				<div class="container">
					<ul>
					<li><a th:href="@{/}">Beranda</a></li>
					<li><a th:href="@{/page/main-program}">Program</a></li>
					<li><a th:href="@{/page/main-program/learning/}+${categoryPermalink}" th:text="${categoryPermalink}"></a></li>
					<li><a href="#" th:text="${detail.title}"></a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="single_banner" th:classappend="${detail.backgroundImageSize==2} ? 'big_size'">
			<div th:style="'background-image:url('+ @{/images/banner_01.jpg} +')'" class="banner_img_background"></div>
			<div class="container large">
				<div class="row">
					<div class="col-xs-12">
						<div class="single_banner_inner">
							<div class="single_caption">
								<th:block th:if="${detail.eligibleRegistration}">
								<div class="col-md-10 course-detail-title">
									<h1 th:utext="${detail.title}"></h1>
								</div>
								</th:block>
								<th:block th:if="${!detail.eligibleRegistration}">
								<div class="col-md-8 course-detail-title">
									<h1 th:utext="${detail.title}"></h1>
								</div>
								</th:block>
								<div class="col-md-2" th:if="${detail.eligibleRegistration}">
									<div class="enroll-wrap registerButton" th:attr="categoryPermalink=${categoryPermalink},permalink=${permalink}">
										<span class="enroll-title">Daftar Sekarang</span>
										<span class="enroll-date">Pendaftaran Berakhir<br/>
											<th:block th:text="${detail.closingDateReg!=null?#dates.format(detail.closingDateReg, T(id.base.app.SystemConstant).SYSTEM_DATE_MASK_2):''}" ></th:block>
										</span>
									</div>
								</div>
							</div><!--end single caption-->
						</div>
					</div>
				</div><!--end row-->
			</div><!--end container-->
		</div><!--end single banner-->
		
		<div class="single_content content_post">
			<div class="container large">
				<div class="row">
					<div th:class="${detail.programDisplayLookup.code == T(id.base.app.ILookupConstant.LearningDisplay).NOT_FULL_SCREEN_SIDEBAR_RIGHT}? 'col-xs-12 col-sm-8 col-md-8' : 'col-xs-12 col-sm-12 col-md-12'">
						<div class="single_content_left">
							<div class="tab_menu">
								<th:block th:if="${detail.programDisplayLookup.code == T(id.base.app.ILookupConstant.LearningDisplay).NOT_FULL_SCREEN_SIDEBAR_RIGHT}">
								<ul class="w-4">
									<li class="active"><a href="#explore_program" data-toggle="tab" aria-expanded="true">Keterangan</a></li>
									<th:block th:if="${detail.admissionRequirement!=null and detail.admissionRequirement!=''}">
									<li class=""><a href="#admission_requirements" data-toggle="tab" aria-expanded="false">Minimal Persyaratan</a></li>
									</th:block>
									<th:block th:if="${detail.paymentDesc!=null and detail.paymentDesc!=''}">
									<li class=""><a href="#cost" data-toggle="tab" aria-expanded="false">Cara Pembayaran</a></li>
									</th:block>
									<li class=""><a href="#galeri" data-toggle="tab" aria-expanded="false">Galeri</a></li>
									<li class=""><a href="#faq" data-toggle="tab" aria-expanded="false">FAQ</a></li>
								</ul>
								</th:block>
								<th:block th:if="${detail.programDisplayLookup.code != T(id.base.app.ILookupConstant.LearningDisplay).NOT_FULL_SCREEN_SIDEBAR_RIGHT}">
								<ul class="w-6">
									<li class="active"><a href="#explore_program" data-toggle="tab" aria-expanded="true">Beranda / Utama</a></li>
									<th:block th:if="${detail.silabusDesc!=null and detail.silabusDesc!=''}">
									<li class=""><a href="#silabus_desc" data-toggle="tab" aria-expanded="false">Silabus Program</a></li>
									</th:block>
									<li class=""><a href="#testimoni" data-toggle="tab" aria-expanded="false">Testimoni</a></li>
									<li class=""><a href="#teacher" data-toggle="tab" aria-expanded="false">Pengajar</a></li>
									<li class=""><a href="#fasilitas" data-toggle="tab" aria-expanded="false">Fasilitas</a></li>
									<th:block th:if="${detail.contactUsDesc!=null and detail.contactUsDesc!=''}">
									<li class=""><a href="#download_brochure_desc" data-toggle="tab" aria-expanded="false">Download Brochure</a></li>
									</th:block>
								</ul>
								</th:block>
							</div>
							
							<div class="tab-content single_tab_content">
								<div role="tabpanel" class="tab-pane active" id="explore_program">
									<div th:class="${detail.programDisplayLookup.code == T(id.base.app.ILookupConstant.LearningDisplay).FULL_SCREEN_SIDEBAR_RIGHT_DESCRIPTION}? 'col-xs-12 col-sm-8 col-md-8' : 'col-xs-12 col-sm-12 col-md-12'" th:utext="${detail.description}"></div>
									<th:block th:if="${detail.programDisplayLookup.code == T(id.base.app.ILookupConstant.LearningDisplay).FULL_SCREEN_SIDEBAR_RIGHT_DESCRIPTION}">
										<div class="col-xs-12 col-sm-4 col-md-4 short-desc-content"></div>
									</th:block>
								</div>
								<div role="tabpanel" class="tab-pane" id="admission_requirements" th:utext="${detail.admissionRequirement}"></div>
								<div role="tabpanel" class="tab-pane" id="cost" th:utext="${detail.paymentDesc}"></div>
								<div role="tabpanel" class="tab-pane" id="faq">
									<div class="panel-group" id="accordion1">
										<div class="panel panel-default">
										  <div class="panel-heading">
											<h5 class="panel-title">
											  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_1">Lorem ipsum dolor sit amet</a>
											</h5>
										  </div>
										  <div id="accordion1_1" class="panel-collapse collapse in">
											<div class="panel-body">
											  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim minim veniam quis nostrud exercitation dolore magna ullamco.</p>
											  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco sed eiusmod tempor ut labore et dolore.</p>
											</div>
										  </div>
										</div>
										<div class="panel panel-default">
										  <div class="panel-heading">
											<h5 class="panel-title">
											  <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_2">Consectetur adipisicing elit</a>
											</h5>
										  </div>
										  <div id="accordion1_2" class="panel-collapse collapse">
											<div class="panel-body">
											  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim minim veniam quis nostrud exercitation dolore magna ullamco.</p>
											  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco sed eiusmod tempor ut labore et dolore.</p>
											</div>
										  </div>
										</div>
										<div class="panel panel-default">
										  <div class="panel-heading">
											<h5 class="panel-title">
											  <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_3">Augue assum anteposuerit dolore</a>
											</h5>
										  </div>
										  <div id="accordion1_3" class="panel-collapse collapse">
											<div class="panel-body">
											  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim minim veniam quis nostrud exercitation dolore magna ullamco.</p>
											  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco sed eiusmod tempor ut labore et dolore.</p>
											</div>
										  </div>
										</div>
										<div class="panel panel-default">
										  <div class="panel-heading">
											<h5 class="panel-title">
											  <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_4">Sollemnes in futurum</a>
											</h5>
										  </div>
										  <div id="accordion1_4" class="panel-collapse collapse">
											<div class="panel-body">
											  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim minim veniam quis nostrud exercitation dolore magna ullamco.</p>
											  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco sed eiusmod tempor ut labore et dolore.</p>
											</div>
										  </div>
										</div>
										<div class="panel panel-default">
										  <div class="panel-heading">
											<h5 class="panel-title">
											  <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_5">Nostrud Tempor veniam</a>
											</h5>
										  </div>
										  <div id="accordion1_5" class="panel-collapse collapse">
											<div class="panel-body">
											  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim minim veniam quis nostrud exercitation dolore magna ullamco.</p>
											  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco sed eiusmod tempor ut labore et dolore.</p>
											</div>
										  </div>
										</div>
										<div class="panel panel-default">
										  <div class="panel-heading">
											<h5 class="panel-title">
											  <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_6">Ut enem magana sed dolore</a>
											</h5>
										  </div>
										  <div id="accordion1_6" class="panel-collapse collapse">
											<div class="panel-body">
											  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim minim veniam quis nostrud exercitation dolore magna ullamco.</p>
											  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco sed eiusmod tempor ut labore et dolore.</p>
											</div>
										  </div>
										</div>
									  </div>
									  
									<div class="item_inner question">
										<h4>Got Questions?</h4>
										<h5>For Further Information Contact:</h5>
										<h6>HFC</h6>
										<p>Team<br/>(021) 6336789, ext. 1824<br/><a href="mailto:hfc@btn.co.id">hfc@btn.co.id</a></p>
									</div>
								</div>
								<div role="tabpanel" class="tab-pane" id="silabus_desc" th:utext="${detail.silabusDesc}"></div>
								<div role="tabpanel" class="tab-pane" id="testimoni"></div>
								<div role="tabpanel" class="tab-pane" id="teacher">
									<ul class="default-list">
										<th:block th:each="t, i : ${detail.teachers}">
											<li th:text="${t.teacherName}"></li>
										</th:block>
									</ul>
								</div>
								<div role="tabpanel" class="tab-pane" id="galeri"></div>
								<div role="tabpanel" class="tab-pane" id="facility_desc" th:utext="${detail.facilityDesc}"></div>
								<div role="tabpanel" class="tab-pane" id="download_brochure_desc">
									<th:block th:if="${detail.brochureURL!=null}">
										<img th:src="${detail.encodedBrochureImage}"/>
										<a th:href="${detail.encodedBrochureImage}" th:attr="download=${detail.title}"><img th:src="@{/images/download-now.png}" id="download" class="download-button"/></a>
									</th:block>
								</div>
							</div>
						</div><!--end single content left-->
					</div>
					<th:block th:if="${detail.programDisplayLookup.code == T(id.base.app.ILookupConstant.LearningDisplay).NOT_FULL_SCREEN_SIDEBAR_RIGHT}">
						<div class="col-xs-12 col-sm-4 col-md-4 short-desc-content"></div>
					</th:block>		
				</div><!--end sidebar-->
			</div>	
		</div>
		
	<div class="hidden">
		<div id="short-desc">
			<div class="sidebar">
				<th:block th:if="${detail.brochureURL!=null}">
					<img th:src="${detail.encodedBrochureImage}"/>
				</th:block>
				<div class="sidebar_item">
					<div class="item_inner program">
						<h4>Keterangan Singkat</h4>
						<ul>
							<th:block th:if="${detail.code!=null and detail.code!=''}">
								<li><span>Kode:</span><br/><th:block th:text="${detail.code}"></th:block></li>
							</th:block>
							<li><span>Tanggal:</span><br/><th:block th:text="${detail.eventDate}"></th:block></li>
							<th:block th:if="${detail.location!=null and detail.location!=''}">
								<li><span>Tempat:</span><br/><th:block th:utext="${detail.location}"></th:block></li>
							</th:block>
							<li><span>Pengajar/Pembicara:</span><br/>
							<ul class="default-list">
								<th:block th:each="t, i : ${detail.teachers}">
									<li th:text="${t.teacherName}"></li>
								</th:block>
							</ul>
							</li>
							<li><span>Metode:</span><br/><th:block th:text="${detail.methodLookup.descr}"></th:block></li>
							<li><span>Penyelenggara:</span><br/>
							<th:block th:if="${detail.organizerDetail!=null and detail.organizerDetail!=''}">
								<th:block th:text="${detail.organizerDetail}"></th:block>
							</th:block>
							<th:block th:if="${detail.organizerDetail==null or detail.organizerDetail==''}">
								<th:block th:text="${detail.organizerLookup.descr}"></th:block>
							</th:block>
							</li>
							<li><span>Pembayaran:</span><br/>
							<th:block th:if="${detail.paymentDetail!=null and detail.paymentDetail!=''}">
								<th:block th:text="${detail.paymentDetail}"></th:block>
							</th:block>
							<th:block th:if="${detail.paymentDetail==null or detail.paymentDetail==''}">
								<th:block th:text="${detail.paymentLookup.descr}"></th:block>
							</th:block>
							</li>
							<li><span>Sertifikasi:</span><br/><th:block th:text="${detail.isCertification?'Yes':'No'}"></th:block></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
<script th:inline="javascript">
	/*<![CDATA[*/
	setNavbarActive('program');
	
	$(function(){
		$('.registerButton').click(function(){
			var link = /*[[@{/page/contact/}]]*/;
			window.location.href = link + $(this).attr('categoryPermalink')+'/'+$(this).attr('permalink');
		});
		
		if($('.short-desc-content').length>0){
			$('.short-desc-content').html($('#short-desc').html());
		}
	})
	/*]]>*/
</script>           
</body>
</html>