<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
</head>
<body>
		<div class="breadcrumb-wrapper">
			<div class="breadcrumb">
				<div class="container">
					<ul>
					<li><a th:href="@{/}">Beranda</a></li>
					<li><a th:href="@{/page/main-program}">Program</a></li>
					<li><a th:href="@{/page/main-program/learning}">Learning</a></li>
					<li><a th:href="@{/page/main-program/learning/kursus}">Kursus</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="hexa-top-right-long green">
			<div class="top_post_section back-gradient-transparent">
				<div class="container">
					<div class="row">
						<div class="col-md-4 loop card-not-active">
							<div class="card-image">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 600 400" version="1.1" preserveAspectRatio="xMidYMin slice">
								  <defs>
								    <pattern id="img-seminar" patternUnits="userSpaceOnUse" width="600" height="400">
								      <image width="600" height="400" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/Site/images/dummy/seminar.jpg"></image>
								    </pattern>
								  </defs>
								  <polygon id="hex-seminar" fill="url(#img-seminar)" points="300,0 600,100 600,300 300,400 0,300 0,100"></polygon>
								</svg>
							</div>
							<div class="card-box">
								<h2 class="card-title"><a href="/Site/page/main-program/learning/seminar">SEMINAR</a></h2>
								<div class="card-clear"></div>
							</div>
						</div>
						<div class="col-md-4 loop card-not-active">
							<div class="card-image">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 600 400" version="1.1" preserveAspectRatio="xMidYMin slice">
								  <defs>
								    <pattern id="img-workshop" patternUnits="userSpaceOnUse" width="600" height="400">
								      <image width="600" height="400" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/Site/images/dummy/workshop.jpg"></image>
								    </pattern>
								  </defs>
								  <polygon id="hex-workshop" fill="url(#img-workshop)" points="300,0 600,100 600,300 300,400 0,300 0,100"></polygon>
								</svg>
							</div>
							<div class="card-box">
								<h2 class="card-title"><a href="/Site/page/main-program/learning/workshop">WORKSHOP</a></h2>
								<div class="card-clear"></div>
							</div>
						</div>
						<div class="col-md-4 loop card-active">
							<div class="card-image">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 600 400" version="1.1" preserveAspectRatio="xMidYMin slice">
								  <defs>
								    <pattern id="img-kursus" patternUnits="userSpaceOnUse" width="600" height="400">
								      <image width="600" height="400" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/Site/images/dummy/kursus.jpg"></image>
								    </pattern>
								  </defs>
								  <polygon id="hex-kursus" fill="url(#img-kursus)" points="300,0 600,100 600,300 300,400 0,300 0,100"></polygon>
								</svg>
							</div>
							<div class="card-box">
								<h2 class="card-title"><a href="/Site/page/main-program/learning/kursus">KURSUS</a></h2>
								<div class="card-clear"></div>
							</div>
						</div>					
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="top-desc">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
							</div>
							<div class="bottom-left-yellow"></div>
							<div class="bottom-right-blue"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="clear"></div>
			<div class="hexa-top-green-left-long">
			<div class="post_section back-gradient-transparent-force-white">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<form class="filter">
								<div class="row">
									<div class="col-md-3">
										<select class="form-control param">
											<option>-- Periode --</option>
											<option selected="selected">Periode Yang Akan Datang</option>
											<option>Periode Yang Telah Terselenggara</option>
										</select>
									</div>
									<div class="col-md-2">
										<select class="form-control param">
											<option>-- Metode --</option>
											<option>Klasik (Tatap Muka)</option>
											<option>e-Learning</option>
										</select>
									</div>
									<div class="col-md-3">
										<select class="form-control param">
											<option>-- Penyelenggara --</option>
											<option>Internal</option>
											<option>Kerjasama dengan Perguruan Tinggi</option>
											<option>Kerjasama degang partner</option>
										</select>
									</div>
									<div class="col-md-3">
										<select class="form-control param">
											<option>-- Jenis Pembayaran --</option>
											<option>Gratis</option>
											<option>Berbayar</option>
										</select>
									</div>
									<div class="col-md-1">
										<button type="button" class="btn btn-danger mrdy_btn search">Cari</button>
									</div>
								</div>
							</form>
						</div>
					</div>
					<br/>
					<div class="row list_data">
					
						<div id="template" class="col-md-6 data_result">
							<div class="post post-polygon2">
								<div class="row">
									<div class="col-md-6">
										<div class="post_thumb_wrapper">
											<div class="post_thumb">
												<svg class="show_detail my_link" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 600 400" version="1.1" preserveAspectRatio="xMidYMin slice">
												  <defs>
												    <pattern id="img-k1" patternUnits="userSpaceOnUse" width="600" height="400">
												      <image width="600" height="400" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/Site/images/dummy/seminar1.jpg"></image>
												    </pattern>
												  </defs>
												  <polygon id="hex-k1" fill="url(#img-k1)" points="300,0 600,100 600,300 300,400 0,300 0,100"></polygon>
												</svg>
												<div class="overlay">
												    <div class="text show_detail my_link"><i class="fa fa-align-left"></i> Baca</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<h2><a href="#"><label class="title_engagement show_detail my_link">Kursus 1</label></a></h2>
										<span class="date-wrapper"><i class="fa fa-calendar date-icon" aria-hidden="true"></i><span class="date">02-Apr-2019</span></span>
									</div>
								</div>
								<div class="bottom-left-yellow"></div>
								<div class="bottom-right-blue"></div>
							</div>
						</div>					
						
					
					
						<div id="template" class="col-md-6 data_result">
							<div class="post post-polygon2">
								<div class="row">
									<div class="col-md-6">
										<div class="post_thumb_wrapper">
											<div class="post_thumb">
												<svg class="show_detail my_link" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 600 400" version="1.1" preserveAspectRatio="xMidYMin slice">
												  <defs>
												    <pattern id="img-k2" patternUnits="userSpaceOnUse" width="600" height="400">
												      <image width="600" height="400" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/Site/images/dummy/seminar3.jpg"></image>
												    </pattern>
												  </defs>
												  <polygon id="hex-k2" fill="url(#img-k2)" points="300,0 600,100 600,300 300,400 0,300 0,100"></polygon>
												</svg>
												<div class="overlay">
												    <div class="text show_detail my_link"><i class="fa fa-align-left"></i> Baca</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<h2><a href="#"><label class="title_engagement show_detail my_link">Kursus 2</label></a></h2>
										<span class="date-wrapper"><i class="fa fa-calendar date-icon" aria-hidden="true"></i><span class="date">02-Apr-2019</span></span>
									</div>
								</div>
								<div class="bottom-left-yellow"></div>
								<div class="bottom-right-blue"></div>
							</div>
						</div>					
						
							<div class="clear"></div>
						
					
					
						<div id="template" class="col-md-6 data_result">
							<div class="post post-polygon2">
								<div class="row">
									<div class="col-md-6">
										<div class="post_thumb_wrapper">
											<div class="post_thumb">
												<svg class="show_detail my_link" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 600 400" version="1.1" preserveAspectRatio="xMidYMin slice">
												  <defs>
												    <pattern id="img-k3" patternUnits="userSpaceOnUse" width="600" height="400">
												      <image width="600" height="400" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/Site/images/dummy/seminar3.jpg"></image>
												    </pattern>
												  </defs>
												  <polygon id="hex-k3" fill="url(#img-k3)" points="300,0 600,100 600,300 300,400 0,300 0,100"></polygon>
												</svg>
												<div class="overlay">
												    <div class="text show_detail my_link"><i class="fa fa-align-left"></i> Baca</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<h2><a href="#"><label class="title_engagement show_detail my_link">Kursus 3</label></a></h2>
										<span class="date-wrapper"><i class="fa fa-calendar date-icon" aria-hidden="true"></i><span class="date">04-Feb-2019</span></span>
									</div>
								</div>
								<div class="bottom-left-yellow"></div>
								<div class="bottom-right-blue"></div>
							</div>
						</div>
						
						<div id="template" class="col-md-6 data_result">
							<div class="post post-polygon2">
								<div class="row">
									<div class="col-md-6">
										<div class="post_thumb_wrapper">
											<div class="post_thumb">
												<svg class="show_detail my_link" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 600 400" version="1.1" preserveAspectRatio="xMidYMin slice">
												  <defs>
												    <pattern id="img-k4" patternUnits="userSpaceOnUse" width="600" height="400">
												      <image width="600" height="400" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/Site/images/dummy/seminar4.jpg"></image>
												    </pattern>
												  </defs>
												  <polygon id="hex-k4" fill="url(#img-k4)" points="300,0 600,100 600,300 300,400 0,300 0,100"></polygon>
												</svg>
												<div class="overlay">
												    <div class="text show_detail my_link"><i class="fa fa-align-left"></i> Baca</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<h2><a href="#"><label class="title_engagement show_detail my_link">Kursus 4</label></a></h2>
										<span class="date-wrapper"><i class="fa fa-calendar date-icon" aria-hidden="true"></i><span class="date">02-Apr-2019</span></span>
									</div>
								</div>
								<div class="bottom-left-yellow"></div>
								<div class="bottom-right-blue"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div>
		
		<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		setNavbarActive('program');
		
		/*]]>*/
		</script>
</body>
</html>