<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
</head>
<body>
		<div class="breadcrumb-wrapper">
			<div class="breadcrumb">
				<div class="container">
					<ul>
					<li><a th:href="@{/}">Beranda</a></li>
					<li><a th:href="@{/page/main-program}">Program</a></li>
					<li><a th:href="@{/page/main-program/learning}">Learning</a></li>
					<li><a href="#" th:text="${category.title}"></a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="hexa-top-right-long green">
			<div class="top_post_section back-gradient-transparent">
				<div class="container">
					<div class="row">
					<th:block th:each="data , i : ${categories}">
						<div class="col-md-4 loop card-active" th:classappend="${data.permalink==permalink} ? card-active : card-not-active">
							<div class="card-image">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 600 400" version="1.1" preserveAspectRatio="xMidYMin slice">
								  <defs>
								    <pattern th:attr="id='img'+${i.count}" patternUnits="userSpaceOnUse" width="600" height="400">
								      <image width="600" height="400" xmlns:xlink="http://www.w3.org/1999/xlink" th:attr="'xlink:href'=${data.encodedPicture}"></image>
								    </pattern>
								  </defs>
								  <polygon th:attr="id='hex'+${i.count},fill='url(#img'+${i.count}+')'" points="300,0 600,100 600,300 300,400 0,300 0,100"></polygon>
								</svg>
							</div>
							<div class="card-box">
								<h2 class="card-title"><a th:href="@{/page/main-program/learning/}+${data.permalink}" th:text="${data.title}"></a></h2>
								<div class="card-clear"></div>
							</div>
						</div>
					</th:block>					
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="top-desc" th:utext="${category.description}"></div>
							<div class="bottom-left-yellow"></div>
							<div class="bottom-right-blue"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="clear"></div>
			<div class="hexa-top-green-left-long">
			<div class="post_section back-gradient-transparent-force-white">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<form class="filter">
								<div class="row">
									<div class="col-md-3">
										<select class="form-control param">
											<option>-- Periode --</option>
											<option selected="selected">Periode Yang Akan Datang</option>
											<option>Periode Yang Telah Terselenggara</option>
										</select>
									</div>
									<div class="col-md-2">
										<select class="form-control param">
											<option>-- Metode --</option>
											<option th:each="opt : ${methodOptions}" th:value="${opt.code}" th:text="${opt.name}">Name</option>
	                           			</select>
									</div>
									<div class="col-md-3">
										<select class="form-control param">
											<option>-- Penyelenggara --</option>
											<option th:each="opt : ${organizerOptions}" th:value="${opt.code}" th:text="${opt.name}">Name</option>
	                           			</select>
									</div>
									<div class="col-md-3">
										<select class="form-control param">
											<option>-- Jenis Pembayaran --</option>
											<option th:each="opt : ${paymentOptions}" th:value="${opt.code}" th:text="${opt.name}">Name</option>
	                           			</select>
									</div>
									<div class="col-md-1">
										<button type="button" class="btn btn-danger mrdy_btn search">Cari</button>
									</div>
								</div>
							</form>
						</div>
					</div>
					<br/>
					<div class="row list_data">
						<th:block th:each="data , i : ${items.result}">
						<div id="template" class="col-md-6 data_result">
							<div class="post post-polygon2">
								<div class="row">
									<div class="col-md-6">
										<div class="post_thumb_wrapper">
											<div class="post_thumb">
												<svg class="show_detail my_link" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 600 400" version="1.1" preserveAspectRatio="xMidYMin slice">
												  <defs>
												    <pattern th:attr="id='imgItem'+${i.count}" patternUnits="userSpaceOnUse" width="600" height="400">
												      <image width="600" height="400" xmlns:xlink="http://www.w3.org/1999/xlink" th:attr="'xlink:href'=${data.encodedPicture}"></image>
												    </pattern>
												  </defs>
												  <polygon th:attr="id='hexItem'+${i.count},fill='url(#imgItem'+${i.count}+')'" points="300,0 600,100 600,300 300,400 0,300 0,100"></polygon>
												</svg>
												<div class="overlay">
												    <div class="text show_detail my_link"><i class="fa fa-align-left"></i> Baca</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<h2><a th:href="@{/page/main-program/learning/detail/}+${data.learningPermalink}"><label class="title_engagement show_detail my_link" th:text="${data.title}"></label></a></h2>
										<span class="date-wrapper"><i class="fa fa-calendar date-icon" aria-hidden="true"></i><span class="date" th:text="${data.eventDate}"></span></span>
									</div>
								</div>
								<div class="bottom-left-yellow"></div>
								<div class="bottom-right-blue"></div>
							</div>
						</div>					
						</th:block>	
					</div>
				</div>
			</div>
			<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div>
		
		<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		setNavbarActive('program');
		
		/*]]>*/
		</script>
</body>
</html>