<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
</head>
<body>
		<div class="breadcrumb-wrapper">
			<div class="breadcrumb">
				<div class="container">
					<ul>
					<li><a th:href="@{/}">Beranda</a></li>
					<li><a th:href="@{/page/main-program}">Program</a></li>
					<li><a th:href="@{/page/main-program/learning}">Learning</a></li>
					<li><a href="#" th:text="${categoryTitle}"></a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="hexa-top-right-long blue">
			<div class="top_post_section back-gradient-transparent">
				<div class="container">
					<div class="row">
					<input type="hidden" name="categoryPermalink" th:value="${categoryPermalink}"/>
					<th:block th:if="${itemsSize==1}">
						<div class="col-md-4"></div>
					</th:block>
					<th:block th:if="${itemsSize==2}">
						<div class="col-md-2"></div>
					</th:block>
					<th:block th:each="data , i : ${items.result}">
						<div class="col-md-4 loop card-active">
							<div class="card-image">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 600 400" version="1.1">
								  <defs>
								    <pattern th:attr="id='img'+${i.count}" patternUnits="userSpaceOnUse" width="600" height="400">
								      <image width="600" height="400" xmlns:xlink="http://www.w3.org/1999/xlink" th:attr="'xlink:href'=${data.encodedPicture}"></image>
								    </pattern>
								  </defs>
								  <polygon th:attr="id='hex'+${i.count},fill='url(#img'+${i.count}+')'" points="300,0 600,100 600,300 300,400 0,300 0,100"></polygon>
								</svg>
							</div>
							<div class="card-box">
								<h2 class="card-title"><a th:href="@{/page/main-program/learning/}+${categoryPermalink}+'/'+${data.programPermalink}" th:text="${data.title}"></a></h2>
								<div class="card-clear"></div>
							</div>
						</div>
					</th:block>
					<th:block th:if="${itemsSize==2}">
						<div class="col-md-2"></div>
					</th:block>					
					<th:block th:if="${itemsSize==1}">
						<div class="col-md-4"></div>
					</th:block>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		
		<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		setNavbarActive('program');
		function showPaging(maxRecord, currentRecord){
			if(maxRecord <= currentRecord || currentRecord == 0){
				$('.pagination_part').hide();
			}else{
				$('.pagination_part').show();
			}
		}
		
		function processData(datas, load){
			var load_content = '';
			for(var i=0;i<datas.length;i++){
				var cloning = $('.template_part .data_result').eq(0).clone();
				cloning.find('.post_thumb svg pattern').attr('id',i);
				cloning.find('.post_thumb svg image').attr('xlink:href',datas[i].encodedPicture);
				cloning.find('.post_thumb svg polygon').attr('id','hex'+i);
				cloning.find('.post_thumb svg polygon').attr('fill','url(#'+i+')');
				cloning.find('.title_news').html(datas[i].title);
				cloning.find('.date').html(datas[i].publishedDate);
				cloning.find('input[name="identity"]').val(datas[i].permalink);
				cloning.wrap('<div></div>');
				if(!load){
					$('.list_data').append(cloning.parent().html());
				}else{
					load_content = load_content + cloning.parent().html();
				}
			}
			
			if(load){
				$('.list_data').html(load_content);
			}
		}
		
		$(function(){
			var maxRecord = /*[[${items.maxRecord}]]*/;
			var currentRecord = /*[[${items.currentRecord}]]*/;
			
			heightsEqualizer('.card-box');
			
			showPaging(maxRecord, currentRecord);
			
			var constructDataPost = function(loadMore){
				if(loadMore==1){
					var nextStartNo = parseInt($('.startNo').val()) + parseInt($('.offset').val());
					var offset = $('.offset').val();
					var data = {startNo : nextStartNo, offset : offset};
				}else{
					var data = {};
				}
				
				$('.param').each(function(){
					var param = {[$(this).attr('name')]: $(this).val()};
					$.extend(data,param);
				});
				return data;
			}
			
			$('.load_more').unbind('click').click(function(e){
				e.preventDefault();
				var sURL = /*[[@{/page/main-program/learning/load/}]]*/
					sURL += $('input[name="categoryPermalink"]').val();
				$.ajax({
		            type: 'POST',
		            url: sURL,
		            data: constructDataPost(1),
		            dataType: 'json',
		            success: function (data) {
		            	$('.load_pagination').hide();
		            	$('.mrdy_btn').setOverlay({enabled:false});
		            	processData(data.items.result, false);		
		            	var newMaxRecord = data.items.maxRecord;
		            	var newCurrentRecord = data.items.currentRecord;
		            	showPaging(newMaxRecord, newCurrentRecord);
		            	$('.startNo').val(data.items.startRecordIndex);
		            },
		            beforeSend: function($jqXHR, $textStatus){
						$('.load_pagination').show();
						$('.mrdy_btn').setOverlay({enabled:true});
					},
					error: function ($jqXHR, $textStatus, $errorThrown) {
						$('.load_pagination').hide();
						$('.mrdy_btn').setOverlay({enabled:false});
					},
					complete: function($jqXHR, $textStatus){
						$('.load_pagination').hide();
						$('.mrdy_btn').setOverlay({enabled:false});
					}
		        });				
			});
			
			$('.search').unbind('click').click(function(){
				var sURL = /*[[@{/page/main-program/learning/load/}]]*/
					sURL += $('input[name="categoryPermalink"]').val();
				var img_url = /*[[@{/images/gif/hex-loader.gif}]]*/;
				$.ajax({
		            type: 'POST',
		            url: sURL,
		            data: constructDataPost(0),
		            dataType: 'json',
		            success: function (data) {
		            	$('.pagination_part').hide();
		            	$('.loading_reload').remove();
		            	$('.mrdy_btn').setOverlay({enabled:false});
		            	processData(data.items.result, true);
		            	var newMaxRecord = data.items.maxRecord;
		            	var newCurrentRecord = data.items.currentRecord;
		            	showPaging(newMaxRecord, newCurrentRecord);
		            	$('.startNo').val(data.items.startRecordIndex);
		            },
		            beforeSend: function($jqXHR, $textStatus){
		            	$('.list_data').html('<div class="col-md-12 loading_reload" style="display: block; margin-left: auto; margin-right: auto;text-align: center;"><img src="'+img_url+'" /></div>');
						$('.mrdy_btn').setOverlay({enabled:true});
					},
					error: function ($jqXHR, $textStatus, $errorThrown) {
						$('.loading_reload').remove();
						$('.mrdy_btn').setOverlay({enabled:false});
					},
					complete: function($jqXHR, $textStatus){
						$('.loading_reload').remove();
						$('.mrdy_btn').setOverlay({enabled:false});
					}
		        });				
			});
			
			$(document).on('click','.show_detail',function(){
				var link = /*[[@{/page/main-program/learning/}]]*/ '';
				link += $('input[name="categoryPermalink"]').val()+"/";
				window.location.href = link + $(this).parents('.post').find('input[name="identity"]').val();
			});
		});
		/*]]>*/
		</script>
</body>
</html>