<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>
</head>
<body>
	<div class="breadcrumb-wrapper">
			<div class="breadcrumb">
				<div class="container">
					<ul>
					<li><a th:href="@{/}">Home</a></li>
					<li><a th:href="@{/page/learning}">Learning</a></li>
					<li><a href="#" th:text="${title}"></a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="courses_section">
			<div class="container">
				<h1 th:text="${title}"></h1><br/>
				<div class="row">
					<div class="col-md-6">
						<form action="#" method="post">
							<div class="container">
								<div class="row">
									<div class="span12">
										<div id="tab" class="btn-group" data-toggle="buttons">
											<a href="#prices" class="btn btn-default active" data-toggle="tab">
												<input type="radio" />-- Semua Kategori --</a>
											<a href="#features" class="btn btn-default" data-toggle="tab">
												<input type="radio" />Internal</a>
											<a href="#requests" class="btn btn-default" data-toggle="tab">
												<input type="radio" />Join Program</a>
											<a href="#contact" class="btn btn-default" data-toggle="tab">
												<input type="radio" />Omnibus</a>
										</div>
									</div>
								</div>
							</div>							
						</form>
					</div>
					<div class="col-md-6">
						<div class="input-group">
						  <input type="text" class="form-control" placeholder="Program" aria-describedby="basic-addon2" />
						  <span class="input-group-addon" id="basic-addon2"><i class="fa fa-search" aria-hidden="true"></i></span>
						</div>
						<div class="input-group search-popup">
						  <label class="aos-search-title">Area of Studies : </label> 
						  <div class="aos-search-content"></div>
						  <span class="input-group-addon" id="basic-addon2" data-toggle="modal" data-target="#aos-modal"><i class="fa fa-sliders" aria-hidden="true"></i></span>
						</div>
					</div>
				</div>
				<br/>
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">	
						<div class="courses">
							<table class="table table-bordered table-striped">
								<thead>
								  <tr>
									<th>&nbsp;</th>
									<th>Program</th>
									<th class="all-category">Kategori</th>
									<th class="join-program">Dengan</th>
									<th>Durasi</th>
								  </tr>
								</thead>
								<tbody>
								  <tr class="course-list-content" th:each="course, i : ${courses.result}">
									<td class="course-thumb">
										<img th:src="${course.basicPictureURL}"/>
									</td>
									<td>
										<h3 class="course-title">
											<a href="#" class="show_detail" th:text="${course.name}"></a>
											<input type="hidden" name="identity" th:value="${course.pkCourse}" />
											<input type="hidden" name="title" th:value="${course.name}" />
										</h3>
										<span class="tag">property</span>
										<span class="tag">developer</span>
									</td>
									<td class="all-category" th:text="${course.categoryLookup.name}"></td>
									<td class="join-program">Universitas Indonesia</td>
									<td th:text="${course.admissionRequirement}"></td>
								  </tr>
								</tbody>
							  </table>
						</div>
						
						<ul class="pagination">
							<li>
							  <a aria-label="Previous" href="#">
								<span aria-hidden="true">Previous</span>
							  </a>
							</li>
							<li class="active"><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">5</a></li>
							<li><a href="#">6</a></li>
							<li><a href="#">...</a></li>
							<li><a href="#">38</a></li>
							<li>
							  <a aria-label="Next" href="#">
								<span aria-hidden="true">Next</span>
							  </a>
							</li>
						  </ul>
						
					</div><!--end post_right-->
					
				</div>
				<input type="hidden" name="titleGroup" th:value="${title}"/>
				<input type="hidden" name="identityGroup" th:value="${idGroup}"/>
			</div>
		</div><!--end post section-->
		
		<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		$('.show_detail').unbind('click').click(function(){
			var param = $(this).parents('.course-list-content').find('input[name="identity"]').val();
			var title = $(this).parents('.course-list-content').find('input[name="title"]').val();
			var titleGroup = replaceall($('input[name="titleGroup"]').val()," ","-");
			var idGroup = $('input[name="identityGroup"]').val();
			title = replaceall(title, " ", "-");
			var link = /*[[@{/page/learning/programDetail/}]]*/ '';
			link = link + titleGroup + "/" + idGroup + "/" + title + "/" + param;
			window.location.href = link;
		});
		/*]]>*/
		</script>
</body>
</html>