<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="author" content="Mardy Jonathan"/>
<title></title>
</head>
<body>
	<div class="breadcrumb-wrapper">
			<div class="breadcrumb">
				<div class="container">
					<ul>
					<li><a th:href="@{/}">Beranda</a></li>
					<li><a th:href="@{/page/learning}">Learning</a></li>
					<li><a href="#" th:text="${title}"></a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="courses_section">
			<div class="container">
				<h1 th:text="${title}"></h1><br/>
				<div class="row">
					<div class="col-md-6">
						<form action="#" method="post">
							<div class="container">
								<div class="row">
									<div class="span12">
										<div id="tab" class="btn-group cat_tab" data-toggle="buttons">
											<a href="#prices" class="btn btn-default active change_cat" data-toggle="tab">
												<input type="radio" value=""/><label>-- Semua Kategori --</label></a>
											<a href="#features" class="btn btn-default change_cat" data-toggle="tab" th:each="category, i : ${categories}">
												<input type="radio" th:value="${category.pkLookup}"/><label th:text="${category.name}">Internal</label></a>
										</div>
									</div>
								</div>
							</div>							
						</form>
					</div>
					<div class="col-md-6">
						<div class="input-group">
						  <input type="text" class="form-control param" placeholder="Program" aria-describedby="basic-addon2" />
						  <span class="input-group-addon btn_search" id="basic-addon2"><i class="fa fa-search" aria-hidden="true"></i></span>
						</div>
						<div class="input-group search-popup">
						  <label class="aos-search-title">Area of Studies : </label> 
						  <div class="aos-search-content"></div>
						  <span class="input-group-addon" id="basic-addon2" data-toggle="modal" data-target="#aos-modal"><i class="fa fa-sliders" aria-hidden="true"></i></span>
						</div>
					</div>
				</div>
				<br/>
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">	
						<div class="courses">
							<table class="table table-bordered table-striped">
								<thead>
								  <tr>
									<th>&nbsp;</th>
									<th>Program</th>
									<th class="all-category">Kategori</th>
								  </tr>
								</thead>
								<tbody class="list_data">
								  <tr id="template" class="course-list-content data_result" th:each="course, i : ${courses.result}">
									<td class="course-thumb">
										<img th:src="${course.encodedPicture}"/>
									</td>
									<td style="width: 50%;">
										<h3 class="course-title">
											<a href="#" class="show_detail course_name" th:text="${course.name}"></a>
											<input type="hidden" class="identity" name="identity" th:value="${course.pkProgramItem}" />
											<input type="hidden" class="title" name="title" th:value="${course.title}" />
										</h3>
										<span class="tag" th:each="tag, i : ${course.listTags}" th:text="${tag}">property</span>
									</td>
									<td class="all-category course_category" th:text="${course.categoryLookup.name}"></td>
								  </tr>
								</tbody>
							  </table>
						</div>
						
						<ul class="pagination">
							<li class="prev">
							  <a aria-label="Previous" href="#">
								<span aria-hidden="true">Previous</span>
							  </a>
							</li>
							<th:block th:each="j : ${#numbers.sequence(1, courses.noOfPage)}" th:if="${courses.noOfPage &gt; 0}">
							<li th:if="${j==courses.currentPage}" class="active" th:classappend="${j}"><a href="#" th:text="${j}"></a></li>
							<li th:unless="${j==courses.currentPage}" class="change_page" th:classappend="${j}"><a href="#" th:text="${j}"></a></li>
							</th:block>
							<th:block th:unless="${courses.noOfPage &gt; 0}">
								<li class="active" th:classappend="1"><a href="#" th:text="1"></a></li>
							</th:block>
							<li class="next">
							  <a aria-label="Next" href="#">
								<span aria-hidden="true">Next</span>
							  </a>
							</li>
						  </ul>
						  <input type="hidden" th:value="${courses.startRecordIndex}" class="startNo"/>
						  <input type="hidden" th:value="${courses.recordsPerPage}" class="offset"/>
					</div><!--end post_right-->
					
				</div>
				<input type="hidden" name="titleGroup" th:value="${title}"/>
				<input type="hidden" name="identityGroup" th:value="${idGroup}"/>
			</div>
		</div><!--end post section-->
		
		<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		var catValue="";           
		           
		$(function(){
			var page = /*[[${courses.noOfPage}]]*/;
			
			$('.show_detail').unbind('click').click(function(){
				var param = $(this).parents('.course-list-content').find('input[name="identity"]').val();
				var title = $(this).parents('.course-list-content').find('input[name="title"]').val();
				var titleGroup = replaceall($('input[name="titleGroup"]').val()," ","-");
				var idGroup = $('input[name="identityGroup"]').val();
				title = replaceall(title, " ", "-");
				var link = /*[[@{/page/learning/program/detail/}]]*/ '';
				link = link + idGroup + "/" + titleGroup + "/" + param + "/" + title;
				window.location.href = link;
			});
			
			$('.change_page').unbind('click').click(function(){
				changePage($(this));
			});
			
			$('.btn_search, .btn_search_tag').unbind('click').click(function(){
				changePage($(this),1);
			});
			
			$('.reset_tag').unbind('click').click(function(){
				$('.tags').removeAttr('checked');
			});
			
			$('.change_cat').unbind('click').click(function(){
				catValue = $(this).find('input[type="radio"]').attr('value');
				changePage($(this),1);
			});
			
			checkPagination();
		});
		
		function checkPagination(){
			var activePage = $('.active').find('a').html();
			var noOfPage = /*[[${courses.noOfPage}]]*/
			if(activePage>1){
				$('.prev').unbind('click').click(function(){
					var nextPage = parseInt($('.active').find('a').html()) - 1;
					changePage($(this), nextPage);
				});
			}else{
				$('.prev').unbind('click');
			}
			
			if(activePage<noOfPage){
				$('.next').unbind('click').click(function(){
					var nextPage = parseInt($('.active').find('a').html()) + 1;
					changePage($(this), nextPage);
				});
			}else{
				$('.next').unbind('click');
			}
		}
		
		function getParamSearch(){
			var paramSearch = $('.param').val();
			return paramSearch;
		}
		
		function getAreaStudies(){
			
			var area = "";
			if($('.tags:checked').length>0){
				area = $('.tags:checked').val();
			}
			return area;
		}
		
		function changePage(elem, paramNextPage){
			var id = /*[[${idGroup}]]*/;
			var title = /*[[${title}]]*/;
			title = replaceall(title, " ", "-");
			var sURL = /*[[@{/page/learning/program/}]]*/
			sURL = sURL + id + "/" + title + "/load";
			var param = $('.param').val();
			var nextPage = paramNextPage ? paramNextPage : elem.find('a').html();
			var oldPage = $('.active').find('a').html();
			var nextStartNo = (parseInt($('.offset').val()) * (parseInt(nextPage)-1)) + 1;
			var offset = $('.offset').val();
			var searchParam = getParamSearch();
			var areaParam = getAreaStudies();
			var img_url = /*[[@{/images/gif/hex-loader.gif}]]*/;
			$.ajax({
	            type: 'GET',
	            url: sURL,
	            data: {filter : param, startNo : nextStartNo, offset : offset, category : catValue, searchParam : searchParam, areaParam : areaParam},
	            dataType: 'json',
	            success: function (data) {
	            	if(data){
		            	if(!data.errors){
			            	$('.load_reload_wrapper').remove();
			            	$('.mrdy_btn').setOverlay({enabled:true});
			            	processData(data.courses.result, false);	
			            	$('.'+nextPage).addClass('active');
			            	$('.'+nextPage).removeClass('change_page');
			            	$('.'+oldPage).removeClass('active');
			            	$('.'+oldPage).addClass('change_page');
			            	$('.change_page').unbind('click').click(function(){
			    				changePage($(this));
			    			});
			            	checkPagination();
		            	}else if(data.errors){
		            		alert(data.errors);
		            	}
	            	}
	            },
	            beforeSend: function($jqXHR, $textStatus){
	            	$('.list_data').html('<tr class="load_reload_wrapper"><td colspan="5"><div class="col-md-12 loading_reload" style="display: block; margin-left: auto; margin-right: auto;text-align: center;"><img src="'+img_url+'" /></div></td></tr>');
					$('.mrdy_btn').setOverlay({enabled:false});
				},
				error: function ($jqXHR, $textStatus, $errorThrown) {
					$('.load_reload_wrapper').remove();
					$('.mrdy_btn').setOverlay({enabled:true});
				},
				complete: function($jqXHR, $textStatus){
					$('.load_reload_wrapper').remove();
					$('.mrdy_btn').setOverlay({enabled:true});
				}
	        });
		}
		
		
		function processData(datas, load){
			var load_content = '';
			for(var i=0;i<datas.length;i++){
				var cloning = $('.template_part .data_result').eq(0).clone();
				cloning.find('.course-thumb').find('img').attr('src',datas[i].encodedPicture);
				cloning.find('.course_name').html(datas[i].name);
				cloning.find('.identity').html(datas[i].pkCourse);
				cloning.find('.title').html(datas[i].name);
				cloning.find('.course_category').html(datas[i].categoryLookup.name);
				cloning.find('.course_duration').html(datas[i].admissionRequirement);
				cloning.wrap('<div></div>');
				if(!load){
					$('.list_data').append(cloning.parent().html());
				}else{
					load_content = load_content + cloning.parent().html();
				}
			}
			
			if(load){
				$('.list_data').html(load_content);
			}
		}
		/*]]>*/
		</script>
</body>
</html>