<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="author" content="Mardy Jonathan"/>
<title></title>
</head>
<body>
	<div class="breadcrumb-wrapper">
			<div class="breadcrumb">
				<div class="container">
					<ul>
					<li><a th:href="@{/}">Home</a></li>
					<li><a th:href="@{/page/learning}">Learning</a></li>
					<li><a th:href="@{/page/learning/program/}+${titleGroup}+'/'+${idGroup}">Foundation Property Developer</a></li>
					<li><a href="#">Building the Frame for Business Growth</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="single_banner">
			<div th:style="'background-image:url('+ @{/images/banner_01.jpg} +');width:100%;height:200px;background-size: 100%;'" class="banner_img_background"></div>
			<div class="container large">
				<div class="row">
					<div class="col-xs-12">
						<div class="single_banner_inner">
							<div class="single_caption">
								<div class="col-md-10 course-detail-title">
									<h1>Building the Frame for Business Growth</h1>
									<h2>Sub Title Learning</h2>
								</div>
								<div class="col-md-2">
										<div class="enroll-wrap" data-toggle="modal" data-target="#sign-in-modal">
										<!-- <div class="enroll-wrap" data-toggle="modal" data-target="#enroll-modal"> -->
										<span class="enroll-title">Enroll</span>
										<span class="enroll-date">Start 21 Okt 2016</span>
									</div>
								</div>
							</div><!--end single caption-->
						</div>
					</div>
				</div><!--end row-->
			</div><!--end container-->
		</div><!--end single banner-->
		
		<div class="single_content">
			<div class="container large">
				<div class="row">
					<div class="col-xs-12 col-sm-8 col-md-8 custom_right">
						<div class="single_content_left">
							<div class="tab_menu">
								<ul>
									<li class="active"><a href="#explore_program" data-toggle="tab" aria-expanded="true">Explore This Program</a></li>
									<li class=""><a href="#cost" data-toggle="tab" aria-expanded="false">What it costs</a></li>
									<li class=""><a href="#admission_requirements" data-toggle="tab" aria-expanded="false">Admission Requirements</a></li>
									<li class=""><a href="#faq" data-toggle="tab" aria-expanded="false">FAQs</a></li>
								</ul>
							</div>
							
							<div class="tab-content single_tab_content">
								<div role="tabpanel" class="tab-pane active" id="explore_program" th:utext="${detail.fullDescription}">
								</div>
								<div role="tabpanel" class="tab-pane" id="cost">What it costs</div>
								<div role="tabpanel" class="tab-pane" id="admission_requirements" th:utext="${detail.admissionRequirement}">Admission Requirements</div>
								<div role="tabpanel" class="tab-pane" id="faq">
									<div class="panel-group" id="accordion1">
										<div class="panel panel-default">
										  <div class="panel-heading">
											<h5 class="panel-title">
											  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_1">Lorem ipsum dolor sit amet</a>
											</h5>
										  </div>
										  <div id="accordion1_1" class="panel-collapse collapse in">
											<div class="panel-body">
											  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim minim veniam quis nostrud exercitation dolore magna ullamco.</p>
											  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco sed eiusmod tempor ut labore et dolore.</p>
											</div>
										  </div>
										</div>
										<div class="panel panel-default">
										  <div class="panel-heading">
											<h5 class="panel-title">
											  <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_2">Consectetur adipisicing elit</a>
											</h5>
										  </div>
										  <div id="accordion1_2" class="panel-collapse collapse">
											<div class="panel-body">
											  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim minim veniam quis nostrud exercitation dolore magna ullamco.</p>
											  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco sed eiusmod tempor ut labore et dolore.</p>
											</div>
										  </div>
										</div>
										<div class="panel panel-default">
										  <div class="panel-heading">
											<h5 class="panel-title">
											  <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_3">Augue assum anteposuerit dolore</a>
											</h5>
										  </div>
										  <div id="accordion1_3" class="panel-collapse collapse">
											<div class="panel-body">
											  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim minim veniam quis nostrud exercitation dolore magna ullamco.</p>
											  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco sed eiusmod tempor ut labore et dolore.</p>
											</div>
										  </div>
										</div>
										<div class="panel panel-default">
										  <div class="panel-heading">
											<h5 class="panel-title">
											  <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_4">Sollemnes in futurum</a>
											</h5>
										  </div>
										  <div id="accordion1_4" class="panel-collapse collapse">
											<div class="panel-body">
											  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim minim veniam quis nostrud exercitation dolore magna ullamco.</p>
											  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco sed eiusmod tempor ut labore et dolore.</p>
											</div>
										  </div>
										</div>
										<div class="panel panel-default">
										  <div class="panel-heading">
											<h5 class="panel-title">
											  <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_5">Nostrud Tempor veniam</a>
											</h5>
										  </div>
										  <div id="accordion1_5" class="panel-collapse collapse">
											<div class="panel-body">
											  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim minim veniam quis nostrud exercitation dolore magna ullamco.</p>
											  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco sed eiusmod tempor ut labore et dolore.</p>
											</div>
										  </div>
										</div>
										<div class="panel panel-default">
										  <div class="panel-heading">
											<h5 class="panel-title">
											  <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_6">Ut enem magana sed dolore</a>
											</h5>
										  </div>
										  <div id="accordion1_6" class="panel-collapse collapse">
											<div class="panel-body">
											  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim minim veniam quis nostrud exercitation dolore magna ullamco.</p>
											  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco sed eiusmod tempor ut labore et dolore.</p>
											</div>
										  </div>
										</div>
									  </div>
									  
									<div class="item_inner question">
										<h4>Got Questions?</h4>
										<h5>For Further Information Contact:</h5>
										<h6>HFC</h6>
										<p>Team<br/>(021) 6336789, ext. 1824<br/><a href="mailto:hfc@btn.co.id">hfc@btn.co.id</a></p>
									</div>
									  
									  
								</div>
							</div>
							
							
						</div><!--end single content left-->
					</div>
					
					<div class="col-xs-12 col-sm-4 col-md-4 custom_left">
						<div class="sidebar">
							<div class="sidebar_item">
								<div class="item_inner program">
									<h4>Program At a Glance</h4>
									<ul>
										<li><span>Program Code:</span>010117</li>
										
										<li><span>Accerediation:</span>Ontario College Of Diploma</li>
										
										<li><span>Length of Study:</span>2 Years</li>
										
										<li><span>Study Options:</span>Full Time</li>
										
										<li><span>Location:</span>College Drive</li>
										<li><span>Teacher:</span>Mr. Smith <a href="#">(click for detail)</a></li>
									</ul>
								</div>
							</div><!--end sidebar item-->
							
									<!--end banner-->
								</div>
							</div><!--end sidebar item-->
							
						</div><!--end sidebar-->
					</div>
					
				</div><!--end row-->
</body>
</html>