<link rel="stylesheet" th:href="@{/css/notification-panel.css}" />
<ul id="notification-header-list" class="dropdown-menu notifications" role="menu" aria-labelledby="dLabel" style="left: -275px !important;">
	<div class="notification-heading">
		<h4 class="menu-title">Notifications</h4>
		<h4 class="menu-title pull-right">
			View all
		</h4>
	</div>
	<li class="divider"></li>
	<div id="notification-content">
		<div th:each="notification : ${notifications}" class="notifications-wrapper">
			<a class="content" href="#">
				<div class="notification-item">
					<h4 class="item-title" th:text="${notification.emailFrom}"></h4>
					<p class="item-info" th:text="${notification.actionTypeLookup?.descr}">Marketing 101, Video Assignment</p>
				</div>
			</a>
		</div>
	</div>
</ul>
<script>
	$(function(){
		$("#dLabel").click(function(e){
			setTimeout(function(){
				$('.notification-item-new').animate({ backgroundColor: "#f5f5f5" }, "slow");
				setTimeout(function(){
					$('.notification-item-new').addClass('notification-item');
					$('.notification-item-new').removeClass('notification-item-new');
					$('#container-unread-count').hide();
				}, 1000);
			}, 500);
		});
	});
</script>