<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
		<div class="breadcrumb-wrapper">
			<div class="breadcrumb">
				<div class="container">
					<ul>
					<li><a th:href="@{/}">Beranda</a></li>
					<li><a th:href="@{'/page/'+${detail.permalink}}" th:text="${detail.title}"></a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="content_top">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1 th:text="${detail.title}"></h1>
						<div class="bottom-left-yellow"></div>
						<div class="bottom-right-blue"></div>
						<div class="clear"></div>
						<div class="content_wrapper">
							<div th:utext="${detail.content}"></div>
						</div>
					</div>
				</div>
			</div><!--end content top-->
		</div>
		
		<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
        /*]]>*/
		</script>
</body>
</html>