<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:ifs="http://padiku.id">
<head>
<meta charset="ISO-8859-1"/>
<title>News Maintenance Detail</title>
</head>
<body>
	<div class="pageheader">
		<div class="row col-md-8">
			<h4><i class="fa fa-tachometer"></i> News Editor / News Maintenance List / News Maintenance Detail
			<span></span></h4>
		</div>
	</div>
	<div class="row col-md-12">
	<section class="tile transparent">
			<div class="tile-body rounded-corners">
				<form action="#" id="news-detail-form" class="form-horizontal" method="POST" novalidate="novalidate" th:object="${detail}">
					<div class="stockTypeStyle">
						<div class="form-group">
							<div class="col-md-12">
								<div id="errorFragmentList">
									<th:block th:if="${message}">
										<div class='alert alert-success'>
											<a href='#' class='close' data-dismiss='alert' aria-label='close' title='close'>&#10006;</a>			
											<label th:text="${message}"></label>
										</div>
									</th:block>
								</div>
							</div>									
							&nbsp;
						</div>
						<input id="news-detail-maintenancePk" type="hidden" th:field="*{pkNews}"/>
						<div class="form-group">
							<label class="col-sm-2 control-label" th:text="'Title'">Title</label>
							<div class="col-sm-10 form-input-container">
								<input type="text" class="form-control" placeholder="Title" name="srch-term" id="input-text-title" th:field="*{title}"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" th:text="'Status'">Status</label>
							<div class="col-sm-10 form-input-container">
								<select class="advisory-detail-groupAdvisorySelect chosen-select form-control" th:field="*{newsStatusLookup.pkLookup}">
									<option th:each="opt : ${newsStatusOptions}" th:value="${opt.pkLookup}" th:text="${opt.name}">Name</option>
                           		</select>
                           	</div>
						</div>
						<div class="form-group">
                          	<label class="col-sm-2 control-label">Publishing Date</label>
                          	<div class="col-sm-10">
                            	<input type='text' class="datepicker input-date form-control" th:name="publishDate" th:value="${detail.publishDate!=null?#dates.format(detail.publishDate, T(id.base.app.SystemConstant).SYSTEM_DATE_MASK_2):''}" />
                           </div>
                       	</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" th:text="'Content'">Content</label>
							<input id="tinyMCE-hidden" name="content" type="hidden"/>
							<div id="tinyMCE-parent" class="col-sm-10">							
								<textarea id="tinyMCE-area" th:text="*{content}">
								</textarea>
								<input id="hidden-file-browser" name="image" type="file" style="display:none;"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" th:text="'Excerpt'">Excerpt</label>
							<div class="col-sm-10">							
								<textarea th:field="*{excerpt}" class="form-control"></textarea>
							</div>
						</div>
						<div class="form-group form-footer">				
							<div class="col-sm-offset-3 col-sm-9">
								<a href="#" id="news-detail-btn-cancel" class="btn btn-default" type="reset" data-toggle="tooltip" title="">Batal</a>
								<button id="news-detail-btn-save" class="btn btn-primary" type="submit" data-toggle="tooltip" title="">Simpan</button>
							</div>
						</div>
					</div>
				</form>
			</div>
	</section>
	</div>
	<script th:inline="javascript">
	/*<![CDATA[*/
	    $(function(){
	    	$('.datepicker').datepicker({
	    	    autoclose: true,
	    	    todayHighlight: true,
	    		format: 'dd/mm/yyyy',
	    		onSelect: function(dateText, datePicker) {
	    			$(this).attr('value', dateText);
    		    }
            });
	    	
			var backToList = function(){
				if (typeof tinyMCE != 'undefined') {
				    tinyMCE.execCommand('mceFocus', false, 'tinyMCE-area');
				    tinyMCE.execCommand('mceRemoveEditor', false, 'tinyMCE-area');
				    $("#tinyMCE-parent").remove();
				}
				returnToList('news-detail-container', 'news-list-container', true);
			};
			
			var uploadFile = function(image, sURL, targetId) {
				var data = new FormData();
				data.append('file', image);
				var xhr = new XMLHttpRequest();
				xhr.open('POST', sURL, true);
				xhr.onreadystatechange = function() {
				  if (xhr.readyState === 4) {
				    var response = JSON.parse(xhr.responseText);
				    if (response) {
				    	$("#"+targetId).val(response);
				    } else {
						return 'error';
				    }
				  }
				}
				xhr.send(data);
			};
			
			$(document).unbind('change').on('change', '#hidden-file-browser', function(){
				var sURL = /*[[@{/do/fileManager/upload/}]]*/ #;
				var thisObj = $(this)[0];
				var targetId = $(this).attr('target-id');
				uploadFile(thisObj.files[0], sURL, targetId);
			});
			
			tinymce.init({
		    	selector: '#tinyMCE-area',
		    	plugins: [
		    	    'advlist autolink lists link image charmap print preview hr anchor pagebreak',
		    	    'searchreplace wordcount visualblocks visualchars code fullscreen',
		    	    'insertdatetime media nonbreaking save table contextmenu directionality',
		    	    'emoticons template paste textcolor colorpicker textpattern imagetools codesample toc'
		    	],
		    	toolbar1: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
		    	toolbar2: 'imageprint preview media | forecolor backcolor emoticons | codesample',
		    	file_browser_callback : function(field_name, url, type, win) {
					$("#hidden-file-browser").attr("target-id", field_name);
					$("#hidden-file-browser").click();
		        }
		  	});
	    	
			var submitForm = function(){
				cleanErrorParsley();
				$('#tinyMCE-hidden').val(tinymce.get('tinyMCE-area').getContent());
				var sURL = /*[[@{/do/news/newsMaintenance/saveNews/}]]*/ #;
				$.post(sURL, $("#news-detail-form").serialize(), function(data) {
					if(data.errorList!=null){
						displayErrorParsley(data.errorList);
					}else{
						backToList();
					}
				});
			};
			
			$('#news-detail-btn-save').click(function(e){
				e.preventDefault();
				submitForm();
			});
			
			$('#news-detail-btn-cancel').click(function(e){
				e.preventDefault();
				backToList();
			});
	    });
	/*]]>*/
	</script>
</body>
</html>
