<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:ifs="http://btn.co.id">
<head>
<meta charset="ISO-8859-1"/>
<title>FAQ Detail</title>
</head>
<style>
</style>
<body>
	<div class="pageheader">
		<div class="row col-md-8">
			<h4><i class="fa fa-tachometer"></i> FAQ / FAQ List / FAQ Detail
			<span></span></h4>
		</div>
	</div>
	<div class="row col-md-12">
	<section class="tile transparent">
			<div class="tile-body rounded-corners">
				<form action="#" id="faq-detail-form" class="form-horizontal" method="POST" novalidate="novalidate" th:object="${detail}">
					<div class="stockTypeStyle">
						<div class="form-group">
							<div class="col-md-12">
								<div id="errorFragmentList">
									<th:block th:if="${message}">
										<div class='alert alert-success'>
											<a href='#' class='close' data-dismiss='alert' aria-label='close' title='close'>&#10006;</a>			
											<label th:text="${message}"></label>
										</div>
									</th:block>
								</div>
							</div>									
							&nbsp;
						</div>
						<input id="faq-detail-maintenancePk" type="hidden" th:field="*{pkFaq}"/>
						<div class="form-group">
							<label class="col-sm-2 control-label" th:text="'Category'">Category</label>
							<div class="col-sm-9 form-input-container">
								<select class="chosen-select form-control" th:field="*{faqCategory.pkCategory}">
									<option value="">[Please Select Category]</option>
									<option th:each="opt : ${categoryOptions}" th:value="${opt.pkCategory}" th:text="${opt.title}">Name</option>
                           		</select>
                           	</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" th:text="'Question'">Question</label>
							<div class="col-sm-9 form-input-container">
								<input type="text" class="form-control" placeholder="Question" name="srch-term" id="input-text-title" th:field="*{question}"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" th:text="'Answer'">Answer</label>
							<input id="tinyMCE-hidden" name="answer" type="hidden"/>
							<div id="tinyMCE-parent" class="col-sm-9">					
								<textarea id="tinyMCE-area" th:text="*{answer}">
								</textarea>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" th:text="'Status'">Status</label>
							<div class="col-sm-9 form-input-container">
								<select class="chosen-select form-control" th:field="*{status}">
									<option th:each="opt : ${statusOptions}" th:value="${opt.code}" th:text="${opt.name}">Name</option>
                           		</select>
                           	</div>
						</div>
						<div class="form-group form-footer">				
							<div class="col-sm-offset-2 col-sm-9">
								<a href="#" id="faq-detail-btn-cancel" class="btn btn-default" type="reset" data-toggle="tooltip" title="" th:text="#{button.cancel}">Cancel</a>
								<button id="faq-detail-btn-save" class="btn btn-primary" type="submit" data-toggle="tooltip" title="" th:text="#{button.save}">Save</button>
							</div>
						</div>
					</div>
				</form>
			</div>
	</section>
	</div>
	<script th:inline="javascript">
	/*<![CDATA[*/	
	    $(function(){
	    	var uploadURL = /*[[@{/do/fileManager/upload/}]]*/ #;
	    	initDatePicker("datepicker", "dd/mm/yy");
	    	initTextEditorWithoutP('#tinyMCE-area', '#tinyMCE-parent', uploadURL);
	    	
			var backToList = function(){
				removeTextEditor("tinyMCE-area", "tinyMCE-parent");
				returnToList('faq-detail-container', 'faq-list-container', true);
			};
	    	
			var submitForm = function(){
				cleanErrorParsley();
				$('#tinyMCE-hidden').val(tinymce.get('tinyMCE-area').getContent());
				var sURL = /*[[@{/do/master/faqItem/saveFaq/}]]*/ #;
				$.post(sURL, $("#faq-detail-form").serialize(), function(data) {
					if(data.errorList!=null){
						
					}else{
						bootBoxSuccessSave('FAQ Successfully Saved', backToList);
					}
				});
			};
			
			$('#faq-detail-btn-save').click(function(e){
				e.preventDefault();
				submitForm();
			});
			
			$('#faq-detail-btn-cancel').click(function(e){
				e.preventDefault();
				backToList();
			});
			
	    });
	/*]]>*/
	</script>
</body>
</html>
