<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
		<div class="breadcrumb-wrapper">
			<div class="breadcrumb">
				<div class="container">
					<ul>
					<li><a th:href="@{/}">Beranda</a></li>
					<li><a href="#">Pertanyaan Sering Ditanyakan</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="content_top">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>Pertanyaan Sering Ditanyakan</h1>
						<div class="bottom-left-yellow"></div>
						<div class="bottom-right-blue"></div>
						<div class="clear"></div>
						<div class="content_wrapper">
						<th:block th:each="data , i : ${catList}">
							<h2 th:text="${data.title}"></h2>
							<br/>
							<div class="panel-group" th:attr="id='acc'+${i.count}">
								<th:block th:each="dataFaq , j : ${data.faqs}">
								<div class="panel panel-default">
								  <div class="panel-heading">
									<h5 class="panel-title">
									  <a class="accordion-toggle collapsed" data-toggle="collapse" th:attr="data-parent='#acc'+${i.count},href='#acc'+${i.count}+'_'+${j.count}" th:text="${dataFaq.question}"></a>
									</h5>
								  </div>
								  <div th:attr="id='acc'+${i.count}+'_'+${j.count}" class="panel-collapse collapse">
									<div class="panel-body" th:utext="${dataFaq.answer}"></div>
								  </div>
								</div>
								</th:block>
							</div>
						</th:block>
						</div>
					</div>
				</div>
			</div><!--end content top-->
		</div>
		
		<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
        /*]]>*/
		</script>
</body>
</html>