<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<title></title>
</head>
<body>
		<div class="post_section ebook_section">
			<div class="container">
				<h1 style="text-align:center">Tim Pengajar</h1>
				<br/>
				<form style="background:#eeeeee;padding:10px 0px;">
				<div class="row">
					<div class="col-md-4"></div>
					<div class="col-md-4">
						<input type="text" class="form-control param" placeholder="Enter Keyword..."/>
					</div>
					<div class="col-md-4">
						<button type="button" class="btn btn-danger mrdy_btn search">Cari Pengajar</button>
					</div>
				</div>
				</form>
				<br/>
				<div class="row list_data">
					<div id="template" class="col-md-2 data_result" th:each="tutor, i : ${tutors.result}">
						<div class="post">
								<div class="post_thumb">
									<img th:src="${tutor.basicPictureURL}" alt="" />
								</div><!-- end post thumb -->
								<h1><a href=""><label th:text="${tutor.name}" class="post_title">Roy</label></a></h1>
							</div><!-- end post -->
					</div>	
				</div>
				<div class="row load_pagination" style="display: none;">
					<div class="col-md-12">
						<div class="col-md-4"></div>
						<div class="col-md-4"> <img th:src="@{/images/gif/loading_linear.gif}" style="margin-left: 50px;"/> </div>
						<div class="col-md-4"></div>
					</div>
				</div>
				<div class="row pagination">
					<div class="col-md-12">
						<div class="col-md-4"></div>
						<div class="col-md-4">
							<ul class="pagination_section">
								<li style="width:100%;text-align:center"><a href="#" class="load_more mrdy_btn">Pengajar Lain</a></li>
							</ul><!--end pagination section-->		
							<input type="hidden" th:value="${tutors.startRecordIndex}" class="startNo"/>
							<input type="hidden" th:value="${tutors.recordsPerPage}" class="offset"/>
						</div>
						<div class="col-md-4"></div>
					</div><!--end post left section-->
				</div><!--end post_left-->	
			</div>
		</div>
		
		<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		function showPaging(maxRecord, currentRecord){
			if(maxRecord <= currentRecord || currentRecord == 0){
				$('.pagination').hide();
			}else{
				$('.pagination').show();
			}
		}
		
		function processData(datas, load){
			var load_content = '';
			for(var i=0;i<datas.length;i++){
				var cloning = $('.template_part .data_result').eq(0).clone();
				cloning.find('.post_thumb img').attr('src',datas[i].basicPictureURL);
				cloning.find('.post_title').html(datas[i].name);
				cloning.wrapInner('<div class="col-md-2 data_result"></div>');
				if(!load){
					$('.list_data').append(cloning.html());
				}else{
					load_content = load_content + cloning.html();
				}
			}
			
			if(load){
				$('.list_data').html(load_content);
			}
		}
		           
		$(function(){
			var maxRecord = /*[[${tutors.maxRecord}]]*/;
			var currentRecord = /*[[${tutors.currentRecord}]]*/;
			
			showPaging(maxRecord, currentRecord);
			
			$('.load_more').unbind('click').click(function(){
				var sURL = /*[[@{/page/lecturer/load}]]*/
				var param = $('.param').val();
				var nextStartNo = parseInt($('.startNo').val()) + parseInt($('.offset').val());
				var offset = $('.offset').val();
				$.ajax({
		            type: 'GET',
		            url: sURL,
		            data: {filter : param, startNo : nextStartNo, offset : offset},
		            dataType: 'json',
		            success: function (data) {
		            	$('.load_pagination').hide();
		            	$('.mrdy_btn').disableBtn({enabled:true});
		            	processData(data.tutors.result, false);		
		            	var newMaxRecord = data.tutors.maxRecord;
		            	var newCurrentRecord = data.tutors.currentRecord;
		            	showPaging(newMaxRecord, newCurrentRecord);
		            },
		            beforeSend: function($jqXHR, $textStatus){
						$('.load_pagination').show();
						$('.mrdy_btn').disableBtn({enabled:false});
					},
					error: function ($jqXHR, $textStatus, $errorThrown) {
						$('.load_pagination').hide();
						$('.mrdy_btn').disableBtn({enabled:true});
					},
					complete: function($jqXHR, $textStatus){
						$('.load_pagination').hide();
						$('.mrdy_btn').disableBtn({enabled:false});
					}
		        });				
			});
			
			$('.search').unbind('click').click(function(){
				var sURL = /*[[@{/page/lecturer/load}]]*/
				var param = $('.param').val();
				var img_url = /*[[@{/images/gif/hex-loader.gif}]]*/;
				$.ajax({
		            type: 'GET',
		            url: sURL,
		            data: {filter : param},
		            dataType: 'json',
		            success: function (data) {
		            	$('.pagination').hide();
		            	$('.loading_reload').remove();
		            	$('.mrdy_btn').disableBtn({enabled:true});
		            	processData(data.tutors.result, true);
		            	var newMaxRecord = data.tutors.maxRecord;
		            	var newCurrentRecord = data.tutors.currentRecord;
		            	showPaging(newMaxRecord, newCurrentRecord);
		            },
		            beforeSend: function($jqXHR, $textStatus){
		            	$('.list_data').html('<div class="col-md-12 loading_reload" style="display: block; margin-left: auto; margin-right: auto;text-align: center;"><img src="'+img_url+'" /></div>');
						$('.mrdy_btn').disableBtn({enabled:false});
					},
					error: function ($jqXHR, $textStatus, $errorThrown) {
						$('.loading_reload').remove();
						$('.mrdy_btn').disableBtn({enabled:true});
					},
					complete: function($jqXHR, $textStatus){
						$('.loading_reload').remove();
						$('.mrdy_btn').disableBtn({enabled:true});
					}
		        });				
			});
		});           
		/*]]>*/
		</script>
</body>
</html>