<div class="tile-body rounded-corners" th:fragment="basicInfo(detail)">
	<br/>
	<div class="form-group">
		<label class="col-sm-2 control-label" th:text="'Name'">Name</label>
		<div class="col-sm-8 form-input-container">
			<input type="text" class="form-control enroll-data" placeholder="Name" name="srch-term" id="input-text-code" th:field="${detail.name}"/>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" th:text="'Birth Date'">Birth Date</label>
		<div class="col-sm-8 form-input-container">
			<input type='text' class="datepicker input-date form-control" th:name="birthDate" th:value="${detail.birthDate!=null?#dates.format(detail.birthDate, T(id.base.app.SystemConstant).SYSTEM_DATE_MASK_2):''}" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" th:text="'Birth Place'">Birth Place</label>
		<div class="col-sm-8 form-input-container">
			<input type="text" class="form-control" placeholder="Birth Place" name="srch-term" id="input-text-code" th:field="${detail.birthPlace}"/>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" th:text="'Gender'">Gender</label>
		<div class="col-sm-8 form-input-container">
			<select class="student-detail-genderStudentSelect chosen-select form-control" th:field="${detail.genderLookup.pkLookup}">
				<option th:each="opt : ${genderOptions}" th:value="${opt.pkLookup}" th:text="${opt.name}">Name</option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" th:text="'No. Telp'">No. Telp</label>
		<div class="col-sm-8 form-input-container">
			<input type="text" class="form-control" placeholder="Name" name="srch-term" id="input-text-code" th:field="${detail.phoneNumber}"/>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" th:text="'Email'">Email</label>
		<div class="col-sm-8 form-input-container">
			<input type="text" class="form-control" placeholder="Email" name="srch-term" id="input-text-code" th:field="${detail.email}"/>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" th:text="'Address'">Address</label>
		<div class="col-sm-8 form-input-container">
			<textarea name="address" class="form-control" th:text="${detail.address}"></textarea>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" th:text="'Status'">Status</label>
		<div class="col-sm-8 form-input-container">
			<select class="student-detail-studentStatusSelect chosen-select form-control" th:field="${detail.studentStatusLookup.pkLookup}">
				<option th:each="opt : ${studentStatusOptions}" th:value="${opt.pkLookup}" th:text="${opt.name}">Name</option>
			</select>
		</div>
	</div>
	<div class="stockTypeStyle">
		<div class="form-group form-footer">				
			<div class="col-sm-offset-3 col-sm-9">
				<a href="#" id="student-detail-btn-cancel" class="btn btn-default student-detail-btn-cancel-class" type="reset" data-toggle="tooltip" title="">Batal</a>
				<button id="student-detail-btn-save" class="btn btn-primary student-detail-btn-save-class" type="submit" data-toggle="tooltip" title="">Simpan</button>
			</div>
		</div>
	</div>
</div>