<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:ifs="http://padiku.id">
<head>
<meta charset="ISO-8859-1"/>
<title>Student Detail</title>
</head>
<style>
.gcDetail-basicPicture {
	max-height : 250px;
}

.basicPicture-delete {
	position:absolute;
	left:25px;
	top:10px;
}
</style>
<body>
	<div class="pageheader">
		<div class="row col-md-8">
			<h4><i class="fa fa-tachometer"></i> Student Editor / Student List / Student Detail
			<span></span></h4>
		</div>
	</div>
	<div class="row col-md-12">
	<div>
		<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#basicInfoTab" class="student-nav-tab">Basic Info</a></li>
			<li><a data-toggle="tab" href="#latestWorkTab" class="student-nav-tab edit-mode">Latest Work</a></li>
			<li><a data-toggle="tab" href="#latestEducationTab" class="student-nav-tab edit-mode">Latest Education</a></li>
			<li><a data-toggle="tab" href="#learningTab" class="student-nav-tab edit-mode">Learning</a></li>
		</ul>	
	</div>
	<form action="#" id="student-detail-form" class="form-horizontal" method="POST" novalidate="novalidate" th:object="${detail}">
	<input type="hidden" th:field="*{pkStudent}" class="enroll-data"/>
	<section class="tile transparent tab-content">
		<div id="basicInfoTab" class="tab-pane fade in active">
			<div id="basicInfoContent" th:replace="student/_studentBasicInfo :: basicInfo(${detail})"></div>
		</div>
		<div id="latestWorkTab" class="tab-pane fade">
			<div id="latestWorkContent" th:replace="student/_studentLatestWork :: latestWork(${detail})" ></div>
		</div>
		<div id="latestEducationTab" class="tab-pane fade">
			<div id="latestEducationContent" th:replace="student/_studentLatestEducation :: latestEducation(${detail})"></div>
		</div>
		<div id="learningTab" class="tab-pane fade">
			<div id="learningContent" th:replace="student/_studentLearning :: learning(${detail})"></div>
		</div>
	</section>
	</form>
	</div>
	<script th:inline="javascript">
	/*<![CDATA[*/
	           
	    $(function(){
	    	initDatePicker("datepicker", "dd/mm/yyyy");
	    	
	    	var submitForm = function(){
				cleanErrorParsley();
				var sURL = /*[[@{/do/student/saveStudent/}]]*/ #;
				$.post(sURL, $("#student-detail-form").serialize(), function(data) {
					if(data.errorList!=null){
						displayErrorParsley(data.errorList);
					}else{
						backToList();
					}
				});
			};
			
			var enrollCourse = function() {
				var sURL = /*[[@{/do/student/enrollCourse}]]*/ #;
				$.post(sURL, $(".enroll-data").serialize(), function(data) {
					if(data.errorList != null) {
						displayErrorParsley(data.errorList);
					} else {
						backToList();
					}
				});
			};
	    	
	    	if([[${mode}]] == 'creation') {
	    		$('.edit-mode').hide();
	    	}
	    	
	    	var backToList = function(){
				returnToList('student-detail-container', 'student-list-container', true);
			};
	    	
	    	$('.student-detail-btn-save-class').click(function(e){
				e.preventDefault();
				submitForm();
			});
			
			$('.student-detail-btn-cancel-class').click(function(e){
				e.preventDefault();
				backToList();
			});
			
			$('.student-nav-tab').click(function(e){
				 $(this).tab('show');
			});
			
			$('#student-detail-btn-enrollCourse').click(function(e){
				e.preventDefault();
				enrollCourse();
			});
			
	    });
	
	/*]]>*/
	</script>
</body>
</html>