<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:ifs="http://btn.co.id">
<head>
<meta charset="ISO-8859-1"/>
<title>Student Detail</title>
</head>
<style>
.gcDetail-basicPicture {
	max-height : 250px;
}

.basicPicture-delete {
	position:absolute;
	left:25px;
	top:10px;
}
</style>
<body>
	<div class="pageheader">
		<div class="row col-md-8">
			<h4><i class="fa fa-tachometer"></i> Student Editor / Student List / Student Detail
			<span></span></h4>
		</div>
	</div>
	<div class="row col-md-12">
	<div>
		<ul class="nav nav-tabs">
			<li class="active student-li-tab" th:attr="validationType='basicInfo'"><a data-toggle="tab" href="#basicInfoTab" class="student-nav-tab">Basic Info</a></li>
			<li class="student-li-tab" th:attr="validationType='latestWork'"><a data-toggle="tab" href="#latestWorkTab" class="student-nav-tab edit-mode">Latest Work</a></li>
			<li class="student-li-tab" th:attr="validationType='latestEducation'"><a data-toggle="tab" href="#latestEducationTab" class="student-nav-tab edit-mode">Latest Education</a></li>
			<li><a data-toggle="tab" href="#learningTab" class="student-nav-tab edit-mode">Learning</a></li>
		</ul>	
	</div>
	<form action="#" id="student-detail-form" class="form-horizontal" method="POST" novalidate="novalidate" th:object="${detail}">
	<input id="hidden-maintenancePK" type="hidden" th:field="*{pkStudent}" class="enroll-data"/>
	<input id="hidden-validationType" type="hidden" name="validationType"/>
	<section class="tile transparent tab-content">
		<div id="basicInfoTab" class="tab-pane fade in active">
			<div id="basicInfoContent" th:replace="student/_studentBasicInfo :: basicInfo(${detail})"></div>
		</div>
		<div id="latestWorkTab" class="tab-pane fade">
			<div id="latestWorkContent" th:replace="student/_studentLatestWork :: latestWork(${detail})" ></div>
		</div>
		<div id="latestEducationTab" class="tab-pane fade">
			<div id="latestEducationContent" th:replace="student/_studentLatestEducation :: latestEducation(${detail})"></div>
		</div>
		<div id="learningTab" class="tab-pane fade">
			<div id="learningContent" th:replace="student/_studentLearning :: learning(${detail})"></div>
		</div>
	</section>
	</form>
	</div>
	<script th:inline="javascript">
	/*<![CDATA[*/
	           
	    $(function(){
	    	initDatePicker("datepicker", "dd/mm/yyyy");
	    	
	    	var submitForm = function(){
	    		cleanErrorParsley();
	    		var hiddenPK = $('#hidden-maintenancePK').val();
	    		var validationType = $('.student-li-tab.active').attr('validationType');
	    		$('#hidden-validationType').val(validationType);
				var sURL = /*[[@{/do/student/database/saveStudent/}]]*/ #;
				$.post(sURL, $("#student-detail-form").serialize(), function(data) {
					if(data.errorList!=null){
						displayErrorParsley(data.errorList);
					}else{
						if(data.maintenancePK) {
							if(hiddenPK) {
								bootBoxSuccessSave("Student Successfully Updated", showDetail(data.maintenancePK));
							} else {
								bootBoxSuccessSave("Student Successfully Created", showDetail(data.maintenancePK));	
							}
						} else {
							backToList();	
						}
					}
				});
			};
			
			var enrollCourse = function() {
				var maintenancePK = $('#hidden-maintenancePK').val();
				var sURL = /*[[@{/do/student/database/enrollCourse}]]*/ #;
				$.post(sURL, $(".enroll-data").serialize(), function(data) {
					if(data.errorList != null) {
						displayErrorParsley(data.errorList);
					} else {
						var customCallback = function(){
							reloadLearning(maintenancePK);
						};
						bootBoxSuccessSave("Student Successfully Enrolled", customCallback);
					}
				});
			};
			
			var processLearning = function(itemPK, actionType) {
				var parentPK = $('#hidden-maintenancePK').val();
				var sURL = /*[[@{/do/student/database/processLearning}]]*/ #;
				$.post(sURL, "itemPK="+itemPK+"&actionType="+actionType, function(data) {
					if(data.errorList != null) {
						displayErrorParsley(data.errorList);
					} else {
						var customCallback = function(){
							reloadLearning(parentPK);
						};
						bootBoxSuccessSave("Record Successfully Processed", customCallback);
					}
				});
			}
	    	
	    	if([[${mode}]] == 'creation') {
	    		$('.edit-mode').hide();
	    	} else if([[${mode}]] == 'learning') {
	    		$('a[href="#learningTab"]').click();
	    	}
	    	
	    	var backToList = function(){
				returnToList('student-detail-container', 'student-list-container', true);
			};
	    	
	    	$('.student-detail-btn-save-class').click(function(e){
				e.preventDefault();
				submitForm();
			});
			
			$('.student-detail-btn-cancel-class').click(function(e){
				e.preventDefault();
				backToList();
			});
			
			$('.student-nav-tab').click(function(e){
				 $(this).tab('show');
			});
			
			$('#student-detail-btn-enrollCourse').click(function(e){
				e.preventDefault();
				enrollCourse();
			});
			
			$('.studentCourse-btn').click(function(e){
				e.preventDefault();
				processLearning($(this).attr('itemPK'), $(this).attr('actionType'));
			});
			
	    });
	
	/*]]>*/
	</script>
</body>
</html>