<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:ifs="http://padiku.id">
<head>
<meta charset="ISO-8859-1"/>
<title>Student Maintenance</title>
</head>
<style>
.dataTables_scrollBody {
	height : auto !important;
	min-height : 120px;
}
#modal-student-filter .modal-dialog {
	width:65%;
}
</style>
<body>
<div id="content" class="col-md-12">
	<div id="student-detail-container"></div>
	<div id="student-list-container">
	<div class="pageheader">
		<h4><i class="fa fa-shopping-basket"></i> Student Editor / Student List
		<span></span></h4>
	</div>
	<div class="col-md-12 tile-body no-vpadding" style="margin:10px;">
		<a href="#" id="student-btn-add" class="btn btn-primary" style="margin-bottom:5px"><i class="fa fa-plus dropdown-plus"></i> &nbsp; Add</a>
		<a href="#" id="student-btn-show-filter" data-toggle="modal" class="btn btn-primary navbar-right" style="margin-bottom:5px" data-target="#modal-student-filter" ><i class="fa fa-search dropdown-plus"></i> &nbsp; Use Filter</a>
	</div>
	<div class="main">
		<div class="row">
			<div class="col-md-12">	
				<section class="tile transparent">
					<div class="table-responsive">
						<div class="tile-body rounded-corners">
	                      	<table id="student-list-table" class="table table-datatable table-custom">
		                        <thead>
		                          <tr>
		                            <th>Name</th>
									<th>No. Telp</th>
									<th>Email</th>
									<th>Status</th>
									<th>E/D</th>
		                          </tr>
		                        </thead>
	                     	</table>
	                     	<div style="padding-bottom: 3px; bottom: 0;" th:replace="pagingDiv::pager (${pagingWrapper}, ${#dates.createNow()}, 'student-list-table', 'contentArea')">
							</div>
                     	</div>
					</div>
				</section>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal Student Filter -->
<div class="modal inmodal fade in" id="modal-student-filter" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Custom Filter</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-4" style="padding-bottom: 10px;">
                     	<input id="filter-name" type="text" placeholder="Name" th:attr="customFilterKey='filterName'" class="form-control modal-student-filter-item"/>
                    </div>
                    <div class="col-sm-3" style="padding-bottom: 10px;">
                     	<input id="filter-phoneNumber" type="text" placeholder="No. Telp" th:attr="customFilterKey='filterPhoneNumber'" class="form-control modal-student-filter-item"/>
                    </div>
                    <div class="col-sm-3" style="padding-bottom: 10px;">
                     	<input id="filter-email" type="text" placeholder="Email" th:attr="customFilterKey='filterEmail'" class="form-control modal-student-filter-item"/>
                    </div>
                    <div class="col-sm-2" style="padding-bottom: 10px;">
                     	<select id="filter-status" th:attr="customFilterKey='filterStatus'" class="filter chosen-select form-control modal-student-filter-item">
							<option value="" th:text="'[Select Status]'"></option>
							<option th:each="opt : ${studentStatusOptions}" th:value="${opt.pkLookup}" th:text="${opt.name}">Title</option>
                   		</select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4" style="padding-bottom: 10px;">
                     	<select id="filter-currentLearning" th:attr="customFilterKey='filterCurrentLearning'" class="filter chosen-select form-control modal-student-filter-item">
							<option value="" th:text="'[Select Current Learning]'"></option>
							<option th:each="opt : ${learningOptions}" th:value="${opt.pkCourse}" th:text="${opt.name}">Title</option>
                   		</select>
                    </div>
                    <div class="col-sm-4" style="padding-bottom: 10px;">
                     	<select id="filter-passedLearning" th:attr="customFilterKey='filterPassedLearning'" class="filter chosen-select form-control modal-student-filter-item">
							<option value="" th:text="'[Select Passed Learning]'"></option>
							<option th:each="opt : ${learningOptions}" th:value="${opt.pkCourse}" th:text="${opt.name}">Title</option>
                   		</select>
                    </div>
                </div>
                <div class="row">
                	<div class="col-sm-6" style="padding-bottom: 10px;">
                    	<input type='text' id="filter-enrollDateFrom" placeholder="Enroll Date From" th:attr="customFilterKey='filterEnrollDateFrom'" class="datepicker input-date form-control modal-student-filter-item" />
                    </div>
                    <div class="col-sm-6" style="padding-bottom: 10px;">
                    	<input type='text' id="filter-enrollDateTo" placeholder="Enroll Date To" th:attr="customFilterKey='filterEnrollDateTo'" class="datepicker input-date form-control modal-student-filter-item" />
                    </div>
                </div>
            </div>
            <div class="modal-footer modal-footer--padding-3" style="margin-top: 10px;">
                <a id="btn-modal-resetFilter" class="btn btn-default no-btn" href="javscript:void(0)">Cancel &amp; Reset Filter</a>
                <a id="btn-modal-applyFilter" href="javascript:void(0);" class="btn btn-primary yes-btn pull-right">Apply Filter</a>
            </div>
        </div>
    </div>
</div>
<!-- Add Corporate -->
<script th:inline="javascript">
	/*<![CDATA[*/
	           
		function showAdd() {
	    	var sURL = /*[[@{/do/student/showAdd?skipdecorator=}]]*/ #;
	    	showScreen('student-list-container', 'student-detail-container', sURL);
		}
	
		function clearFilter() {
			$('.modal-student-filter-item').val('');
			reloadDataTableSearch('student-list-table');
			$('#modal-student-filter').modal('hide');
		}
		
		function applyFilter() {
			reloadDataTableSearch('student-list-table');
			$('#modal-student-filter').modal('hide');
		}
		
		function reloadLearning(maintenancePK) {
			var sURL = /*[[@{/do/student/reloadLearning?maintenancePK=}]]*/ #;
			showScreen('student-list-container', 'student-detail-container', sURL + maintenancePK + "&skipdecorator="); 
		}
		
		function showDetail(maintenancePK) {
			var sURL = /*[[@{/do/student/showEdit?maintenancePK=}]]*/ #;
			showScreen('student-list-container', 'student-detail-container', sURL + maintenancePK + "&skipdecorator=");
		}
		
		function deleteItem(maintenancePK) {
			var callbackDelete = function(result) {
				if (result) {
					var sURL = /*[[@{/do/student/delete?}]]*/ #;
					var serializedData = "maintenancePKs=" + maintenancePK;
					$.post(sURL, serializedData, function(data){
						if(data.errorList!=null){
							//show error message
						}else{
							search();
						}
					});
				}
			}
			bootBoxConfirmation(callbackDelete);
		} 
		
		function deleteStudent() {
			var sURL = /*[[@{/do/student/deleteStudent?skipDecorator}]]*/ #;
			$.post(sURL, $('.student-list-check-delete').serialize(), function(data){
				if(data.errorList!=null){
					
				}else{
					location.reload(true);
				}
			});
		}
	
	    $(function(){
	    	initDatePicker("datepicker", "dd/mm/yyyy");
		    setMenuActive('student');
		    var colDefs = [{ name : "name" }, 
	    	               	{ name : "phoneNumber" },
		    				{ name : "email" },
							{ name : "studentStatusLookup.name" },
							{ type : "deleteAndEdit" , param : [ "pkStudent" ] }
	    	               ];
		    var customFilter = function(d){
				for (var i = 0; i < d.columns.length; i++) {
			        column = d.columns[i];
			        column.searchRegex = column.search.regex;
			        column.searchValue = column.search.value;
			        delete(column.search);
			    }
				d.emptyList = $('#emptyList').val();
				d.page = $('#txtPage_'+'student-list-table').val();
				d.customFilters = {};
				$(".modal-student-filter-item").each(function(){
					d.customFilters[$(this).attr('customFilterKey')] = $(this).val();
				});
			}
		    var sURL = /*[[@{/do/student/list?}]]*/ #;
		    buildDataTableWithCustomFilter(/*[[@{/}]]*/, sURL, 'student-list-table', 450, colDefs, null, null, null, customFilter);
	    });
	    
		$('#student-btn-add').click(function(){
			showAdd();
		});
		
		$('#student-btn-delete').click(function(){
			deleteStudent();
		});
		
		$('#student-btn-show-filter').click(function(){
			showFilter();
		});
		
		$('#btn-modal-resetFilter').click(function(){
			clearFilter();
		});
		
		$('#btn-modal-applyFilter').click(function(){
			applyFilter();
		});
		
	/*]]>*/
</script>
</body>
</html>