<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:ifs="http://btn.co.id">
<head>
<meta charset="ISO-8859-1"/>
<title>Advisory Detail</title>
</head>
<body>
	<div class="pageheader">
		<div class="row col-md-8">
			<h4><i class="fa fa-tachometer"></i> Advisory Menu Editor / Advisory Menu List / Advisory Menu Detail
			<span></span></h4>
		</div>
	</div>
	<div class="row col-md-12">
	<section class="tile transparent">
			<div class="tile-body rounded-corners">
				<form action="#" id="advisory-detail-form" class="form-horizontal" method="POST" novalidate="novalidate" th:object="${detail}">
					<div class="stockTypeStyle">
						<div class="form-group">
							<div class="col-md-12">
								<div id="errorFragmentList">
									<th:block th:if="${message}">
										<div class='alert alert-success'>
											<a href='#' class='close' data-dismiss='alert' aria-label='close' title='close'>&#10006;</a>			
											<label th:text="${message}"></label>
										</div>
									</th:block>
								</div>
							</div>									
							&nbsp;
						</div>
						<input id="advisory-detail-maintenancePk" type="hidden" th:field="*{pkAdvisoryMenu}"/>
						<div class="form-group">
							<label class="col-sm-2 control-label" th:text="'Code'">Code</label>
							<div class="col-sm-9 form-input-container">
								<input type="text" class="form-control" placeholder="Code" name="srch-term" id="input-text-code" th:field="*{code}"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" th:text="'Name'">Name</label>
							<div class="col-sm-9 form-input-container">
								<input type="text" class="form-control" placeholder="Name" name="srch-term" id="input-text-name" th:field="*{name}"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" th:text="'Order'">Order</label>
							<div class="col-sm-9 form-input-container">
								<input type="text" class="form-control" placeholder="Order" name="srch-term" th:field="*{orderNo}"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" th:text="'Type'">Type</label>
							<div class="col-sm-9 form-input-container">
								<span><input type="radio" value="1" id="post" class="" checked="checked" th:field="*{type}"/><label for="post" th:text="'Post'">Post</label></span>
								<span style="margin-left: 10px;"><input type="radio" value="2" id="link" class="" th:field="*{type}"/><label for="link" th:text="'Link'">Link</label></span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label"></label>
							<div class="col-sm-9 form-input-container">
								<select class="form-control postValue" name="post.pkAdvisoryPost">
									<option value="">Select Post</option>
									<option th:each="opt : ${posts}" th:text="${opt.name}" th:value="${opt.pkAdvisoryPost}" th:selected="${opt.pkAdvisoryPost == post?.pkAdvisoryPost}"></option>
								</select>
								<input type="text" class="form-control linkValue" placeholder="Link" style="display: none;" th:field="*{link}"/>
							</div>
						</div>
						<div class="form-group form-footer">				
							<div class="col-sm-offset-3 col-sm-9">
								<a href="#" id="advisory-detail-btn-cancel" class="btn btn-default" type="reset" data-toggle="tooltip" title="" th:text="#{button.cancel}">Cancel</a>
								<button id="advisory-detail-btn-save" class="btn btn-primary" type="submit" data-toggle="tooltip" title="" th:text="#{button.save}">Save</button>
							</div>
						</div>
					</div>
				</form>
			</div>
	</section>
	</div>
	<script th:inline="javascript">
	/*<![CDATA[*/
	    function showLinkOrPost(){
			var id = $('input[name="type"]:checked').attr('id');
			if(id=='post'){
				$('.postValue').show();
				$('.linkValue').hide();
			}else if(id='link'){
				$('.postValue').hide();
				$('.linkValue').show();
			}
		}
	
	    $(function(){
	    	showLinkOrPost();
	    	
			var backToList = function(){
				returnToList('advisory-detail-container', 'advisory-list-container', true);
			};
			
			var submitForm = function(){
				cleanErrorParsley();
				var sURL = /*[[@{/do/advisory/menu/saveAdvisoryMenu/}]]*/ #;
				$.post(sURL, $("#advisory-detail-form").serialize(), function(data) {
					if(data.errorList!=null){
						displayErrorParsley(data.errorList);
					}else{
						backToList();
					}
				});
			};
			
			$('input[name="type"]').unbind('change').change(function(){
				var id = $(this).attr('id');
				if(id=='post'){
					$('.postValue').show();
					$('.linkValue').hide();
				}else if(id='link'){
					$('.postValue').hide();
					$('.linkValue').show();
				}
			});
			
			$('#advisory-detail-btn-save').click(function(e){
				e.preventDefault();
				submitForm();
			});
			
			$('#advisory-detail-btn-cancel').click(function(e){
				e.preventDefault();
				backToList();
			});
			
	    });
	/*]]>*/
	</script>
</body>
</html>