<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
</head>
<body>
		<div class="breadcrumb-wrapper">
			<div class="breadcrumb">
				<div class="container">
					<ul>
					<li><a th:href="@{/}">Beranda</a></li>
					<li><a href="#">Program</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="hexa-top-right-long">
			<div class="top_post_section back-gradient-transparent">
				<div class="container">
					<div class="row">
						<th:block th:each="data , i : ${programs}">
						<div class="col-md-4 loop">
							<div class="card-image">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 600 400" version="1.1">
								  <defs>
								    <pattern th:attr="id=${i.count}" patternUnits="userSpaceOnUse" width="600" height="400">
								      <image width="600" height="400" xmlns:xlink="http://www.w3.org/1999/xlink" th:attr="'xlink:href'=${data.encodedPicture}"></image>
								    </pattern>
								  </defs>
								  <polygon th:attr="id='hex'+${i.count},fill='url(#'+${i.count}+')'" points="300,0 600,100 600,300 300,400 0,300 0,100"></polygon>
								</svg>
							</div>
							<div class="card-box">
								<h2 class="card-title"><a th:href="@{/page/main-program/}+${data.permalink}" th:text="${data.title}"></a></h2>
								<div class="card-box-content" th:utext="${data.content}"></div>
								<div class="card-clear"></div>
							</div>
						</div>
						</th:block>	
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		
		<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		setNavbarActive('program');
		$(function() {
		  heightsEqualizer('.loop .card-box');
		  $('svg').each(function() {
		    var svg = $(this);
		    var text = svg.find('img');
		    var bbox = text.get(0).getBBox();
		    //the hack
		    var calcString = "calc(100% * " + bbox.height/bbox.width + ")";
		    svg.css("padding-bottom",calcString);
		    
		    svg.get(0).setAttribute('viewBox',
		                           [bbox.x,
		                            bbox.y,
		                            bbox.width,
		                            bbox.height].join(' '));
		  });
		});
		/*]]>*/
		</script>
</body>
</html>