<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
</head>
<body>
		<div class="breadcrumb-wrapper">
			<div class="breadcrumb">
				<div class="container">
					<ul>
					<li><a th:href="@{/}">Beranda</a></li>
					<li><a th:href="@{/page/mainProgram}">Program</a></li>
					<li><a th:href="@{/page/mainProgram/learning}">Learning</a></li>
					<li><a th:href="@{/page/mainProgram/seminar}">Seminar</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="hexa-top-right green">
			<div class="top_post_section back-gradient-transparent">
				<div class="container">
					<div class="row">
						<div class="col-md-4 loop">
							<div class="card-box card-active">
								<div class="card-image">
									<img alt="" src="/Site/images/dummy/seminar.jpg"/>
								</div>
								<h2 class="card-title"><a href="/Site/page/mainProgram/seminar">SEMINAR</a></h2>
								<div class="card-clear"></div>
							</div>
						</div>
						<div class="col-md-4 loop">
							<div class="card-box card-not-active">
								<div class="card-image">
									<img alt="" src="/Site/images/dummy/workshop.jpg"/>
								</div>
								<h2 class="card-title"><a href="/Site/page/mainProgram/workshop">WORKSHOP</a></h2>
								<div class="card-clear"></div>
							</div>
						</div>
						<div class="col-md-4 loop">
							<div class="card-box card-not-active">
								<div class="card-image">
									<img alt="" src="/Site/images/dummy/kursus.jpg"/>
								</div>
								<h2 class="card-title"><a href="/Site/page/mainProgram/kursus">KURSUS</a></h2>
								<div class="card-clear"></div>
							</div>
						</div>					
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="top-desc">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
							</div>
							<div class="bottom-left-yellow"></div>
							<div class="bottom-right-blue"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="post_section back-hexa">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<form class="back-gradient-transparent" style="padding:10px 0px;">
								<div class="row">
									<div class="col-md-1"></div>
									<div class="col-md-3">PERIODE</div>
									<div class="col-md-3">METODE</div>
									<div class="col-md-3">PENYELENGGARA</div>
									<div class="col-md-2"></div>
								</div>
								<div class="row">
									<div class="col-md-1">
									</div>
									<div class="col-md-3">
										<select class="form-control param">
											<option>Seluruh Periode</option>
											<option selected="selected">Seminar Yang Akan Datang</option>
											<option>Seminar Yang Telah Terselenggara</option>
										</select>
									</div>
									<div class="col-md-3">
										<select class="form-control param">
											<option>Seluruh Metode</option>
											<option>Klasik (Tatap Muka)</option>
											<option>e-Learning</option>
										</select>
									</div>
									<div class="col-md-3">
										<input type="text" class="form-control param" placeholder="Masukan Kata Kunci..."/>
									</div>
									<div class="col-md-2">
										<button type="button" class="btn btn-danger mrdy_btn search">Cari Seminar</button>
									</div>
								</div>
							</form>
						</div>
					</div>
					<br/>
					<div class="row list_data">
					
						<div id="template" class="col-md-6 data_result">
							<div class="post post-polygon2">
								<div class="row">
									<div class="col-md-6">
										<div class="post_thumb_wrapper">
											<div class="post_thumb">
												<img alt="" class="show_detail my_link" src="/Site/images/dummy/seminar1.jpg"/>
												<div class="overlay">
												    <div class="text show_detail my_link"><i class="fa fa-align-left"></i> Baca</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<h2><a href="/Site/page/learning/program/detail/1/Program-Internal-Foundation-Property-/1/Foundation-Property-Certification"><label class="title_engagement show_detail my_link">Seminar 1</label></a></h2>
										<span class="date-wrapper"><i class="fa fa-calendar date-icon" aria-hidden="true"></i><span class="date">02-Apr-2019</span></span>
									</div>
								</div>
								<div class="bottom-left-yellow"></div>
								<div class="bottom-right-blue"></div>
							</div>
						</div>					
						
					
					
						<div id="template" class="col-md-6 data_result">
							<div class="post post-polygon2">
								<div class="row">
									<div class="col-md-6">
										<div class="post_thumb_wrapper">
											<div class="post_thumb">
												<img alt="" class="show_detail my_link" src="/Site/images/dummy/seminar2.jpg"/>
												<div class="overlay">
												    <div class="text show_detail my_link"><i class="fa fa-align-left"></i> Baca</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<h2><a href="/Site/page/learning/program/detail/1/Program-Internal-Foundation-Property-/1/Foundation-Property-Certification"><label class="title_engagement show_detail my_link">Seminar 2</label></a></h2>
										<span class="date-wrapper"><i class="fa fa-calendar date-icon" aria-hidden="true"></i><span class="date">02-Apr-2019</span></span>
									</div>
								</div>
								<div class="bottom-left-yellow"></div>
								<div class="bottom-right-blue"></div>
							</div>
						</div>					
						
							<div class="clear"></div>
						
					
					
						<div id="template" class="col-md-6 data_result">
							<div class="post post-polygon2">
								<div class="row">
									<div class="col-md-6">
										<div class="post_thumb_wrapper">
											<div class="post_thumb">
												<img alt="" class="show_detail my_link" src="/Site/images/dummy/seminar3.jpg"/>
												<div class="overlay">
												    <div class="text show_detail my_link"><i class="fa fa-align-left"></i> Baca</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<h2><a href="/Site/page/learning/program/detail/1/Program-Internal-Foundation-Property-/1/Foundation-Property-Certification"><label class="title_engagement show_detail my_link">Seminar 3</label></a></h2>
										<span class="date-wrapper"><i class="fa fa-calendar date-icon" aria-hidden="true"></i><span class="date">04-Feb-2019</span></span>
									</div>
								</div>
								<div class="bottom-left-yellow"></div>
								<div class="bottom-right-blue"></div>
							</div>
						</div>
						
						<div id="template" class="col-md-6 data_result">
							<div class="post post-polygon2">
								<div class="row">
									<div class="col-md-6">
										<div class="post_thumb_wrapper">
											<div class="post_thumb">
												<img alt="" class="show_detail my_link" src="/Site/images/dummy/seminar4.jpg"/>
												<div class="overlay">
												    <div class="text show_detail my_link"><i class="fa fa-align-left"></i> Baca</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<h2><a href="/Site/page/learning/program/detail/1/Program-Internal-Foundation-Property-/1/Foundation-Property-Certification"><label class="title_engagement show_detail my_link">Seminar 4</label></a></h2>
										<span class="date-wrapper"><i class="fa fa-calendar date-icon" aria-hidden="true"></i><span class="date">02-Apr-2019</span></span>
									</div>
								</div>
								<div class="bottom-left-yellow"></div>
								<div class="bottom-right-blue"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div style="clear:both"></div>
		</div>
		
		<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		setNavbarActive('program');
		
		/*]]>*/
		</script>
</body>
</html>