.pcb-learning{
	position: absolute;
    top: 1.368422%;
    left: 14.6%;
}
.pcb-advisory{
	position: absolute;
    top: 44.8%;
    left: 36.6%;
}
.pcb-rnd{
	position: absolute;
    top: 3.3%;
    left: 57.7%;
}

.aboutArea {
    width: 100%;
    float: left;
    height: auto;
	padding: 0px;
    background: #ecf3f7;
	background-image: url("../images/background_header.jpg");
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-box-shadow: inset 0px -3px 5px 0px rgba(115,115,115,1);
	-moz-box-shadow: inset 0px -3px 5px 0px rgba(115,115,115,1);
	box-shadow: inset 0px -3px 5px 0px rgba(115,115,115,1);
}
.aboutUsArea .circle-bottom-wrapper{
	position:relative;
    background-image: url(/Site/images/hexa-who-bottom.png);
    height: 300px;
}
.aboutUsArea .circle-bottom-wrapper .title-center h2{
	color: white;padding-top: 7%;font-size: 24px;
}
.aboutUsArea .middleContent{
	height:385px;	
}
.aboutUsArea .circle-top{
	height:230px;
	background-image:url('/Site/images/hexa-who-top.png');
}
.aboutUsArea .circle-top h2{
	font-size:32px;color: white;padding-top: 15%;
}
.circle-bottom1{
	height:150px;
	width:50%;
	float:left;
}
.circle-bottom2{
	height: 150px;
    width: 50%;
    position: absolute;
    float: left;
    left: 25%;
}
.aboutUsArea .circle-bottom-wrapper .circle-bottom2 .title-center h2{
	padding-top:16%;
	color:#ffdd00;
}
.circle-bottom3{
	height:150px;
	width:50%;
	float:left;
}
.circle-bottom4{
	height: 150px;
    width: 50%;
    float: left;
    left: 25%;
    position: absolute;
    top: 150px;
}
.main-content-left{
	height:100%;
	padding-left: 0px;
    padding-right: 0px;
}
.main-content-right{
	padding-top:10px;
	height:100%;
	background: rgba(246,244,244,0.95);
	background: -moz-linear-gradient(top, rgba(246,244,244,0.95) 0%, rgba(240,240,240,0.95) 47%, rgba(230,227,227,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(246,244,244,0.95)), color-stop(47%, rgba(240,240,240,0.95)), color-stop(100%, rgba(230,227,227,0.95)));
	background: -webkit-linear-gradient(top, rgba(246,244,244,0.95) 0%, rgba(240,240,240,0.95) 47%, rgba(230,227,227,0.95) 100%);
	background: -o-linear-gradient(top, rgba(246,244,244,0.95) 0%, rgba(240,240,240,0.95) 47%, rgba(230,227,227,0.95) 100%);
	background: -ms-linear-gradient(top, rgba(246,244,244,0.95) 0%, rgba(240,240,240,0.95) 47%, rgba(230,227,227,0.95) 100%);
	background: linear-gradient(to bottom, rgba(246,244,244,0.95) 0%, rgba(240,240,240,0.95) 47%, rgba(230,227,227,0.95) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f4f4', endColorstr='#e6e3e3', GradientType=0 );
}
.main-content-right .panel-heading{
	padding: 10px 0px;
    font-size: 18px;
    color: #004fb6;
    cursor: pointer;
    border-bottom: 1px solid #FFDE00;
}
.main-content-right .panel-heading a{
	font-size:18px;
}
.main-content-right .panel{
	-webkit-box-shadow: none;
    box-shadow: none;
}
.banner-wrapper .container{
	padding: 30px 20px 30px;
}
.banner-wrapper .form-wrapper {
	max-width: 980px;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}
.banner-wrapper .form-wrapper .banner-header{
	padding-bottom: 5px;
    padding-top: 5px;
}
.banner-header .top-header{
	font-size:32px;
	color:#004fb6;
}
.banner-header .sub-header{
	margin-top:3px;
	margin-bottom: 20px;
	color:#004fb6;
}
.step-expert .step-expert-icon-wrapper{
	height:150px;
	width:100%;
	background-image: url('/Site/images/hexa-step.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.step-expert-line{
	width:97%;
	height: 15px;
    background: #FFDE00;
    margin: -83px;
    margin-left: 15px;
    margin-right: 15px;
    float:left;
}
.step-expert .step-expert-content{
	padding: 38px 28px 28px 28px;
}
.step-expert .step-expert-content a{
	color: white;
    font-size: 16px;
}
.step-number label{
	font-size:18px;
	color:#004fb6;
}
.help-form select{
	padding: 5px;
    border: solid 1px #fcdb00;
    margin: 10px 0px;
    width: 100%;
    color: #004fb6;
    font-size: 14px;
}
.testimonial{
	text-align: center;
	padding: 100px 40px 5px;
	margin-top: 100px;
	border-top: 5px solid #004fb6;
	position: relative;
}
.testimonial:before{
	content: "\f10d";
	font-family: fontawesome;
	position: absolute;
	top: 20px;
	left: 20px;
	font-size: 50px;
	color: #004fb6;
	opacity: 0.5;
}
.testimonial .pic{
	width: 150px;
	height: 150px;
	border: 5px solid #004fb6;
	position: absolute;
	top: -80px;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.testimonial .pic img{
	width: 100%;
	height: auto;
}
.testimonial .description{
	font-size: 14px;
	color: #6f6f6f;
	line-height: 25px;
	margin-bottom: 30px;
}
.testimonial .testimonial-title{
	display: block;
	text-align: right;
	font-size: 22px;
	color: #004fb6;
	margin: 0;
}
.testimonial .position{
	display: block;
	font-size: 12px;
	color: #6f6f6f;
	margin-top: 7px;
}
.owl-theme .owl-controls .owl-page span{
	width: 20px;
	height: 3px;
	background: #004fb6;
}
.title-center{
	text-align:center;
}
.grid-wrapper{
	margin:30px 7%;
}
.grid-wrapper img{
	width:100%;
}
.row-grid{
	width:100%;
	clear:both;
	position:relative;
}
.grid{
	width:50%;
	height:270px;
	float:left;
}
.grid-content{
	padding: 40px;
}
.grid-content .main-title{
	margin-bottom: 1.5rem;
}
.grid-content p{
	text-align: initial!important;
}
.grid-blue{
	background-color: rgba(0, 79, 182, 0.95);
	color: #fefefe;
}
.grid-yellow{
	background-color:rgba(252, 219, 0, 0.95);
}
.grid-yellow .main-title{
	color:#004fb6;
}
.grid-red{
	background-color: rgba(239, 29, 38, 0.95);
	color: #fefefe;
}
.grid-align-right .grid-content{
	text-align:right;
}
.grid-align-right .grid-content p{
	text-align:right!important;
}

.triangle_top{
    -webkit-clip-path: polygon(50% 33%, 22% 100%, 78% 100%);
	clip-path: polygon(50% 33%, 22% 100%, 78% 100%);
	width: 100%;
	position: absolute;
	margin-top: -280px;
	float: right;
	background-color: rgba(0, 79, 182, 0.25);
}
.triangle_bottom{
	-webkit-clip-path: polygon(50% 20%, 40% 0, 60% 0);
    clip-path: polygon(50% 60%, 20.5% 0, 76% 0);
    width: 100%;
    position: absolute;
    float: right;
    background-color:rgba(252, 219, 0, 0.25);
    margin-top: 22px;
}
.video_tujuan_program{
	position: absolute;
    float: left;
    width: 53%;
    -webkit-clip-path: polygon(40% 0, 90% 0, 100% 50%, 90% 100%, 0 100%, 0 50%);
    clip-path: polygon(40% 0, 90% 0, 100% 50%, 90% 100%, 0 100%, 0 50%);
}
.content_tujuan_program{
	position: relative;
    float: right;
    width: 51%;
    padding-left: 4%;
    padding-right: 7%;
    -webkit-clip-path: polygon(60% 0, 100% 50%, 100% 100%, 0 100%, 10.3% 50%, 0 0);
    clip-path: polygon(60% 0, 100% 50%, 100% 100%, 0 100%, 10.3% 50%, 0 0);
}

.content_kerja_sama{
	position: absolute;
    top: 11px;
    float: left;
    width: 47.3%;
    padding-right: 4%;
    -webkit-clip-path: polygon(100% 0, 90% 50%, 100% 100%, 40% 100%, 0 50%, 0 0);
    clip-path: polygon(100% 0, 90% 50%, 100% 100%, 40% 100%, 0 50%, 0 0);
}
.content_program_hfc{
	position: relative;
    top: 11px;
    float: right;
    width: 56.1%;
    padding-left: 3%;
    padding-right: 3%;
    -webkit-clip-path: polygon(8.5% 0, 100% 0, 100% 50%, 60% 100%, 8.5% 100%, 0 50%);
    clip-path: polygon(8.5% 0, 100% 0, 100% 50%, 60% 100%, 8.5% 100%, 0 50%);
}
.text-secondary{
	color:#fcdb00
}
.to-uppercase {
	text-transform: uppercase;
}
.mainHomeArea{	
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-image: url('/Site/images/background-home.png'), linear-gradient(to bottom, rgba(246,244,244,1) 0%, rgba(240,240,227,0.9) 47%, rgba(230,227,227,1) 100%);
}
.aboutUsArea{
	padding:30px 0px;
}
.newsArea .title-center h2, .testimonialArea .title-center h2{
	font-size:32px;
	color:#004fb6;
}
.testimonialArea{
	padding: 30px 0px;
    background: linear-gradient(to bottom, rgba(246,244,244,0.9) 0%, rgba(240,240,227,0.9) 100%, rgba(230,227,227,0.9) 100%);
}
.testimonialWrapper{
	-webkit-box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,1);
    -moz-box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,1);
    box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,1);
    min-height: 738.91px;
}
.contactArea{
	background-image: url('/Site/images/background-contact.jpg');
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: left top;
	height: 550px;
}
.contactArea .contact-wrapper{
	max-width: 600px;
	padding-top: 40px;
}
.contactArea .contact-wrapper .contact-intro span{
	font-size: 22px;
	font-weight: 700;
	color: #004fb6;
	line-height: 2;
}
.contactArea .contact-button{
	padding-top: 15px;
}
.btn-secondary{
	color: #004fb6;
	background-color: #fcdb00;
	border-color: #fcdb00;
	text-transform: uppercase;
	font-weight:700;
}
.btn-third{
	color: #fcdb00;
	background-color: #004fb6;
	border-color: #004fb6;
	text-transform: uppercase;
	font-weight:700;
}
.btn-medium{
    padding: 10px 25px;
	border-radius: 25px;
}
.arrowBottomWrapper{
	position:absolute;
	left: 0; 
			right: 0; 
			margin-left: auto; 
			margin-right: auto; 
    width: 70px;
}
.arrowBottom{
	width: 70px;
    height: 70px;
    margin-top: -190px;
    cursor: pointer;
    border-radius: 50px;
    font-size: 40px;
    text-align: center;
    padding-top: 15px;
    clear: both;
    color: rgba(0, 79, 182, 1);
    background-color: rgba(167, 205, 255, 0.3);
    transition: all 0.2s ease;
    -webkit-animation: arrowmove 1s infinite; /* Safari 4.0 - 8.0 */
  		animation: arrowmove 1s infinite;
  	}
  	.arrowBottom:hover{
  		background-color: rgba(167, 205, 255, 0.8);
  	}
  	/* Safari 4.0 - 8.0 */
@-webkit-keyframes arrowmove {
    0%   {margin-top: -100px;}
    100% {margin-top: -50px;}
}

/* Standard syntax */
@keyframes arrowmove {
    0%   {margin-top: -100px;}
    100% {margin-top: -50px;}
}

/* News Hexagonal */
#categories{
  padding-top:20px;
  overflow:hidden;
  width:95%;
  margin:0 auto;
}
.clr:after{
  content:"";
  display:block;
  clear:both;
}
#categories li{
  position:relative;
  list-style-type:none;
  float:left;
  overflow:hidden;
  visibility:hidden;
  -webkit-transform: rotate(-60deg) skewY(30deg);
  -ms-transform: rotate(-60deg) skewY(30deg);
  transform: rotate(-60deg) skewY(30deg);
}
#categories li *{
  position:absolute;
  visibility:visible;
}
#categories li .btn-medium{
	width:90%;	
}
#categories li > div{
  width:100%;
  height:100%;
  text-align:center;
  color:#419639;
  overflow:hidden;
  -webkit-transform: skewY(-30deg) rotate(60deg);
  -ms-transform: skewY(-30deg) rotate(60deg);
  transform: skewY(-30deg) rotate(60deg);
}

/* HEX CONTENT */
#categories li img{
  left:-100%; right:-100%;
  width: auto; height:100%;
  margin:0 auto;   
  max-width: inherit;
}

#categories div h1, #categories div p{
  width:100%;
  padding:0 5%;
  background-color: rgba(252, 219, 0, 1);
  transition: top .2s ease-out, bottom .2s ease-out, .2s padding .2s ease-out;
}
#categories li h1{
  bottom:110%;
  font-weight:600;
  font-size:14px;
  padding-top:100%;
  padding-bottom:100%;
  color:#004fb6;
}
#categories li h1:after{
	content:'';
  display:block;
  position:absolute;
  bottom:-1px; left:45%;
  width:10%;
  text-align:center;
  z-index:1;
  border-bottom:2px solid #419639;
}
#categories li p{
	padding-top:50%;
	top:110%;
	padding-bottom:50%;
}


/* HOVER EFFECT  */

#categories li div:hover h1 {
  bottom:50%;
  padding-bottom:10%;
}

#categories li div:hover p{
  top:50%;
  padding-top:10%;
}
@media (min-width:1201px) {
  #categories li{
    width:19.2%; /* = (100-4) / 5 */
    padding-bottom: 22.17%; /* =  width /0.866 */
  }
  #categories li:nth-child(9n+6), #categories li:nth-child(9n+7), #categories li:nth-child(9n+8), #categories li:nth-child(9n+9) {
    margin-top: -4.7%;
    margin-bottom: -4.2%;
    transform: translateX(50%) rotate(-60deg) skewY(30deg);
  }
  #categories li:nth-child(9n+6):last-child, #categories li:nth-child(9n+7):last-child, #categories li:nth-child(9n+8):last-child, #categories li:nth-child(9n+9):last-child{
    margin-bottom:0;
  }
  #categories li:nth-child(9n+6){
    margin-left:0.5%;
    clear:left;
  }
   #categories li:nth-child(9n+10){
    clear:left;
  }
  #categories li:nth-child(9n+2), #categories li:nth-child(9n+ 7)  {
    margin-left:1%;
    margin-right:1%;
  }
  #categories li:nth-child(9n+3), #categories li:nth-child(9n+4), #categories li:nth-child(9n+8)
  {
    margin-right:1%;
  }
}

@media (max-width: 1200px) and (min-width:901px) {
  #categories li{
    width:24.25%; /* = (100-3) / 4 */
    padding-bottom: 28.002%; /* =  width /0.866 */
  }
  #categories li:nth-child(7n+5), #categories li:nth-child(7n+6), #categories li:nth-child(7n+7) {
    margin-top: -6.1%;
    margin-bottom: -6.1%;
    transform: translateX(50%) rotate(-60deg) skewY(30deg);
  }
  #categories li:nth-child(7n+5):last-child, #categories li:nth-child(7n+6):last-child, #categories li:nth-child(7n+7):last-child{
    margin-bottom:0;
  }
  #categories li:nth-child(7n+2), #categories li:nth-child(7n+6)  {
    margin-left:1%;
    margin-right:1%;
  }
  #categories li:nth-child(7n+3){
    margin-right:1%;
  }
  #categories li:nth-child(7n+8){
    clear:left;
  }
  #categories li:nth-child(7n+5){
    clear:left;
    margin-left:0.5%;
  }
}


@media (max-width: 900px) and (min-width:601px) {
  #categories li{
    width:32.666%; /* = (100-2) / 3 */
    padding-bottom: 37.721%; /* =  width /0.866 */
  }
  #categories li:nth-child(5n+4), #categories li:nth-child(5n+5) {
    margin-top: -8.622%;
    margin-bottom: -8.622%;
    transform: translateX(50%) rotate(-60deg) skewY(30deg);
  }
  #categories li:nth-child(5n+4):last-child, #categories li:nth-child(5n+5):last-child{
    margin-bottom:0;
  }
  #categories li:nth-child(5n+4){
    margin-right:1%;
    margin-left:0.5%;
  }
  #categories li:nth-child(5n+2) {
    margin-left:1%;
    margin-right:1%;
  }
  #categories li:nth-child(5n+6) {
    clear:left;
  }
  
}
@media (max-width: 600px) {
  #categories li{
    width:49.5%; /* = (100-1) / 2 */
    padding-bottom: 57.16%; /* =  width /0.866 */
  }
  #categories li:nth-child(3n+3){
    margin-top: -13.392%;
    margin-bottom: -13.392%;
    transform: translateX(50%) rotate(-60deg) skewY(30deg);
  }
  #categories li:nth-child(3n+3):last-child{
    margin-bottom:0;
  }
  #categories li:nth-child(3n+3){
    margin-left:0.5%;
  }
  #categories li:nth-child(3n+2) {
    margin-left:1%;
  }
  #categories li:nth-child(3n+4) {
    clear:left;
  }
}
#fork{
  position:fixed;
  bottom:0;
  right:0;
  color:#000;
  text-decoration:none;
  border:1px solid #000;
  padding:.5em .7em;
  margin:1%;
  transition: color .5s;
  overflow:hidden;
}
#fork:before {
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 130%; height: 100%;
  background: #000;
  z-index: -1;
  transform-origin:0 0 ;
  transform:translateX(-100%) skewX(-45deg);
  transition: transform .5s;
}
#fork:hover {
  color: #419639;
}
#fork:hover:before {
  transform: translateX(0) skewX(-45deg);
}
.hexagon_bg_top{
	width: 171.304px;
    height: 197px;
    background-size: 100% 100%;
}
.hexagon_bg_top:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
 }
.hexagon_bg_top img{
	width: 171.304px;
    height: 197px;
}
.hexagon_learning{
	/* animation: spinnerY 8s infinite linear; */
	position: absolute;
    top: 4.999999761581%;
    left: 26.9%;
    z-index: 999;
}
.hexagon_advisory{
	/* animation: spinnerY 9s infinite linear; */
	position: absolute;
    top: 48.4%;
    left: 42.5%;
    z-index: 999;
}
.hexagon_rnd{
	/* animation: spinnerY 10s infinite linear; */
	position: absolute;
    top: 7%;
    left: 58.8%;
    z-index: 999;
}
.hexagon_learning:hover,.hexagon_advisory:hover,.hexagon_rnd:hover{
	cursor: pointer;
}
.housing_index{
	position: absolute;
    top: 87%;
    left: 3%;
    width: 490px;
}
@keyframes spinnerY {
    0% { transform: rotate3d(0, 1, 0, 0deg); }
    50% { transform: rotate3d(0, 1, 0, 90deg); }
    100% { transform: rotate3d(0, 1, 0, 360deg); }
}
.hexagon_hfc{
	position: absolute;
    top: 61%;
    left: 85%;
    width: 115px;
    height: auto;
    padding:15px;
}
.light_hfc{
	position: absolute;
    width: 100%;
    height: 100%;
}
/*Hexagon news*/
.newsArea {
    width: 100%;
    height: auto;
    padding: 30px 0;
    border-top: 5px solid #FFDE00;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}

.hexBottom:after {
  background-position: center bottom;
}

.news_title_post{
    position: relative;
    left: 110px;
    top: 10px;
}

.btn_see_more_hexa_wrapper{
	margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
    left: 165px;
    top: 10px;
    display: inline-block;
    margin-top: 70px;
}

.btn_see_more_hexa{
	padding: 12px 50px;
    background: #004fb6;
    color: #faea33;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: opacity 150ms linear;
    transition: opacity 150ms linear;
    float: left;
    width: 50%;
       position: relative;
  		right: 50px;	
}
.btn_see_more_hexa:after,
.btn_see_more_hexa:before{
	content: "";
	width: 0;
  position: absolute;
  border-top: 24px solid transparent;
  border-bottom: 24px solid transparent;
}
.btn_see_more_hexa:after{
	right: 100%;
	border-right: 28.87px solid #004fb6;
	top: 0px;
}
.btn_see_more_hexa:before{
	left: 100%;
	border-left: 28.87px solid #004fb6;
	top: 0px;
}		
.btn_see_more_hexa:hover{
    background: #faea33;
    color: #004fb6;
    cursor: pointer;
}
.btn_see_more_hexa:hover:after,
.btn_see_more_hexa:hover:before{
	content: "";
	width: 0;
  position: absolute;
  border-top: 24px solid transparent;
  border-bottom: 24px solid transparent;
}
.btn_see_more_hexa:hover:after{
	right: 100%;
	border-right: 28.87px solid #faea33;
	top: 0px;
}
.btn_see_more_hexa:hover:before{
	left: 100%;
	border-left: 28.87px solid #faea33;
	top: 0px;
}		
.learning_text{
	font-size: 36px;
	z-index: 999;
   	color: #99ff66;
   	position: absolute;
   	left: 9.5%;
    top: 31%;
  	-webkit-animation: neon-green 1.5s ease-in-out infinite alternate;
  	-moz-animation: neon-green 1.5s ease-in-out infinite alternate;
  	animation: neon-green 1.5s ease-in-out infinite alternate;
}		
@-webkit-keyframes neon-green {
  from {
    text-shadow: 0 0 10px #74f967, 0 0 20px #74f967, 0 0 30px #74f967, 0 0 40px #2d7926, 0 0 70px #2d7926, 0 0 80px #2d7926, 0 0 100px #2d7926, 0 0 150px #2d7926;
  }
  to {
    text-shadow: 0 0 5px #419639, 0 0 10px #419639, 0 0 15px #419639, 0 0 20px #2d7926, 0 0 35px #2d7926, 0 0 40px #2d7926, 0 0 50px #2d7926, 0 0 75px #2d7926;
  }
}

.advisory_text{
	font-size: 36px;
	z-index: 999;
    color: #ead096;
    position: absolute;
    top: 70%;
    left: 28%;
    -webkit-animation: neon-orange 1.5s ease-in-out infinite alternate;
  	-moz-animation: neon-orange 1.5s ease-in-out infinite alternate;
  	animation: neon-orange 1.5s ease-in-out infinite alternate;
}
@-webkit-keyframes neon-orange {
  from {
    text-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000, 0 0 30px #ff0000, 0 0 40px #dbac63, 0 0 70px #dbac63, 0 0 80px #dbac63, 0 0 100px #dbac63, 0 0 150px #dbac63;
  }
  to {
    text-shadow: 0 0 5px #f7941d, 0 0 10px #f7941d, 0 0 15px #f7941d, 0 0 20px #dbac63, 0 0 35px #dbac63, 0 0 40px #dbac63, 0 0 50px #dbac63, 0 0 75px #dbac63;
  }
}	

.rnd_text{
	font-size: 36px;
	z-index: 999;
    color: #fcdb00;
    position: absolute;
    left: 75%;
    top: 26%;
    line-height: 31px;
    text-align: center;
    -webkit-animation: neon-yellow 1.5s ease-in-out infinite alternate;
  	-moz-animation: neon-yellow 1.5s ease-in-out infinite alternate;
  	animation: neon-yellow 1.5s ease-in-out infinite alternate;
}
@-webkit-keyframes neon-yellow {
  from {
    text-shadow: 0 0 10px #94883b, 0 0 20px #92894e, 0 0 30px #92894e, 0 0 40px #eceb22, 0 0 70px #eceb22, 0 0 80px #eceb22, 0 0 100px #eceb22, 0 0 150px #eceb22;
  }
  to {
    text-shadow: 0 0 5px #c0ba0a, 0 0 10px #c0ba0a, 0 0 15px #c0ba0a, 0 0 20px #eceb22, 0 0 35px #eceb22, 0 0 40px #eceb22, 0 0 50px #eceb22, 0 0 75px #eceb22;
  }
}
.desktop-content{
	display:block;
}
.mobile-content{
	display:none;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
     
}
@media screen and (max-width: 1365px) {
	.pcb-learning{
		left:13.8%;
	}
	.pcb-advisory{
		top:39.8%;
	}
	.hexagon_advisory{
		top:43.4%;
		left:43%;
	}
	.housing_index{
		top: 87%;
    	left: 2%;
    }
    .learning_text{
    	left: 8.5%;
    	top: 32%;
    }
    .advisory_text{
    	top: 68%;
    }
    .about_inner{
    	height:470px;
    }
    .banner-wrapper .container{
    	padding:20px;
    }
    .aboutUsArea .circle-top {
	    height: 170px;
	    background-size: 100% 170px;
	    background-repeat: no-repeat;
    }
	.aboutUsArea .circle-top h2{
		padding-top: 12%;
	}
	.aboutUsArea .circle-bottom-wrapper {
	    height: 245px;
	    background-size: 100% 245px;
	}
	.aboutUsArea .circle-bottom-wrapper .title-center h2{
		padding-top: 5%;
	}
}
@media screen and (max-width: 1279px) {
	.pcb-learning{
		left: 10.8%;
		top: 1.3%;
	}
	.pcb-advisory{
		left: 33%;
		top: 38.8%;
	}
	.pcb-rnd{
		left: 53.2%;
		top: 1.3%;
	}
	.hexagon_learning{
		left: 29.3%;
	    top: 5.222222%;
	}
	.learning_text{
		font-size: 33px;
		left: 4.5%;
    	top: 31%;
	}
	.advisory_text {
	    font-size: 33px;
	    left: 23%;
	    top: 65%;
	}
	.rnd_text{
		font-size: 33px;
		left: 76%;
    	top: 24%;
	}
	.hexagon_learning {
		left: 27.3%;
	    top: 4.9999997%;
	}
	.hexagon_rnd{
		left: 54.7%;
		top: 4.9999997%;
	}
	.hexagon_advisory {
		left: 41%;
	    top: 42.4%;
	}
	.housing_index {
	    top: 89%;
	    left: 1%;
	}
	.breakingNews>.bn-title>h2{
		padding: 0 10px;
	}
	.breakingNews>ul{
		height: 36px;
	}
	.banner-header .top-header{
		font-size:30px;
	}
	.main-content-right .panel-heading a{
		font-size:14px;
	}
}
@media screen and (max-width: 1023px) {
	.hexagon_learning {
    	left: 28.4%;
	}
	.hexagon_advisory {
    	left: 41.5%;
	}
	.learning_text{
		font-size: 30px;
	}
	.advisory_text {
	    font-size: 30px;
	}
	.rnd_text{
		font-size: 30px;
	}
	.banner-header .top-header{
		font-size:27px;
	}
	.banner-header .sub-header{
		font-size:20px;
	}
	.aboutUsArea .circle-bottom-wrapper{
		margin-top: 385px;
	}
	.step-number .col-md-3,.step-expert .col-md-3{
		width:25%;
		float:left;
	}
	.main-content-right{
		height:385px;
	}
}
@media screen and (max-width: 959px) {
	.hexagon_learning {
	    left: 30.6%;
	}
	.hexagon_advisory {
	    left: 42.65%;
	}
	.hexagon_rnd {
    	left: 54.9%;
	}
	.learning_text{
		font-size: 26px;
	}
	.advisory_text {
	    font-size: 26px;
	}
	.rnd_text{
		font-size: 26px;
		left: 79%;
	}
	.step-number .col-md-3,.step-expert .col-md-3{
		width:25%;
		float:left;
		padding-left:5px;
		padding-right:5px;
	}
	.banner-header .top-header{
		font-size:26px;
	}
	.step-expert .step-expert-content a{
		font-size:15px;
	}
}
@media screen and (max-width: 853px) {
	.pcb-learning {
    	left: 5.2%;
	}
	.pcb-advisory {
    	left: 29%;
	}
	.pcb-rnd {
    	left: 50.4%;
	}
	.hexagon_learning {
	    left: 26.5%;
	}
	.hexagon_advisory {
	    left: 39.3%;
	}
	.hexagon_rnd {
	    left: 52.4%;
	}
	.learning_text {
    	left: 2.5%;
	}
	.advisory_text {
    	left: 21%;
	}
	.rnd_text {
    	left: 77%;
	}
	.banner-header .top-header{
		font-size:25px;
	}
	.banner-header .sub-header{
		font-size:18px;
	}
	.housing_index{
		width:97.5%;
	}
	.banner-header .top-header{
		font-size:24px;
	}
	.step-expert .step-expert-content{
		padding:38px 15px 28px 15px;
	}
}
@media screen and (max-width: 799px) {
	.pcb-learning {
	    left: 2.9%;
	}
	.pcb-advisory {
	    left: 27.7%;
	}
	.pcb-rnd {
	    left: 50%;
	}
	.hexagon_learning {
	    left: 25%;
	}
	.hexagon_advisory {
	    left: 38.5%;
	}
	.hexagon_rnd {
 	   left: 52%;
	}
	.learning_text,.advisory_text,.rnd_text {
    	font-size:25px;
	}
	.learning_text {
	    left: 3%;
	}
	.advisory_text {
	    left: 16%;
	}
	.rnd_text {
	    left: 78%;
	}
}
@media screen and (max-width: 767px) {
	.margin-top {
	    margin-top: 61px;
	}
	.housing_index {
	    right: 0px;
	}
	.desktop-content{
		display:none;
	}
	.mobile-content{
		display:block;
	}
	.pcb-learning {
    	left: 1.9%;
    	top: 3%;
	}
	.pcb-advisory {
	    left: 19.1%;
	    top: 40.4%;
	}
	.pcb-rnd {
	    left: 38.8%;
	    top: 3%;
	}
	.hexagon_learning {
	    left: 8.7%;
	    top: 6.7%;
	}
	.hexagon_advisory {
	    left: 24.9%;
	    top: 44%;
	}
	.hexagon_rnd {
	    left: 41.3%;
	    top: 6.5%;
	}
	.learning_text {
	    left: 2%;
	    top: 26%;
	}
	.advisory_text {
	    left: 5%;
	    top: 64%;
	}
	.rnd_text {
	    left: 72%;
	    top: 20%;
	}
	.hexagon_hfc{
		top: 65%;
    	left: 82%;
	}
	.housing_index {
    	top: 90.5%;
	}
	.aboutUsArea .circle-top {
	    height: 150px;
	    background-size: 100% 150px;
	}
	.aboutUsArea .circle-top h2 {
	    padding-top: 15%;
	}
	.aboutUsArea .circle-bottom-wrapper .title-center h2 {
	    font-size: 20px;
	}
	.aboutUsArea .circle-bottom-wrapper {
	    height: 190px;
	    background-size: 100% 190px;
	}
	.main-content-right .panel-heading a {
	    font-size: 18px;
	}
	.circle-bottom1, .circle-bottom2, .circle-bottom3 {
    	height: 95px;
	}
	.circle-bottom4{
		top:110px;
	}
	.aboutUsArea .circle-bottom-wrapper .title-center h2 {
	    padding-top: 3%;
	}
}
@media screen and (max-width: 639px) {
	.aboutUsArea .circle-top {
	    height: 125px;
	    background-size: 100% 125px;
	}
	.header .navbar-brand img {
	    height: 36px;
	}
	.header .navbar-brand img.logo-btn {
    	height: 36px;
	}
	.navbar-toggle {
	    margin: 8px 0px;
	}
	.margin-top {
	    margin-top: 59px;
	}
	.banner-wrapper .form-wrapper .banner-header{
		padding-top:40px;
	}
	.circle-top {
	    height: 153px;
	    background-size: 100% 153px;
	}
	.aboutUsArea .circle-top h2 {
	    padding-top: 18%;
	}
	.aboutUsArea .circle-bottom-wrapper {
	    margin-top: 385px;
	    height: 160px;
    	background-size: 100% 160px;
	}
	.aboutUsArea .circle-bottom-wrapper .title-center h2 {
	    font-size: 16px;
	}
	.circle-bottom1, .circle-bottom2, .circle-bottom3 {
	    height: 80px;
	}
	.circle-bottom4 {
	    top: 98px;
	}
	.pcb-learning {
    	left: 0.5%;
	}
	.pcb-advisory {
    	left: 23.7%;
	}
	.pcb-rnd {
    	left: 50.4%;
	}
	.hexagon_learning {
    	left: 9.6%;
	}
	.hexagon_advisory {
    	left: 31.6%;
	}
	.hexagon_rnd {
	    left: 53.5%;
	}
	.hexagon_hfc {
	    top: 52%;
	    left: 77%;
	}
	.advisory_text {
    	left: 4%;
	}
	.rnd_text {
    	left: 64%;
	}
}
@media screen and (max-width: 479px) {
	.circle-top {
	    background-size: 100% 153px;
	}
	.aboutUsArea .circle-bottom-wrapper {
	    background-size: 100% 225px;
	}
	.hexagon_bg_top, .hexagon_bg_top img{
		width: 130px;
	    height: 149.5px;
	}
	.pcb-learning, .pcb-advisory, .pcb-rnd{
		height: 177px;
	}
	.pcb-learning {
	    left: 2.69%;
	    top: 3.73%;
	}
	.pcb-advisory {
		left: 25%;
	    top: 39.5%;
	}
	.pcb-rnd {
		left: 50.5%;
    	top: 3.73%;
	}
	.hexagon_learning {
	    left: 11.58%;
    	top: 7.3%;
	}
	.hexagon_advisory {
		left: 32.6%;
    	top: 43%;
	}
	.hexagon_rnd {
		top: 7.3%;
	}
	.hexagon_hfc {
	  	top: 52%;
    	left: 81%;
	}
	.hexagon_hfc img{
		height: 50px;
	    width: auto;
	}
	.about_inner {
	    height: 375px;
	}
	.housing_index {
	    top: 88.5%;
	}
}
@media screen and (max-width: 400px) {
	
}
@media screen and (max-width: 319px) {
}