<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<meta name="author" content="Mardy Jonathan"/>
<title></title>
</head>
<body>
		<div class="breadcrumb-wrapper">
			<div class="breadcrumb">
				<div class="container">
					<ul>
					<li><a th:href="@{/}">Beranda</a></li>
					<li><a th:href="@{/page/event/}+${f}">Events</a></li>
					<li><a href="#">Detail Events</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="content_top">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12">
						<img th:src="${detail.encodedPicture}"/>
					</div>
					<div class="col-xs-12 col-sm-12">
						<div class="content_left" style="margin-top: 20px;">
							<h1 th:text="${detail.title}"></h1>
							<div style="position: relative;top: -15px;"><label th:text="${#dates.format(detail.eventDate, 'EEEE dd-MMMM-yyyy')}" style="font-weight: 100;font-size: 12px;"></label></div>
							<div th:utext="${detail.description}" style="margin-bottom: 20px; position: relative;top: -5px;" ></div>
						</div><!--end content left-->
					</div>
				</div>
				<hr/>
			</div><!--end content top-->
		</div>
		
		<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		/*]]>*/
		</script>
</body>
</html>