<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:ifs="http://padiku.id">
<head>
<meta charset="ISO-8859-1"/>
<title>User Maintenance Detail</title>
</head>
<body>
	<div class="pageheader">
		<div class="row col-md-8">
			<h4><i class="fa fa-tachometer"></i> Administration / User Maintenance List / Add New User Maintenance
			<span></span></h4>
		</div>
	</div>
	<div class="row col-md-8">
	<section class="tile color transparent-black">
			<div class="tile-body">
				<form action="#" id="userMaintenance-detail-form" class="form-horizontal" method="POST" novalidate="novalidate" th:object="${detail}">
					<div class="stockTypeStyle">
						<div class="form-group">
							<div class="col-md-12">
								<div id="errorFragmentList">
									<th:block th:if="${message}">
										<div class='alert alert-success'>
											<a href='#' class='close' data-dismiss='alert' aria-label='close' title='close'>&#10006;</a>			
											<label th:text="${message}"></label>
										</div>
									</th:block>
								</div>
							</div>									
							&nbsp;
						</div>
						<input id="userMaintenance-detail-maintenancePk" type="hidden" th:field="*{pkAppUser}"/>
						<div class="form-group">
							<label class="col-sm-3 control-label" th:text="'Username'">Username</label>
							<div class="col-sm-9 form-input-container">
								<input type="text" class="form-control" placeholder="Username" name="srch-term" id="input-text-name" th:field="*{userName}"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label" th:text="'Email'">Email</label>
							<div class="col-sm-9 form-input-container">
								<input type="text" class="form-control" placeholder="Email" name="srch-term" id="input-text-name" th:field="*{email}"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label" th:text="'Role'">Role</label>
							<div class="col-sm-9 form-input-container">
								<select class="course-detail-topicSelect chosen-select form-control" th:field="*{appRoles[0].pkAppRole}">
									<option th:each="opt : ${roleOptions}" th:value="${opt.pkAppRole}" th:text="${opt.name}">Name</option>
                           		</select>
                           	</div>
						</div>
						<div class="form-group form-footer">				
							<div class="col-sm-offset-3 col-sm-9">
								<a href="#" id="userMaintenance-detail-btn-cancel" class="btn btn-default" type="reset" data-toggle="tooltip" title="">Batal</a>
								<button id="userMaintenance-detail-btn-save" class="btn btn-primary" type="submit" data-toggle="tooltip" title="">Simpan</button>
							</div>
						</div>
					</div>
				</form>
			</div>
	</section>
	</div>
	<script th:inline="javascript">
	/*<![CDATA[*/
	    $(function(){
			var backToList = function(){
				returnToList('userMaintenance-detail-container', 'userMaintenance-list-container', true);
			};
	    	
			var submitForm = function(){
				cleanErrorParsley();
				var sURL = /*[[@{/do/userMaintenance/saveUserMaintenance/}]]*/ #;
				$.post(sURL, $("#userMaintenance-detail-form").serialize(), function(data) {
					if(data.errorList!=null){
						displayErrorParsley(data.errorList);
					}else{
						backToList();
					}
				});
			};
			
			$('#userMaintenance-detail-btn-save').click(function(e){
				e.preventDefault();
				submitForm();
			});
			
			$('#userMaintenance-detail-btn-cancel').click(function(e){
				e.preventDefault();
				backToList();
			});
	    });
	/*]]>*/
	</script>
</body>
</html>