<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
</head>
<body>
<link href="/Site/css/home.css" rel="stylesheet" />
		<div class="breadcrumb-wrapper">
			<div class="breadcrumb">
				<div class="container">
					<ul>
					<li><a th:href="@{/}">Beranda</a></li>
					<li><a th:href="@{/page/galeri}">Galeri</a></li>
					<li><a th:href="@{/page/galeri/detail}">Detail</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="hexa-top-right">
			<div class="post_section">
				<div class="container">
					<form class="back-gradient-transparent" style="padding:10px 0px;">
					<div class="row">
						<div class="col-md-4"></div>
						<div class="col-md-4">
							<input type="text" class="form-control param" placeholder="Masukan Kata Kunci..."/>
						</div>
						<div class="col-md-4">
							<button type="button" class="btn btn-danger mrdy_btn search">Cari Foto</button>
						</div>
					</div>
					</form>
					<div class="row">
						<div class="col-md-12">
							<ul id="categories" class="clr">
							  	<li>
							    	<div>
							    		<img src="/Site/images/faces/1.jpg"/>
							    	</div>
							  	</li>
							  	<li>
							    	<div>
							    		<img src="/Site/images/faces/2.jpg"/>
							    	</div>
							  	</li>
							  	<li>
							    	<div>
							    		<img src="/Site/images/faces/3.jpg"/>
							    	</div>
							  	</li>
							  	<li>
							    	<div>
							    		<img src="/Site/images/faces/4.jpg"/>
							    	</div>
							  	</li>
							  	<li>
							    	<div>
							    		<img src="/Site/images/faces/5.jpg"/>
							    	</div>
							  	</li>
							  	<li>
							    	<div>
							    		<img src="/Site/images/faces/6.jpg"/>
							    	</div>
							  	</li>
							  	<li>
							    	<div>
							    		<img src="/Site/images/faces/7.jpg"/>
							    	</div>
							  	</li>
							  	<li>
							    	<div>
							    		<img src="/Site/images/faces/8.jpg"/>
							    	</div>
							  	</li>
							  	<li>
							    	<div>
							    		<img src="/Site/images/faces/9.jpg"/>
							    	</div>
							  	</li>
							  	<li>
							    	<div>
							    		<img src="/Site/images/faces/10.jpg"/>
							    	</div>
							  	</li>
							  	<li>
							    	<div>
							    		<img src="/Site/images/faces/11.jpg"/>
							    	</div>
							  	</li>
							  	<li>
							    	<div>
							    		<img src="/Site/images/faces/12.jpg"/>
							    	</div>
							  	</li>
							  	<li>
							    	<div>
							    		<img src="/Site/images/faces/13.jpg"/>
							    	</div>
							  	</li>
							  	<li>
							    	<div>
							    		<img src="/Site/images/faces/14.jpg"/>
							    	</div>
							  	</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		setNavbarActive('galeri');
		
		/*]]>*/
		</script>
</body>
</html>