<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
</head>
<body>
		<div class="breadcrumb-wrapper">
			<div class="breadcrumb">
				<div class="container">
					<ul>
					<li><a th:href="@{/}">Beranda</a></li>
					<li><a th:href="@{/page/galeri}">Galeri</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="hexa-top-right">
			<div class="post_section back-hexa">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<form class="back-gradient-transparent" style="padding:10px 0px;">
								<div class="row">
									<div class="col-md-2">
									</div>
									<div class="col-md-4">
										<select class="form-control param">
											<option>Categori 1</option>
											<option>Categori 2</option>
											<option>Categori 3</option>
										</select>
									</div>
									<div class="col-md-4">
										<input type="text" class="form-control param" placeholder="Masukan Kata Kunci..."/>
									</div>
									<div class="col-md-2">
										<button type="button" class="btn btn-danger mrdy_btn search">Cari Album</button>
									</div>
								</div>
							</form>
						</div>
					</div>
					<br/>
					<div class="row list_data">
					
						<div id="template" class="col-md-6 data_result">
							<div class="post post-polygon2">
								<div class="row">
									<div class="col-md-6">
										<div class="post_thumb_wrapper">
											<div class="post_thumb">
												<img alt="" class="show_detail my_link" src="/Site/images/dummy/seminar1.jpg"/>
												<div class="overlay">
												    <div class="text show_detail my_link"><i class="fa fa-align-left"></i> Baca</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<h2><a href="/Site/page/galeri/detail"><label class="title_engagement show_detail my_link">Album 1</label></a></h2>
										<span class="date-wrapper"><i class="fa fa-calendar date-icon" aria-hidden="true"></i><span class="date">02-Apr-2019</span></span>
									</div>
								</div>
								<div class="bottom-left-yellow"></div>
								<div class="bottom-right-blue"></div>
							</div>
						</div>					
						
					
					
						<div id="template" class="col-md-6 data_result">
							<div class="post post-polygon2">
								<div class="row">
									<div class="col-md-6">
										<div class="post_thumb_wrapper">
											<div class="post_thumb">
												<img alt="" class="show_detail my_link" src="/Site/images/dummy/seminar2.jpg"/>
												<div class="overlay">
												    <div class="text show_detail my_link"><i class="fa fa-align-left"></i> Baca</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<h2><a href="/Site/page/galeri/detail"><label class="title_engagement show_detail my_link">Album 2</label></a></h2>
										<span class="date-wrapper"><i class="fa fa-calendar date-icon" aria-hidden="true"></i><span class="date">02-Apr-2019</span></span>
									</div>
								</div>
								<div class="bottom-left-yellow"></div>
								<div class="bottom-right-blue"></div>
							</div>
						</div>					
						
							<div class="clear"></div>
						
					
					
						<div id="template" class="col-md-6 data_result">
							<div class="post post-polygon2">
								<div class="row">
									<div class="col-md-6">
										<div class="post_thumb_wrapper">
											<div class="post_thumb">
												<img alt="" class="show_detail my_link" src="/Site/images/dummy/seminar3.jpg"/>
												<div class="overlay">
												    <div class="text show_detail my_link"><i class="fa fa-align-left"></i> Baca</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<h2><a href="/Site/page/galeri/detail"><label class="title_engagement show_detail my_link">Album 3</label></a></h2>
										<span class="date-wrapper"><i class="fa fa-calendar date-icon" aria-hidden="true"></i><span class="date">04-Feb-2019</span></span>
									</div>
								</div>
								<div class="bottom-left-yellow"></div>
								<div class="bottom-right-blue"></div>
							</div>
						</div>
						
						<div id="template" class="col-md-6 data_result">
							<div class="post post-polygon2">
								<div class="row">
									<div class="col-md-6">
										<div class="post_thumb_wrapper">
											<div class="post_thumb">
												<img alt="" class="show_detail my_link" src="/Site/images/dummy/seminar4.jpg"/>
												<div class="overlay">
												    <div class="text show_detail my_link"><i class="fa fa-align-left"></i> Baca</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<h2><a href="/Site/page/galeri/detail"><label class="title_engagement show_detail my_link">Album 4</label></a></h2>
										<span class="date-wrapper"><i class="fa fa-calendar date-icon" aria-hidden="true"></i><span class="date">02-Apr-2019</span></span>
									</div>
								</div>
								<div class="bottom-left-yellow"></div>
								<div class="bottom-right-blue"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div style="clear:both"></div>
		</div>
		
		<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		setNavbarActive('program');
		
		/*]]>*/
		</script>
</body>
</html>