<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:ifs="http://padiku.id">
<head>
<meta charset="ISO-8859-1"/>
<title>Program Post Detail</title>
</head>
<body>
	<div class="pageheader">
		<div class="row col-md-8">
			<h4><i class="fa fa-tachometer"></i> About Us Editor / Program Post List / Program Post Detail
			<span></span></h4>
		</div>
	</div>
	<div class="row col-md-12">
	<section class="tile transparent">
			<div class="tile-body rounded-corners">
				<form action="#" id="programPost-detail-form" class="form-horizontal" method="POST" novalidate="novalidate" th:object="${detail}">
					<div class="stockTypeStyle">
						<div class="form-group">
							<div class="col-md-12">
								<div id="errorFragmentList">
									<th:block th:if="${message}">
										<div class='alert alert-success'>
											<a href='#' class='close' data-dismiss='alert' aria-label='close' title='close'>&#10006;</a>			
											<label th:text="${message}"></label>
										</div>
									</th:block>
								</div>
							</div>									
							&nbsp;
						</div>
						<div class="form-group">
							<label class="col-sm-1 control-label" th:text="'Title'">Title</label>
							<div class="col-sm-10 form-input-container">
								<input type="text" class="form-control" placeholder="Title" name="srch-term" id="input-text-name" th:field="*{title}"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-1 control-label" th:text="'Content'">Content</label>
							<input name="content" type="hidden"/>
							<div class="col-sm-11">							
								<div id="quill-area">
								</div>
							</div>
						</div>
						<div class="form-group form-footer">				
							<div class="col-sm-offset-3 col-sm-9">
								<a href="#" id="programPost-detail-btn-cancel" class="btn btn-default" type="reset" data-toggle="tooltip" title="">Batal</a>
								<button id="programPost-detail-btn-save" class="btn btn-primary" type="submit" data-toggle="tooltip" title="">Simpan</button>
							</div>
						</div>
					</div>
				</form>
			</div>
	</section>
	</div>
	<script th:inline="javascript">
	/*<![CDATA[*/
	    $(function(){
			var backToList = function(){
				returnToList('programPost-detail-container', 'programPost-list-container', true);
			};
			
			var fileManagerURL = /*[[@{/do/fileManager/upload/}]]*/ #; 
			var imageHandler = function(image, callback) {
				var data = new FormData();
				data.append('file', image);
				var xhr = new XMLHttpRequest();
				xhr.open('POST', fileManagerURL, true);
				xhr.onreadystatechange = function() {
				  if (xhr.readyState === 4) {
				    var response = JSON.parse(xhr.responseText);
				    if (response) {
				      	callback(response);
				    } else {
				      	var reader = new FileReader();
				      	reader.onload = function(e) {
				        	callback(e.target.result);
				      	};
				      	reader.readAsDataURL(image);
				    }
				  }
				}
				xhr.send(data);
			};
			
			var quill = new Quill('#quill-area', {
		    	theme: 'snow',
		    	modules: {
			    	toolbar: toolbarOptions
				},
				imageHandler: imageHandler
		  	});
			
			var content = [[${detail.content}]];
			if(content) {
				try {
					var contentJson = JSON.parse(content);
					quill.setContents(contentJson.ops);
				} catch (err) {}
			}
	    	
			var submitForm = function(){
				cleanErrorParsley();
				var sURL = /*[[@{/do/aboutUs/programPost/saveProgramPost/}]]*/ #;
				$('input[name="content"]').val(JSON.stringify(quill.getContents()));
				console.log(JSON.stringify(quill.getContents()));
				$.post(sURL, $("#programPost-detail-form").serialize(), function(data) {
					if(data.errorList!=null){
						displayErrorParsley(data.errorList);
					}else{
						backToList();
					}
				});
			};
			
			$('#programPost-detail-btn-save').click(function(e){
				e.preventDefault();
				submitForm();
			});
			
			$('#programPost-detail-btn-cancel').click(function(e){
				e.preventDefault();
				backToList();
			});
	    });
	/*]]>*/
	</script>
</body>
</html>