<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:ifs="http://padiku.id">
<head>
<meta charset="ISO-8859-1"/>
<title>Tutor Detail</title>
</head>
<body>
	<div class="pageheader">
		<div class="row col-md-8">
			<h4><i class="fa fa-tachometer"></i> About Us Editor / Tutor List / Tutor Detail
			<span></span></h4>
		</div>
	</div>
	<div class="row col-md-8">
	<section class="tile color transparent-black">
			<div class="tile-body">
				<form action="#" id="tutor-detail-form" class="form-horizontal" method="POST" novalidate="novalidate" th:object="${detail}">
					<div class="stockTypeStyle">
						<div class="form-group">
							<div class="col-md-12">
								<div id="errorFragmentList">
									<th:block th:if="${message}">
										<div class='alert alert-success'>
											<a href='#' class='close' data-dismiss='alert' aria-label='close' title='close'>&#10006;</a>			
											<label th:text="${message}"></label>
										</div>
									</th:block>
								</div>
							</div>									
							&nbsp;
						</div>
						<input id="tutor-detail-maintenancePk" type="hidden" th:field="*{pkTutor}"/>
						<div class="form-group">
							<label class="col-sm-3 control-label" th:text="'Name'">Name</label>
							<div class="col-sm-9 form-input-container">
								<input type="text" class="form-control" placeholder="Name" name="srch-term" id="input-text-name" th:field="*{name}"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label" th:text="'Profile Description'">Profile Description</label>
							<div class="col-sm-9 form-input-container">
								<input type="text" class="form-control" placeholder="Content" name="srch-term" id="input-text-name" th:field="*{profileDescription}"/>
							</div>
						</div>
						<div class="form-group form-footer">				
							<div class="col-sm-offset-3 col-sm-9">
								<a href="#" id="tutor-detail-btn-cancel" class="btn btn-default" type="reset" data-toggle="tooltip" title="">Batal</a>
								<button id="tutor-detail-btn-save" class="btn btn-primary" type="submit" data-toggle="tooltip" title="">Simpan</button>
							</div>
						</div>
					</div>
				</form>
			</div>
	</section>
	</div>
	<script th:inline="javascript">
	/*<![CDATA[*/
	    $(function(){
			var backToList = function(){
				returnToList('tutor-detail-container', 'tutor-list-container', true);
			};
	    	
			var submitForm = function(){
				cleanErrorParsley();
				var sURL = /*[[@{/do/aboutUs/tutor/saveTutor/}]]*/ #;
				$.post(sURL, $("#tutor-detail-form").serialize(), function(data) {
					if(data.errorList!=null){
						displayErrorParsley(data.errorList);
					}else{
						backToList();
					}
				});
			};
			
			$('#tutor-detail-btn-save').click(function(e){
				e.preventDefault();
				submitForm();
			});
			
			$('#tutor-detail-btn-cancel').click(function(e){
				e.preventDefault();
				backToList();
			});
	    });
	/*]]>*/
	</script>
</body>
</html>