<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:ifs="http://padiku.id">
<head>
<meta charset="ISO-8859-1"/>
<title>Course Detail</title>
</head>
<style>
.gcDetail-basicPicture {
	max-height : 250px;
}

.basicPicture-delete {
	position:absolute;
	left:25px;
	top:10px;
}
</style>
<body>
	<div class="pageheader">
		<div class="row col-md-8">
			<h4><i class="fa fa-tachometer"></i> Course Editor / Course List / Course Detail
			<span></span></h4>
		</div>
	</div>
	<div class="row col-md-12">
	<section class="tile color transparent-black">
			<div class="tile-body">
				<form action="#" id="course-detail-form" class="form-horizontal" method="POST" novalidate="novalidate" th:object="${detail}">
					<div class="stockTypeStyle">
						<div class="form-group">
							<div class="col-md-12">
								<div id="errorFragmentList">
									<th:block th:if="${message}">
										<div class='alert alert-success'>
											<a href='#' class='close' data-dismiss='alert' aria-label='close' title='close'>&#10006;</a>			
											<label th:text="${message}"></label>
										</div>
									</th:block>
								</div>
							</div>									
							&nbsp;
						</div>
						<input id="course-detail-maintenancePk" type="hidden" th:field="*{pkCourse}"/>
						<div class="form-group">
							<label class="col-sm-2 control-label" th:text="'Code'">Code</label>
							<div class="col-sm-9 form-input-container">
								<select class="course-detail-groupCourseSelect chosen-select form-control" th:field="*{groupCourse.pkGroupCourse}">
									<option th:each="opt : ${groupCourseOptions}" th:value="${opt.pkGroupCourse}" th:text="${opt.name}">Name</option>
                           		</select>
                           	</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" th:text="'Code'">Code</label>
							<div class="col-sm-9 form-input-container">
								<input type="text" class="form-control" placeholder="Code" name="srch-term" id="input-text-code" th:field="*{code}"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" th:text="'Name'">Name</label>
							<div class="col-sm-9 form-input-container">
								<input type="text" class="form-control" placeholder="Name" name="srch-term" id="input-text-name" th:field="*{name}"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" th:text="'Subname'">Subname</label>
							<div class="col-sm-9 form-input-container">
								<input type="text" class="form-control" placeholder="Subname" name="srch-term" id="input-text-subName" th:field="*{subName}"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" th:text="'Featured Image'">Featured Image</label>
							<div class="col-sm-9 form-input-container">
								<th:block th:if="${detail.basicPictureURL != null}">
									<input type="hidden" id="input-hidden-basicPictureURL" th:field="*{basicPictureURL}"/>
									<input type="file" class="form-control" id="input-file-basicPictureURL" style="display:none;"/>
									<div id="container-basicPictureURL">
										<img th:src="${detail.basicPictureURL}" class="gcDetail-basicPicture"/>
										<a href="#" class="btn btn-primary btn-xs margin-bottom-20 basicPicture-delete" data-toggle="tooltip" title="Delete"><i class="fa fa-trash"></i></a>
									</div>
								</th:block>
								<th:block th:if="${detail.basicPictureURL == null}">
									<input type="hidden" id="input-hidden-basicPictureURL" name="basicPictureURL"/>
									<input type="file" class="form-control" id="input-file-basicPictureURL"/>
									<div id="container-basicPictureURL" style='display:none;'>
									</div>
								</th:block>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" th:text="'Category'">Category</label>
							<div class="col-sm-9 form-input-container">
								<select class="course-detail-categoryCourseSelect chosen-select form-control" th:field="*{categoryLookup.pkLookup}">
									<option th:each="opt : ${categoryOptions}" th:value="${opt.pkLookup}" th:text="${opt.name}">Name</option>
                           		</select>
                           	</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" th:text="'Code'">Code</label>
							<div class="col-sm-9 form-input-container">
								<select class="course-detail-groupCourseSelect chosen-select form-control">
									<option th:each="opt : ${groupCourseOptions}" th:value="${opt.pkGroupCourse}" th:text="${opt.name}">Name</option>
                           		</select>
                           	</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" th:text="'Full Description'">Full Description</label>
							<input name="fullDescription" type="hidden"/>
							<div class="col-sm-10">							
								<div id="fullDescriptionQuill">
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" th:text="'Admission Requirement'">Admission Requirement</label>
							<input name="admissionRequirement" type="hidden"/>
							<div class="col-sm-10">							
								<div id="admissionRequirementQuill">
								</div>
							</div>
						</div>
						<div class="form-group form-footer">				
							<div class="col-sm-offset-3 col-sm-9">
								<a href="#" id="course-detail-btn-cancel" class="btn btn-default" type="reset" data-toggle="tooltip" title="">Batal</a>
								<button id="course-detail-btn-save" class="btn btn-primary" type="submit" data-toggle="tooltip" title="">Simpan</button>
							</div>
						</div>
					</div>
				</form>
			</div>
	</section>
	</div>
	<script th:inline="javascript">
	/*<![CDATA[*/
	           
		function initDeleteFunction() {	
			var removeRowBasicInfo = function(obj){
				$(obj).closest('tr').remove();
			};
			
			$('.gcBasicTable-delete-row').click(function(e){
				e.preventDefault();
				removeRowBasicInfo(this);
			});
		}
	
		function initDeletePicture() {
			$('.basicPicture-delete').click(function(e){
				e.preventDefault();
				$('#input-file-basicPictureURL').show();
				$('#container-basicPictureURL').html("");
				$('#input-hidden-basicPictureURL, #input-file-basicPictureURL').val("");
				$('#container-basicPictureURL').hide();
			});
		}
	
	    $(function(){
	    	initDeleteFunction();
	    	initDeletePicture();
	    	
			var backToList = function(){
				returnToList('course-detail-container', 'course-list-container', true);
			};
			
			var fileManagerURL = /*[[@{/do/fileManager/upload/}]]*/ #; 
			var imageHandler = function(image, callback) {
				var data = new FormData();
				data.append('file', image);
				var xhr = new XMLHttpRequest();
				xhr.open('POST', fileManagerURL, true);
				xhr.onreadystatechange = function() {
				  if (xhr.readyState === 4) {
				    var response = JSON.parse(xhr.responseText);
				    if (response) {
				      	callback(response);
				    } else {
				      	var reader = new FileReader();
				      	reader.onload = function(e) {
				        	callback(e.target.result);
				      	};
				      	reader.readAsDataURL(image);
				    }
				  }
				}
				xhr.send(data);
			};
			
			var fullDescriptionQuill = new Quill('#fullDescriptionQuill', {
		    	theme: 'snow',
		    	modules: {
			    	toolbar: toolbarOptions
				},
				imageHandler: imageHandler
		  	});
			
			var admissionRequirementQuill = new Quill('#admissionRequirementQuill', {
				theme: 'snow',
				modules: {
			    	toolbar: toolbarOptions
				},
				imageHandler: imageHandler
		  	});
			
			var fullDescription = [[${detail.fullDescription}]];
			var admissionRequirement = [[${detail.admissionRequirement}]];
			if(fullDescription) {
				var contentJson = JSON.parse(fullDescription);
				fullDescriptionQuill.setContents(contentJson.ops);
			}
			if(admissionRequirement) {
				var contentJson = JSON.parse(admissionRequirement);
				admissionRequirementQuill.setContents(contentJson.ops);
			}
			
			var preSerializeForm = function() {
				var idx = 0;
				$('#gcBasicTable').find('tbody').find('tr').each(function(){
					$(this).find('.gcBasicTable-id').attr('name', 'gcBasicInformationList['+idx+'].pkGCBasicInformation');
					$(this).find('.gcBasicTable-orderNo').val(idx);
					$(this).find('.gcBasicTable-orderNo').attr('name', 'gcBasicInformationList['+idx+'].orderNo');
					$(this).find('.gcBasicTable-fieldLookup').attr('name', 'gcBasicInformationList['+idx+'].fieldLookup.pkLookup');
					$(this).find('.gcBasicTable-value').attr('name', 'gcBasicInformationList['+idx+'].value');
					idx++;
				});
			};
			
			var submitForm = function(){
				cleanErrorParsley();
				$('input[name="fullDescription"]').val(JSON.stringify(fullDescriptionQuill.getContents()));
				$('input[name="admissionRequirement"]').val(JSON.stringify(admissionRequirementQuill.getContents()));
				preSerializeForm();
				var sURL = /*[[@{/do/course/course/saveCourse/}]]*/ #;
				$.post(sURL, $("#course-detail-form").serialize(), function(data) {
					if(data.errorList!=null){
						displayErrorParsley(data.errorList);
					}else{
						backToList();
					}
				});
			};
			
			var showImage = function(imageURL) {
				$('#input-file-basicPictureURL').hide();
				var htmlContent = '<image src="'+imageURL+'" style="max-height:250px;"></image>';
				htmlContent += '<a href="#" class="btn btn-primary btn-xs margin-bottom-20 basicPicture-delete" data-toggle="tooltip" title="Delete" style="position:absolute; left:25px; top:10px;"><i class="fa fa-trash"></i></a>';
				$('#container-basicPictureURL').html(htmlContent);
				$('#input-hidden-basicPictureURL').val(imageURL);
				$('#container-basicPictureURL').show();
				initDeletePicture();
			}
			
			var uploadFile = function(image, uploadURL) {
				var data = new FormData();
				data.append('file', image);
				var xhr = new XMLHttpRequest();
				xhr.open('POST', uploadURL, true);
				xhr.onreadystatechange = function() {
				  if (xhr.readyState === 4) {
				    var response = JSON.parse(xhr.responseText);
				    if (response) {
				      	showImage(response);
				    } else {
				      	var reader = new FileReader();
				      	reader.onload = function(e) {
				        	callback(e.target.result);
				      	};
				      	reader.readAsDataURL(image);
				    }
				  }
				}
				xhr.send(data);
			};
		
			var addRowBasicInfo = function(){
				$('#gcBasicTable tbody').append($('#gcBasicTable-rowTemplate').html());
				initDeleteFunction();
			};
			
			var thisObj = '';
			$(document).unbind('change').on('change', '#input-file-basicPictureURL', function(){
				var sURL = /*[[@{/do/fileManager/uploadFeaturedImage/}]]*/ #;
				var thisObj = $('#input-file-basicPictureURL')[0];
				uploadFile(thisObj.files[0], sURL);
			});
			
			$('#course-detail-btn-save').click(function(e){
				e.preventDefault();
				submitForm();
			});
			
			$('#course-detail-btn-cancel').click(function(e){
				e.preventDefault();
				backToList();
			});
			
			$('#gcBasicTable-add-row').click(function(e){
				e.preventDefault();
				addRowBasicInfo();
			});
			
	    });
	/*]]>*/
	</script>
</body>
</html>