<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:ifs="http://btn.co.id">
<head>
<meta charset="ISO-8859-1"/>
<title>Group Course Detail</title>
</head>
<style>
.gcDetail-basicPicture {
	max-height : 250px;
}

.basicPicture-delete {
	position:absolute;
	left:25px;
	top:10px;
}
</style>
<body>
	<div class="pageheader">
		<div class="row col-md-8">
			<h4><i class="fa fa-tachometer"></i> Course Editor / Group Course List / Group Course Detail
			<span></span></h4>
		</div>
	</div>
	<div class="row col-md-12">
	<section class="tile transparent">
			<div class="tile-body rounded-corners">
				<form action="#" id="groupCourse-detail-form" class="form-horizontal" method="POST" novalidate="novalidate" th:object="${detail}">
					<div class="stockTypeStyle">
						<div class="form-group">
							<div class="col-md-12">
								<div id="errorFragmentList">
									<th:block th:if="${message}">
										<div class='alert alert-success'>
											<a href='#' class='close' data-dismiss='alert' aria-label='close' title='close'>&#10006;</a>			
											<label th:text="${message}"></label>
										</div>
									</th:block>
								</div>
							</div>									
							&nbsp;
						</div>
						<input id="groupCourse-detail-maintenancePk" type="hidden" th:field="*{pkGroupCourse}"/>
						<div class="form-group">
							<label class="col-sm-2 control-label" th:text="'Title'">Title</label>
							<div class="col-sm-9 form-input-container">
								<input type="text" class="form-control" placeholder="Title" name="srch-term" id="input-text-name" th:field="*{title}"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" th:text="'Order No'">Order No</label>
							<div class="col-sm-9 form-input-container">
								<input type="text" class="form-control" placeholder="Order No" name="srch-term" id="input-text-order-no" th:field="*{orderNo}"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" th:text="'Featured Image'">Featured Image</label>
							<div class="col-sm-9 form-input-container">
								<th:block th:if="${detail.basicPictureURL != null}">
									<input type="hidden" id="input-hidden-basicPictureURL" th:field="*{basicPictureURL}"/>
									<input type="file" class="form-control" id="input-file-basicPictureURL" style="display:none;"/>
									<div id="container-basicPictureURL">
										<img th:src="${detail.basicPictureURL}" class="gcDetail-basicPicture"/>
										<a href="#" class="btn btn-primary btn-xs margin-bottom-20 basicPicture-delete" data-toggle="tooltip" title="Delete"><i class="fa fa-trash"></i></a>
									</div>
								</th:block>
								<th:block th:if="${detail.basicPictureURL == null}">
									<input type="hidden" id="input-hidden-basicPictureURL" name="basicPictureURL"/>
									<input type="file" class="form-control" id="input-file-basicPictureURL"/>
									<div id="container-basicPictureURL" style='display:none;'>
									</div>
								</th:block>
							</div>
						</div>
						<div class="form-group product-section-list">
							<label class="col-sm-2 control-label" th:text="'Basic Information'">Basic Information</label>
							<div class="col-sm-9">
									<div class="input-group input-group-sm" style="width:100%;">
									<!-- tile -->
	                					<section class="tile color transparent-white">
	                  					<!-- tile body -->
	                  						<div class="tile-body transparent rounded-corners">
	                   							<table id="gcBasicTable" class="table table-custom table-sortable" style="width:100%;">
					 								<thead>
								                        <tr>
								                          <th style="width:37%">Field</th>
								                          <th style="width:50%">Value</th>
								                          <th style="width:8%">Delete</th>
								                        </tr>
								                    </thead>
	                     							<tbody>
	                     								<th:block th:if="*{#lists.isEmpty(gcBasicInformationList)}">
								                        <tr>
															<td>
																<div class="input-group input-group-sm" style="width:100%;">
																	<input type="hidden" class="gcBasicTable-id"/>
																	<input type="hidden" class="gcBasicTable-orderNo"/>
																	<select class="gcBasicTable-fieldLookup chosen-select form-control">
	                                 									<option th:each="opt : ${basicFieldOptions}" th:value="${opt.pkLookup}" th:text="${opt.name}">Name</option>
	                                 								</select>
																</div>
															</td>
															<td>
																<div class="input-group input-group-sm" style="width:100%;">
																	<input type="text" class="gcBasicTable-value form-control preSerialize-remove"/>
																</div>
															</td>
															<td>
																<a href="#" class="btn btn-primary btn-xs margin-bottom-20 gcBasicTable-delete-row" data-toggle="tooltip" title="Delete"><i class="fa fa-trash"></i></a>
															</td>
								                        </tr>
								                        </th:block>
								                        <th:block th:if="*{not #lists.isEmpty(gcBasicInformationList)}">
								                        	<tr th:each="item, status : *{gcBasicInformationList}">
								                        	<td>
																<div class="input-group input-group-sm" style="width:100%;">
																	<input type="hidden" class="gcBasicTable-id" th:value="${item.pkGCBasicInformation}"/>
																	<input type="hidden" class="gcBasicTable-orderNo" th:value="${item.orderNo}"/>
																	<select class="gcBasicTable-fieldLookup chosen-select form-control">
	                                 									<option th:each="opt : ${basicFieldOptions}" th:value="${opt.pkLookup}" th:text="${opt.name}" th:selected="${item.fieldLookup.pkLookup == opt.pkLookup}">Name</option>
	                                 								</select>
																</div>
															</td>
															<td>
																<div class="input-group input-group-sm" style="width:100%;">
																	<input type="text" class="gcBasicTable-value form-control preSerialize-remove" th:value="${item.value}"/>
																</div>
															</td>
															<td>
																<a href="#" class="btn btn-primary btn-xs margin-bottom-20 gcBasicTable-delete-row" data-toggle="tooltip" title="Delete"><i class="fa fa-trash"></i></a>
															</td>
								                        </tr>
								                        </th:block>
								                    </tbody>
								                    <tfoot>
								                    	<tr>
								                          <th colspan="2">&nbsp;</th>
								                          <th colspan="1">
															<div class="input-group input-group-sm" style="width:100%;">
																<a href="#" id="gcBasicTable-add-row" class="btn btn-primary" data-toggle="tooltip" title="Add" style="float:right;"><i class="fa fa-plus dropdown-plus"></i> Add</a>
															</div>
														</th>
								                        </tr>
								                    </tfoot>
	                   							</table>
					                 		</div>
						                  <!-- /tile body -->
						              </section>
					                <!-- /tile --> 
									</div>
	                       		</div>
	                    </div>
						<div class="form-group">
							<label class="col-sm-2 control-label" th:text="'Short Description'">Short Description</label>
							<div class="col-sm-9 form-input-container">
								<input type="text" class="form-control" placeholder="Short Description" name="srch-term" id="input-text-shortDescription" th:field="*{shortDescription}"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-1 control-label" th:text="'Full Description'">Full Description</label>
							<input id="textEditor-fullDescription-hidden" name="fullDescription" type="hidden"/>
							<div id="textEditor-fullDescription-parent" class="col-sm-11">					
								<textarea id="textEditor-fullDescription-area" th:text="*{fullDescription}">
								</textarea>
							</div>
						</div>
						<div class="form-group form-footer">				
							<div class="col-sm-offset-3 col-sm-9">
								<a href="#" id="groupCourse-detail-btn-cancel" class="btn btn-default" type="reset" data-toggle="tooltip" title="">Batal</a>
								<button id="groupCourse-detail-btn-save" class="btn btn-primary" type="submit" data-toggle="tooltip" title="">Simpan</button>
							</div>
						</div>
					</div>
				</form>
			</div>
	</section>
	</div>
	<table style="display:none;">
		<tbody id="gcBasicTable-rowTemplate">		
			<tr>
				<td>
					<div class="input-group input-group-sm" style="width:100%;">
						<input type="hidden" class="gcBasicTable-id"/>
						<input type="hidden" class="gcBasicTable-orderNo"/>
						<select class="gcBasicTable-fieldLookup chosen-select form-control">
                        	<option th:each="opt : ${basicFieldOptions}" th:value="${opt.pkLookup}" th:text="${opt.name}">Name</option>
                        </select>
					</div>
				</td>
				<td>
					<div class="input-group input-group-sm" style="width:100%;">
						<input type="text" class="gcBasicTable-value form-control preSerialize-remove"/>
					</div>
				</td>
				<td>
					<a href="#" class="btn btn-primary btn-xs margin-bottom-20 gcBasicTable-delete-row" data-toggle="tooltip" title="Delete"><i class="fa fa-trash"></i></a>
				</td>
			</tr>
		</tbody>
	</table>
	<script th:inline="javascript">
	/*<![CDATA[*/
	           
		function initDeleteFunction() {	
			var removeRowBasicInfo = function(obj){
				$(obj).closest('tr').remove();
			};
			
			$('.gcBasicTable-delete-row').click(function(e){
				e.preventDefault();
				removeRowBasicInfo(this);
			});
		}
	
		function initDeletePicture() {
			$('.basicPicture-delete').click(function(e){
				e.preventDefault();
				$('#input-file-basicPictureURL').show();
				$('#container-basicPictureURL').html("");
				$('#input-hidden-basicPictureURL, #input-file-basicPictureURL').val("");
				$('#container-basicPictureURL').hide();
			});
		}
	
	    $(function(){
	    	var fileManagerURL = /*[[@{/do/fileManager/upload/}]]*/ #;
	    	
	    	initDeleteFunction();
	    	initDeletePicture();
	    	initTextEditor('#textEditor-fullDescription-area', '#textEditor-fullDescription-parent', fileManagerURL);
	    	
			var backToList = function(){
				removeTextEditor("textEditor-fullDescription-area", "textEditor-fullDescription-parent");
				returnToList('groupCourse-detail-container', 'groupCourse-list-container', true);
			};
			
			var preSerializeForm = function() {
				var idx = 0;
				$('#gcBasicTable').find('tbody').find('tr').each(function(){
					$(this).find('.gcBasicTable-id').attr('name', 'gcBasicInformationList['+idx+'].pkGCBasicInformation');
					$(this).find('.gcBasicTable-orderNo').val(idx);
					$(this).find('.gcBasicTable-orderNo').attr('name', 'gcBasicInformationList['+idx+'].orderNo');
					$(this).find('.gcBasicTable-fieldLookup').attr('name', 'gcBasicInformationList['+idx+'].fieldLookup.pkLookup');
					$(this).find('.gcBasicTable-value').attr('name', 'gcBasicInformationList['+idx+'].value');
					idx++;
				});
			};
			
			var submitForm = function(){
				cleanErrorParsley();
				$('#textEditor-fullDescription-hidden').val(tinymce.get('textEditor-fullDescription-area').getContent());
				preSerializeForm();
				var sURL = /*[[@{/do/course/groupCourse/saveGroupCourse/}]]*/ #;
				$.post(sURL, $("#groupCourse-detail-form").serialize(), function(data) {
					if(data.errorList!=null){
						displayErrorParsley(data.errorList);
					}else{
						backToList();
					}
				});
			};
			
			var showImage = function(imageURL) {
				$('#input-file-basicPictureURL').hide();
				var htmlContent = '<image src="'+imageURL+'" style="max-height:250px;"></image>';
				htmlContent += '<a href="#" class="btn btn-primary btn-xs margin-bottom-20 basicPicture-delete" data-toggle="tooltip" title="Delete" style="position:absolute; left:25px; top:10px;"><i class="fa fa-trash"></i></a>';
				$('#container-basicPictureURL').html(htmlContent);
				$('#input-hidden-basicPictureURL').val(imageURL);
				$('#container-basicPictureURL').show();
				initDeletePicture();
			}
			
			var uploadFile = function(image, uploadURL) {
				var data = new FormData();
				data.append('file', image);
				var xhr = new XMLHttpRequest();
				xhr.open('POST', uploadURL, true);
				xhr.onreadystatechange = function() {
				  if (xhr.readyState === 4) {
				    var response = JSON.parse(xhr.responseText);
				    if (response) {
				      	showImage(response);
				    } else {
				      	var reader = new FileReader();
				      	reader.onload = function(e) {
				        	callback(e.target.result);
				      	};
				      	reader.readAsDataURL(image);
				    }
				  }
				}
				xhr.send(data);
			};
		
			var addRowBasicInfo = function(){
				$('#gcBasicTable tbody').append($('#gcBasicTable-rowTemplate').html());
				initDeleteFunction();
			};
			
			var thisObj = '';
			$(document).unbind('change').on('change', '#input-file-basicPictureURL', function(){
				var sURL = /*[[@{/do/fileManager/uploadFeaturedImage/}]]*/ #;
				var thisObj = $('#input-file-basicPictureURL')[0];
				uploadFile(thisObj.files[0], sURL);
			});
			
			$('#groupCourse-detail-btn-save').click(function(e){
				e.preventDefault();
				submitForm();
			});
			
			$('#groupCourse-detail-btn-cancel').click(function(e){
				e.preventDefault();
				backToList();
			});
			
			$('#gcBasicTable-add-row').click(function(e){
				e.preventDefault();
				addRowBasicInfo();
			});
			
	    });
	/*]]>*/
	</script>
</body>
</html>