<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<meta name="author" content="Mardy Jonathan"/>
<title></title>
</head>
<body>
		<div class="breadcrumb-wrapper">
			<div class="breadcrumb">
				<div class="container">
					<ul>
					<li><a th:href="@{/}">Beranda</a></li>
					<th:block th:if="${rolePermalink == 'teacher'}">
						<li><a th:href="@{/page/team/}+${rolePermalink}">Tim Pengajar</a></li>
						<li><a href="#">Tim Pengajar Detail</a></li>
					</th:block>
					<th:block th:if="${rolePermalink == 'advisor'}">
						<li><a th:href="@{/page/team/}+${rolePermalink}">Tim Advisor</a></li>
						<li><a href="#">Tim Advisor Detail</a></li>
					</th:block>
					</ul>
				</div>
			</div>
		</div>
		<div class="content_top">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-2 content_left">
						<img th:src="${detail.party.encodedPicture}" style="width:100%;height:auto"/>
					</div>
					<div class="col-xs-12 col-sm-10">
						<h1 th:utext="${detail.party.name}"></h1>
						<label>Email</label> : <span th:utext="${detail.email}"></span><br/>
						<th:block th:if="${!detail.party.partyContacts.empty}">
							<label>No. Telp</label> : <span th:utext="${detail.party.partyContacts[0].contact}"></span><br/>
						</th:block>
						<span th:utext="${detail.party.profileDescription}"></span>
					</div>
				</div>
			</div>
		</div>
		
		<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		/*]]>*/
		</script>
</body>
</html>