<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<meta name="author" content="Mardy Jonathan"/>
<title></title>
</head>
<body>
		<div class="contact_map">
			<img th:src="@{/images/menara-btn.PNG}" style="width:100%"/>
		</div><!--end contact map-->
		
		<div class="custom_content custom">
			<div class="container large">
				
				<div class="row">
					<div class="col-xs-12 col-sm-8 col-md-8 custom_right">
						<div class="single_content_left">
							<h3>Contact Us</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consectetur ante volutpat sem aliquam lobortis. Mauris porta fermentum volutpat. Praesent est sapien, tincidunt vel arcu vitae, mattis sollicitudin lectus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consectetur ante volutpat sem aliquam </p>
							<p>Consectetur adipiscing elit. Aenean consectetur ante volutpat sem aliquam lobortis. Mauris porta fermentum volutpat. Mattis sollicitudin lectus.</p>
							
							<div class="contact_form">
									
								<form method="post" action="#" id="email_form">
									<div class="row learning" th:if="${T(id.base.app.ILookupConstant.CategoryHelp).PROGRAM == type}">
										<div class="col-xs-12 col-sm-7">
											<div class="form-group">
												<label>Learning <span class="error">*</span></label>
												<select class="form-control" name="learning">
													<option th:each="course, i : ${courses}" th:text="${course.name}" th:value="${course.pkCourse}"></option>
												</select>
											</div>
										</div>
									</div><!--end row-->
								
									<div class="row tema" th:if="${T(id.base.app.ILookupConstant.CategoryHelp).CONSULT == type}">
										<div class="col-xs-12 col-sm-7">
											<div class="form-group">
												<label>Tema <span class="error">*</span></label>
												<select class="form-control" name="tema">
													<option th:each="tema, i : ${temas}" th:text="${tema.name}" th:value="${tema.pkLookup}"></option>
												</select>
											</div>
										</div>
									</div><!--end row-->
								
									<div class="row">
										<div class="col-xs-12 col-sm-7">
											<div class="form-group">
												<label>Nama <span class="error">*</span></label>
												<input type="text" class="form-control" name="name" />
											</div>
										</div>
									</div><!--end row-->
									
									<div class="row">
										<div class="col-xs-12 col-sm-7">
											<div class="form-group">
												<label>No. Telp  <span class="error">*</span></label>
												<input type="text" class="form-control" name="telp" />
											</div>
										</div>
									</div><!--end row-->
									
									<div class="row">
										<div class="col-xs-12 col-sm-7">
											<div class="form-group">
												<label>Email <span class="error">*</span></label>
												<input type="text" class="form-control" name="email" />
											</div>
										</div>
									</div><!--end row-->
									
									<div class="row">
										<div class="col-xs-12 col-sm-7">
											<div class="form-group">
												<label>Alamat <span class="error">*</span></label>
												<input type="text" class="form-control" name="address" />
											</div>
										</div>
									</div><!--end row-->
									
									<div class="row">
										<div class="col-xs-12 col-sm-7">
											<div class="form-group">
												<label>Instansi <span class="error">*</span></label>
												<input type="text" class="form-control" name="instansi" />
											</div>
										</div>
									</div><!--end row-->
									
									<div class="row">
										<div class="col-xs-12 col-sm-11">
											<div class="form-group">
												<label>Message <span class="error">*</span></label>
												<textarea class="form-control" cols="10" rows="9" name="message"></textarea>
											</div>
										</div>
									</div><!--end row-->
									<input type="hidden" name="type" th:value="${type}"/>
									<input type="button" value="Send" class="commonBtn mrdy_btn" id="sendEmail" />
								</form>
							</div>  
							
							
						</div><!--end single content left-->
						
						
						
					</div>
					
					<div class="col-xs-12 col-sm-4 col-md-4 custom_left">
						<div class="sidebar">
							<div class="list_block sidebar_item custom">
								<h5>Kantor Pusat</h5>
								<ul class="contact_info custom">
									<li><i class="fa fa-home"></i> Menara Bank BTN, Jl. Gajah Mada No.1, Jakarta 10130</li>
									<li><i class="fa fa-phone"></i>(021) 6336789, Fax. (021) 6336719</li>
									<li><i class="fa fa-envelope"></i> <a href="mailto:tpl@kompas.com">btncontactcenter@btn.co.id</a></li>
								</ul>
							</div>
							<div class="list_block">
								<h3>Working Hours</h3>
								<ul class="contact_info">
									<li><strong>Senin-Jumat:</strong> 8am to 8pm</li>
									<li><strong>Sabtu:</strong> 9am to 3pm</li>
									<li><strong>Minggu:</strong> Tutup</li>
								</ul>
								
							</div><!--end sidebar item-->
							
						</div><!--end sidebar-->
					</div>
					
				</div><!--end row-->
				
			</div>
		</div><!--end custom content-->
		
		<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		$(function(){
			$("#sendEmail").unbind('click').click(function(){
				var sURL = /*[[@{/page/contact/sendEmail}]]*/ #;
				sendEmail(sURL);
			});
		})      
		
		function sendEmail(sURL){
			var img_url = /*[[@{/images/gif/loading_gear.gif}]]*/;
			$.ajax({ 
			    type: "POST",
			    url: sURL,
			    data:$('#email_form').serialize(),
			    dataType: 'json',
			    success: function(data){
			    	if(data.success){
			    		alert(data.message);
			    	}else{
			    		alert(data.message);
			    	}
			    },beforeSend: function($jqXHR, $textStatus){
					$('.mrdy_btn').disableBtn({enabled:false});
					$('.mrdy_overlay').html('<div class="col-md-12 loading_reload" style="display: block; margin-left: auto; margin-right: auto;text-align: center;top: 40%;"><img src="'+img_url+'" /></div>');
				},
				error: function ($jqXHR, $textStatus, $errorThrown) {
					$('.loading_reload').remove();
					$('.mrdy_btn').disableBtn({enabled:true});
				},
				complete: function($jqXHR, $textStatus){
					$('.loading_reload').remove();
					$('.mrdy_btn').disableBtn({enabled:true});
				} 
			});
		}
		/*]]>*/
		</script>
</body>
</html>