<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:ifs="http://btn.co.id">
<head>
<meta charset="ISO-8859-1"/>
<title>FAQ Detail</title>
</head>
<style>
</style>
<body>
	<div class="pageheader">
		<div class="row col-md-8">
			<h4><i class="fa fa-tachometer"></i> FAQ / FAQ List / FAQ Detail
			<span></span></h4>
		</div>
	</div>
	<div class="row col-md-12">
	<section class="tile transparent">
			<div class="tile-body rounded-corners">
				<form action="#" id="faq-detail-form" class="form-horizontal" method="POST" novalidate="novalidate" th:object="${detail}">
					<div class="stockTypeStyle">
						<div class="form-group">
							<div class="col-md-12">
								<div id="errorFragmentList">
									<th:block th:if="${message}">
										<div class='alert alert-success'>
											<a href='#' class='close' data-dismiss='alert' aria-label='close' title='close'>&#10006;</a>			
											<label th:text="${message}"></label>
										</div>
									</th:block>
								</div>
							</div>									
							&nbsp;
						</div>
						<input id="faq-detail-maintenancePk" type="hidden" th:field="*{pkfaq}"/>
						<div class="form-group">
							<label class="col-sm-2 control-label" th:text="'Title'">Title</label>
							<div class="col-sm-9 form-input-container">
								<input type="text" class="form-control" placeholder="Title" name="srch-term" id="input-text-title" th:field="*{title}"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" th:text="'Featured Image'">Featured Image</label>
							<div class="col-sm-9 form-input-container">
								<th:block th:if="${detail.imageURL != null}">
									<input type="hidden" id="input-hidden-imageURL" th:field="*{imageURL}"/>
									<input type="file" class="form-control" id="input-file-imageURL" style="display:none;"/>
									<div id="container-imageURL">
										<img th:src="${detail.imageURL}" class="faqDetail-image"/>
										<a href="#" class="btn btn-primary btn-xs margin-bottom-20 image-delete" data-toggle="tooltip" title="Delete"><i class="fa fa-trash"></i></a>
									</div>
								</th:block>
								<th:block th:if="${detail.imageURL == null}">
									<input type="hidden" id="input-hidden-imageURL" name="imageURL"/>
									<input type="file" class="form-control" id="input-file-imageURL"/>
									<div id="container-imageURL" style='display:none;'>
									</div>
								</th:block>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" th:text="'Content'">Content</label>
							<input id="tinyMCE-hidden" name="content" type="hidden"/>
							<div id="tinyMCE-parent" class="col-sm-9">					
								<textarea id="tinyMCE-area" th:text="*{content}">
								</textarea>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" th:text="'Excerpt'">Excerpt</label>
							<div class="col-sm-9">							
								<textarea th:field="*{excerpt}" class="form-control"></textarea>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" th:text="'Status'">Status</label>
							<div class="col-sm-9 form-input-container">
								<select class="chosen-select form-control" th:field="*{status}">
									<option th:each="opt : ${statusOptions}" th:value="${opt.code}" th:text="${opt.name}">Name</option>
                           		</select>
                           	</div>
						</div>
						<div class="form-group">
                          	<label class="col-sm-2 control-label">Publishing Date</label>
                          	<div class="col-sm-9">
                            	<input type='text' class="datepicker input-date form-control" th:name="publishDate" th:value="${detail.publishDate!=null?#dates.format(detail.publishDate, T(id.base.app.SystemConstant).SYSTEM_DATE_MASK_2):''}" />
                           </div>
                       	</div>
						<div class="form-group form-footer">				
							<div class="col-sm-offset-3 col-sm-9">
								<a href="#" id="faq-detail-btn-cancel" class="btn btn-default" type="reset" data-toggle="tooltip" title="">Batal</a>
								<button id="faq-detail-btn-save" class="btn btn-primary" type="submit" data-toggle="tooltip" title="">Simpan</button>
							</div>
						</div>
					</div>
				</form>
			</div>
	</section>
	</div>
	<script th:inline="javascript">
	/*<![CDATA[*/
	    function initDeletePicture() {
			$('.image-delete').click(function(e){
				e.preventDefault();
				$('#input-file-imageURL').show();
				$('#container-imageURL').html("");
				$('#input-hidden-imageURL, #input-file-imageURL').val("");
				$('#container-imageURL').hide();
			});
		}
	
	    $(function(){
	    	var uploadURL = /*[[@{/do/fileManager/upload/}]]*/ #;
	    	initDatePicker("datepicker", "dd/mm/yyyy");
	    	initTextEditorWithoutP('#tinyMCE-area', '#tinyMCE-parent', uploadURL);
	    	initDeletePicture();
	    	
			var backToList = function(){
				removeTextEditor("tinyMCE-area", "tinyMCE-parent");
				returnToList('faq-detail-container', 'faq-list-container', true);
			};
	    	
			var submitForm = function(){
				cleanErrorParsley();
				$('#tinyMCE-hidden').val(tinymce.get('tinyMCE-area').getContent());
				var sURL = /*[[@{/do/faq/faqMaintenance/savefaq/}]]*/ #;
				$.post(sURL, $("#faq-detail-form").serialize(), function(data) {
					if(data.errorList!=null){
						
					}else{
						bootBoxSuccessSave('faq Successfully Saved', backToList);
					}
				});
			};
			
			var showImage = function(imageURL) {
				$('#input-file-imageURL').hide();
				var htmlContent = '<image src="'+imageURL+'" style="max-height:250px;"></image>';
				htmlContent += '<a href="#" class="btn btn-primary btn-xs margin-bottom-20 image-delete" data-toggle="tooltip" title="Delete" style="position:absolute; left:25px; top:10px;"><i class="fa fa-trash"></i></a>';
				$('#container-imageURL').html(htmlContent);
				$('#input-hidden-imageURL').val(imageURL);
				$('#container-imageURL').show();
				initDeletePicture();
			}
			
			var uploadFile = function(image, uploadURL) {
				var data = new FormData();
				data.append('file', image);
				var xhr = new XMLHttpRequest();
				xhr.open('POST', uploadURL, true);
				xhr.onreadystatechange = function() {
				  if (xhr.readyState === 4) {
				    var response = JSON.parse(xhr.responseText);
				    if (response) {
				      	showImage(response);
				    } else {
				      	var reader = new FileReader();
				      	reader.onload = function(e) {
				        	callback(e.target.result);
				      	};
				      	reader.readAsDataURL(image);
				    }
				  }
				}
				xhr.send(data);
			};
			
			$('#faq-detail-btn-save').click(function(e){
				e.preventDefault();
				submitForm();
			});
			
			$('#faq-detail-btn-cancel').click(function(e){
				e.preventDefault();
				backToList();
			});
			
			$('#input-file-imageURL').change(function(){
				var sURL = /*[[@{/do/fileManager/uploadFeaturedImage/}]]*/ #;
				var thisObj = $('#input-file-imageURL')[0];
				uploadFile(thisObj.files[0], sURL);
			});
			
	    });
	/*]]>*/
	</script>
</body>
</html>
