<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:ifs="http://padiku.id">
<head>
<meta charset="ISO-8859-1"/>
<title>Digital Book Detail</title>
</head>
<style>
.gcDetail-basicPicture {
	max-height : 250px;
}

.basicPicture-delete {
	position:absolute;
	left:25px;
	top:10px;
}
</style>
<body>
	<div class="pageheader">
		<div class="row col-md-8">
			<h4><i class="fa fa-tachometer"></i> Publication Editor / eBook List / eBook Detail
			<span></span></h4>
		</div>
	</div>
	<div class="row col-md-12">
	<section class="tile transparent">
			<div class="tile-body rounded-corners">
				<form action="#" id="digitalBook-detail-form" class="form-horizontal" method="POST" novalidate="novalidate" th:object="${detail}">
					<div class="stockTypeStyle">
						<div class="form-group">
							<div class="col-md-12">
								<div id="errorFragmentList">
									<th:block th:if="${message}">
										<div class='alert alert-success'>
											<a href='#' class='close' data-dismiss='alert' aria-label='close' title='close'>&#10006;</a>			
											<label th:text="${message}"></label>
										</div>
									</th:block>
								</div>
							</div>									
							&nbsp;
						</div>
						<input id="digitalBook-detail-maintenancePk" type="hidden" th:field="*{pkDigitalBook}"/>
						<div class="form-group">
							<label class="col-sm-2 control-label" th:text="'Title'">Title</label>
							<div class="col-sm-10 form-input-container">
								<input type="text" class="form-control" placeholder="Title" name="srch-term" id="input-text-title" th:field="*{title}"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" th:text="'Cover Image'">Cover Image</label>
							<div class="col-sm-10 form-input-container">
								<th:block th:if="${detail.coverImageURL != null}">
									<input type="hidden" id="input-hidden-coverImageURL" th:field="*{coverImageURL}"/>
									<input type="file" class="form-control" id="input-file-coverImageURL" style="display:none;"/>
									<div id="container-coverImageURL">
										<img th:src="${detail.coverImageURL}" class="gcDetail-basicPicture"/>
										<a href="#" class="btn btn-primary btn-xs margin-bottom-20 coverImage-delete" data-toggle="tooltip" title="Delete" style="position:absolute; left:25px; top:10px;"><i class="fa fa-trash"></i></a>
									</div>
								</th:block>
								<th:block th:if="${detail.coverImageURL == null}">
									<input type="hidden" id="input-hidden-coverImageURL" name="coverImageURL"/>
									<input type="file" class="form-control" id="input-file-coverImageURL"/>
									<div id="container-coverImageURL" style='display:none;'>
									</div>
								</th:block>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" th:text="'File'">File</label>
							<div class="col-sm-10 form-input-container">
								<th:block th:if="${detail.fileURL != null}">
									<input type="hidden" id="input-hidden-fileURL" th:field="*{fileURL}"/>
									<input type="file" class="form-control" id="input-file-fileURL" style="display:none;"/>
									<div id="container-fileURL">
										<label th:text="'Uploaded File'"></label>
										<a href="#" class="btn btn-primary btn-xs margin-bottom-20 file-delete" data-toggle="tooltip" title="Delete"><i class="fa fa-trash"></i></a>
									</div>
								</th:block>
								<th:block th:if="${detail.fileURL == null}">
									<input type="hidden" id="input-hidden-fileURL" name="fileURL"/>
									<input type="file" class="form-control" id="input-file-fileURL"/>
									<div id="container-fileURL" style='display:none;'>
									</div>
								</th:block>
							</div>
						</div>
						<hr style="border-top: 1px;"/>
						<div class="form-group">
							<div class="col-sm-12">							
								<label class="col-sm-1 control-label" th:text="'Description'">Description</label>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-12">
								<input id="textEditor-description-hidden" name="description" type="hidden"/>
								<div id="textEditor-description-parent" class="col-sm-12">					
									<textarea id="textEditor-description-area" th:text="*{description}">
									</textarea>
								</div>
							</div>
						</div>
						<div class="form-group form-footer">				
							<div class="col-sm-offset-3 col-sm-9">
								<a href="#" id="digitalBook-detail-btn-cancel" class="btn btn-default" type="reset" data-toggle="tooltip" title="">Batal</a>
								<button id="digitalBook-detail-btn-save" class="btn btn-primary" type="submit" data-toggle="tooltip" title="">Simpan</button>
							</div>
						</div>
					</div>
				</form>
			</div>
	</section>
	</div>
	<script th:inline="javascript">
	/*<![CDATA[*/
	           
	    function initDeletePicture() {
			$('.coverImage-delete').click(function(e){
				e.preventDefault();
				$('#input-file-coverImageURL').show();
				$('#container-coverImageURL').html("");
				$('#input-hidden-coverImageURL, #input-file-coverImageURL').val("");
				$('#container-coverImageURL').hide();
			});
		}
	
	    function initDeleteFile() {
			$('.file-delete').click(function(e){
				e.preventDefault();
				$('#input-file-fileURL').show();
				$('#container-fileURL').html("");
				$('#input-hidden-fileURL, #input-file-fileURL').val("");
				$('#container-fileURL').hide();
			});
		}
		
		$(function(){
			var fileManagerURL = /*[[@{/do/fileManager/upload/}]]*/ #; 
			
	    	initDeletePicture();
	    	initDeleteFile();
	    	initTextEditor('#textEditor-description-area', '#textEditor-description-parent', fileManagerURL);
	    	
			var backToList = function(){
				removeTextEditor("textEditor-description-area", "textEditor-description-parent");
				returnToList('digitalBook-detail-container', 'digitalBook-list-container', true);
			};
	    	
			var submitForm = function(){
				cleanErrorParsley();
				var sURL = /*[[@{/do/publication/digitalBook/saveDigitalBook/}]]*/ #;
				$('#textEditor-description-hidden').val(tinymce.get('textEditor-description-area').getContent());
				$.post(sURL, $("#digitalBook-detail-form").serialize(), function(data) {
					if(data.errorList!=null){
						displayErrorParsley(data.errorList);
					}else{
						bootBoxSuccessSave('Ebook Successfully Saved', backToList);
					}
				});
			};
		
			var showImage = function(imageURL) {
				$('#input-file-coverImageURL').hide();
				var htmlContent = '<image src="'+imageURL+'" style="max-height:250px;"></image>';
				htmlContent += '<a href="#" class="btn btn-primary btn-xs margin-bottom-20 coverImage-delete" data-toggle="tooltip" title="Delete" style="position:absolute; left:25px; top:10px;"><i class="fa fa-trash"></i></a>';
				$('#container-coverImageURL').html(htmlContent);
				$('#input-hidden-coverImageURL').val(imageURL);
				$('#container-coverImageURL').show();
				initDeletePicture();
			}
			
			var showFile = function(fileURL) {
				$('#input-file-fileURL').hide();
				var htmlContent = '<label style="margin-right:10px;">Uploaded File</label>';
				htmlContent += '<a href="#" class="btn btn-primary btn-xs margin-bottom-20 file-delete" data-toggle="tooltip" title="Delete"><i class="fa fa-trash"></i></a>';
				$('#container-fileURL').html(htmlContent);
				$('#input-hidden-fileURL').val(fileURL);
				$('#container-fileURL').show();
				initDeleteFile();			
			}
			
			var uploadFile = function(image, uploadURL, isImage) {
				var data = new FormData();
				data.append('file', image);
				var xhr = new XMLHttpRequest();
				xhr.open('POST', uploadURL, true);
				xhr.onreadystatechange = function() {
				  if (xhr.readyState === 4) {
				    var response = JSON.parse(xhr.responseText);
				    if (isImage == true) {
				    	if (response) {
					      	showImage(response);
					    } else {
					      	var reader = new FileReader();
					      	reader.onload = function(e) {
					        	callback(e.target.result);
					      	};
					      	reader.readAsDataURL(image);
					    }	
				    } else {
				    	if (response) {
				    		showFile(response);
				    	}
				    }
				  }
				}
				xhr.send(data);
			};
			
			$('#input-file-coverImageURL').change(function(){
				var sURL = /*[[@{/do/fileManager/uploadFeaturedImage/}]]*/ #;
				var thisObj = $('#input-file-coverImageURL')[0];
				uploadFile(thisObj.files[0], sURL, true);
			});
			
			$('#input-file-fileURL').change(function(){
				var sURL = /*[[@{/do/fileManager/uploadEBookFile/}]]*/ #;
				var thisObj = $('#input-file-fileURL')[0];
				uploadFile(thisObj.files[0], sURL, false);
			});
			
			$('#digitalBook-detail-btn-save').click(function(e){
				e.preventDefault();
				submitForm();
			});
			
			$('#digitalBook-detail-btn-cancel').click(function(e){
				e.preventDefault();
				backToList();
			});
	    });
	/*]]>*/
	</script>
</body>
</html>