<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:ifs="http://btn.co.id">
<head>
<meta charset="ISO-8859-1"/>
<title>Housing Index Detail</title>
</head>
<style>
</style>
<body>
	<div class="pageheader">
		<div class="row col-md-8">
			<h4><i class="fa fa-tachometer"></i> Publication / Housing Index List / Housing Index Detail
			<span></span></h4>
		</div>
	</div>
	<div class="row col-md-12">
	<section class="tile transparent">
			<div class="tile-body rounded-corners">
				<form action="#" id="housingIndex-detail-form" class="form-horizontal" method="POST" novalidate="novalidate" th:object="${detail}">
					<div class="stockTypeStyle">
						<div class="form-group">
							<div class="col-md-12">
								<div id="errorFragmentList">
									<th:block th:if="${message}">
										<div class='alert alert-success'>
											<a href='#' class='close' data-dismiss='alert' aria-label='close' title='close'>&#10006;</a>			
											<label th:text="${message}"></label>
										</div>
									</th:block>
								</div>
							</div>									
							&nbsp;
						</div>
						<input id="housingIndex-detail-maintenancePk" type="hidden" th:field="*{pkHousingIndex}"/>
						<div class="form-group">
							<label class="col-sm-2 control-label" th:text="'Title'">Title</label>
							<div class="col-sm-9 form-input-container">
								<input type="text" class="form-control" placeholder="Title" name="srch-term" id="input-text-title" th:field="*{title}"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" th:text="'File'">File</label>
							<div class="col-sm-9 form-input-container">
								<th:block th:if="${detail.fileURL != null}">
									<input type="hidden" id="input-hidden-fileURL" th:field="*{fileURL}"/>
									<input type="file" class="form-control" id="input-file-fileURL" style="display:none;"/>
									<div id="container-fileURL">
										<label th:text="'Uploaded File'"></label>
										<a href="#" class="btn btn-primary btn-xs margin-bottom-20 file-delete" data-toggle="tooltip" title="Delete"><i class="fa fa-trash"></i></a>
									</div>
								</th:block>
								<th:block th:if="${detail.fileURL == null}">
									<input type="hidden" id="input-hidden-fileURL" name="fileURL"/>
									<input type="file" class="form-control" id="input-file-fileURL"/>
									<div id="container-fileURL" style='display:none;'>
									</div>
								</th:block>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" th:text="'Status'">Status</label>
							<div class="col-sm-9 form-input-container">
								<select class="chosen-select form-control" th:field="*{status}">
									<option th:each="opt : ${statusOptions}" th:value="${opt.code}" th:text="${opt.name}">Name</option>
                           		</select>
                           	</div>
						</div>
						<div class="form-group form-footer">				
							<div class="col-sm-offset-3 col-sm-9">
								<a href="#" id="housingIndex-detail-btn-cancel" class="btn btn-default" type="reset" data-toggle="tooltip" title="">Batal</a>
								<button id="housingIndex-detail-btn-save" class="btn btn-primary" type="submit" data-toggle="tooltip" title="">Simpan</button>
							</div>
						</div>
					</div>
				</form>
			</div>
	</section>
	</div>
	<script th:inline="javascript">
	/*<![CDATA[*/
	    function initDeleteFile() {
			$('.file-delete').click(function(e){
				e.preventDefault();
				$('#input-file-fileURL').show();
				$('#container-fileURL').html("");
				$('#input-hidden-fileURL, #input-file-fileURL').val("");
				$('#container-fileURL').hide();
			});
		}
		
		$(function(){
			var fileManagerURL = /*[[@{/do/fileManager/upload/}]]*/ #; 
			
	    	initDeleteFile();
	    	
			var backToList = function(){
				returnToList('housingIndex-detail-container', 'housingIndex-list-container', true);
			};
	    	
			var submitForm = function(){
				cleanErrorParsley();
				var sURL = /*[[@{/do/publication/housingIndex/saveHousingIndex/}]]*/ #;
				$('#textEditor-description-hidden').val(tinymce.get('textEditor-description-area').getContent());
				$.post(sURL, $("#housingIndex-detail-form").serialize(), function(data) {
					if(data.errorList!=null){
						displayErrorParsley(data.errorList);
					}else{
						bootBoxSuccessSave('Housing Index Successfully Saved', backToList);
					}
				});
			};
			
			var showFile = function(fileURL) {
				$('#input-file-fileURL').hide();
				var htmlContent = '<label style="margin-right:10px;">Uploaded File</label>';
				htmlContent += '<a href="#" class="btn btn-primary btn-xs margin-bottom-20 file-delete" data-toggle="tooltip" title="Delete"><i class="fa fa-trash"></i></a>';
				$('#container-fileURL').html(htmlContent);
				$('#input-hidden-fileURL').val(fileURL);
				$('#container-fileURL').show();
				initDeleteFile();			
			}
			
			var uploadFile = function(image, uploadURL, isImage) {
				var data = new FormData();
				data.append('file', image);
				var xhr = new XMLHttpRequest();
				xhr.open('POST', uploadURL, true);
				xhr.onreadystatechange = function() {
				  if (xhr.readyState === 4) {
				    var response = JSON.parse(xhr.responseText);
				    if (isImage == true) {
				    	if (response) {
					      	showImage(response);
					    } else {
					      	var reader = new FileReader();
					      	reader.onload = function(e) {
					        	callback(e.target.result);
					      	};
					      	reader.readAsDataURL(image);
					    }	
				    } else {
				    	if (response) {
				    		showFile(response);
				    	}
				    }
				  }
				}
				xhr.send(data);
			};
			
			$('#input-file-fileURL').change(function(){
				var sURL = /*[[@{/do/fileManager/uploadEBookFile/}]]*/ #;
				var thisObj = $('#input-file-fileURL')[0];
				uploadFile(thisObj.files[0], sURL, false);
			});
			
			$('#housingIndex-detail-btn-save').click(function(e){
				e.preventDefault();
				submitForm();
			});
			
			$('#housingIndex-detail-btn-cancel').click(function(e){
				e.preventDefault();
				backToList();
			});
	    });
	/*]]>*/
	</script>
</body>
</html>