<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:ifs="http://base.id">
<head></head>
<body>
<div id="contactActivity-feed" class="panel" th:fragment="contactActivity(contacts, unreadContactsMessage)">
	<div class="panel-heading">
		<h3 class="panel-title">
			Daily Contact Activity Feed <span class="pull-right label label-round label-warning" th:text="${unreadContactsMessage + ' Unread Messages'}"></span>
		</h3>
	</div>
	<div class="panel-body">
		<ul class="list-group list-group-dividered list-group-full">
			<li th:each="activity : ${contacts}" class="list-group-item">
				<div class="media">
					<div class="media-body col-md-12">
						<h4 class="media-heading" style="width:100%;">
							<small class="pull-right" th:text="${activity.activityAge}"></small>
								<span style="color: red;">* &nbsp;</span><a class="name" th:text="${activity.email}">Name</a>
						</h4>
						<small th:text="${activity.activityDate!=null?#dates.format(activity.activityDate, T(id.base.app.SystemConstant).SYSTEM_TIME_MASK_SECONDHAND):''}"></small>
						<div class="content well" th:text="${activity.message}"></div>
						<small class="pull-right"><a>read more</a></small>
					</div>
				</div>
			</li>
		</ul>
		<button type="button"
			class="btn btn-block btn-primary waves-effect waves-light">
			<i class="icon md-chevron-down margin-right-5" aria-hidden="true"></i>Show
			More
		</button>
	</div>
</div>
</body>
</html>