<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:ifs="http://base.id">
<head></head>
<body>
<div id="dailyNotifications-feed" class="panel" th:fragment="notificationsSection(notifications, unreadNotifications)">
	<div class="panel-heading">
		<h3 class="panel-title">
			Daily Activity Feed <span class="pull-right label label-round label-warning" th:text="${unreadNotifications + ' Unread Notifications'}" style="display:none;"></span>
		</h3>
	</div>
	<div class="panel-body">
		<div class="stream-new-notifications">
			<a class="stream-new-notifications-content">
				<span class="count-new-notifications"></span> new Results
			</a>
		</div>
		<ul class="list-group list-group-dividered list-group-full dailyNotifications-feed-content">
			<th:block th:if="${not #lists.isEmpty(notifications)}">
				<li th:each="notification : ${notifications}" class="list-group-item">
					<div class="media">
						<div class="media-body col-md-12">
							<h4 class="media-heading" style="width:100%;">
								<a class="name" th:text="${notification.emailFrom}">Name</a>
								<small th:text="${notification.actionAge}"></small> <small class="notification-status" th:text="${notification.statusDescr}"></small>
							</h4>
							<small th:text="${notification.actionDate!=null?#dates.format(notification.actionDate, T(id.base.app.SystemConstant).SYSTEM_TIME_MASK_SECONDHAND):''}"></small>
							<div class="notification-content content well" th:text="${notification.overviewMessage}"></div>
							<small class="pull-right"><a th:href="${notification.detailURL + notification.fkMaintenance}">read more</a></small>
						</div>
					</div>
				</li>
			</th:block>
			<th:block th:if="${#lists.isEmpty(notifications)}">
				<div class="media">
					<div class="media-body col-md-12"></div>
				</div>
			</th:block>
		</ul>
		<a href="#" id="btn-notification-list" class="btn btn-block btn-primary waves-effect waves-light" style="color:#fff !important;margin-bottom:5px">
			Show More
		</a>
	</div>
</div>
</body>
</html>