<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:ifs="http://base.id">
<head>
<meta charset="ISO-8859-1"/>
<title>Dashboard</title></head>
<body>
<style>
.morris-hover{position:absolute;z-index:1000}.morris-hover.morris-default-style{border-radius:10px;padding:6px;color:#666;background:rgba(255,255,255,0.8);border:solid 2px rgba(230,230,230,0.8);font-family:sans-serif;font-size:12px;text-align:center}.morris-hover.morris-default-style .morris-hover-row-label{font-weight:bold;margin:0.25em 0}
.morris-hover.morris-default-style .morris-hover-point{white-space:nowrap;margin:0.1em 0}

.container {
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
}

#Date {
    font-size: 20px;
    text-align: center;
}

.dateul {
    margin: 0 auto;
    padding: 0px;
    list-style: none;
    text-align: center;
}

.dateul li {
    display: inline;
    text-align: center;
}

#point {
    position: relative;
    -moz-animation: mymove 1s ease infinite;
    -webkit-animation: mymove 1s ease infinite;
    padding-left: 10px;
    padding-right: 10px;
}

/* Simple Animation */
@-webkit-keyframes mymove {
    0% {opacity: 1.0;
    text-shadow: 0 0 20px #00c6ff;
}

50% {
    opacity: 0;
    text-shadow: none;
}

100% {
    opacity: 1.0;
    text-shadow: 0 0 20px #00c6ff;
}	
}

@-moz-keyframes mymove {
    0% {
        opacity: 1.0;
        text-shadow: 0 0 20px #00c6ff;
    }

    50% {
        opacity: 0;
        text-shadow: none;
    }

    100% {
        opacity: 1.0;
        text-shadow: 0 0 20px #00c6ff;
    };
}
.weather-wrapper{
	text-align:center;
}
.weather-wrapper h4{
	margin-bottom:5px;
}
.weather-font{
	font-size:50px;
}
</style>     

<div id="content" class="col-md-12">
	<!-- page header -->
	<div class="pageheader">
		<h4><i class="fa fa-desktop"></i> Dashboard
		<span></span></h4>
	</div>
	<!-- /page header -->
	
	<!-- content main container -->
	<div class="main">

		<!-- row -->
		<div class="row">

		<!-- col 4 -->
		<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
		<!-- tile -->
                <section class="tile">
                  <!-- tile header -->
                  <div class="tile-header">
                    <h1><strong>Ramalan Cuaca</strong></h1>
                  </div>
                  <!-- /tile header -->

                  <!-- tile body -->
                  <div class="tile-body weather-tile">
                    <div class="row">
                      <div class="col-md-4 weather-wrapper">
                        <h4>H</h4>
                        <span class="weather-font"><i th:class="${'wi wi-forecast-io-' + forecastResult?.icon}"></i></span><br/>
                        <!-- 32&deg;C  -->
                        <label th:text="${forecastResult?.temperatureCelcius}"></label>&deg;C
                      </div>
                      <div class="col-md-4 weather-wrapper">
                        <h4>H + 1</h4>
                        <span class="weather-font"><i th:class="${'wi wi-forecast-io-' + forecastResultPlusOne?.icon}"></i></span><br/>
                        <label th:text="${forecastResultPlusOne?.temperatureCelcius}"></label>&deg;C
                      </div>
                      <div class="col-md-4 weather-wrapper">
                        <h4>H + 2</h4>
                        <span class="weather-font"><i th:class="${'wi wi-forecast-io-' + forecastResultPlusTwo?.icon}"></i></span><br/>
                        <label th:text="${forecastResultPlusTwo?.temperatureCelcius}"></label>&deg;C
                      </div>
                    </div>
                    <br/>
                    <div class="row">
                    	<div class="col-md-6">
                    		<span>diperbaharui :</span>
                    	</div>
                    	<div class="col-md-6">
                    		<span>diperbaharui selanjutnya :</span>
                    	</div>
                    </div>
                    <div class="row">
                    	<div class="col-md-6"> 
                    		<h5>Pukul <label th:text="${forecastResult?.forecastTime}"></label>.00</h5>
                    	</div>
                    	<div class="col-md-6">
                    		<h5>Pukul <label th:text="${forecastResult?.nextHour}"></label>.00</h5>
                    	</div>
                    </div>
                  </div>
                  <!-- /tile body -->
                </section>
                <!-- /tile -->
		</div>
		<!-- /col 4 -->
		
		<!-- col 8 -->
		<div class="col-lg-4 col-md-12">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<h2>Cash Flow hari ini</h2>
                <div class="media">
                  <a class="pull-right" href="#">
                    <span id="sales-chart"></span>
                  </a>
                  <div class="media-body">
                  	<div class="row">
                  		<div class="col-md-4"><h4>Pengeluaran</h4></div>
                  		<div class="col-md-8" style="text-align:right"><h5>Rp. <span class="numeric" th:text="${kredit} ? ${#numbers.formatDecimal(kredit,0,2)} : 0.00"></span></h5>
                  		</div>
                  	</div>
                    <section class="tile color transparent-white">
						<div class="tile-body transparent rounded-corners">
                         	<table class="table table-custom transparent-big">
                         		<tbody>
		                    	<tr>
		                    		<td>Penerimaan</td>
		                    		<td>Rp.</td>
		                    		<td style="text-align:right" class="numeric" th:text="${Penerimaan!=null} ? ${#numbers.formatDecimal(Penerimaan.kredit,0,2)} : 0.00"></td>
		                    	</tr>
		                    	<tr>
		                    		<td>Pengolahan</td>
		                    		<td>Rp.</td>
		                    		<td style="text-align:right" class="numeric" th:text="${Pengolahan!=null} ? ${#numbers.formatDecimal(Pengolahan.kredit,0,2)} : 0.00"></td>
		                    	</tr>
		                    	<tr>
		                    		<td>Penjualan</td>
		                    		<td>Rp.</td>
		                    		<td style="text-align:right" class="numeric" th:text="${Penjualan!=null} ? ${#numbers.formatDecimal(Penjualan.kredit,0,2)} : 0.00"></td>
		                    	</tr>
		                    	</tbody>
                   			</table>
                   		</div>
                   	</section>
                   	<div class="row">
                  		<div class="col-md-4"><h4>Pendapatan</h4></div>
                  		<div class="col-md-8" style="text-align:right"><h5>Rp. <span class="numeric" th:text="${debit} ? ${#numbers.formatDecimal(debit,0,2)} : 0.00"></span></h5>
                  		</div>
                  	</div>
                   	<section class="tile color transparent-white">
						<div class="tile-body transparent rounded-corners">
                         	<table class="table table-custom transparent-big">
                         		<tbody>
		                    	<tr>
		                    		<td>Penjualan</td>
		                    		<td>Rp.</td>
		                    		<td style="text-align:right" class="numeric" th:text="${Penjualan!=null} ? ${#numbers.formatDecimal(Penjualan.debit,0,2)} : 0.00"></td>
		                    	</tr>
		                    	</tbody>
                   			</table>
                   		</div>
                   	</section>
                  </div>
                </div>
                <div class="row">
                	<div class="col-md-4"><h4>Cash</h4></div>
                	<div class="col-md-8" style="text-align:right"><h4>Rp. <span class="numeric" th:text="${cash!=null} ? ${#numbers.formatDecimal(cash,0,2)} : 0.00"></span></h4></div>
                </div>
		</div>
		</div>
		<!-- /col 8 -->
		
		<div class="col-lg-4 col-md-12">

                <!-- tile -->
                <section class="tile">
                  <!-- tile header -->
                  <div class="tile-header">
                    <h1><strong>Cash Flow</strong> tahun ini</h1>
                  </div>
                  <!-- /tile header -->

                  <!-- tile body -->
                  <div class="tile-body">
                    <div class="row">
                      <div class="col-md-12">
                        <div id="bar-cash-flow"></div>
                      </div>
                    </div>
                  </div>
                  <!-- /tile body -->
                </section>
                <!-- /tile -->

		</div>

		</div>
		<!-- /row -->
		<br/><br/>
		<div class="row">
			<div class="col-md-12">
				<!-- tile -->
                <section class="tile">
                  <!-- tile header -->
                  <div class="tile-header">
                    <h1><strong>Rata-rata Harga Beli Gabah &amp; Harga Jual Beras </strong> Per Provinsi</h1>
                  </div>
                  <!-- /tile header -->

                  <!-- tile body -->
                  <div class="tile-body">
                    <div class="row">
                      <div class="col-md-12">
                        <div id="bar-harga"></div>
                      </div>
                    </div>
                  </div>
                  <!-- /tile body -->
                </section>
                <!-- /tile -->
			</div>
		</div>


	</div>
	<!-- /content container -->
</div>
<!-- Page content end -->

<script th:inline="javascript">
	/*<![CDATA[*/
	    setMenuActive('dashboard');
	
	    $(function(){
	      	Morris.Bar({
			  element: 'bar-harga',
			  data: [
			    { y: 'Sulawesi Selatan', a: 4659, b: 8738 },
			    { y: 'Jawa Timur', a: 3989,  b: 7682 },
			    { y: 'Jawa Barat', a: 4185,  b: 9129 },
			    { y: 'Sumatera Selatan', a: 3879,  b: 8891 },
			    { y: 'Nusa Tenggara Barat', a: 3699,  b: 7698 }
			  ],
			  xkey: 'y',
			  ykeys: ['a', 'b'],
			  labels: ['Rata-rata Harga Beli Gabah', 'Rata-rata Harga Jual Beras'],
        	  resize:true,
              hideHover: false
			});
			
			Morris.Bar({
				  element: 'bar-cash-flow',
				  data: [
				    { y: 'Jan', a: 4659, b: 8738 },
				    { y: 'Feb', a: 3989,  b: 7682 },
				    { y: 'Mar', a: 4185,  b: 9129 },
				    { y: 'Apr', a: 3879,  b: 8891 },
				    { y: 'Mei', a: 3699,  b: 7698 },
				    { y: 'Jun', a: 3499,  b: 8698 },
				    { y: 'Jul', a: 3639,  b: 9698 },
				    { y: 'Agu', a: 3299,  b: 8698 },
				    { y: 'Sep', a: 3349,  b: 6698 },
				    { y: 'Okt', a: 3689,  b: 9698 },
				    { y: 'Nov', a: 3799,  b: 9598 },
				    { y: 'Des', a: 3639,  b: 8698 }
				  ],
				  xkey: 'y',
				  ykeys: ['a', 'b'],
				  xLabelAngle: 70,
				  labels: ['Rata-rata Harga Beli Gabah', 'Rata-rata Harga Jual Beras'],
	      	  resize:true,
	            hideHover: false
				});
		});
	 
	    $(document).ready(function() {
	    	// Create two variable with the names of the months and days in an array
	    	var monthNames = [ "Januari", "Februari", "Maret", "April", "Mei", "June", "July", "Agustus", "September", "Oktober", "November", "Desember" ]; 
	    	var dayNames= ["Minggu","Senin","Selasa","Rabu","Kamis","Jumat","Sabtu"]

	    	// Create a newDate() object
	    	var newDate = new Date();
	    	// Extract the current date from Date object
	    	newDate.setDate(newDate.getDate());
	    	// Output the day, date, month and year   
	    	$('#Date').html(dayNames[newDate.getDay()] + " " + newDate.getDate() + ' ' + monthNames[newDate.getMonth()] + ' ' + newDate.getFullYear());

	    	setInterval( function() {
	    		// Create a newDate() object and extract the seconds of the current time on the visitor's
	    		var seconds = new Date().getSeconds();
	    		// Add a leading zero to seconds value
	    		$("#sec").html(( seconds < 10 ? "0" : "" ) + seconds);
	    		},1000);
	    		
	    	setInterval( function() {
	    		// Create a newDate() object and extract the minutes of the current time on the visitor's
	    		var minutes = new Date().getMinutes();
	    		// Add a leading zero to the minutes value
	    		$("#min").html(( minutes < 10 ? "0" : "" ) + minutes);
	    	    },1000);
	    		
	    	setInterval( function() {
	    		// Create a newDate() object and extract the hours of the current time on the visitor's
	    		var hours = new Date().getHours();
	    		// Add a leading zero to the hours value
	    		$("#hours").html(( hours < 10 ? "0" : "" ) + hours);
	    	    }, 1000);	
	    	});
	/*]]>*/
</script>
</body>
</html>