<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="author" content="Mardy Jonathan"/>
<title></title>
</head>
<body>
	<div class="breadcrumb-wrapper">
			<div class="breadcrumb">
				<div class="container">
					<ul>
					<li><a th:href="@{/}">Home</a></li>
					<li><a href="#">Advisory</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="advisory_section">
			<div class="advisory_expert">
				<div class="container">
					<div class="advisor_container">
						<div class="row advisor_list"> 
							<div class="col-md-3 align_center"> 
								<input type="hidden" name="pkAppUser" class="id_advisor" th:value="${advisor.pkAppUser}"/>
								<img class="img-circle" th:src="${advisor.party.basicPictureURL}"/>
								<div class="advisor_description">
									<h3 class="big-text yellow-text-color advisor_name" th:text="${advisor.party.name}">George Martin</h3>
									<div class="specialist_part"><label th:text="${advisor.party.title}">Global and Asia Pacific, Americas (APA) Advisory leader</label></div>
								</div>
							</div> 
							<div class="col-md-6">
								<p class="small-text" th:text="${advisor.party.profileDescription}">
									George is one of the co-founders and takes care of growth, product development and partnerships. She is analytical, driven and adapts easily to new conditions, while trying to keep everyone on track.
                                </p>
							</div>
							<div class="col-md-3">
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!-- Start advisory article -->
			<div class="advisory_article">
				<div class="container">
					<div class="article_container row">
						<div class="col-md-3"> 
							<div class="box_article_wrapper">
								<div class="article_box_image"><img th:src="@{/images/concept_house.jpg}" /></div> 
								<div class="article_box_content">
									<h2 class="title_article">Concept House</h2>
									<div class="subtitle_article"><label>Make a Concept House</label></div>
									<div class="created_advisor"><label>By: &nbsp;</label><label>John Doe</label></div>
									<div class="date_advisor"><label>Created: &nbsp;</label><label>30 Januari 2017</label></div>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed dictum lectus. Donec lacus ante, tristique non ... </p>
									<div><a href="#" style="font-size: 12px;">Read More</a></div>
								</div>
							</div>
						</div>
						<div class="col-md-3"> 
							<div class="box_article_wrapper">
								<div class="article_box_image"><img th:src="@{/images/concept_house.jpg}" /></div> 
								<div class="article_box_content">
									<h2 class="title_article">Concept House</h2>
									<div class="subtitle_article"><label>Make a Concept House</label></div>
									<div class="created_advisor"><label>By: &nbsp;</label><label>John Doe</label></div>
									<div class="date_advisor"><label>Created: &nbsp;</label><label>30 Januari 2017</label></div>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed dictum lectus. Donec lacus ante, tristique non ... </p>
									<div><a href="#" style="font-size: 12px;" class="read_more">Read More</a></div>
								</div>
							</div>
						</div>
						<div class="col-md-3"> 
							<div class="box_article_wrapper">
								<div class="article_box_image"><img th:src="@{/images/concept_house.jpg}" /></div> 
								<div class="article_box_content">
									<h2 class="title_article">Concept House</h2>
									<div class="subtitle_article"><label>Make a Concept House</label></div>
									<div class="created_advisor"><label>By: &nbsp;</label><label>John Doe</label></div>
									<div class="date_advisor"><label>Created: &nbsp;</label><label>30 Januari 2017</label></div>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed dictum lectus. Donec lacus ante, tristique non ... </p>
									<div><a href="#" style="font-size: 12px;" class="read_more">Read More</a></div>
								</div>
							</div>
						</div>
						<div class="col-md-3"> 
							<div class="box_article_wrapper">
								<div class="article_box_image"><img th:src="@{/images/concept_house.jpg}" /></div> 
								<div class="article_box_content">
									<h2 class="title_article">Concept House</h2>
									<div class="subtitle_article"><label>Make a Concept House</label></div>
									<div class="created_advisor"><label>By: &nbsp;</label><label>John Doe</label></div>
									<div class="date_advisor"><label>Created: &nbsp;</label><label>30 Januari 2017</label></div>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed dictum lectus. Donec lacus ante, tristique non ... </p>
									<div><a href="#" style="font-size: 12px;" class="read_more">Read More</a></div>
								</div>
							</div>
						</div>
						<div class="col-md-3"> 
							<div class="box_article_wrapper">
								<div class="article_box_image"><img th:src="@{/images/concept_house.jpg}" /></div> 
								<div class="article_box_content">
									<h2 class="title_article">Concept House</h2>
									<div class="subtitle_article"><label>Make a Concept House</label></div>
									<div class="created_advisor"><label>By: &nbsp;</label><label>John Doe</label></div>
									<div class="date_advisor"><label>Created: &nbsp;</label><label>30 Januari 2017</label></div>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed dictum lectus. Donec lacus ante, tristique non ... </p>
									<div><a href="#" style="font-size: 12px;" class="read_more">Read More</a></div>
								</div>
							</div>
						</div>
						<div class="col-md-3"> 
							<div class="box_article_wrapper">
								<div class="article_box_image"><img th:src="@{/images/concept_house.jpg}" /></div> 
								<div class="article_box_content">
									<h2 class="title_article">Concept House</h2>
									<div class="subtitle_article"><label>Make a Concept House</label></div>
									<div class="created_advisor"><label>By: &nbsp;</label><label>John Doe</label></div>
									<div class="date_advisor"><label>Created: &nbsp;</label><label>30 Januari 2017</label></div>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed dictum lectus. Donec lacus ante, tristique non ... </p>
									<div><a href="#" style="font-size: 12px;" class="read_more">Read More</a></div>
								</div>
							</div>
						</div>
						<div class="col-md-3"> 
							<div class="box_article_wrapper">
								<div class="article_box_image"><img th:src="@{/images/concept_house.jpg}" /></div> 
								<div class="article_box_content">
									<h2 class="title_article">Concept House</h2>
									<div class="subtitle_article"><label>Make a Concept House</label></div>
									<div class="created_advisor"><label>By: &nbsp;</label><label>John Doe</label></div>
									<div class="date_advisor"><label>Created: &nbsp;</label><label>30 Januari 2017</label></div>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed dictum lectus. Donec lacus ante, tristique non ... </p>
									<div><a href="#" style="font-size: 12px;" class="read_more">Read More</a></div>
								</div>
							</div>
						</div>
						<div class="col-md-3"> 
							<div class="box_article_wrapper">
								<div class="article_box_image"><img th:src="@{/images/concept_house.jpg}" /></div> 
								<div class="article_box_content">
									<h2 class="title_article">Concept House</h2>
									<div class="subtitle_article"><label>Make a Concept House</label></div>
									<div class="created_advisor"><label>By: &nbsp;</label><label>John Doe</label></div>
									<div class="date_advisor"><label>Created: &nbsp;</label><label>30 Januari 2017</label></div>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed dictum lectus. Donec lacus ante, tristique non ... </p>
									<div><a href="#" style="font-size: 12px;" class="read_more">Read More</a></div>
								</div>
							</div>
						</div>
					</div>
					<div class="bouton bouton-red"><a th:href="@{/page/advisory/sub/article}">View More</a></div>
					<div style="margin-bottom: 20px;"></div>
				</div>
			</div>
			
			<!-- Closing advisory -->
			<div class="advisory_consult calm_background">
				<h1>Have A Question?</h1>
				<p class="small-text">All your confusing and problem will be answered all by the experts.</p>
				<button type="button" class="btn btn-primary consult_btn">CONSULT NOW <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></button>
			</div>
			
		</div><!--end post section-->
		
		<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		$(function(){      
			$('.consult_btn').unbind('click').click(function(){
				var url = /*[[@{/page/advisory/sub/consulting}]]*/
				window.location.href = url;
			});
			
			$('.title_article, .read_more').unbind('click').click(function(){
				var url = /*[[@{/page/advisory/sub/article/detail}]]*/
				window.location.href = url;
			});
		});
		
		/*]]>*/
		</script>
</body>
</html>