<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
</head>
<body>
		<div class="breadcrumb-wrapper">
			<div class="breadcrumb">
				<div class="container">
					<ul>
					<li><a th:href="@{/}">Beranda</a></li>
					<li><a th:href="@{/page/main-program}">Program</a></li>
					<li><a th:href="@{/page/main-program/learning}">Learning</a></li>
					<li><a th:href="@{/page/main-program/learning/seminar}">Seminar</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="hexa-top-right-long green orange md-3">
			<div class="top_post_section back-gradient-transparent">
				<div class="container">
					<div class="row">
						<div class="col-md-3 loop card-active">
							<div class="card-image">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 600 400" version="1.1" preserveAspectRatio="xMidYMin slice">
								  <defs>
								    <pattern id="img-seminar" patternUnits="userSpaceOnUse" width="600" height="400">
								      <image width="600" height="400" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/Site/images/advisory1.jpg"></image>
								    </pattern>
								  </defs>
								  <polygon id="hex-seminar" fill="url(#img-seminar)" points="300,0 600,100 600,300 300,400 0,300 0,100"></polygon>
								</svg>
							</div>
							<div class="card-box">
								<h2 class="card-title"><a href="/Site/page/advisory/advisory1">Layanan Konsultasi Pembiayaan Rumah dan Kebutuhan Lainnya</a></h2>
								<div class="card-clear"></div>
							</div>
						</div>
						<div class="col-md-3 loop card-not-active">
							<div class="card-image">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 600 400" version="1.1" preserveAspectRatio="xMidYMin slice">
								  <defs>
								    <pattern id="img-workshop" patternUnits="userSpaceOnUse" width="600" height="400">
								      <image width="600" height="400" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/Site/images/advisory2.jpg"></image>
								    </pattern>
								  </defs>
								  <polygon id="hex-workshop" fill="url(#img-workshop)" points="300,0 600,100 600,300 300,400 0,300 0,100"></polygon>
								</svg>
							</div>
							<div class="card-box">
								<h2 class="card-title"><a href="/Site/page/advisory/advisory2">Layanan Konsultasi Supply Chain dan Pembiayaan Proyek Perumahan</a></h2>
								<div class="card-clear"></div>
							</div>
						</div>
						<div class="col-md-3 loop card-not-active">
							<div class="card-image">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 600 400" version="1.1" preserveAspectRatio="xMidYMin slice">
								  <defs>
								    <pattern id="img-kursus" patternUnits="userSpaceOnUse" width="600" height="400">
								      <image width="600" height="400" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/Site/images/advisory3.jpg"></image>
								    </pattern>
								  </defs>
								  <polygon id="hex-kursus" fill="url(#img-kursus)" points="300,0 600,100 600,300 300,400 0,300 0,100"></polygon>
								</svg>
							</div>
							<div class="card-box">
								<h2 class="card-title"><a href="/Site/page/advisory/advisory3">Layanan Fasilitator Solusi Perumahan</a></h2>
								<div class="card-clear"></div>
							</div>
						</div>					
						<div class="col-md-3 loop card-not-active">
							<div class="card-image">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 600 400" version="1.1" preserveAspectRatio="xMidYMin slice">
								  <defs>
								    <pattern id="img-4" patternUnits="userSpaceOnUse" width="600" height="400">
								      <image width="600" height="400" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/Site/images/advisory4.jpg"></image>
								    </pattern>
								  </defs>
								  <polygon id="hex-4" fill="url(#img-4)" points="300,0 600,100 600,300 300,400 0,300 0,100"></polygon>
								</svg>
							</div>
							<div class="card-box">
								<h2 class="card-title"><a href="/Site/page/advisory/advisory4">Layanan Inkubator Bisnis Perumahan</a></h2>
								<div class="card-clear"></div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="top-desc">
								<div class="col-md-9">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
								</div>
								<div class="col-md-3">
									<a th:href="@{/page/advisory/sub/consulting}"><img th:src="@{/images/consult-pos.png}"/></a>
								</div>
								<div class="clear"></div>
							</div>
							<div class="bottom-left-yellow"></div>
							<div class="bottom-right-blue"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="clear"></div>
			<div class="hexa-top-green-left-long">
			<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div>
		
		<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		setNavbarActive('program');
		
		/*]]>*/
		</script>
</body>
</html>