<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="author" content="Mardy Jonathan"/>
<title></title>
</head>
<body>
	<div class="breadcrumb-wrapper">
			<div class="breadcrumb">
				<div class="container">
					<ul>
					<li><a th:href="@{/}">Home</a></li>
					<li><a th:href="@{/page/advisory}">Advisory</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="advisory_section">
			<div class="advisory_banner">
				<div class="parallax-window" data-parallax="scroll" th:attr="data-image-src=@{/images/advisor_banner.jpg}" ></div>
				<div class="info_banner_search_left">
					<h1 class="find_advisor_title">Find Expert Advisor</h1>
					<div class="part_div">
						<input type="text" class="find_name param" placeholder="Name"/>
					</div>
					<div class="part_div">
						<button type="button" class="btn btn-danger btn_find">FIND NOW</button>
					</div>
				</div>
			</div>
			
			<!-- Start Advisor Data -->
			<div class="advisory_expert" id="advisory_expert">
				<div class="container">
					<div class="advisor_container">
						<div class="advisor-title add-animation animate">
	                        <h2>Meet our Advisor</h2>
	                        <div class="separator-container">
	                            <div class="separator line-separator">&#x25A0;</div>
	                        </div>
	                    </div>
						<div class="row advisor_list list_data"> 
							<div id="template" class="col-md-3 align_center data_result" th:each="advisor, i : ${advisors.result}"> 
								<input type="hidden" name="pkAppUser" class="id_advisor" th:value="${advisor.pkAppUser}"/>
								<img class="img-circle" th:src="${advisor.party.encodedPicture}"/>
								<div class="advisor_description">
									<h3 class="big-text yellow-text-color advisor_name" th:text="${advisor.party.name}">George Martin</h3>
									<div class="specialist_part"><label th:text="${advisor.party.title}">Global and Asia Pacific, Americas (APA) Advisory leader</label></div>
									<br/>
									<p class="small-text description" th:text="${advisor.party.profileDescription}">
										George is one of the co-founders and takes care of growth, product development and partnerships. She is analytical, driven and adapts easily to new conditions, while trying to keep everyone on track.
                                    </p>
                                    <div>
                                    	<a href="#" class="link_see_article mrdy_btn">View Article</a>
                                    </div>
								</div>
							</div> 
						</div>
						<input type="hidden" th:value="${advisors.startRecordIndex}" class="startNo"/>
						<input type="hidden" th:value="${advisors.recordsPerPage}" class="offset"/>
						<div class="row load_pagination" style="display: none;">
							<div class="col-md-12">
								<div class="col-md-4"></div>
								<div class="col-md-4"> <img th:src="@{/images/gif/loading_linear.gif}" style="margin-left: 50px;"/> </div>
								<div class="col-md-4"></div>
							</div>
						</div>
						<div class="bouton bouton-brown" th:if="${#lists.size(advisors.result) &gt; 12}"><a href="#" class="load_more"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Load More</a></div>
					</div>
				</div>
			</div>
			
			
			<!-- Closing advisory -->
			<div class="advisory_consult">
				<h1>Have A Question?</h1>
				<p class="small-text">All your confusing and problem will be answered all by the experts.</p>
				<button type="button" class="btn btn-primary consult_btn">CONSULT NOW <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></button>
			</div>
		</div><!--end post section-->
		
		<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		function showPaging(maxRecord, currentRecord){
			if(maxRecord <= currentRecord || currentRecord == 0){
				$('.pagination_part').hide();
			}else{
				$('.pagination_part').show();
			}
		}
		
		function processData(datas, load){
			var load_content = '';
			for(var i=0;i<datas.length;i++){
				var cloning = $('.template_part .data_result').eq(0).clone();
				cloning.find('.id_advisor').val(datas[i].pkAppUser);
				cloning.find('.img-circle').attr('src',datas[i].party.encodedPicture);
				cloning.find('.advisor_name').html(datas[i].party.name);
				cloning.find('.specialist_part').html(datas[i].party.title);
				cloning.find('.description').html(datas[i].party.profileDescription);
				cloning.wrap('<div></div>');
				if(!load){
					$('.list_data').append(cloning.parent().html());
				}else{
					load_content = load_content + cloning.parent().html();
				}
			}
			
			if(load){
				$('.list_data').html(load_content);
			}
		}       
		
		function loadAdvisor(isLoad){
			var sURL = /*[[@{/page/advisory/sub/advisor/load}]]*/
			var param = $('.param').val();
			var nextStartNo = parseInt($('.startNo').val()) + parseInt($('.offset').val());
			var offset = $('.offset').val();
			$.ajax({
	            type: 'GET',
	            url: sURL,
	            data: {filter : param, startNo : nextStartNo, offset : offset},
	            dataType: 'json',
	            success: function (data) {
	            	$('.load_pagination').hide();
	            	$('.mrdy_btn').disableBtn({enabled:true});
	            	processData(data.advisors.result, isLoad);		
	            	var newMaxRecord = data.advisors.maxRecord;
	            	var newCurrentRecord = data.advisors.currentRecord;
	            	showPaging(newMaxRecord, newCurrentRecord);
	            	$('.startNo').val(data.advisors.startRecordIndex);
	            },
	            beforeSend: function($jqXHR, $textStatus){
					$('.load_pagination').show();
					$('.mrdy_btn').disableBtn({enabled:false});
				},
				error: function ($jqXHR, $textStatus, $errorThrown) {
					$('.load_pagination').hide();
					$('.mrdy_btn').disableBtn({enabled:true});
				},
				complete: function($jqXHR, $textStatus){
					$('.load_pagination').hide();
					$('.mrdy_btn').disableBtn({enabled:true});
				}
	        });	
		}
		           
		$(function(){ 
			var maxRecord = /*[[${advisors.maxRecord}]]*/;
			var currentRecord = /*[[${advisors.currentRecord}]]*/;
			
			showPaging(maxRecord, currentRecord);
			
			$('.load_more').unbind('click').click(function(e){
				e.preventDefault();
				loadAdvisor(false);			
			});
			
			$('.consult_btn').unbind('click').click(function(){
				var url = /*[[@{/page/advisory/sub/consulting}]]*/
				window.location.href = url;
			});
			
			$('.btn_find').unbind('click').click(function(e){
				e.preventDefault();
				loadAdvisor(true);
				scrollToBottom('advisory_expert', 72);
			});
			
			$('.advisor_name').unbind('click').click(function(){
				var idVal = $(this).parent().parent().find('.id_advisor').val();
				var url = /*[[@{/page/advisory/sub/advisor/detail/}]]*/
				url += idVal;
				window.location.href = url;
			});
			
			$('.link_see_article').unbind('click').click(function(){
				var idAdvisor = $(this).parents('#template').find('.id_advisor').val();
				var url = /*[[@{/page/advisory/sub/article}]]*/
				url+= "?chooseAdvisor="+ idAdvisor;
				window.location.href = url;
			});
		});
		
		/*]]>*/
		</script>
</body>
</html>