<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="author" content="Mardy Jonathan"/>
<title></title>
</head>
<body>
	<div class="breadcrumb-wrapper">
			<div class="breadcrumb">
				<div class="container">
					<ul>
					<li><a th:href="@{/}">Home</a></li>
					<li><a th:href="@{/page/advisory}">Advisory</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="advisory_section">
			<div class="advisory_banner">
				<div class="parallax-window" data-parallax="scroll" th:attr="data-image-src=${article.basicPictureURL}" ></div>
			</div>
			
			<!-- Start advisory article -->
			<div class="advisory_article">
				<div class="container">
					<div class="article_container row">
						<div class="col-lg-12 col-md-12 col-sm-12"> 
							<div class="row"> 
								<p class="content_article" th:utext="${article.content}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed dictum lectus. Donec lacus ante, tristique non nulla in, gravida pharetra velit. Fusce vestibulum, massa at vulputate tempor, nibh turpis suscipit ipsum, eget tempor orci eros sit amet mi. Donec vehicula erat ornare efficitur pretium. Nam tempus augue in erat malesuada, a scelerisque purus dictum. Aliquam ut diam risus. In sed felis pretium, dictum nisi hendrerit, faucibus lacus. Fusce dapibus, sapien suscipit tempor rutrum, tortor risus aliquet erat, eget posuere purus magna et diam. Duis at posuere orci, vel facilisis massa. Ut aliquet, sapien vel congue vehicula, ligula erat sodales eros, vel semper ligula quam sit amet ligula. Integer libero velit, porta vel interdum id, condimentum cursus lorem.</p>
							</div> 
						</div>
					</div>
					<div style="margin-bottom: 20px;"></div>
				</div>
			</div>
			
			<div class="advisory_expert">
				<div class="container">
					<div class="advisor_container">
						<div class="advisor-title add-animation animate">
	                        <h2>Created By</h2>
	                        <div class="separator-container">
	                            <div class="separator line-separator">&#x25A0;</div>
	                        </div>
	                    </div>
						<div class="row advisor_list" th:each="advisor, i : ${createdAdvisors}"> 
							<div class="col-md-3 align_center"> 
								<input type="hidden" name="pkAppUser" class="id_advisor" th:value="${advisor.pkAppUser}"/>
								<img class="img-circle" th:src="${advisor.party.basicPictureURL}"/>
								<div class="advisor_description">
									<h3 class="big-text yellow-text-color advisor_name" th:text="${advisor.party.name}">George Martin</h3>
									<div class="specialist_part"><label th:text="${advisor.party.title}">Global and Asia Pacific, Americas (APA) Advisory leader</label></div>
								</div>
							</div> 
							<div class="col-md-6">
								<p class="small-text" th:utext="${advisor.party.profileDescription}">
									George is one of the co-founders and takes care of growth, product development and partnerships. She is analytical, driven and adapts easily to new conditions, while trying to keep everyone on track.
                                </p>
							</div>
							<div class="col-md-3">
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="advisory_article">
				<div class="container">
					<div class="advisor-title add-animation animate" style="margin-top: 40px;">
                        <h2>Answer Question</h2>
                        <div class="separator-container">
                            <div class="separator line-separator">&#x25A0;</div>
                        </div>
                    </div>
					<div class="article_container row">
						<div class="col-lg-12 col-md-12 col-sm-12"> 
							<div class="row" th:each="advisory, i : ${advisories}"> 
								<div class="col-xs-12 col-sm-12 col-md-12 courses_right article_answer_border">
									<div class="article_answer_margin">
										<h1 style="color: #108dce;" th:text="${advisory.question}">Rumah konsep apakah bisa terwujud?</h1>
										<div style="margin-top:30px;"><label style="font-size: 30px; font-weight: 100;">Jawaban : </label></div>
										<div style="margin-top:10px;"><p th:text="${advisory.answer}">Pastinya anda harus percaya itu dengan tekun dan giat semua bisa terwujud.</p></div>
									</div><!--end content left-->
								</div>
							</div>
						</div>
					</div>
					<div style="margin-bottom: 20px;"></div>
				</div>
			</div>
			
			<!-- Closing advisory -->
			<div class="advisory_consult">
				<h1>Have A Question?</h1>
				<p class="small-text">All your confusing and problem will be answered all by the experts.</p>
				<button type="button" class="btn btn-primary consult_btn">CONSULT NOW <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></button>
			</div>
			
		</div><!--end post section-->
		
		<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		$(function(){      
			$('.consult_btn').unbind('click').click(function(){
				var pkArticle = /*[[${article.pkArticle}]]*/;
				var pkCategory = /*[[${article.category.pkCategory}]]*/;
				var url = /*[[@{/page/advisory/sub/consulting}]]*/
				url+="?chooseCategory="+pkCategory+"&chooseArticle="+pkArticle;
				window.location.href = url;
			});
			
			$('.advisor_name').unbind('click').click(function(){
				var idVal = $(this).parent().parent().find('.id_advisor').val();
				var url = /*[[@{/page/advisory/sub/advisor/detail/}]]*/
				url += idVal;
				window.location.href = url;
			});
		});
		
		/*]]>*/
		</script>
</body>
</html>