<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="author" content="Mardy Jonathan"/>
<title></title>
</head>
<body>
	<div class="breadcrumb-wrapper">
			<div class="breadcrumb">
				<div class="container">
					<ul>
					<li><a th:href="@{/}">Beranda</a></li>
					<li><a th:href="@{/page/advisory}">Advisory</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="advisory_section">
			<div class="advisory_banner">
				<div class="parallax-window" data-parallax="scroll" th:attr="data-image-src=@{/images/Business-Research-Essay.jpg}" ></div>
				<div class="info_banner_search">
					<h1 class="find_advisor_title">Find Best Article</h1>
					<div class="part_div">
						<select class="select_tema selectionCategory">
							<option value="">Select Category</option>
							<option th:each="category, i : ${categories}" th:value="${category.pkCategory}" th:text="${category.name}" th:selected="${category.pkCategory == chooseCategory}">Make a Concept House</option>
						</select>
					</div>
					<div class="part_div">
						<select class="select_tema selectionAdvisor">
							<option value="">Select Advisor</option>
							<option th:each="advisor, i : ${advisors}" th:value="${advisor.party.pkParty}" th:text="${advisor.party.name}" th:selected="${advisor.pkAppUser == chooseAdvisor}">George Martin</option>
						</select>
					</div>
					<div class="part_div">
						<input type="text" class="find_name" placeholder="Name"/>
					</div>
					<div class="part_div">
						<button type="button" class="btn btn-danger btn_find">FIND NOW</button>
					</div>
				</div>
			</div>
			
			<!-- Start advisory article -->
			<div class="advisory_article" id="advisory_article">
				<div class="container">
					<div class="article_container row list_data">
						<div id="template" class="col-md-3 data_result" th:each="article, i : ${articles.result}"> 
							<div class="box_article_wrapper">
								<div class="article_box_image"><img th:src="${article.encodedPicture}" /></div> 
								<div class="article_box_content">
									<input type="hidden" name="pkArticle" th:value="${article.pkArticle}" class="id_article" />
									<h2 class="title_article" th:text="${article.name}">Concept House</h2>
									<div class="subtitle_article"><label th:text="${article.category.name}">Make a Concept House</label></div>
									<div class="created_advisor"><label>By: &nbsp;</label><label th:text="${article.createdAdvisor}" class="created_by">John Doe</label></div>
									<div class="date_advisor"><label>Created: &nbsp;</label><label th:text="${#dates.format(article.articleTime, 'dd MMMM yyyy')}" class="article_date">30 Januari 2017</label></div>
									<p class="article_content" th:utext="${#strings.substring(article.content,0,200) + ' ...'}" th:if="${#strings.length(article.content) &gt; 200}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed dictum lectus. Donec lacus ante, tristique non ...</p>
									<p class="article_content" th:utext="${article.content}" th:if="${#strings.length(article.content) &lt; 200}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed dictum lectus. Donec lacus ante, tristique non ...</p>
									<div><a href="#" style="font-size: 12px;" class="read_more">Read More</a></div>
								</div>
							</div>
						</div>
					</div>
					<input type="hidden" th:value="${articles.startRecordIndex}" class="startNo"/>
					<input type="hidden" th:value="${articles.recordsPerPage}" class="offset"/>
					<div class="row load_pagination" style="display: none;">
						<div class="col-md-12">
							<div class="col-md-4"></div>
							<div class="col-md-4"> <img th:src="@{/images/gif/loading_linear.gif}" style="margin-left: 50px;"/> </div>
							<div class="col-md-4"></div>
						</div>
					</div>
					<div class="bouton bouton-red" th:if="${#lists.size(articles.result) &gt; 12}"><a href="#" class="load_more"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Load More</a></div>
					<div style="margin-bottom: 20px;"></div>
				</div>
			</div>
			
			
			<!-- Closing advisory -->
			<div style="background-color: #f4f4f4;">
				<div class="advisory_consult" style="padding-top: 40px;">
					<h1>Have A Question?</h1>
					<p class="small-text">All your confusing and problem will be answered all by the experts.</p>
					<button type="button" class="btn btn-primary consult_btn">CONSULT NOW <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></button>
				</div>
			</div>
		</div><!--end post section-->
		
		<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		function showPaging(maxRecord, currentRecord){
			if(maxRecord <= currentRecord || currentRecord == 0){
				$('.pagination_part').hide();
			}else{
				$('.pagination_part').show();
			}
		}
		
		function processData(datas, load){
			var load_content = '';
			for(var i=0;i<datas.length;i++){
				var cloning = $('.template_part .data_result').eq(0).clone();
				cloning.find('.id_article').val(datas[i].pkArticle);
				cloning.find('.article_box_image').attr('src',datas[i].encodedPicture);
				cloning.find('.title_article').html(datas[i].name);
				cloning.find('.subtitle_article label').html(datas[i].category.name);
				cloning.find('.created_by').html(datas[i].createdAdvisor);
				cloning.find('.article_date').html(moment(datas[i].articleTime).format('DD MMMM YYYY'));
				if(datas[i].content){
					if(datas[i].content.length>200){
						cloning.find('.article_content').html(datas[i].content.substring(0,200) + ' ...');
					}else{
						cloning.find('.article_content').html(datas[i].content);
					}
				}
				cloning.wrap('<div></div>');
				if(!load){
					$('.list_data').append(cloning.parent().html());
				}else{
					load_content = load_content + cloning.parent().html();
				}
			}
			
			if(load){
				$('.list_data').html(load_content);
			}
		}       
		
		function loadData(isLoad){
			var sURL = /*[[@{/page/advisory/sub/article/load}]]*/
			var param = $('.param').val();
			var chooseCategory = $('.selectionCategory').find('option:selected').val(); 
			var chooseAdvisor = $('.selectionAdvisor').find('option:selected').val();
			var nextStartNo = parseInt($('.startNo').val()) + parseInt($('.offset').val());
			var offset = $('.offset').val();
			$.ajax({
	            type: 'GET',
	            url: sURL,
	            data: {filter : param, startNo : nextStartNo, offset : offset, chooseAdvisor : chooseAdvisor, chooseCategory : chooseCategory},
	            dataType: 'json',
	            success: function (data) {
	            	$('.load_pagination').hide();
	            	$('.mrdy_btn').disableBtn({enabled:true});
	            	processData(data.articles.result, isLoad);		
	            	var newMaxRecord = data.articles.maxRecord;
	            	var newCurrentRecord = data.articles.currentRecord;
	            	showPaging(newMaxRecord, newCurrentRecord);
	            	$('.startNo').val(data.articles.startRecordIndex);
	            },
	            beforeSend: function($jqXHR, $textStatus){
					$('.load_pagination').show();
					$('.mrdy_btn').disableBtn({enabled:false});
				},
				error: function ($jqXHR, $textStatus, $errorThrown) {
					$('.load_pagination').hide();
					$('.mrdy_btn').disableBtn({enabled:true});
				},
				complete: function($jqXHR, $textStatus){
					$('.load_pagination').hide();
					$('.mrdy_btn').disableBtn({enabled:true});
				}
	        });	
		}
		           
		$(function(){      
			var maxRecord = /*[[${articles.maxRecord}]]*/;
			var currentRecord = /*[[${articles.currentRecord}]]*/;
			var chooseCategory = /*[[${chooseCategory}]]*/';
			var chooseAdvisor = /*[[${chooseAdvisor}]]*/';	
			
			showPaging(maxRecord, currentRecord);
			
			$('.load_more').unbind('click').click(function(e){
				e.preventDefault();
				loadData(false);		
			});
			
			$('.btn_find').unbind('click').click(function(e){
				e.preventDefault();
				loadData(true);
				scrollToBottom('advisory_article', 72);
			});
			
			$('.consult_btn').unbind('click').click(function(){
				var url = /*[[@{/page/advisory/sub/consulting}]]*/
				window.location.href = url;
			});
			
			$('.title_article, .read_more').unbind('click').click(function(e){
				e.preventDefault();
				var val = $(this).parents('.article_box_content').find('.id_article').val();
				var title = $(this).parents('.article_box_content').find('.title_article').val();
				title = replaceall(title, ' ', '-');
				var url = /*[[@{/page/advisory/sub/article/detail/}]]*/
				url += val + '/' + title;
				window.location.href = url;
			});
		});
		
		/*]]>*/
		</script>
</body>
</html>