<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="author" content="Mardy Jonathan"/>
<title></title>
</head>
<body>
	<div class="breadcrumb-wrapper">
			<div class="breadcrumb">
				<div class="container">
					<ul>
					<li><a th:href="@{/}">Home</a></li>
					<li><a th:href="@{/page/advisory}">Advisory</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="advisory_section">
			<div class="advisory_banner">
				<video id="videoelement0977b1e3-87b3-ef9b-d22c-74ce31b4144e" class="sectionvideo" data-parallax="false" th:attr="poster=@{/images/consulting-hero-image.jpg}" autoplay="" muted="" loop="">
			        <source th:src="@{/videos/consulting-hero-video.mp4}" type="video/mp4" />
			    </video>
				<!-- <div class="parallax-window" data-parallax="scroll" th:attr="data-image-src=@{/images/consulting-services2-resize.jpg}" ></div> -->
				<div class="info_consulting_banner">
					<h1 class="title_consulting_service">Consulting Services</h1>
					<p class="consulting_service_detail">Lorem Ipsum adalah contoh teks atau dummy dalam industri percetakan dan penataan huruf atau typesetting. Lorem Ipsum telah menjadi standar contoh teks sejak tahun 1500an, saat seorang tukang cetak yang tidak dikenal mengambil sebuah kumpulan teks dan mengacaknya untuk menjadi sebuah buku contoh huruf.</p>
				</div>
			</div>
			
			<section class="consulting_main_part">
				<!-- Start Advisor Data -->
				<div class="category_advisory_selection">
					<div class="container">
						<div class="advisor_container">
							<div class="advisor-title add-animation animate">
		                        <h2>I Want To</h2>
		                        <div class="separator-container">
		                            <div class="separator line-separator">&#x25A0;</div>
		                        </div>
		                    </div>
		                    <div class="category_advisory">
			                    <div class="row title_consulting_content">
			                    	<div class="col-md-6">
			                    		<h4>Category</h4>
			                    	</div>
			                    	<div class="col-md-6"> 
			                    	</div>
			                    </div>
								<div class="row article_category_list"> 
									<div class="col-md-6"> 
										<div class="foreground_list_wrapper" th:each="category, i : ${categories}" th:if="${i.count % 2 !=0}">
											<div class="foreground_list">
												<div><label class="label_want" th:text="${category.name}">Make a Concept House</label></div>
												<div>
													<input type="hidden" class="idCategory" th:value="${category.pkCategory}"/>
													<span class="glyphicon glyphicon-play position_right" aria-hidden="true"></span>
												</div>
											</div>
											<div class="info_wrapper"><span class="glyphicon glyphicon-info-sign position_right_info" aria-hidden="true" th:attr="data=${category.pkCategory},name=${category.name}"></span></div>
										</div>
									</div>
									<div class="col-md-6"> 
										<div class="foreground_list_wrapper" th:each="category, i : ${categories}" th:if="${i.count % 2 ==0}">
											<div class="foreground_list">
												<div><label class="label_want" th:text="${category.name}">Secure assets</label></div>
												<div>
													<input type="hidden" class="idCategory" th:value="${category.pkCategory}" />
													<span class="glyphicon glyphicon-play position_right" aria-hidden="true"></span>
												</div>
												<div class="info_wrapper"><span class="glyphicon glyphicon-info-sign position_right_info" aria-hidden="true" th:attr="data=${category.pkCategory},name=${category.name}"></span></div>
											</div>
										</div>
									</div> 
								</div>
							</div>
							<div class="research_advisory" style="display: none;">
								<div class="row title_consulting_content">
			                    	<div class="col-md-6">
			                    		<h4>Research &amp; Insight</h4>
			                    	</div>
			                    	<div class="col-md-6"> 
			                    	</div>
			                    </div>
								<div class="row article_category_list"> 
									<div class="col-md-12">
										<!-- <select class="select_tema">
											<option>Select Category</option>
											<option>Make a Concept House</option>
											<option>How to Get Best Quality</option>
										</select> -->
										<!-- <input type="text" name="" class="input_text_custom article_label" placeholder="Research &amp; Insight" /> -->
										<select class="select_tema article_label">
											<option value="">Select Article</option>
											<option th:each="article, i : ${articles}" th:value="${article.pkArticle}" th:text="${article.name}">Concept House</option>
										</select>
									</div>
								</div>
								<div class="advisory_consult">
									<button type="button" class="btn btn-default back_research btn_custom mrdy_btn"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> &nbsp;BACK</button>
									<button type="button" class="btn btn-primary continue_research btn_custom mrdy_btn">CONTINUE &nbsp;<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></button>
								</div>	
							</div>
							<div class="advisor_advisory" style="display: none;">
								<div class="row title_consulting_content">
			                    	<div class="col-md-6">
			                    		<h4>Advisor</h4>
			                    	</div>
			                    	<div class="col-md-6"> 
			                    	</div>
			                    </div>
								<div class="row article_category_list"> 
									<div class="col-md-12">
										<select class="select_tema advisor_label">
											<option value="">Select Advisor</option>
											<option th:each="advisor, i : ${advisors}" th:value="${advisor.party.pkParty}" th:text="${advisor.party.name}">George Martin</option>
										</select>
									</div>
								</div>
								<div class="advisory_consult">
									<button type="button" class="btn btn-default cancel_research btn_custom mrdy_btn"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> &nbsp;CANCEL</button>
									<button type="button" class="btn btn-primary consult_research btn_custom mrdy_btn">CONSULT</button>
								</div>	
							</div>
						</div>
					</div>
				</div>
				
				
				<!-- Closing advisory -->
				<div class="custom_content custom" id="consult_form_part">
					<div class="container large">
						
						<div class="row">
							<div class="col-xs-12 col-sm-8 col-md-8 custom_right">
								<div class="single_content_left" style="border: 0;">
									<h3>Ask Us</h3>
									
									<div class="contact_form">
											
										<form method="post" action="#" id="advisory_form">
											<div class="row category_input" style="display: none;">
												<div class="col-xs-12 col-sm-7">
													<div class="form-group">
														<label>Category <span class="error">*</span></label>
														<input type="text" class="form-control categoryView" name="" readonly="readonly"/>
														<input type="hidden" class="form-control" name="category" readonly="readonly"/>
													</div>
												</div>
											</div><!--end row-->
											
											<div class="row research_input" style="display: none;">
												<div class="col-xs-12 col-sm-7">
													<div class="form-group">
														<label>Research <span class="error">*</span></label>
														<input type="text" class="form-control researchView" name="" readonly="readonly"/>
														<input type="hidden" class="form-control" name="research" readonly="readonly"/>
													</div>
												</div>
											</div><!--end row-->
											
											<div class="row advisor_input" style="display: none;">
												<div class="col-xs-12 col-sm-7">
													<div class="form-group">
														<label>Advisor <span class="error">*</span></label>
														<input type="text" class="form-control advisorView" name="" readonly="readonly"/>
														<input type="hidden" class="form-control" name="advisor" readonly="readonly"/>
													</div>
												</div>
											</div><!--end row-->
										
											<div class="row">
												<div class="col-xs-12 col-sm-7">
													<div class="form-group">
														<label>Nama <span class="error">*</span></label>
														<input type="text" class="form-control" name="name" />
													</div>
												</div>
											</div><!--end row-->
											
											<div class="row">
												<div class="col-xs-12 col-sm-7">
													<div class="form-group">
														<label>Email <span class="error">*</span></label>
														<input type="text" class="form-control" name="email" />
													</div>
												</div>
											</div><!--end row-->
											
											<div class="row">
												<div class="col-xs-12 col-sm-7">
													<div class="form-group">
														<label>No. Telp  <span class="error">*</span></label>
														<input type="text" class="form-control" name="telp" />
													</div>
												</div>
											</div><!--end row-->
											
											<div class="row">
												<div class="col-xs-12 col-sm-11">
													<div class="form-group">
														<label>Question <span class="error">*</span></label>
														<textarea class="form-control" cols="10" rows="9" name="question"></textarea>
													</div>
												</div>
											</div><!--end row-->
											<input type="button" value="SUBMIT" class="commonBtn mrdy_btn" id="submitQuestion" />
											<button type="button" class="btn btn-default cancel_ask btn_custom_cancel mrdy_btn">CANCEL</button>
										</form>
									</div>  
									
									
								</div><!--end single content left-->
								
								
								
							</div>
							
						</div><!--end row-->
						
					</div>
				</div><!--end custom content-->
			</section>
		</div><!--end post section-->
		
		<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		var chooseCategory = /*[[${chooseCategory}]]*/;
		var chooseArticle = /*[[${chooseArticle}]]*/;
		var chooseAdvisor = /*[[${chooseAdvisor}]]*/;
		           
		function changeToResearch(){
			var widthScreen = $( window ).width();
			$('.research_advisory').css('left',widthScreen);
			$('.category_advisory').animate({left: widthScreen*-1}, 1000,function(){
				$('.category_advisory').hide();
				$('.research_advisory').show();
				$('.research_advisory').animate({left: 0}, 1000,function(){
					
				});
			});
		}    
		
		function changeToAdvisor(){
			var widthScreen = $( window ).width();
			$('.advisor_advisory').css('left',widthScreen);
			$('.research_advisory').animate({left: widthScreen*-1}, 1000,function(){
				$('.research_advisory').hide();
				$('.advisor_advisory').show();
				$('.advisor_advisory').animate({left: 0}, 1000,function(){
					
				});
			});
		}
		
		function finalChoose(){
			scrollToBottom('consult_form_part', 72);
		}
		
		function changeBackToCategory(){
			var widthScreen = $( window ).width();
			$('.category_advisory').css('left',widthScreen*-1);
			$('.advisor_advisory').animate({left: widthScreen*1}, 1000,function(){
				$('.advisor_advisory').hide();
				$('.category_advisory').show();
				$('.category_advisory').animate({left: 0}, 1000,function(){
					
				});
			});
		}
		
		function changeBackToResearch(){
			var widthScreen = $( window ).width();
			$('.research_advisory').css('left',widthScreen*-1);
			$('.advisor_advisory').animate({left: widthScreen*1}, 1000,function(){
				$('.advisor_advisory').hide();
				$('.research_advisory').show();
				$('.research_advisory').animate({left: 0}, 1000,function(){
					
				});
			});
		}
		
		function askQuesstion(sURL){
			var img_url = /*[[@{/images/gif/loading_gear.gif}]]*/;
			$.ajax({ 
			    type: "POST",
			    url: sURL,
			    data:$('#advisory_form').serialize(),
			    dataType: 'json',
			    success: function(data){
			    	if(data.success){
			    		alert(data.message);
			    		location.reload();
			    	}else{
			    		alert(data.message);
			    	}
			    },beforeSend: function($jqXHR, $textStatus){
					$('.mrdy_btn').disableBtn({enabled:false});
					$('.mrdy_overlay').html('<div class="col-md-12 loading_reload" style="display: block; margin-left: auto; margin-right: auto;text-align: center;top: 40%;"><img src="'+img_url+'" /></div>');
				},
				error: function ($jqXHR, $textStatus, $errorThrown) {
					$('.loading_reload').remove();
					$('.mrdy_btn').disableBtn({enabled:true});
				},
				complete: function($jqXHR, $textStatus){
					$('.loading_reload').remove();
					$('.mrdy_btn').disableBtn({enabled:true});
				} 
			});
		}
		
		function resetField(type){
			if(type){
				if(type == 'category'){
					$('.category_input').find('input[name="category"]').val('');
					$('.category_input').hide();
					$('.research_input').find('input[name="research"]').val('');
					$('.research_input').hide();
					$('.advisor_input').find('input[name="advisor"]').val('');
					$('.advisor_input').hide();
				}else if(type == "research"){
					$('.research_input').find('input[name="research"]').val('');
					$('.research_input').hide();
					$('.advisor_input').find('input[name="advisor"]').val('');
					$('.advisor_input').hide();
				}else if(type == "advisor"){
					$('.advisor_input').find('input[name="advisor"]').val('');
					$('.advisor_input').hide();
				}
			}else{
				$('.category_input').find('input[name="category"]').val('');
				$('.category_input').hide();
				$('.research_input').find('input[name="research"]').val('');
				$('.research_input').hide();
				$('.advisor_input').find('input[name="advisor"]').val('');
				$('.advisor_input').hide();
			}
		}
		
		function loadCriteria(){
			if(chooseCategory){
				resetField('category');
				var val = $('.article_category_list').find('.idCategory[value="'+chooseCategory+'"]').parent().parent().find('.label_want').html();
				var paramVal = chooseCategory;
				$('.category_input').find('input[name="category"]').val(paramVal);
				$('.category_input').find('.categoryView').val(val);
				$('.category_input').show();
				if(!chooseArticle){
					changeToResearch();
				}
			}
			
			if(chooseArticle){
				if($('.research_advisory').is(':hidden')){
					changeToResearch();
				}
				
				resetField('research');
				$('.research_advisory').find('.article_label option[value="'+chooseArticle+'"]').attr('selected','selected');
				var validVal = $('.research_advisory').find('.article_label option:selected').val();
				if(validVal){
					var val = $('.research_advisory').find('.article_label option:selected').html();
					$('.research_input').find('.researchView').val(val);
					$('.research_input').find('input[name="research"]').val(validVal);
					$('.research_input').show();
				}
				changeToAdvisor();
			}
			
			if(chooseAdvisor){
				if($('.advisor_advisory').is(':hidden')){
					changeToResearch();
					changeToAdvisor();
				}
				
				resetField('advisor');
				$('.advisor_advisory').find('.advisor_label option[value="'+chooseAdvisor+'"]').attr('selected','selected');
				var val = $('.advisor_advisory').find('.advisor_label option:selected').html();
				$('.advisor_input').find('.advisorView').val(val);
				$('.advisor_input').find('input[name="advisor"]').val(chooseAdvisor);
				$('.advisor_input').show();
				finalChoose();
			}
		}
		           
		$(function(){  
			loadCriteria();
			
			$('.foreground_list').unbind('click').click(function(){
				resetField('category');
				var val = $(this).find('.label_want').html();
				var paramVal = $(this).find('.idCategory').val();
				$('.category_input').find('input[name="category"]').val(paramVal);
				$('.category_input').find('.categoryView').val(val);
				$('.category_input').show();
				changeToResearch();
			});
			
			$('.back_research').unbind('click').click(function(){
				resetField('research');
				var widthScreen = $( window ).width();
				$('.category_advisory').css('left',widthScreen*-1);
				$('.research_advisory').animate({left: widthScreen*1}, 1000,function(){
					$('.research_advisory').hide();
					$('.category_advisory').show();
					$('.category_advisory').animate({left: 0}, 1000,function(){
						
					});
				});
			})
			
			$('.continue_research').unbind('click').click(function(){
				resetField('research');
				var validVal = $('.research_advisory').find('.article_label option:selected').val();
				if(validVal){
					var val = $('.research_advisory').find('.article_label option:selected').html();
					$('.research_input').find('.researchView').val(val);
					$('.research_input').find('input[name="research"]').val(validVal);
					$('.research_input').show();
				}
				changeToAdvisor();
			});
			
			$('.cancel_research').unbind('click').click(function(){
				resetField('advisor');
				changeBackToResearch();
			});
			
			$('.position_right_info').unbind('click').click(function(){
				var url = /*[[@{/page/advisory/sub/category/detail/}]]*/
				var idx = $(this).attr('data');
				var name = $(this).attr('name');
				name = replaceall(name,' ','-');
				url += idx + '/' +name;
				window.location.href = url;
			});
			
			$("#submitQuestion").unbind('click').click(function(){
				var sURL = /*[[@{/page/advisory/askQuesstion}]]*/ #;
				askQuesstion(sURL);
			});
			
			$('.cancel_ask').unbind('click').click(function(){
				resetField('category');
				changeBackToCategory();
			});
			
			$('.consult_research').unbind('click').click(function(){
				resetField('advisor');
				var validVal = $('.advisor_advisory').find('.advisor_label option:selected').val();
				if(validVal){
					var val = $('.advisor_advisory').find('.advisor_label option:selected').html();
					$('.advisor_input').find('.advisorView').val(val);
					$('.advisor_input').find('input[name="advisor"]').val(validVal);
					$('.advisor_input').show();
				}
				finalChoose();
			});
		});
		
		/*]]>*/
		</script>
</body>
</html>