<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<div class="breadcrumb-wrapper">
			<div class="breadcrumb">
				<div class="container">
					<ul>
					<li><a th:href="@{/}">Beranda</a></li>
					<li><a th:href="@{/page/main-program}">Program</a></li>
					<li><a th:href="@{/page/main-program/advisory/}+${categoryPermalink}" th:text="${categoryPermalink}"></a></li>
					<li><a href="#" th:text="${detail.title}"></a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="single_banner red" th:classappend="${detail.backgroundImageSize==2} ? 'big_size'">
			<div class="banner carousel slide" id="recommended-item-carousel" data-ride="carousel">
				<div class="slides carousel-inner">
					<th:block th:if="${detail.isBackgroundSlideshow==true}">
						<th:block th:each="im, i : ${detail.images}">
							<div class="item" th:classappend="${i.count==1} ? active : ''">
								<img th:src="${im.imageURL}" class="banner_img_background"/>
							</div>
						</th:block>
					</th:block>
					<th:block th:if="${detail.isBackgroundSlideshow==false}">
						<img th:src="${detail.images[0].imageURL}" class="banner_img_background"/>
					</th:block>
				</div>
				<a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
					<img th:src="@{/images/prev.png}"/>
				</a>
			    <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
					<img th:src="@{/images/next.png}"/>
			    </a>		
						
			</div><!--end banner-->
			<div class="container large">
				<div class="row">
					<div class="col-xs-12">
						<div class="single_banner_inner">
							<div class="single_caption">
								<th:block th:if="${detail.eligibleRegistration}">
								<div class="col-md-10 course-detail-title">
									<h1 th:utext="${detail.title}"></h1>
								</div>
								</th:block>
								<th:block th:if="${!detail.eligibleRegistration}">
								<div class="col-md-8 course-detail-title">
									<h1 th:utext="${detail.title}"></h1>
								</div>
								</th:block>
								<div class="col-md-2" th:if="${detail.eligibleRegistration}">
									<div class="enroll-wrap registerButton" th:attr="categoryPermalink=${categoryPermalink},permalink=${permalink}">
										<span class="enroll-title">Daftar Sekarang</span>
										<span class="enroll-date">Pendaftaran Berakhir<br/>
											<th:block th:text="${detail.closingDateReg!=null?#dates.format(detail.closingDateReg, T(id.base.app.SystemConstant).SYSTEM_DATE_MASK_2):''}" ></th:block>
										</span>
									</div>
								</div>
							</div><!--end single caption-->
						</div>
					</div>
				</div><!--end row-->
			</div><!--end container-->
		</div><!--end single banner-->
		
		<div class="single_content content_post red">
			<div class="container large">
				<div class="row">
					<div th:class="${detail.programDisplayLookup.code == T(id.base.app.ILookupConstant.LearningDisplay).NOT_FULL_SCREEN_SIDEBAR_RIGHT}? 'col-xs-12 col-sm-8 col-md-8' : 'col-xs-12 col-sm-12 col-md-12'">
						<div class="single_content_left">
							<div class="tab_menu">
								<ul th:class="${detail.programDisplayLookup.code == T(id.base.app.ILookupConstant.LearningDisplay).NOT_FULL_SCREEN_SIDEBAR_RIGHT? 'w-4' : 'w-6'}">
									<th:block th:if="${#lists.isEmpty(detail.menus)}">
										<li class="active"><a href="#tab1" data-toggle="tab" aria-expanded="false">Keterangan</a></li>
										<li><a href="#tab8" data-toggle="tab" aria-expanded="false">Galeri</a></li>
									</th:block>
									<th:block th:if="${not #lists.isEmpty(detail.menus)}">
										<th:block th:each="m, i : ${detail.menus}">
											<li th:class="${i.count==1?'active':''}"><a th:attr="href='#tab'+${m.itemMenuLookup.code}" data-toggle="tab" aria-expanded="false" th:text="${m.title}">Cara Pembayaran</a></li>
										</th:block>
									</th:block>
								</ul>
							</div>
							
							<div class="tab-content single_tab_content post-content">
								<div role="tabpanel" class="tab-pane active" id="tab1">
									<div th:class="${detail.programDisplayLookup.code == T(id.base.app.ILookupConstant.LearningDisplay).FULL_SCREEN_SIDEBAR_RIGHT_DESCRIPTION}? 'col-xs-12 col-sm-8 col-md-8' : 'col-xs-12 col-sm-12 col-md-12'" th:utext="${detail.description}"></div>
									<th:block th:if="${detail.programDisplayLookup.code == T(id.base.app.ILookupConstant.LearningDisplay).FULL_SCREEN_SIDEBAR_RIGHT_DESCRIPTION}">
										<div class="col-xs-12 col-sm-4 col-md-4 short-desc-content"></div>
									</th:block>
								</div>
								<div role="tabpanel" class="tab-pane" id="tab2" th:utext="${detail.admissionRequirement}"></div>
								<div role="tabpanel" class="tab-pane" id="tab3" th:utext="${detail.silabusDesc}"></div>
								<div role="tabpanel" class="tab-pane" id="tab4" th:utext="${detail.facilityDesc}"></div>
								<div role="tabpanel" class="tab-pane" id="tab5" th:utext="${detail.paymentDesc}"></div>
								<div role="tabpanel" class="tab-pane" id="tab6">
									<div class="row item-testimonial-wrapper">
										<th:block th:each="t, i : ${detail.testimonials}">
											<div class="col-md-6 item-testimonial">
												<div class="row">
													<div class="col-md-4 item-image">	
														<img th:src="${t.testimonial.encodedPicture}"/>
													</div>
													<div class="col-md-8 item-content">
														<div class="item-content-testi" th:utext="${t.testimonial.content}"></div>
														<label class="item-content-name" th:text="${t.testimonial.name}"></label>
														<label class="item-content-job" th:text="${t.testimonial.jobTitle}"></label>
													</div>
												</div>
											</div>
										</th:block>
									</div>
								</div>
								<div role="tabpanel" class="tab-pane" id="tab7">
									<th:block th:if="${detail.isTeacherInProfileDisplay==false}">
										<ul class="default-list">
											<th:block th:each="t, i : ${detail.teachers}">
												<th:block th:if="${t.teacherName!=null}">
													<li th:text="${t.teacherName}"></li>
												</th:block>
												<th:block th:if="${t.teacherName==null}">
													<li th:text="${t.partyTeacher.name}"></li>
												</th:block>
											</th:block>
										</ul>
									</th:block>
									<th:block th:if="${detail.isTeacherInProfileDisplay==true}">
										<div class="row teacher-wrapper">
											<div class="col-md-2" th:each="t, i : ${detail.teachers}">
												<div class="post item-teacher">
													<th:block th:if="${t.teacherName==null}">
														<div class="post_thumb">
															<th:block th:if="${t.partyTeacher.encodedPicture!=null}">
																<img th:src="${t.partyTeacher.encodedPicture}" alt="" />
															</th:block>
															<th:block th:if="${t.partyTeacher.encodedPicture==null}">
																<img th:src="@{/images/default-image-user.png}" alt="" />
															</th:block>
														</div>
														<label th:text="${t.partyTeacher.name}" class="post_title"></label>
													</th:block>
													<th:block th:if="${t.teacherName!=null}">
														<div class="post_thumb">
															<img th:src="@{/images/default-image-user.png}" alt="" />
														</div>
														<h1><label th:text="${t.teacherName}" class="post_title"></label></h1>
													</th:block>
												</div>
											</div>	
										</div>
									</th:block>	
								</div>
								<div role="tabpanel" class="tab-pane" id="tab8"></div>
								<div role="tabpanel" class="tab-pane text-center" id="tab9">
									<th:block th:if="${detail.brochureURL1!=null}">
										<img th:src="${detail.brochureURL1}"/>
										<a th:href="${detail.brochureURL1}" th:attr="download=${detail.title}+'1'"><img th:src="@{/images/download-now.png}" id="download" class="download-button"/></a>
										<br/><br/>
									</th:block>
									<th:block th:if="${detail.brochureURL2!=null}">
										<img th:src="${detail.brochureURL2}"/>
										<a th:href="${detail.brochureURL2}" th:attr="download=${detail.title}+'2'"><img th:src="@{/images/download-now.png}" id="download" class="download-button"/></a>
									</th:block>
								</div>
								<div role="tabpanel" class="tab-pane" id="tab10" th:utext="${detail.contactUsDesc}"></div>
							</div>
						</div><!--end single content left-->
					</div>
					<th:block th:if="${detail.programDisplayLookup.code == T(id.base.app.ILookupConstant.LearningDisplay).NOT_FULL_SCREEN_SIDEBAR_RIGHT}">
						<div class="col-xs-12 col-sm-4 col-md-4 short-desc-content"></div>
					</th:block>		
				</div><!--end sidebar-->
			</div>	
		</div>
		
	<div class="hidden">
		<div id="short-desc">
			<div class="sidebar">
				<th:block th:if="${detail.brochureURL1!=null}">
					<img th:src="${detail.brochureURL1}"/>
					<br/><br/>
				</th:block>
				<th:block th:if="${detail.brochureURL2!=null}">
					<img th:src="${detail.brochureURL2}"/>
					<br/><br/>
				</th:block>
				<div class="sidebar_item">
					<div class="item_inner program">
						<h4>Keterangan Singkat</h4>
						<ul class="type-none">
							<th:block th:if="${detail.code!=null and detail.code!=''}">
								<li><span>Kode:</span><br/><th:block th:text="${detail.code}"></th:block></li>
							</th:block>
							<li><span>Tanggal:</span><br/><th:block th:text="${detail.eventDate}"></th:block></li>
							<th:block th:if="${detail.location!=null and detail.location!=''}">
								<li><span>Tempat:</span><br/><th:block th:utext="${detail.location}"></th:block></li>
							</th:block>
							<li><span>Tim Advisor:</span><br/>
							<ul class="default-list">
								<th:block th:each="t, i : ${detail.teachers}">
									<th:block th:if="${t.teacherName!=null}">
										<li th:text="${t.teacherName}"></li>
									</th:block>
									<th:block th:if="${t.teacherName==null}">
										<li th:text="${t.partyTeacher.name}"></li>
									</th:block>
								</th:block>
							</ul>
							</li>
							<li><span>Metode:</span><br/><th:block th:text="${detail.methodLookup.descr}"></th:block></li>
							<li><span>Penyelenggara:</span><br/>
							<th:block th:if="${detail.organizerDetail!=null and detail.organizerDetail!=''}">
								<th:block th:text="${detail.organizerDetail}"></th:block>
							</th:block>
							<th:block th:if="${detail.organizerDetail==null or detail.organizerDetail==''}">
								<th:block th:text="${detail.organizerLookup.descr}"></th:block>
							</th:block>
							</li>
							<li><span>Pembayaran:</span><br/>
							<th:block th:if="${detail.paymentDetail!=null and detail.paymentDetail!=''}">
								<th:block th:text="${detail.paymentDetail}"></th:block>
							</th:block>
							<th:block th:if="${detail.paymentDetail==null or detail.paymentDetail==''}">
								<th:block th:text="${detail.paymentLookup.descr}"></th:block>
							</th:block>
							</li>
							<li><span>Sertifikasi:</span><br/><th:block th:text="${detail.isCertification?'Yes':'No'}"></th:block></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
<script th:inline="javascript">
	/*<![CDATA[*/
	setNavbarActive('program');
	
	$(function(){
		$('.registerButton').click(function(){
			var link = /*[[@{/page/contact/}]]*/;
			window.location.href = link + $(this).attr('categoryPermalink')+'/'+$(this).attr('permalink');
		});
		
		if($('.short-desc-content').length>0){
			$('.short-desc-content').html($('#short-desc').html());
		}
	})
	/*]]>*/
</script>           
</body>
</html>