<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="author" content="Mardy Jonathan"/>
<title></title>
</head>
<body>
	<div class="breadcrumb-wrapper">
			<div class="breadcrumb">
				<div class="container">
					<ul>
					<li><a th:href="@{/}">Beranda</a></li>
					<li><a th:href="@{/page/advisory}">Advisory</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="courses_section">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-3 col-md-2 courses_left hidden-xs">
						<div class="courses_left_inner">
							<h3>Kategori</h3>
							<a href="#">A</a>&nbsp;
							<a href="#">B</a>&nbsp;
							<a href="#">C</a>&nbsp;
							<a href="#">D</a>&nbsp;
							<a href="#">E</a>&nbsp;
							<a href="#">F</a>&nbsp;
							<a href="#">G</a>&nbsp;
							<a href="#">H</a>&nbsp;
							<a href="#">I</a>&nbsp;
							<a href="#">J</a>&nbsp;
							<a href="#">K</a>&nbsp;
							<a href="#">L</a>&nbsp;
							<a href="#">M</a>&nbsp;
							<a href="#">N</a>&nbsp;
							<a href="#">O</a>&nbsp;
							<a href="#">P</a>&nbsp;
							<a href="#">Q</a>&nbsp;
							<a href="#">R</a>&nbsp;
							<a href="#">S</a>&nbsp;
							<a href="#">T</a>&nbsp;
							<a href="#">U</a>&nbsp;
							<a href="#">V</a>&nbsp;
							<a href="#">W</a>&nbsp;
							<a href="#">X</a>&nbsp;
							<a href="#">Y</a>&nbsp;
							<a href="#">Z</a>
							<div class="advisory-category-search">
							<div class="input-group">
							  <input type="text" class="form-control" placeholder="Cari Kategori" aria-describedby="basic-addon2" />
							  <span class="input-group-addon" id="basic-addon2"><i class="fa fa-search" aria-hidden="true"></i></span>
							</div>
							</div>
							<ul>
								<li><a href="#">Apartment</a></li>
								<li><a href="#">Bathroom</a></li>
								<li><a href="#">Beginner</a></li>
								<li><a href="#">Building</a></li>
								<li><a href="#">Commercial</a></li>
								<li><a href="#">Condos</a></li>
								<li><a href="#">Design</a></li>
								<li><a href="#">Developer</a></li>
								<li><a href="#">Furniture</a></li>
								<li><a href="#">Financing</a></li>
								<li><a href="#">Housing</a></li>
								<li><a href="#">Land</a></li>
								<li><a href="#">Legal</a></li>
								<li><a href="#">Money</a></li>
								<li><a href="#">Monetization</a></li>
								<li><a href="#">Property</a></li>
								<li><a href="#">Relationship</a></li>
								<li><a href="#">Villa</a></li>
							</ul>
						</div>
					</div><!--end post_left-->
					
					<div class="col-xs-12 col-sm-9 col-md-10 courses_right">
						<div class="courses_right_inner">
							<div class="courses">
								<table class="table table-bordered table-striped">
									<thead>
									  <tr>
										<th>Pertanyaan</th>
										<th>Expert</th>
									  </tr>
									</thead>
									<tbody class="list_data">
									  <!-- <tr class="option">
										<td>2016</td>
										<td>&nbsp;</td>
									  </tr> -->
									  <tr id="template" class="data_result" th:each="advisory, i : ${advisories.result}">
										<td>
											<ul>
												<li class="active advisorQuestion">
													<a th:href="@{/page/advisory/detail/}+${advisory.pkAdvisory}+'/'+${#strings.replace(advisory.question, ' ', '-')}" th:text="${advisory.question}"></a>
												</li>
												<li>
													<a href="#" >Sub Judul pertanyaan</a>
												</li>
												
											</ul>
										</td>
										<td class="tutorName" th:text="${advisory.tutor.name}"></td>
										
									  </tr>
									</tbody>
								  </table>
							</div>
							
							<ul class="pagination">
								<li class="prev">
								  <a aria-label="Previous" href="#">
									<span aria-hidden="true">Previous</span>
								  </a>
								</li>
								<th:block th:each="j : ${#numbers.sequence(1, advisories.noOfPage)}" th:if="${advisories.noOfPage &gt; 0}">
								<li th:if="${j==advisories.currentPage}" class="active" th:classappend="${j}"><a href="#" th:text="${j}"></a></li>
								<li th:unless="${j==advisories.currentPage}" class="change_page" th:classappend="${j}"><a href="#" th:text="${j}"></a></li>
								</th:block>
								<th:block th:unless="${advisories.noOfPage &gt; 0}">
									<li class="active" th:classappend="1"><a href="#" th:text="1"></a></li>
								</th:block>
								<li class="next">
								  <a aria-label="Next" href="#">
									<span aria-hidden="true">Next</span>
								  </a>
								</li>
							  </ul>
							  <input type="hidden" th:value="${advisories.startRecordIndex}" class="startNo"/>
						  	  <input type="hidden" th:value="${advisories.recordsPerPage}" class="offset"/>
							
						</div><!--end courses right inner-->
					</div><!--end post_right-->
					
				</div>
			</div>
		</div><!--end post section-->
		
		<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		$(function(){      
			$('.change_page').unbind('click').click(function(){
				changePage($(this));
			});
			
			checkPagination();
		});
		
		function checkPagination(){
			var activePage = $('.active').find('a').html();
			var noOfPage = /*[[${advisories.noOfPage}]]*/
			if(activePage>1){
				$('.prev').unbind('click').click(function(){
					var nextPage = parseInt($('.active').find('a').html()) - 1;
					changePage($(this), nextPage);
				});
			}else{
				$('.prev').unbind('click');
			}
			
			if(activePage<noOfPage){
				$('.next').unbind('click').click(function(){
					var nextPage = parseInt($('.active').find('a').html()) + 1;
					changePage($(this), nextPage);
				});
			}else{
				$('.next').unbind('click');
			}
		}
		
		function changePage(elem, paramNextPage){
			var id = /*[[${idGroup}]]*/;
			var title = /*[[${title}]]*/;
			title = replaceall(title, " ", "-");
			var sURL = /*[[@{/page/list/}]]*/
			sURL = sURL + title + "/" + id + "/load";
			var param = $('.param').val();
			var nextPage = paramNextPage ? paramNextPage : elem.find('a').html();
			var oldPage = $('.active').find('a').html();
			var nextStartNo = (parseInt($('.offset').val()) * (parseInt(nextPage)-1)) + 1;
			var offset = $('.offset').val();
			var img_url = /*[[@{/images/gif/hex-loader.gif}]]*/;
			$.ajax({
	            type: 'GET',
	            url: sURL,
	            data: {filter : param, startNo : nextStartNo, offset : offset},
	            dataType: 'json',
	            success: function (data) {
	            	$('.load_reload_wrapper').remove();
	            	$('.mrdy_btn').setOverlay({enabled:true});
	            	processData(data.advisories.result, false);	
	            	$('.'+nextPage).addClass('active');
	            	$('.'+nextPage).removeClass('change_page');
	            	$('.'+oldPage).removeClass('active');
	            	$('.'+oldPage).addClass('change_page');
	            	$('.change_page').unbind('click').click(function(){
	    				changePage($(this));
	    			});
	            	checkPagination();
	            },
	            beforeSend: function($jqXHR, $textStatus){
	            	$('.list_data').html('<tr class="load_reload_wrapper"><td colspan="5"><div class="col-md-12 loading_reload" style="display: block; margin-left: auto; margin-right: auto;text-align: center;"><img src="'+img_url+'" /></div></td></tr>');
					$('.mrdy_btn').setOverlay({enabled:false});
				},
				error: function ($jqXHR, $textStatus, $errorThrown) {
					$('.load_reload_wrapper').remove();
					$('.mrdy_btn').setOverlay({enabled:true});
				},
				complete: function($jqXHR, $textStatus){
					$('.load_reload_wrapper').remove();
					$('.mrdy_btn').setOverlay({enabled:true});
				}
	        });
		}
		
		
		function processData(datas, load){
			var load_content = '';
			var detailLink = /*[[@{/page/advisory/detail/}]]*/;
			for(var i=0;i<datas.length;i++){
				var cloning = $('.template_part .data_result').eq(0).clone();
				cloning.find('.advisorQuestion').find('a').attr('href',detailLink+datas[i].pkAdvisory);
				cloning.find('.advisorQuestion').html(datas[i].question);
				cloning.find('.tutorName').html(datas[i].tutor.name);
				cloning.wrap('<div></div>');
				if(!load){
					$('.list_data').append(cloning.parent().html());
				}else{
					load_content = load_content + cloning.parent().html();
				}
			}
			
			if(load){
				$('.list_data').html(load_content);
			}
		}
		/*]]>*/
		</script>
</body>
</html>