
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="author" content="Mardy Jonathan"/>
<title></title>
</head>
<body>
	<div class="breadcrumb-wrapper">
			<div class="breadcrumb">
				<div class="container">
					<ul>
					<li><a th:href="@{/}">Beranda</a></li>
					<li><a th:href="@{/page/advisory}">Advisory</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="advisory_head_back_margin">
			&nbsp;
		</div>
		<div class="advisory_head_back">
			&nbsp;
		</div>
		<div class="main_advisory_section">
			<div class="header_advisory">
				<h1 class="advisory_logo"></h1>
				<div class="container">
					<div class="row">
						<nav class="clearfix" th:if="${#lists.size(menus) &lt; 1}">
							<span class="set-1">
								<span class="content_float_right">
									<a th:href="@{/page/advisory/sub/stories}" title="Advisory Story" class="menu_choice_left content_float_left">Advisory Story</a>
									<a th:href="@{/page/advisory/sub/advisor}" title="Advisory Team" class="menu_choice_left content_float_left">Advisory Team</a>
								</span>
							</span>
							<span class="set-2">
								<span class="content_float_left">
									<a th:href="@{/page/advisory/sub/article}" title="Research &amp; Insight" class="menu_choice_right">Research &amp; Insight</a>
									<a th:href="@{/page/advisory/sub/consulting}" title="Consulting" class="menu_choice_right">Consulting</a>
								</span>
							</span>
						</nav>
						<nav class="clearfix" th:if="${#lists.size(menus) &gt; 0}">
							<span class="set-1">
								<span class="content_float_right">
									<span th:each="menu, i : ${menus}" th:if="${i.index &lt; leftMenu}">
										<th:block th:if="${menu.link !=null and menu.link!=''}">
											<a th:href="@{${menu.link}}" th:title="${menu.name}" class="menu_choice_left content_float_left" th:text="${menu.name}">Advisory Story</a>
										</th:block>
										<th:block th:if="${menu.post !=null and menu.post.pkAdvisoryPost!=null}">
											<a th:href="@{${'/page/advisory/sub/post/' + menu.post.pkAdvisoryPost + '/' + #strings.replace(menu.name, ' ', '-')}}" th:title="${menu.name}" class="menu_choice_left content_float_left" th:text="${menu.name}">Advisory Story</a>
										</th:block>
									</span>
								</span>
							</span>
							<span class="set-2">
								<span class="content_float_left">
									<span th:each="menu, i : ${menus}" th:if="${i.index &lt; rightMenu + leftMenu and i.count &gt; leftMenu}">
										<th:block th:if="${menu.link !=null and menu.link!=''}">
											<a th:href="@{${menu.link}}" th:title="${menu.name}" class="menu_choice_left content_float_left" th:text="${menu.name}">Advisory Story</a>
										</th:block>
										<th:block th:if="${menu.post !=null and menu.post.pkAdvisoryPost!=null}">
											<a th:href="@{${menu.link}}" th:title="${menu.name}" class="menu_choice_left content_float_left" th:text="${menu.name}">Advisory Story</a>
										</th:block>
									</span>
								</span>
							</span>
						</nav>
					</div>
				</div>
			</div>
			<div class="advisory_banner">
				<img th:src="@{/images/Banner_Backgrounds_questions_size_new.jpg}"/>
				<div class="info_banner">
					<iframe width="450" height="315"
						src="https://www.youtube.com/embed/8YFzf8QMC1E">
					</iframe>
				</div>
			</div>
			
			<!-- Start advisory article -->
			<div class="advisory_article">
				<div class="container">
					<div class="advisory_article_container">
						<div class="advisor-title add-animation animate row">
	                        <h2>Kategori</h2>
	                        <div class="separator-container">
	                            <div class="separator line-separator">&#x25A0;</div>
	                        </div>
	                    </div>
						<div class="row article_container list_data">
							<th:block th:each="category, i : ${categories}" th:if="${i.index &lt; 8}">
							<div class="col-md-3 list_category_article data_result">
								<div class="post post-polygon1">
									<div class="post_thumb"> 
										<img th:src="${category.encodedPicture}" />
										<div class="overlay">
										    <div class="text"><a th:href="@{/page/advisory/sub/article(chooseCategory=${category.pkCategory})}"><i class="fa fa-align-left"></i> Baca</a></div>
										</div>
									</div>
									<h2 class="box_cat_title_label"><a th:href="@{/page/advisory/sub/article(chooseCategory=${category.pkCategory})}"><label th:text="${category.name}"></label></a></h2>
									<div class="bottom-left-yellow"></div>
									<div class="bottom-right-blue"></div>
								</div>
							</div>
							</th:block>
						</div>
						<div class="bouton bouton-red"><a th:href="@{/page/advisory/sub/article}">View More</a></div>
					</div>
				</div>
			</div>
			
			<!-- Start Advisor Data -->
			<div class="advisory_expert">
				<div class="container">
					<div class="advisor_container">
						<div class="advisor-title add-animation animate">
	                        <h2>Advisor Kami</h2>
	                        <div class="separator-container">
	                            <div class="separator line-separator">&#x25A0;</div>
	                        </div>
	                    </div>
						<div class="row advisor_list"> 
							<div class="col-md-3 align_center" th:each="advisor, i : ${advisors}" th:if="${i.index &lt; 8}"> 
								<input type="hidden" name="pkAppUser" class="id_advisor" th:value="${advisor.pkAppUser}"/>
								<img class="img-circle" th:src="${advisor.party.encodedPicture}"/>
								<div class="advisor_description">
									<h3 class="big-text yellow-text-color advisor_name" th:text="${advisor.party.name}"></h3>
								</div>
							</div> 
						</div>
						<div class="bouton bouton-brown"><a th:href="@{/page/advisory/sub/advisor}">View More</a></div>
					</div>
				</div>
			</div>
			
			
			<!-- Closing advisory -->
			<div class="advisory_consult">
				<h1>Have A Question?</h1>
				<p class="small-text">All your confusing and problem will be answered all by the experts.</p>
				<button type="button" class="btn btn-primary consult_btn">CONSULT NOW <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></button>
			</div>
		</div><!--end post section-->
		
		<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		$(function(){      
			$('.consult_btn').unbind('click').click(function(){
				var url = /*[[@{/page/advisory/sub/consulting}]]*/
				window.location.href = url;
			});
			
			$('.advisor_name').unbind('click').click(function(){
				var idVal = $(this).parent().parent().find('.id_advisor').val();
				var url = /*[[@{/page/advisory/sub/advisor/detail/}]]*/
				url += idVal;
				window.location.href = url;
			});
		});
		
		/*]]>*/
		</script>
</body>
</html>