
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="author" content="Mardy Jonathan"/>
<title></title>
</head>
<body>
	<div class="breadcrumb-wrapper">
			<div class="breadcrumb">
				<div class="container">
					<ul>
					<li><a th:href="@{/}">Home</a></li>
					<li><a href="#">Advisory</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="advisory_head_back_margin">
			&nbsp;
		</div>
		<div class="advisory_head_back">
			&nbsp;
		</div>
		<div class="advisory_section">
			<div class="header_advisory">
				<h1 class="advisory_logo"></h1>
				<div class="container">
					<div class="row">
						<nav class="clearfix">
							<span class="set-1">
								<span class="content_float_right">
									<a th:href="@{/page/advisory/sub/stories}" title="Advisory Story" class="menu_choice_left content_float_left">Advisory Story</a>
									<a th:href="@{/page/advisory/sub/advisor}" title="Advisory Team" class="menu_choice_left content_float_left">Advisory Team</a>
								</span>
							</span>
							<span class="set-2">
								<span class="content_float_left">
									<a th:href="@{/page/advisory/sub/article}" title="Research &amp; Insight" class="menu_choice_right">Research &amp; Insight</a>
									<a th:href="@{/page/advisory/sub/consulting}" title="Consulting" class="menu_choice_right">Consulting</a>
								</span>
							</span>
						</nav>
					</div>
				</div>
			</div>
			<div class="advisory_banner">
				<img th:src="@{/images/Banner_Backgrounds_questions_size_new.jpg}"/>
				<div class="info_banner">
					<iframe width="450" height="315"
						src="https://www.youtube.com/embed/8YFzf8QMC1E">
					</iframe>
				</div>
			</div>
			
			<!-- Start advisory article -->
			<div class="advisory_article">
				<div class="container">
					<div class="advisory_article_container">
						<div class="advisor-title add-animation animate row">
	                        <h2>I Want To</h2>
	                        <div class="separator-container">
	                            <div class="separator line-separator">&#x25A0;</div>
	                        </div>
	                    </div>
						<div class="row article_container">
							<div class="col-md-3 list_category_article" th:each="category, i : ${categories}" th:if="${i.index &lt; 8}"> 
								<img th:src="${category.basicPictureURL}" />
								<div class="box_cat_title">
									<h4 class="box_cat_title_label" th:text="${category.name}">Make a Concept House</h4>
								</div>
							</div>
						</div>
						<div class="bouton bouton-red"><a th:href="@{/page/advisory/sub/article}">View More</a></div>
					</div>
				</div>
			</div>
			
			<!-- Start Advisor Data -->
			<div class="advisory_expert">
				<div class="container">
					<div class="advisor_container">
						<div class="advisor-title add-animation animate">
	                        <h2>Meet our Advisor</h2>
	                        <div class="separator-container">
	                            <div class="separator line-separator">&#x25A0;</div>
	                        </div>
	                    </div>
						<div class="row advisor_list"> 
							<div class="col-md-3 align_center" th:each="advisor, i : ${advisors}" th:if="${i.index &lt; 8}"> 
								<img class="img-circle" th:src="${advisor.party.basicPictureURL}"/>
								<div class="advisor_description">
									<h3 class="big-text yellow-text-color advisor_name" th:text="${advisor.party.name}">George Martin</h3>
									<div class="specialist_part"><label th:text="${advisor.party.title}">Global and Asia Pacific, Americas (APA) Advisory leader</label></div>
									<br/>
									<p class="small-text" th:text="${advisor.party.profileDescription}">
										George is one of the co-founders and takes care of growth, product development and partnerships. She is analytical, driven and adapts easily to new conditions, while trying to keep everyone on track.
                                    </p>
								</div>
							</div> 
						</div>
						<div class="bouton bouton-brown"><a th:href="@{/page/advisory/sub/advisor}">View More</a></div>
					</div>
				</div>
			</div>
			
			
			<!-- Closing advisory -->
			<div class="advisory_consult">
				<h1>Have A Question?</h1>
				<p class="small-text">All your confusing and problem will be answered all by the experts.</p>
				<button type="button" class="btn btn-primary consult_btn">CONSULT NOW <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></button>
			</div>
		</div><!--end post section-->
		
		<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		$(function(){      
			$('.consult_btn').unbind('click').click(function(){
				var url = /*[[@{/page/advisory/sub/consulting}]]*/
				window.location.href = url;
			});
			
			$('.box_cat_title_label').unbind('click').click(function(){
				var url = /*[[@{/page/advisory/sub/article}]]*/
				window.location.href = url;
			});
			
			$('.advisor_name').unbind('click').click(function(){
				var url = /*[[@{/page/advisory/sub/advisor/detail}]]*/
				window.location.href = url;
			});
		});
		
		/*]]>*/
		</script>
</body>
</html>