
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="author" content="Mardy Jonathan"/>
<title></title>
</head>
<body>
		<div class="breadcrumb-wrapper">
			<div class="breadcrumb">
				<div class="container">
					<ul>
					<li><a th:href="@{/}">Beranda</a></li>
					<li><a th:href="@{/page/advisory}">Advisory</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="main_advisory_section">
			<!-- Start advisory article -->
			<div class="advisory_article">
				<div class="container">
					<div class="advisory_article_container">
						<div class="advisor-title add-animation animate row">
	                        <h2>Kategori</h2>
	                        <div class="separator-container">
	                            <div class="separator line-separator">&#x25A0;</div>
	                        </div>
	                    </div>
						<div class="row article_container list_data">
							<th:block th:each="category, i : ${categories}" th:if="${i.index &lt; 8}">
							<div class="col-md-3 list_category_article data_result">
								<div class="post post-polygon1">
									<div class="post_thumb"> 
										<img th:src="${category.encodedPicture}" />
										<div class="overlay">
										    <div class="text"><a th:href="@{/page/advisory/sub/article(chooseCategory=${category.pkCategory})}"><i class="fa fa-align-left"></i> Baca</a></div>
										</div>
									</div>
									<h2 class="box_cat_title_label"><a th:href="@{/page/advisory/sub/article(chooseCategory=${category.pkCategory})}"><label th:text="${category.name}"></label></a></h2>
									<div class="bottom-left-yellow"></div>
									<div class="bottom-right-blue"></div>
								</div>
							</div>
							</th:block>
						</div>
					</div>
				</div>
			</div>
			
			<!-- Start Advisor Data -->
			<div class="advisory_expert">
				<div class="container">
					<div class="advisor_container">
						<div class="advisor-title add-animation animate">
	                        <h2>Advisor Kami</h2>
	                        <div class="separator-container">
	                            <div class="separator line-separator">&#x25A0;</div>
	                        </div>
	                    </div>
						<div class="row advisor_list"> 
							<div class="col-md-3 align_center" th:each="advisor, i : ${advisors}" th:if="${i.index &lt; 8}"> 
								<input type="hidden" name="pkAppUser" class="id_advisor" th:value="${advisor.pkAppUser}"/>
								<img class="img-circle" th:src="${advisor.party.encodedPicture}"/>
								<div class="advisor_description">
									<h3 class="big-text yellow-text-color advisor_name" th:text="${advisor.party.name}"></h3>
								</div>
							</div> 
						</div>
						<div class="bouton bouton-brown"><a th:href="@{/page/advisory/sub/advisor}">View More</a></div>
					</div>
				</div>
			</div>
			
			
			<!-- Closing advisory -->
			<div class="advisory_consult">
				<h1>Have A Question?</h1>
				<p class="small-text">All your confusing and problem will be answered all by the experts.</p>
				<button type="button" class="btn btn-primary consult_btn">CONSULT NOW <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></button>
			</div>
		</div><!--end post section-->
		
		<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		$(function(){      
			$('.consult_btn').unbind('click').click(function(){
				var url = /*[[@{/page/advisory/sub/consulting}]]*/
				window.location.href = url;
			});
			
			$('.advisor_name').unbind('click').click(function(){
				var idVal = $(this).parent().parent().find('.id_advisor').val();
				var url = /*[[@{/page/advisory/sub/advisor/detail/}]]*/
				url += idVal;
				window.location.href = url;
			});
		});
		
		/*]]>*/
		</script>
</body>
</html>