<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="author" content="Mardy Jonathan"/>
<title></title>
</head>
<body>
	<div class="breadcrumb-wrapper">
			<div class="breadcrumb">
				<div class="container">
					<ul>
					<li><a th:href="@{/}">Home</a></li>
					<li><a th:href="@{/page/advisory}">Advisory</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="advisory_section">
			<div class="advisory_banner">
				<!-- <img th:src="@{/images/future_modern_city4.jpg}"/> -->
				<div class="parallax-window" data-parallax="scroll" th:attr="data-image-src=@{${detail.background1}}" ></div>
				<div class="info_banner_stories">
					<h2 class="title_info_stories" th:text="${detail.name}">Advisory Stories</h2>
					<p class="desc_info_stories" th:utext="${detail.headContent}">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed dictum lectus. Donec lacus ante, tristique non nulla in, gravida pharetra velit. Fusce vestibulum, massa at vulputate tempor, nibh turpis suscipit ipsum, eget tempor orci eros sit amet mi.
					</p>
				</div>
			</div>
			
			<!-- Start advisory article -->
			<div class="advisory_article" th:utext="${detail.content}">
				
			</div>
			
			<!-- Start Advisor Data -->
			<div class="stories_content_next">
				<div class="parallax-window" data-parallax="scroll" th:attr="data-image-src=@{${detail.background2}}" ></div>
				<div class="desc_stories_content_next">
					<p class="desc_stories_content_next_parap" th:utext="${detail.bottomContent}">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed dictum lectus. Donec lacus ante, tristique non nulla in, gravida pharetra velit. Fusce vestibulum, massa at vulputate tempor, nibh turpis suscipit ipsum, eget tempor orci eros sit amet mi. Donec vehicula erat ornare efficitur pretium. Nam tempus augue in erat malesuada, a scelerisque purus dictum. Aliquam ut diam risus. In sed felis pretium, dictum nisi hendrerit, faucibus lacus. Fusce dapibus, sapien suscipit tempor rutrum, tortor risus aliquet erat, eget posuere purus magna et diam. Duis at posuere orci, vel facilisis massa. Ut aliquet, sapien vel congue vehicula, ligula erat sodales eros, vel semper ligula quam sit amet ligula. Integer libero velit, porta vel interdum id, condimentum cursus lorem.
					</p>
				</div>
			</div>
			
			
			<!-- Closing advisory -->
			<div class="advisory_consult">
				<h1>Have A Question?</h1>
				<p class="small-text">All your confusing and problem will be answered all by the experts.</p>
				<button type="button" class="btn btn-primary consult_btn">CONSULT NOW <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></button>
			</div>
		</div><!--end post section-->
		
		<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		$(function(){  
			$('.consult_btn').unbind('click').click(function(){
				var url = /*[[@{/page/advisory/sub/consulting}]]*/
				window.location.href = url;
			});
		});
		
		/*]]>*/
		</script>
</body>
</html>