<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="author" content="Mardy Jonathan"/>
<title></title>
</head>
<body>
	<div class="breadcrumb-wrapper">
			<div class="breadcrumb">
				<div class="container">
					<ul>
					<li><a th:href="@{/}">Beranda</a></li>
					<li><a th:href="@{/page/advisory}">Advisory</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="advisory_section">
			<div class="advisory_banner">
				<!-- <img th:src="@{/images/future_modern_city4.jpg}"/> -->
				<div class="parallax-window" data-parallax="scroll" th:attr="data-image-src=@{/images/future_modern_city4.jpg}" ></div>
				<div class="info_banner_stories">
					<h2 class="title_info_stories">Advisory Stories</h2>
					<p class="desc_info_stories">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed dictum lectus. Donec lacus ante, tristique non nulla in, gravida pharetra velit. Fusce vestibulum, massa at vulputate tempor, nibh turpis suscipit ipsum, eget tempor orci eros sit amet mi.
					</p>
				</div>
			</div>
			
			<!-- Start advisory article -->
			<div class="advisory_article">
				<div class="container">
					<div class="article_container row">
						<div class="col-lg-6 col-md-6 col-sm-12 content_float_left box_article_left"> 
							<div class="row"> 
								<h2 class="title_article">Concept House</h2>
								<div class="subtitle_article"><label>Make a Concept House</label></div>
								<div class="created_advisor"><label>By: &nbsp;</label><label>John Doe</label></div>
								<div class="date_advisor"><label>Created: &nbsp;</label><label>30 Januari 2017</label></div>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed dictum lectus. Donec lacus ante, tristique non nulla in, gravida pharetra velit. Fusce vestibulum, massa at vulputate tempor, nibh turpis suscipit ipsum, eget tempor orci eros sit amet mi. Donec vehicula erat ornare efficitur pretium. Nam tempus augue in erat malesuada, a scelerisque purus dictum. Aliquam ut diam risus. In sed felis pretium, dictum nisi hendrerit, faucibus lacus. Fusce dapibus, sapien suscipit tempor rutrum, tortor risus aliquet erat, eget posuere purus magna et diam. Duis at posuere orci, vel facilisis massa. Ut aliquet, sapien vel congue vehicula, ligula erat sodales eros, vel semper ligula quam sit amet ligula. Integer libero velit, porta vel interdum id, condimentum cursus lorem.</p>
							</div> 
						</div>
						<div class="col-lg-6 col-md-6 col-sm-12 content_float_right box_article_right"> 
							<div class="row"> 
								<img th:src="@{/images/concept_house.jpg}" />
							</div> 
						</div>
					</div>
					<div class="article_container row">
						<div class="col-lg-6 col-md-6 col-sm-12 content_float_left box_article_left"> 
							<div class="row"> 
								<img th:src="@{/images/best_quality_house.jpg}" />
							</div> 
						</div>
						<div class="col-lg-6 col-md-6 col-sm-12 content_float_right box_article_right"> 
							<div class="row"> 
								<h2 class="title_article">Quality Of Building</h2>
								<div class="subtitle_article"><label>How to Get Best Quality</label></div>
								<div class="created_advisor"><label>By: &nbsp;</label><label>Mardy Jonathan</label></div>
								<div class="date_advisor"><label>Created: &nbsp;</label><label>10 Januari 2017</label></div>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed dictum lectus. Donec lacus ante, tristique non nulla in, gravida pharetra velit. Fusce vestibulum, massa at vulputate tempor, nibh turpis suscipit ipsum, eget tempor orci eros sit amet mi. Donec vehicula erat ornare efficitur pretium. Nam tempus augue in erat malesuada, a scelerisque purus dictum. Aliquam ut diam risus. In sed felis pretium, dictum nisi hendrerit, faucibus lacus. Fusce dapibus, sapien suscipit tempor rutrum, tortor risus aliquet erat, eget posuere purus magna et diam. Duis at posuere orci, vel facilisis massa. Ut aliquet, sapien vel congue vehicula, ligula erat sodales eros, vel semper ligula quam sit amet ligula. Integer libero velit, porta vel interdum id, condimentum cursus lorem.</p>
							</div> 
						</div>
					</div>
				</div>
			</div>
			
			<!-- Start Advisor Data -->
			<div class="stories_content_next">
				<div class="parallax-window" data-parallax="scroll" th:attr="data-image-src=@{/images/future_modern_city8.jpg}" ></div>
				<div class="desc_stories_content_next">
					<p class="desc_stories_content_next_parap">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed dictum lectus. Donec lacus ante, tristique non nulla in, gravida pharetra velit. Fusce vestibulum, massa at vulputate tempor, nibh turpis suscipit ipsum, eget tempor orci eros sit amet mi. Donec vehicula erat ornare efficitur pretium. Nam tempus augue in erat malesuada, a scelerisque purus dictum. Aliquam ut diam risus. In sed felis pretium, dictum nisi hendrerit, faucibus lacus. Fusce dapibus, sapien suscipit tempor rutrum, tortor risus aliquet erat, eget posuere purus magna et diam. Duis at posuere orci, vel facilisis massa. Ut aliquet, sapien vel congue vehicula, ligula erat sodales eros, vel semper ligula quam sit amet ligula. Integer libero velit, porta vel interdum id, condimentum cursus lorem.
					</p>
				</div>
			</div>
			
			
			<!-- Closing advisory -->
			<div class="advisory_consult">
				<h1>Have A Question?</h1>
				<p class="small-text">All your confusing and problem will be answered all by the experts.</p>
				<button type="button" class="btn btn-primary consult_btn">CONSULT NOW <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></button>
			</div>
		</div><!--end post section-->
		
		<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		$(function(){  
			$('.consult_btn').unbind('click').click(function(){
				var url = /*[[@{/page/advisory/sub/consulting}]]*/
				window.location.href = url;
			});
		});
		
		/*]]>*/
		</script>
</body>
</html>