<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:ifs="http://btn.co.id">
<head>
<meta charset="ISO-8859-1"/>
<title>User Maintenance Detail</title>
</head>
<body>
	<div class="pageheader">
		<div class="row col-md-8">
			<h4><i class="fa fa-tachometer"></i> Administration / User Maintenance List / Add New User Maintenance
			<span></span></h4>
		</div>
	</div>
	<div class="row col-md-12">
	<section class="tile transparent">
			<div class="tile-body rounded-corners">
				<form action="#" id="userMaintenance-detail-form" class="form-horizontal" method="POST" novalidate="novalidate" th:object="${detail}">
					<div class="stockTypeStyle">
						<div class="form-group">
							<div class="col-md-10">
								<div id="errorFragmentList">
									<th:block th:if="${message}">
										<div class='alert alert-success'>
											<a href='#' class='close' data-dismiss='alert' aria-label='close' title='close'>&#10006;</a>			
											<label th:text="${message}"></label>
										</div>
									</th:block>
								</div>
							</div>									
							&nbsp;
						</div>
						<input id="userMaintenance-detail-maintenancePk" type="hidden" th:field="*{pkAppUser}"/>
						<div class="form-group">
							<label class="col-sm-2 control-label" th:text="'Name'">Name</label>
							<div class="col-sm-6 form-input-container">
								<input type="text" class="form-control" placeholder="Name" name="srch-term" id="input-text-name" th:field="*{party.name}"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" th:text="'No. Telp'">No. Telp</label>
							<div class="col-sm-6 form-input-container">
								<input type="text" class="form-control" placeholder="No. Telp" name="srch-term" id="input-text-phoneNumber" th:field="*{party.partyContacts[0].contact}"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" th:text="'Username'">Username</label>
							<div class="col-sm-6 form-input-container">
								<input type="text" class="form-control" placeholder="Username" name="srch-term" id="input-text-name" th:field="*{userName}"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" th:text="'Email'">Email</label>
							<div class="col-sm-6 form-input-container">
								<input type="text" class="form-control" placeholder="Email" name="srch-term" id="input-text-name" th:field="*{email}"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" th:text="'Role'">Role</label>
							<div class="col-sm-6 form-input-container">
								<select class="course-detail-topicSelect chosen-select form-control roleSelection" th:field="*{appRoles[0].pkAppRole}">
									<option th:each="opt : ${roleOptions}" th:value="${opt.pkAppRole}" th:text="${opt.name}">Name</option>
                           		</select>
                           	</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" th:text="'Title'">Title</label>
							<div class="col-sm-6 form-input-container">
								<input type="text" class="form-control" placeholder="Title" name="srch-term" id="input-text-name" th:field="*{party.title}"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" th:text="'Photo'">Photo</label>
							<div class="col-sm-9 form-input-container">
								<th:block th:if="${detail.party.basicPictureURL != null}">
									<input type="hidden" id="input-hidden-basicPictureURL" th:field="*{party.basicPictureURL}"/>
									<input type="file" class="form-control" id="input-file-basicPictureURL" style="display:none;"/>
									<div id="container-basicPictureURL">
										<img th:src="${detail.party.basicPictureURL}" class="gcDetail-basicPicture"/>
										<a href="#" class="btn btn-primary btn-xs margin-bottom-20 basicPicture-delete" data-toggle="tooltip" title="Delete"><i class="fa fa-trash"></i></a>
									</div>
								</th:block>
								<th:block th:if="${detail.party.basicPictureURL == null}">
									<input type="hidden" id="input-hidden-basicPictureURL" name="party.basicPictureURL"/>
									<input type="file" class="form-control" id="input-file-basicPictureURL"/>
									<div id="container-basicPictureURL" style='display:none;'>
									</div>
								</th:block>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" th:text="'Profile Description'">Profile Description</label>
							<input id="tinyMCE-hidden" name="party.profileDescription" type="hidden"/>
							<div id="tinyMCE-parent" class="col-sm-9">					
								<textarea id="tinyMCE-area" th:text="*{party.profileDescription}">
								</textarea>
							</div>
						</div>
						<div class="form-group form-footer">				
							<div class="col-sm-offset-3 col-sm-9">
								<a href="#" id="userMaintenance-detail-btn-cancel" class="btn btn-default" type="reset" data-toggle="tooltip" title="">Batal</a>
								<button id="userMaintenance-detail-btn-save" class="btn btn-primary" type="submit" data-toggle="tooltip" title="">Simpan</button>
							</div>
						</div>
					</div>
				</form>
			</div>
	</section>
	</div>
	<script th:inline="javascript">
	/*<![CDATA[*/
	    var uploadURL = /*[[@{/do/fileManager/upload/}]]*/ #;
        initTextEditor('#tinyMCE-area', '#tinyMCE-parent', uploadURL);      
        
        var loadRoles = function(){
			var roles = /*[[${roles}]]*/'';
			if(roles){
				for(var i=0;i<roles.length;i++){
					var val = roles[i].pkAppRole;
					$('.roleSelection').find('option[value="'+val+'"]').attr('selected','selected');
				}
			}
		}
        
        function initDeletePicture() {
			$('.basicPicture-delete').click(function(e){
				e.preventDefault();
				$('#input-file-basicPictureURL').show();
				$('#container-basicPictureURL').html("");
				$('#input-hidden-basicPictureURL, #input-file-basicPictureURL').val("");
				$('#container-basicPictureURL').hide();
			});
		}
	           
	    $(function(){
	    	loadRoles();
	    	initDeletePicture();
	    	
			var backToList = function(){
				returnToList('userMaintenance-detail-container', 'userMaintenance-list-container', true);
			};
	    	
			var submitForm = function(){
				cleanErrorParsley();
				$('#tinyMCE-hidden').val(tinymce.get('tinyMCE-area').getContent());
				var sURL = /*[[@{/do/userMaintenance/saveUser/}]]*/ #;
				$.post(sURL, $("#userMaintenance-detail-form").serialize(), function(data) {
					if(data.errorList!=null){
						displayErrorParsley(data.errorList);
					}else{
						bootBoxSuccessSave('User Successfully Saved', backToList);
					}
				});
			};
			
			var showImage = function(imageURL) {
				$('#input-file-basicPictureURL').hide();
				var htmlContent = '<image src="'+imageURL+'" style="max-height:250px;"></image>';
				htmlContent += '<a href="#" class="btn btn-primary btn-xs margin-bottom-20 basicPicture-delete" data-toggle="tooltip" title="Delete" style="position:absolute; left:25px; top:10px;"><i class="fa fa-trash"></i></a>';
				$('#container-basicPictureURL').html(htmlContent);
				$('#input-hidden-basicPictureURL').val(imageURL);
				$('#container-basicPictureURL').show();
				initDeletePicture();
			}
			
			var uploadFile = function(image, uploadURL) {
				var data = new FormData();
				data.append('file', image);
				var xhr = new XMLHttpRequest();
				xhr.open('POST', uploadURL, true);
				xhr.onreadystatechange = function() {
				  if (xhr.readyState === 4) {
				    var response = JSON.parse(xhr.responseText);
				    if (response) {
				      	showImage(response);
				    } else {
				      	var reader = new FileReader();
				      	reader.onload = function(e) {
				        	callback(e.target.result);
				      	};
				      	reader.readAsDataURL(image);
				    }
				  }
				}
				xhr.send(data);
			};
			
			var thisObj = '';
			$(document).unbind('change').on('change', '#input-file-basicPictureURL', function(){
				var sURL = /*[[@{/do/fileManager/uploadFeaturedImage/}]]*/ #;
				var thisObj = $('#input-file-basicPictureURL')[0];
				uploadFile(thisObj.files[0], sURL);
			});
			
			$('#userMaintenance-detail-btn-save').click(function(e){
				e.preventDefault();
				submitForm();
			});
			
			$('#userMaintenance-detail-btn-cancel').click(function(e){
				e.preventDefault();
				backToList();
			});
	    });
	/*]]>*/
	</script>
</body>
</html>